﻿@model IEnumerable<CoverBuilder.Entities.Entities.EmailTransaction>
@{
    ViewBag.Title = "Create User Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Create a new user profile</h2>
<br />
<div class="col-lg-7">
    <div class="custom-form-box">

        <h3>New User Details</h3>
        <table class="w-100">
            <tr>
                <td class="w-40">
                    @Html.Label("Name")
                </td>
                <td class="w-60">
                    @Html.TextBox("txtName", null, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessage("txtName", "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td class="w-40">
                    @Html.Label("Role")
                </td>
                <td class="w-60">
                    @Html.TextBox("txtRole", null, new { @class = "form-control", required = "required"})
                    @Html.ValidationMessage("txtRole", "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td class="w-40">
                    @Html.Label("Email")
                </td>
                <td class="w-60">
                    @Html.TextBox("txtEmail", null, new { @class = "form-control", required = "required"})
                    @Html.ValidationMessage("txtEmail", "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td class="w-40">
                    @Html.Label("Username")
                </td>
                <td class="w-60">
                    @Html.TextBox("txtUserName", null, new { @class = "form-control", required = "required"})
                    @Html.ValidationMessage("txtUserName", "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td class="w-40">
                    @Html.Label("Password")
                </td>
                <td class="w-60">
                    @Html.TextBox("txtPassword", null, new { @class = "form-control", required = "required"})
                    @Html.ValidationMessage("txtPassword", "", new { @class = "text-danger" })

                </td>
            </tr>
        </table>

        <br />
        <div class="divSubmit">
            <input type="submit" id="btnProceed" value="Create User" class="btn btn-primary" />
        </div>

    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/datatables")
    @Styles.Render("~/Content/datatable-styles")

    <script type="text/javascript">

        $(document).ready(function () {
            // Modify the background for this page
            $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');

            // Add Properties on the table
            $('#tblEmailTransactions').DataTable({
                ordering: true,
                order: [[0, "desc"]],
                responsive: true,
                pageLength: 15,
                bLengthChange: true
            });
        });


        function ResendMail(transactionId) {
            debugger
            var id = transactionId;
            //window.location.href = '@Url.Action("ResendMail", "Manage")' + "?transactionId=" + id;
            window.open(
                '@Url.Action("ResendMail", "Manage")' + "?transactionId=" + id
                //'_blank' // <- This is what makes it open in a new window.
            );

            //Refresh Page
            setTimeout(function () { window.location.reload(1); }, 4000);
        }

    </script>
}
