﻿@model CoverBuilder.Entities.ViewModels.ConfigFormulaViewModels
@{
    ViewBag.Title = "Formula Factors";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Formula Factor List</h2>
<br />

<div class="formula-filters">
    @Html.Label("Select Policy Class ")
    @Html.DropDownListFor(m => m.InsuranceTypes, Model.InsuranceTypes, new { @class = "form-control" })
</div>
<br /><br />

<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="tblEmailTransactions">
        <thead>
            <tr>
                <th style="text-align:center" align="center">
                    Factor ID
                </th>
                <th style="text-align:center" align="center">
                    Insurance ID
                </th>
                <th style="text-align:center" align="center">
                    Condition Type
                </th>
                <th style="text-align:center" align="center">
                    Condition A
                </th>
                <th style="text-align:center" align="center">
                    Condition B
                </th>
                <th style="text-align:center" align="center">
                    Liability Limit
                </th>
                <th style="text-align:center" align="center">
                    Rate
                </th>
                <th style="text-align:center" align="center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model.FormulaFactors)
             {
                <tr class="odd">
                    <td style="text-align:center" align="center">
                        @item.ID
                    </td>
                    <td style="text-align:center" align="center">
                        @item.InsuranceTypeID
                    </td>
                    <td style="text-align:center" align="center">
                        @item.ConditionType
                    </td>
                    <td style="text-align:center" align="center">
                        @item.ConditionA
                    </td>
                    <td style="text-align:center" align="center">
                        @item.ConditionB
                    </td>
                    <td style="text-align:center" align="center">
                        @item.LiabilityLimit
                    </td>
                    <td style="text-align:center" align="center">
                        @item.Rate
                    </td>

                    @*@if (item.Status == "Failed")
                    {
                        <td style="text-align:center" align="center">
                            <input type="submit" id="btnSendMail" value="Retry" class="btn btn-orange" onclick="javascript:ResendMail(@item.Id)" />
                        </td>
                    }
                    else
                    {*@
                        <td style="text-align:center" align="center">
                            
                        </td>
                    @*}*@
                </tr>
             }
            }
        </tbody>
    </table>
    <br />
    <br />
</div>





@section Scripts {

@Scripts.Render("~/bundles/datatables")
@Styles.Render("~/Content/datatable-styles")

    <script type="text/javascript">

        $(document).ready(function(){
            // Modify the background for this page
            $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');

            // Add Properties on the table
            //$('#tblEmailTransactions').DataTable({
            //    ordering: true,
            //    order: [[ 0, "desc" ]],
            //    responsive: true,
            //    pageLength: 15,
            //    bLengthChange: true,
            //});

            $('#tblEmailTransactions').dataTable();
        });


        function ResendMail(transactionId) {
            debugger
            var id = transactionId;
            //window.location.href = '@Url.Action("ResendMail", "Manage")' + "?transactionId=" + id;
            window.open(
              '@Url.Action("ResendMail", "Manage")' + "?transactionId=" + id
              //'_blank' // <- This is what makes it open in a new window.
            );

            //Refresh Page
            setTimeout(function () { window.location.reload(1); }, 4000);
        }
        
    </script>

}