﻿@model IEnumerable<CoverBuilder.Entities.Entities.EmailTransaction>
@{
    ViewBag.Title = "Email Transaction Logs";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Email Transaction Records</h2>
<br />
<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="tblEmailTransactions">
        <thead>
            <tr>
                <th style="text-align:center" align="center">
                    Transaction ID
                </th>
                <th style="text-align:center" align="center">
                    Reference Number
                </th>
                <th style="text-align:center" align="center">
                    Template ID
                </th>
                <th style="text-align:center" align="center">
                    Template Name
                </th>
                <th style="text-align:center" align="center">
                    Quote Status
                </th>
                <th style="text-align:center" align="center">
                    Transaction Date
                </th>
                <th style="text-align:center" align="center">
                    Mail Status
                </th>
                <th style="text-align:center" align="center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model.OrderByDescending(o => o.Id))
             {
                <tr class="odd">
                    <td style="text-align:center" align="center">
                        @item.Id
                    </td>
                    <td style="text-align:center" align="center">
                        @item.ReferenceNumber
                    </td>
                    <td style="text-align:center" align="center">
                        @item.TemplateId
                    </td>
                    <td style="text-align:center" align="center">
                        @item.TemplateName
                    </td>
                    <td style="text-align:center" align="center">
                        @item.QuoteStatus
                    </td>
                    <td style="text-align:center" align="center">
                        @item.SentDate
                    </td>
                    <td style="text-align:center" align="center">
                        @item.Status
                    </td>
                    @if (item.Status == "Failed")
                    {
                        <td style="text-align:center" align="center">
                            <input type="submit" id="btnSendMail" value="Retry" class="btn btn-orange" onclick="javascript:ResendMail(@item.Id)" />
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center" align="center">
                            
                        </td>
                    }
                </tr>
             }
            }
        </tbody>
    </table>
    <br />
    <br />
</div>





@section Scripts {

@Scripts.Render("~/bundles/datatables")
@Styles.Render("~/Content/datatable-styles")

    <script type="text/javascript">

        $(document).ready(function(){
            // Modify the background for this page
            $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');

            // Add Properties on the table
            $('#tblEmailTransactions').DataTable({
                ordering: true,
                order: [[ 0, "desc" ]],
                responsive: true,
                pageLength: 15,
                bLengthChange: true
            });
        });


        function ResendMail(transactionId) {
            debugger
            var id = transactionId;
            //window.location.href = '@Url.Action("ResendMail", "Manage")' + "?transactionId=" + id;
            window.open(
              '@Url.Action("ResendMail", "Manage")' + "?transactionId=" + id
              //'_blank' // <- This is what makes it open in a new window.
            );

            //Refresh Page
            setTimeout(function () { window.location.reload(1); }, 4000);
        }
        
    </script>

}