﻿@model IEnumerable<CoverBuilder.Entities.Entities.Underwriter>
@{
    ViewBag.Title = "Underwriter List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Underwriter List</h2>
<br />
<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="tblEmailTransactions">
        <thead>
            <tr>
                <th style="text-align:center" align="center">
                    Underwriter Name
                </th>
                <th style="text-align:center" align="center">
                    Email
                </th>
                <th style="text-align:center" align="center">
                    Executive Code
                </th>
                <th style="text-align:center" align="center">
                    Role
                </th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model.OrderByDescending(o => o.Id))
             {
                <tr class="odd">
                    <td style="text-align:center" align="center">
                        @item.Name
                    </td>
                    <td style="text-align:center" align="center">
                        @item.Email
                    </td>
                    <td style="text-align:center" align="center">
                        @item.ExecutiveCode
                    </td>
                    <td style="text-align:center" align="center">
                        @item.Role
                    </td>
                </tr>
             }
            }
        </tbody>
    </table>
    <br />
    <div class="sync-users-row">
        <button type="submit" id="sync" class="btn btn-primary sync-users">Sync Users</button>
    </div>
    <br />
</div>





@section Scripts {

@Scripts.Render("~/bundles/datatables")
@Styles.Render("~/Content/datatable-styles")

    <script type="text/javascript">

        $(document).ready(function(){
            // Modify the background for this page
            $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');

            // Add Properties on the table
            $('#tblEmailTransactions').DataTable({
                ordering: true,
                order: [[ 0, "desc" ]],
                responsive: true,
                pageLength: 15,
                bLengthChange: true
            });
            $('#sync').on('click', function () {
                showLoader()
                setTimeout(function () {
                    $.ajax({
                        url: root + "Premium/SyncZohoUsers",
                        type: 'POST',
                        async: false,
                        dataType: 'json',
                        processData: false,
                        contentType: false
                    });
                    setTimeout(function () {
                        killLoader();
                        location.reload();
                    }, 1000);
                }, 500);
                
            });
            
        });
        
    </script>

}