﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceTypeViewModels

@{
    ViewBag.Title = "My Premium";
    int UserID = ((int)Session["GenericUserID"]);
}

<br />
<h2>My Premium</h2>

<br />
<div class="custom-content-desc">
    <p>Thank you for getting a quotation with us. Below are the details of your monthly premium</p>
</div>

<br />
<div class="col-lg-12">
    <div class="custom-form-box">

        <h3>Premium Details</h3>
        <div class="premium-details-box">
            <table class="w-100">
                <tr>
                    <td class="w-40"><p>Brokerage Name</p></td>
                    <td class="w-60">@Session["GenericUserBrokerageName"]</td>
                </tr>

                <tr>
                    <td><p>Name</p></td>
                    <td>@Session["GenericUserName"] </td>
                </tr>

                <tr>
                    <td><p>Email</p></td>
                    <td>@Session["GenericUserEmail"]</td>
                </tr>

                <tr>
                    <td><p>Contact Number</p></td>
                    <td>@Session["GenericUserPhone"]</td>
                </tr>

                <tr>
                    <td><p>Full Insured Name</p></td>
                    <td>@Session["GenericInsuredName"]</td>
                </tr>

                <tr>
                    <td><p>Situation</p></td>
                    <td>@Session["GenericState"]</td>
                </tr>

                <tr>
                    <td><p>Liability Limit</p></td>
                    <td>@Session["GenericLiabilityLimit"]</td>
                </tr>

            </table>
        </div>

        <div class="premium-calc-box">

            <table class="w-100">
                <tr>
                    <td><p>Base Premium: </p></td>
                    <td>@string.Format("{0:N}", Session["SessionBasePremium"])</td>
                </tr>

                <tr>
                    <td><p>Discounts: </p></td>
                    <td>@(Convert.ToDecimal(Session["SessionAccumulatedDiscount"]) * 100) %</td>
                </tr>

                <tr>
                    <td><p>GST: </p></td>
                    <td>@(Convert.ToDecimal(Session["SessionGST"]) * 100) %</td>
                </tr>

                <tr>
                    <td><p>Stamp Duty: </p></td>
                    <td>@(Convert.ToDecimal(Session["GenericStateTaxRate"]) * 100) %</td>
                </tr>

                <tr>
                    <td><p>U/W Fee: </p></td>
                    <td>@string.Format("{0:N}", Session["SessionUWFee"])</td>
                </tr>

                <tr>
                    <td><p>GST on U/W Fee: </p></td>
                    <td>@(Convert.ToDecimal(Session["SessionUWFeeGST"]) * 100) %</td>
                </tr>

                <tr>
                    <td><p>Excess Fees: </p></td>
                    <td>@string.Format("{0:N}", Session["SessionExcesses"])</td>
                </tr>

                <tr>
                    @*<td class="premium-value"><span style="font-size:50px">@string.Format("{0:N}", ViewBag.FinalPremium)</span><span>per month</span></td>*@
                </tr>

            </table>
            <div class="premium-value"><span style="font-size:50px">@string.Format("{0:N}", ViewBag.FinalPremium)</span><span>per month</span></div>
        </div>

        <br />
        <input type="submit" id="btnExit" value="Close" class="btn btn-primary" />
        <input type="submit" id="btnPDF" value="Save as PDF" class="btn btn-primary" />

    </div>
</div>





@section Scripts {

    <script type="text/javascript">

        //Modify the background for this page
        $('.custom-image-background').addClass('custom-image-background-98');

    </script>

}