﻿/*ADD YOUR CUSTOMIZED CSS STYLES HERE*/

/*************************************** OVERRIDE ***************************************/
body {
    padding-top:0px;
    padding-bottom: 0px;
    font-family: "Arial",Helvetica,Arial;
}

::selection {
    /*background-color: #80C342;*/
    /*background-color:#ff8200;*/
    background: #171d26;
    color:#fff;
}

.container.body-content{
    padding-top: 92px;
}

/*a.navbar-brand
{
    background: url(../Images/ryno-logo.png) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     max-width: 100%;
     height: auto;
     text-indent: -9999px;
}*/
.navbar-nav > li > a {
    padding-top: 35px;
    text-transform:uppercase;
}

.navbar-inverse.navbar-fixed-top {
    background-color: rgba(34,34,34,0.9);
    box-shadow: 0px 0px 25px 1px #ff8200;
    border-bottom: 1px solid #ff8200;

}

input, select, textarea {
    /*max-width: 100%;*/
    max-width: 301px;
}



input[type="radio"], input[type="checkbox"] {
    margin-left: 4px;
    margin-right: 4px;
}


/*************************************** GENERAL ***************************************/
/* TEXT AREA - DISABLE RESIZE */
textarea {
    resize:none;
}

/*COMMENT BOXES*/
p.comment-style{
    color:white;
}

.comment-box-style{
    max-width:400px;
}


/* TEXTBOX SPINNERS*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


/*FOOTER*/
div.custom-footer-box{
    /*Box Properties*/
    position: relative;
    z-index: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 120px;

    /*Background Properties*/
    /*Optional Drastic Visual Change*/
    /*background: linear-gradient(to bottom right, rgba(45,45,45,0.9), rgba(255,106,0,0.9));
    box-shadow: 0px 0px 30px -6px #ff7e23;*/

    /*background-color: #222;*/
    /*background-color: #404040;*/
    background-color: rgba(34,34,34,0.9);

    /*box-shadow: inset 0px 0px 20px -2px #222;*/
    box-shadow: 0px 0px 20px -2px #222;

    /*Text Properties*/
    /*color: #fff;*/
    color: #b0adad;
    font-size: 13px;
    font-family: "Arial",Helvetica,Arial;

    }


.custom-content-container{
    /*min-height:900px;*/
    min-height:827px;
}

.custom-image-background{
    background: #000000;
    -webkit-animation:bounceIn 2s;

    /*min-height:900px;*/
    background-color: #000000;

    /*better scaling*/
    /*background-size:100% 100%;*/
    /*background-size:auto 125%;*/
    background-size:cover;
}

.custom-image-background-common{
    min-height:900px;
    background-size: cover !important;
}

/*div.custom-image-background::before {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%);
        
}*/


#logo_wrapper {
    margin-right:-65px;
}

#logo_wrapper img {
    max-width:65%;
    height: auto;
    padding:10px;
}

/*************************************** CONTENT ***************************************/

h2 {
    font-family: "Arial";
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 1px #252525;
}

h2.header-dark{
    font-family: "Arial";
    color:#272727;
    font-size: 35px;
    text-shadow: 0px 0px 1px #252525;
}

h2.header-orange{
    font-family: "Arial";
    color: #ff8200;
    font-size: 35px;
    text-shadow: 0px 0px 1px #9a5807;
}

.custom-content-desc p{
    color:white;
    font-size: 16px;
    text-shadow: 0px 0px 1px #252525;
}

.custom-content-desc-dark p{
    color:#272727;
    color:white;
    font-size: 16px;
    text-shadow: 0px 0px 1px #252525;
}

.custom-form-box{
    min-height:550px;
    /*background:white;*/
    background: rgba(255,255,255,0.9);
    padding:30px;
    box-shadow: 3px 4px 20px -1px #222;

    margin-bottom: 60px;
}


div.custom-form-box input.btn.btn-primary{
    background: #ff8200;
    font-weight: 200;
    font-family: "Arial", Helvetica, arial;
    padding: 10px;
    margin-top: 10px;

    box-shadow: 0px 0px 10px -2px #222;
    border:0px;
}

div.custom-form-box input.btn.btn-primary:hover{
    transition: 0.4s;
    background: #00b0ad;
    box-shadow: 0px 0px 10px -1px #2cefd4;
    border: 0px;
}

div.custom-form-box tr{
    line-height: 3em;
}

div.custom-form-box h3 {
    font-size: 24px;
    font-family: "Arial",Helvetica,Arial;
    color: #ff8200;

    /*text-shadow: 1px 1px 3px #f4c664;*/
    /*margin-top:10px;*/
    margin-top:0;
    }



/*Info Pages*/
div.custom-box-container-info{
    box-sizing:border-box;

    /*display: flex;
    justify-content: center; 
    align-items: center;*/

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    padding-top:20%;

    background: rgba(0,0,0,.5);
}

div.info-page-header{

    text-align:center;

    /*font-family: helvetica;*/
    font-size: 75px;
    /*font-weight: 600;*/

    font-family: "Arial",helvetica,Verdana,Arial;
    font-weight: 400;
    
    color: oldlace;

    text-shadow: 0px 1px 5px black;
}

div.info-page-description{

    text-align:center;

    /*font-family: helvetica;
    color: white;
    font-size: 17px;*/

    font-family: "Arial",helvetica,Verdana,Arial;
    font-size: 30px;
    color: oldlace;

    text-shadow: 0px 1px 5px black;
}

div.info-page-button {

    text-align:center;
}

div.info-page-button input.btn.btn-primary {
    /*background-color: #00b0ad;
    border-color: #00b0ad;*/

    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 8px;

    text-shadow: 0px 0px 5px black;
}

div.info-page-button input.btn.btn-primary:hover {
    background-color: #00b0ad;
    border-color: #00b0ad;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 8px;
    transition:0.4s;
    box-shadow: 0px 0px 10px -1px #2cefd4;

}


/*Table Responsiveness*/

.w-10 {
    width:10%;
}

.w-20 {
    width:20%;
}

.w-30 {
    width:30%;
}

.w-40 {
    width:40%;
}

.w-50 {
    width:50%;
}

.w-60 {
    width:60%;
}

.w-70 {
    width:70%;
}

.w-80 {
    width:80%;
}

.w-90 {
    width:90%;
}

.w-100 {
    width:100%;
}


/*Validation*/
.ValidateContainer {
    border: 2px solid red;
    /*box-shadow: inset 0px 0px 10px 3px gainsboro;*/
    box-shadow: inset 0px 0px 10px 3px #1b0000;
    border-radius: 4px;
    padding:5px;
}

.ValidateContainer2 {
    border: 2px solid red;
    box-shadow: inset 0px 0px 10px 3px #ff9898;
    border-radius: 4px;
    padding: 5px;
    background: #ffe6e6;
}

.ValidateContainer3 {
    border: 2px solid red;
    box-shadow: inset 0px 0px 10px 3px #ff9898;
    border-radius: 4px;
    padding: 5px;
    background: #ffe6e6;
}



/*Dollar Symbol on Input Fields*/
.input-symbol-dollar {
  position: relative;
}
.input-symbol-dollar input {
  padding-left: 25px;

}
.input-symbol-dollar:before {
    position: absolute;
    top: 0;
    content: "$";
    left: 7px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 1px 0px 2px #8e8e8e;
}

.input-symbol-dollar .form-control{
    padding: 6px 20px;
}

table .input-symbol-dollar:before {
    margin-top: -3px;
    left: 9px;
}




/*************************************** CUSTOM BACKGROUNDS PER PAGE ***************************************/ /*WORKING*/ 
/*Generic Page*/
.custom-image-background-0{
    background: url(../Images/main-generic.jpg) no-repeat center fixed !important;
}

/*Budget Accommodation*/
.custom-image-background-1{
    background: url(../Images/main-accommodation.jpg) no-repeat center fixed !important;
}

/*Cleaners*/
.custom-image-background-2{
    background: url(../Images/main-cleaners.png) no-repeat center fixed !important;
}

/*Motels and BBs*/
.custom-image-background-3{
    background: url(../Images/CoverBuilder_motelbb.jpg) no-repeat center fixed !important;
}

/*Restaurants*/
.custom-image-background-4{
    background: url(../Images/main-restaurants.jpg) no-repeat center fixed !important;
}

/*Transport And Logistics*/
.custom-image-background-5{
    background: url(../Images/main-transport.jpg) no-repeat center fixed !important;
}

/*Project Managers*/
.custom-image-background-6{
    background: url(../Images/main-project-managers.jpg) no-repeat center fixed !important;
}

/*Property Owners*/
.custom-image-background-7{
    background: url(../Images/main-property-owners.jpg) no-repeat center fixed !important;
}

/*Scaffolders*/
.custom-image-background-8{
    background: url(../Images/main-scaffolders.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Supermarkets*/
.custom-image-background-9{
    background: url(../Images/Supermarkets2.jpg) no-repeat center fixed !important;
}

/*Vacant Land*/
.custom-image-background-10{
    background: url(../Images/main-vacant-land.jpg) no-repeat center fixed !important;
}

/*Welders and Boilermakers*/
.custom-image-background-11{
    background: url(../Images/main-welders.jpg) no-repeat center fixed !important;
}

/*Shopping Centre*/
.custom-image-background-12{
    background: url(../Images/main-shopping-centre.jpg) no-repeat center fixed !important;
}

/*EventsAndMarkets*/
.custom-image-background-13{
    background: url(../Images/main-events-and-markets.jpg) no-repeat center fixed !important;
}

/*General*/
.custom-image-background-97{
    background: url(../Images/main-general-liability.jpg) no-repeat center fixed !important;
}

/*Stall Holders*/
.custom-image-background-96{
    background: url(../Images/main-stall-holders.jpg) no-repeat center fixed !important;
}

/*Hotel*/
.custom-image-background-95{
    background: url(../Images/main-hotel.jpg) no-repeat center fixed !important;
}

/*Trades*/
.custom-image-background-94{
    background: url(../Images/main-trades.jpg) no-repeat center fixed !important;
}

/*Thank you/Error*/
.custom-image-background-99{
    background: url(../Images/main-thankyou.jpg) no-repeat center fixed !important;
}

/*Handmade*/
.custom-image-background-98{
    background: url(../Images/main-handmade.jpg) no-repeat center fixed !important;
}

/*************************************** TEST AND DEBUG SECTION ***************************************/

.custom-form-box label::after{
    content:" *";
    color:red;
}

.custom-element-ninja-hide{
    visibility:hidden;
}

.fadein {
    /*opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;*/
}

#body.loaded.fadein {
    opacity: 1;
}


/*************************************** PAGE SUBMIT COVER ***************************************/
.loading-cover-box{
    /*position:fixed;*/
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    opacity:0.3;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/*************************************** LOADER FIELD ***************************************/

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff8200;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  opacity:1;
  z-index:5;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.blur{
	/*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;*/
}


/*************************************** PAGE SMOOTH TRANSITION/ANIMATION ***************************************/
/*.custom-image-background {*/
#myDiv.container.body-content {
    /*Fade In*/
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

.fadein {
    /*Fade In*/
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.fadeout {
    -webkit-animation: fadeout 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 1.5s; /* Firefox < 16 */
        -ms-animation: fadeout 1.5s; /* Internet Explorer */
         -o-animation: fadeout 1.5s; /* Opera < 12.1 */
            animation: fadeout 1.5s;
}

/*Fade Out*/
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}




/*************************************** NEW FORM LAYOUT ***************************************/

.text-danger {
    color: #ff0500;
    text-shadow: 0px 0px 4px #900000;
}

.form-control:focus {
    border-color: #f18f00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 169, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 169, 102, 0.6);
}

#myDiv.container.body-content {
    background-color: rgba(0,0,0,0.8);
    padding: 4%;
    margin-top: 135px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 0px;
}

.custom-form-box label{
    color: white;
    font-weight:400;
}

input.input-validation-error {
    border: 1px solid #e40400;
    box-shadow: 0px 0px 10px -2px #a50000;
}

.custom-form-box {
    background: transparent;
    box-shadow: none;
    color: #ff8200;

    /*padding:30px;
    margin-bottom: 60px;*/

}


/*************************************** PREMIUM PAGE LAYOUT ***************************************/
.premium-details-box {
    width:50%;
    float:left;
    color:white;
}

.premium-calc-box {
    width: 50%; 
    float: left; 
    border: 1px solid; 
    padding: 42px;
    font-size: 16px;
}

.premium-value {
    border-top:1px solid;
    padding-top:15px;
}





/*************************************** LOCATION/SITUATION FORM TABS ***************************************/


















/*************************************** ERROR PAGE INJECT ***************************************/

.background-cover-transparent {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.error-template-center-fixed{
    position: fixed;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    color:white;
    line-height:60px;
}

.error-details{
    font-size: 20px;
}

.error-template h1{
    font-size: 65px;
    font-family: "Arial",helvetica,verdana,arial;
}

.error-actions a.btn.btn-primary.btn-lg {
    background: #ff8200;
    border:1px solid #ff8200;
    box-shadow: 1px 1px 10px 0px #505050;
}

.error-actions a.btn.btn-primary.btn-lg:hover {
    background: #ff8200;
    border:1px solid #ff8200;
    box-shadow: 1px 1px 10px 0px #d48426;
    transition: 0.4s;
}


.error-actions a.btn.btn-default.btn-lg {
    background: transparent;
    border:1px solid white;
    box-shadow: 1px 1px 10px 0px #505050;
    color:white;
}

.error-actions a.btn.btn-default.btn-lg:hover {
    background: rgba(255,255,255,0.7);
    border: 1px solid rgba(210,210,210,0.5);
    box-shadow: 1px 1px 10px -1px rgba(255,255,255,0.7);
    transition: 0.4s;
    color: rgba(0,0,0,0.7);
}


/*************************************** CAPTCHA INJECT ***************************************/

div.rc-anchor rc-anchor-normal rc-anchor-light {
    background-color: rgba(255,255,255,0.4) !important;
    border: none;
    border-radius: 5px;
    color: white;
    text-shadow: 0px 0px 5px #3a3a3a;

}

/*************************************** DATEPICKER ***************************************/
.datepicker.dropdown-menu{
    top:691px !important;
}


.comment-box {
    width: 1250px;
    max-width:1250px !important;
    background: rgba(255, 255, 255, 0.5);
    height: 150px;
    padding: 20px;
    color: white;
    border-radius:5px;
}

.comment-box::-webkit-input-placeholder { /* Chrome */
  color: white;
  opacity:0.8;
}
.comment-box:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity:0.8;
}
.comment-box:-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% UAT CHANGES %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* Remove Spinner Buttons on Numbers */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.otherWeldingAct{
    border-radius: 3px;
    border: 1px solid #ff8200;
    margin-top: 4px;
    padding-left: 4px;
}

.otherGroup4{
    border-radius: 3px;
    border: 1px solid #ff8200;
    margin-top: 4px;
    padding-left: 4px;
}

/*Situation Tab Headers*/
ul.nav.nav-tabs {
    border-bottom: 1px solid rgba(255,255,255,0.7);
    box-shadow: 0px 10px 9px -12px #ff8200;
}

ul.nav.nav-tabs > li > a {
    color: #ff8200;
    transition: 0.3s;
    border:none;
}

ul.nav.nav-tabs > li.active > a, ul.nav.nav-tabs > li.active > a:hover, ul.nav.nav-tabs > li.active > a:focus {
    color: white;
    background-color: #ff8200;
    border:none;
}


/*************************************** ACCEPT DENY PAGES ***************************************/
div.user-response-page-header{
    text-align:center;
    font-size: 55px;
    font-family: "Arial",helvetica,Verdana,Arial;
    font-weight: 400;
    
    color: oldlace;
    text-shadow: 1px 0px 5px black;
}

div.user-response-page-description{
    text-align:center;
    font-family: "Arial",helvetica,Verdana,Arial;
    font-size: 30px;

    color: oldlace;
    text-shadow: 1px 0px 5px black;
}

div.user-response-page-description-2{
    text-align:center;
    font-family: "Arial",helvetica,Verdana,Arial;
    font-size: 21px;
    
    color: #f19434;
    text-shadow: 1px 0px 5px black;
}

.user-response-page-insurance-period .period-form label {
    float: left;
    width: 150px;
}
.user-response-page-insurance-period .period-form input[type=text] 
{ 
    float: left; width: 250px; 

}

div.user-response-page-button {

    text-align:center;
}

div.period-form{
    width: 300px;
    margin: 0 auto;
    color:white;
}

div.deny-comments-section {
    box-sizing: border-box;
    display: block;
    width: 420px;
    margin-left: auto;
    margin-right: auto;

    color:#ffc577;
    font-size:17px;

    /*darker*/
    background: rgba(0, 0, 0, 0.5);
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5) inset;

    /*and bigger*/
    color: #ff8200;
    font-size: 21px;
    text-shadow: 0px 0px 7px black;
}


.otherDenyComment{
    border-radius: 3px;
    border: 1px solid #ff8200;
    margin-top: 4px;
    padding-left: 4px;
}


div.deny-comments-section input[type="checkbox"] {
    width: 5%;
    height: 17px;
}


/*************************************** CONTACT US PAGE ***************************************/

div.contact-us-page {
    color:white;
}

.contact-us-page h4 {
    font-family: "Arial",helvetica,Verdana,Arial;
    color:#ff8200;
}

.contact-us-links {
    color:#ff8200;
    text-decoration:none;
}

.contact-us-links:hover {
    /*color:#23ded3;*/
    color: #ffb300;
    text-shadow: 0px 0px 6px #ffb000;
    text-decoration:none;
    transition:0.4s;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% ADMIN LAYOUT %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* No Scroll */

.no-scroll {
    margin: 0; height: 100%; overflow: hidden;
}

/*************************************** Logon Page ***************************************/

.logged-user {
    /*padding-top: 35px;*/
    color: #cd841e;
}

.navbar-nav.logout-box> li > a {
    text-transform:none;
}


.login-style {
    background: rgba(0,0,0,.5);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    /*z-index: -1;*/
    padding-top: 10%;
}

.btn.btn-lg.btn-success.btn-block{
    background-color: #ff8200;
    border-color: #ff8200;
    margin-left: 10px;
}

.btn.btn-lg.btn-success.btn-block:hover{
    padding-left:5px;
    background-color: #23ded3;
    border-color: #23ded3;
    transition: 0.4s;
    box-shadow: 0px 0px 8px 3px #66c7c3;
    margin-left: 15px;
}

.login-panel-box {
    background-color: rgba(255,255,255,0.7);
}

.login-panel-box.panel-default {
    background-color: rgba(255,255,255,0.7);
    border:0;
}

.login-panel-box.panel-default > .panel-heading {
    background-color: rgba(245,245,245,0.4);
    border:0;
}

.back-to-main-site {
    text-align:center;
}

.back-to-main-site a{
    color:#ff8200;
    text-decoration:none;
}

.back-to-main-site:hover {
    margin-top:-8px;
    transition:0.5s;
}

.back-to-main-site:hover > a {
    color:whitesmoke;
    transition:0.4s;
    text-shadow: 0px 0px 1px white;
}




/*************************************** Email Transaction Data Table ***************************************/
table#tblEmailTransactions.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(78,78,78,0.8);
}

table#tblEmailTransactions.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: rgba(247,145,0,0.5);
}

table#tblEmailTransactions { 
    border: 1px solid rgba(99,99,99,0.5);
}

table#tblEmailTransactions tbody { 
    color:white;
}

table#tblEmailTransactions thead { 
    color: #f19a1e;
    font-size: 16px;
}

table#tblEmailTransactions.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid rgba(99,99,99,0.5);
}

#tblEmailTransactions_length.dataTables_length{
    color:#f19a1e;
}

#tblEmailTransactions_length.dataTables_length select{
    border-radius: 15px;
    background-color: rgba(255,255,255,0.5); 
    border: 0; 
    color:#f19a1e;
}

#tblEmailTransactions_filter.dataTables_filter{
    color:#f19a1e;
}

#tblEmailTransactions_filter.dataTables_filter input{
    border-radius: 15px;
    background-color: rgba(255,255,255,0.5); 
    border: 0; 
    color:white;
    width:75%;
}

#tblEmailTransactions_info.dataTables_info{
    color:#f19a1e;
}


li#tblEmailTransactions_next.paginate_button.next a{
    background: rgba(88,88,88,0.5);
    color:#f19a1e;

}

li#tblEmailTransactions.paginate_button{
    background: rgba(88,88,88,0.5);
    color:#f19a1e;
}

ul.pagination li.paginate_button a{
    background: rgba(88,88,88,0.5);
    color:#f19a1e;
    border-color:transparent;
}

ul.pagination li.paginate_button a:hover{
    background-color: rgba(247,145,0,0.5);
    color:white;
}

ul.pagination li.paginate_button.active a{
    background-color: rgba(247,145,0,0.5);
    color:white;
    border-color:transparent;
}



/***************************************** Retry Button *****************************************/
.btn-#ff8200{
    color: #ffffff;
    background-color: rgb(243, 0, 3); /*#e68d1e;*/
    border-color: rgba(16,16,16,0.5);
    transition:0.5s;
}

.btn-#ff8200:hover{
    color: #ffffff;
    background-color: #e68d1e;
    border-color: #e68d1e;
    transition:0.5s;
}




/*************************************** Config Formula Factor Page ***************************************/
.formula-filters{
    color:white;
}

.formula-filters label{
    font-family: "Arial",Helvetica,Arial;
    font-weight:300;
}




/*************************************** Underwriter Page ***************************************/

.btn.btn-primary.sync-users {
    color: white;
    background-color: #ed9012;
    border-color: #ed9012;
    padding: 10px 15px;
}

.btn.btn-primary.sync-users:hover {
    text-shadow: 0px 0px 5px white;
    transition: 0.4s;
    background-color: #b96b00;
    border-color: #b96b00;
}

div.sync-users-row{
    text-align:center;
}


/*************************************** Modal Pop ups ***************************************/

.modal-content {
    background: rgba(255, 255, 255, 0.9);
    padding:25px;
}

input#btnShowModalCc {
    background-color: #f19a1e;
    color: white;
    text-shadow: 0px 0px 3px #3e2606;
    box-shadow: 1px 1px 10px -1px #3e2606;
}

input#btnShowModalBcc {
    background-color: #f1691e;
    color: white;
    text-shadow: 0px 0px 3px #3e2606;
    box-shadow: 1px 1px 10px -1px #3e2606;
}





/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% RYNO INSURANCE THEME %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#myDiv.container.body-content {
    background: linear-gradient(to bottom, rgba(61, 61, 61, 1), rgba(11, 11, 11, 1));
    margin-top:230px;
}


.navbar-inverse.navbar-fixed-top {
    background: linear-gradient(to bottom, rgba(61, 61, 61, 1), rgba(11, 11, 11, 1));
    box-shadow: 0px 0px 25px 1px #191919;
    border-bottom: 1px solid #151515;
}

div.custom-footer-box {
    font-size:12px;
    color:white;
    text-align: center;
    text-shadow: 0px 1px 5px black; 
}

p.footer-header{
    font-size: 17px;
    font-weight: 600;
}

input[type="radio"] {
    width: 4%;
    height: 17px;
}

/******** Header Navbar ********/

.header-strip {
    clear: both;
    width: 100%;
    border-top:7px solid #ff8200;
}

#logo_wrapper {
    margin-right:-65px;
}

#logo_wrapper img {
    max-width:100%;
    height: auto;
    padding:10px;
}

.navbar-header {
    width:100%;
}

#top-left {
    float:left;
}

#top-right {
    float:right;
}

.logo {
    padding: 15px 0px;
}

div.call-us {
    color:white;

    font-family: helvetica;
    font-size: 25px;
    font-weight: 600;
    text-shadow: black 1px 1px 5px;

    background: #ff8200;
    padding: 13px;
    border-radius: 10px;
    margin-top: -10px;
    
    text-align:center;
    box-shadow: 1px 10px 10px -7px black;

}

div.social{
    padding-top: 25px;
}

div.social>ul>li{
    list-style-type:none;
    text-decoration:none;

    text-align: center;
    float:left;

    font-size: 20px;
    margin-right: 7px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px #1d1d1d;

}

div.social>ul>li a{
    color: white;
    background: #ff8200;

    box-sizing: border-box;
    display: block;

    height: 45px;
    width: 45px;
    padding: 10px;
    border-radius: 8px;

    text-shadow: 0px 0px 1px #2d1c03;
}

div.social>ul>li a:hover{
    margin-top:-4px;
    transition:0.3s;
}


.navbar-inverse .navbar-nav > li > a{
    border-bottom: 1px solid transparent;
    padding-top:0px;

    color: white;
    font-size: 15px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
    border-bottom: 1px solid #ff8200;

    text-shadow: 0px 0px 3px orange;
    transition:0.4s;
}


/******** Button Colors ********/
div.info-page-button input.btn.btn-primary:hover{
    background-color: #ff8200;
    border-color: #ff8200;
    box-shadow: 0px 0px 10px -1px #ff8200;
}



/******** Quote General ********/
.quote-call-us {
    font-style:italic;
    color:#ff8200;
    font-family:"Arial";
    font-size:12px;
}






