﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    
    outline: 1px solid red !important;
    /*border: 0 none;*/
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

textarea.input-validation-error {   
    border: 1px solid #b94a48;             
}



/*File Upload*/
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px 3px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	background-color:#fff;
	filter: alpha(opacity=0);
}

.filenameupload {
	width:98%;	
}

#upload_prev {
	border:thin solid #000;
	width: 65%;
	padding:0.5em 1em 1.5em 1em;
}

#upload_prev span {
    display: flex;
	padding: 0 5px;
	font-size:12px;
}

p.close {
    margin: 0 5px 0 5px;
    cursor: pointer;
	padding-bottom:0;
}
/*Datatable Manage Liability*/
.dataTable {
color: #cd841e;
}
.dataTable .selected {
background-color: #cd841e;
color: white;
}
#manage-liability label{
    color: #cd841e;
}
#manage-liability .table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #cd841e;
    color: white;
}