﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ryno Insurances</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/mustache.js"></script>

</head>

<body class="custom-image-background">
    @*MENU AND HEADER AREA*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Ryno Insurance", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <div id="logo_wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img src="~/Images/ryno-logo.png" border="0" alt="logo" />
                    </a>
                </div>
                @*@Html.ActionLink("Ryno Insurance", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Quotation", "BudgetAccommodation", "Quotation")</li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @*CONTENT AREA*@
    <div class="custom-content-container">
        <div class="container body-content" id="myDiv">
            @RenderBody()
        </div>
    </div>
    <div id="loader" style="display:none;"></div>

    @*FOOTER AREA*@
    <div class="custom-footer-box">
        <div class="container">
            <footer>
                <p>&copy; @DateTime.Now.Year AS White Global .NET Team Philippines. All rights reserved. </p>

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryajax")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script type="text/javascript">
            var loaderGIFpath = '@Url.Content("~/Images/ajax-loader.gif")';
        </script>*@

    <script type="text/javascript">

        //window.onload = function () {
        //    //document.body.className += "loaded";
        //    document.body.classList.add('loaded');
        //}


        $(document).ready(function () {
            //var myVar;
            //myVar = setTimeout(showPage, 1000);
        });

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }
        function showLoader() {
            //Kill Transparency of the form
            $('.custom-content-container').addClass('loading-cover-box');

            $('#myDiv').addClass('blur');
            document.getElementById("loader").style.display = "block";
            //$("body > div:not('.header__profile-create-wrapper') ").addClass("blur");
        }

    </script>
</body>
</html>
