﻿/*ADD YOUR CUSTOMIZED CSS STYLES HERE*/

/*************************************** OVERRIDE ***************************************/
body {
    padding-top:0px;
    padding-bottom: 0px;
    font-family: "century gothic",Helvetica,Arial;
}

::selection {
    /*background-color: #80C342;*/
    /*background-color:orange;*/
    background: #171d26;
    color:#fff;
}

.container.body-content{
    padding-top: 92px;
}

/*a.navbar-brand
{
    background: url(../Images/ryno-logo.png) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     max-width: 100%;
     height: auto;
     text-indent: -9999px;
}*/
.navbar-nav > li > a {
    padding-top: 35px;
    text-transform:uppercase;
}

.navbar-inverse.navbar-fixed-top {
    background-color: rgba(34,34,34,0.9);

    box-shadow: 0px 0px 25px 1px orange;
    border-bottom: 1px solid orange;

}

input, select, textarea {
    /*max-width: 100%;*/
    max-width: 301px;
}



input[type="radio"], input[type="checkbox"] {
    margin-left: 4px;
    margin-right: 4px;
}


/*************************************** GENERAL ***************************************/

/*FOOTER*/
div.custom-footer-box{
    /*Box Properties*/
    position: relative;
    z-index: 0;
    padding-top: 30px;
    min-height: 120px;

    /*Background Properties*/
    /*Optional Drastic Visual Change*/
    /*background: linear-gradient(to bottom right, rgba(45,45,45,0.9), rgba(255,106,0,0.9));
    box-shadow: 0px 0px 30px -6px #ff7e23;*/

    /*background-color: #222;*/
    /*background-color: #404040;*/
    background-color: rgba(34,34,34,0.9);

    /*box-shadow: inset 0px 0px 20px -2px #222;*/
    box-shadow: 0px 0px 20px -2px #222;

    /*Text Properties*/
    /*color: #fff;*/
    color: #b0adad;
    font-size: 13px;
    font-family: "century gothic",Helvetica,Arial;



    }


.custom-content-container{
    min-height:900px;
}

.custom-image-background{
    background: #000000;
    -webkit-animation:bounceIn 2s;

    /*min-height:900px;*/
    background-color: #000000;

    /*better scaling*/
    /*background-size:100% 100%;*/
    /*background-size:auto 125%;*/
    background-size:cover;
}

/*div.custom-image-background::before {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%);
        
}*/


#logo_wrapper {
    margin-right:-65px;
}

#logo_wrapper img {
    max-width:65%;
    height: auto;
    padding:10px;
}

/*************************************** CONTENT ***************************************/

h2 {
    font-family: "Century Gothic";
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 1px #252525;
}

h2.header-dark{
    font-family: "Century Gothic";
    color:#272727;
    font-size: 35px;
    text-shadow: 0px 0px 1px #252525;
}

h2.header-orange{
    font-family: "Century Gothic";
    color: #f7941e;
    font-size: 35px;
    text-shadow: 0px 0px 1px #9a5807;
}

.custom-content-desc p{
    color:white;
    font-size: 16px;
    text-shadow: 0px 0px 1px #252525;
}

.custom-content-desc-dark p{
    color:#272727;
    color:white;
    font-size: 16px;
    text-shadow: 0px 0px 1px #252525;
}

.custom-form-box{
    min-height:550px;
    /*background:white;*/
    background: rgba(255,255,255,0.9);
    padding:30px;
    box-shadow: 3px 4px 20px -1px #222;

    margin-bottom: 60px;
}


div.custom-form-box input.btn.btn-primary{
    background: #f7941e;
    font-weight: 200;
    font-family: "Century Gothic", Helvetica, arial;
    padding: 10px;
    margin-top: 10px;

    box-shadow: 0px 0px 10px -2px #222;
    border:0px;
}

div.custom-form-box input.btn.btn-primary:hover{
    transition: 0.4s;
    background: #00b0ad;
    box-shadow: 0px 0px 10px -1px #2cefd4;
    border: 0px;
}

div.custom-form-box tr{
    line-height: 3em;
}

div.custom-form-box h3 {
    font-size: 24px;
    font-family: "Century Gothic",Helvetica,Arial;
    color: #ff8f00;

    /*text-shadow: 1px 1px 3px #f4c664;*/
    /*margin-top:10px;*/
    margin-top:0;
    }



/*Info Pages*/
div.custom-box-container-info{
    box-sizing:border-box;

    /*display: flex;
    justify-content: center; 
    align-items: center;*/

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    padding-top:21%;

    background: rgba(0,0,0,.5);
}

div.info-page-header{

    text-align:center;

    font-family: helvetica;
    font-size: 75px;
    font-weight: 600;
    
    color: oldlace;
}

div.info-page-description{

    text-align:center;

    font-family: helvetica;
    color: white;
    font-size: 17px;

    color: oldlace;
}

div.info-page-button {

    text-align:center;
}

div.info-page-button input.btn.btn-primary {
    /*background-color: #00b0ad;
    border-color: #00b0ad;*/

    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 5px;

}

div.info-page-button input.btn.btn-primary:hover {
    background-color: #00b0ad;
    border-color: #00b0ad;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 5px;
    transition:0.4s;
    box-shadow: 0px 0px 10px -1px #2cefd4;

}

/*Table Responsiveness*/

.w-10 {
    width:10%;
}

.w-20 {
    width:20%;
}

.w-30 {
    width:30%;
}

.w-40 {
    width:40%;
}

.w-50 {
    width:50%;
}

.w-60 {
    width:60%;
}

.w-70 {
    width:70%;
}

.w-80 {
    width:80%;
}

.w-90 {
    width:90%;
}

.w-100 {
    width:100%;
}


/*Validation*/
.ValidateContainer {
    border: 2px solid red;
    /*box-shadow: inset 0px 0px 10px 3px gainsboro;*/
    box-shadow: inset 0px 0px 10px 3px #1b0000;
    border-radius: 4px;
    padding:5px;
}

.ValidateContainer2 {
    border: 2px solid red;
    box-shadow: inset 0px 0px 10px 3px #ff9898;
    border-radius: 4px;
    padding: 5px;
    background: #ffe6e6;
}

.ValidateContainer3 {
    border: 2px solid red;
    box-shadow: inset 0px 0px 10px 3px #ff9898;
    border-radius: 4px;
    padding: 5px;
    background: #ffe6e6;
}



/*Dollar Symbol on Input Fields*/
.input-symbol-dollar {
  position: relative;
}
.input-symbol-dollar input {
  padding-left: 25px;

}
.input-symbol-dollar:before {
    position: absolute;
    top: 0;
    content: "$";
    left: 7px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 1px 0px 2px #8e8e8e;
}

.input-symbol-dollar .form-control{
    padding: 6px 20px;
}

table .input-symbol-dollar:before {
    margin-top: -3px;
    left: 9px;
}




/*************************************** CUSTOM BACKGROUNDS PER PAGE ***************************************/ /*WORKING*/ 
/*Generic Page*/
.custom-image-background-0{
    background: url(../Images/CoverBuilder5.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    /*background-size: auto 125% !important;*/
    background-size: cover !important;
}

/*Budget Accommodation*/
.custom-image-background-1{
    background: url(../Images/CoverBuilder_budgetaccomodation.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Cleaners*/
.custom-image-background-2{
    background: url(../Images/cleaners-pic2.png) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Motels and BBs*/
.custom-image-background-3{
    background: url(../Images/CoverBuilder_motelbb.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Restaurants*/
.custom-image-background-4{
    background: url(../Images/restaurant1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Transport And Logistics*/
.custom-image-background-5{
    background: url(../Images/transportlogistics1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Project Managers*/
.custom-image-background-6{
    background: url(../Images/ProjectManagers1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Property Owners*/
.custom-image-background-7{
    background: url(../Images/property1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Scaffolders*/
.custom-image-background-8{
    background: url(../Images/scaffolders2.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Supermarkets*/
.custom-image-background-9{
    background: url(../Images/Supermarkets2.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Vacant Land*/
.custom-image-background-10{
    background: url(../Images/vacantland1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Welders and Boilermakers*/
.custom-image-background-11{
    background: url(../Images/Welders1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*Shopping Centre*/
.custom-image-background-12{
    background: url(../Images/shoppingcentre.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}

/*EventsAndMarkets*/
.custom-image-background-13{
    background: url(../Images/Events1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}


/*EventsAndMarkets*/
.custom-image-background-98{
    background: url(../Images/CoverBuilder3.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}


/*Thank you/Error*/
.custom-image-background-99{
    background: url(../Images/Rhino1.jpg) no-repeat center fixed !important;
    min-height:900px;
    background-color: #000000;
    /*better scaling*/
    background-size: cover !important;
}



/*************************************** TEST AND DEBUG SECTION ***************************************/

.custom-form-box label::after{
    content:" *";
    color:red;
}

.custom-element-ninja-hide{
    visibility:hidden;
}

.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

#body.loaded.fadein {
    opacity: 1;
}


/*************************************** PAGE SUBMIT COVER ***************************************/
.loading-cover-box{
    /*position:fixed;*/
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    opacity:0.3;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/*************************************** LOADER FIELD ***************************************/

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f7941e;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  opacity:1;
  z-index:5;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.blur{
	/*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;*/
}


/*************************************** PAGE SMOOTH TRANSITION/ANIMATION ***************************************/
/*.custom-image-background {*/
#myDiv.container.body-content {
    /*Fade In*/
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*************************************** NEW FORM LAYOUT ***************************************/

.text-danger {
    color: #ff0500;
    text-shadow: 0px 0px 4px #900000;
}

.form-control:focus {
    border-color: #f18f00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 169, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 169, 102, 0.6);
}

#myDiv.container.body-content {
    background-color: rgba(0,0,0,0.8);
    padding: 4%;
    margin-top: 135px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 0px;
}

.custom-form-box label{
    color: white;
    font-weight:400;
}

input.input-validation-error {
    border: 1px solid #e40400;
    box-shadow: 0px 0px 10px -2px #a50000;
}

.custom-form-box {
    background: transparent;
    box-shadow: none;
    color: orange;

    /*padding:30px;
    margin-bottom: 60px;*/

}


/*************************************** PREMIUM PAGE LAYOUT ***************************************/
.premium-details-box {
    width:50%;
    float:left;
    color:white;
}

.premium-calc-box {
    width: 50%; 
    float: left; 
    border: 1px solid; 
    padding: 42px;
    font-size: 16px;
}

.premium-value {
    border-top:1px solid;
    padding-top:15px;
}





/*************************************** LOCATION/SITUATION FORM TABS ***************************************/
