﻿@model CoverBuilder.Entities.ViewModels.GenericInfoViewModels

@{
    //int UserID = ViewBag.GenericUserID;
}

    @Html.Label("Please provide full details of the event")
    @Html.Hidden("model[1].QuestionId", "164", new { @id = "model[1].QuestionId" })
    @Html.TextArea("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required", onclick = "javascript:validatefield();" })
    @Html.ValidationMessage("model[1].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Please advise number of days cover is required for (including Bump-In and Bump-Out Days)")
    @Html.Hidden("model[2].QuestionId", "161", new { @id = "model[2].QuestionId" })
    @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required", onclick = "javascript:validatefield();", @type = "number" , min="0"})
    @Html.ValidationMessage("model[2].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Estimated Turnover")
    <div class="input-symbol-dollar">
        @Html.Hidden("model[3].QuestionId", "162", new { @id = "model[3].QuestionId" })
        @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required", onclick = "javascript:validatefield();", @type = "number", min="0" })
        @Html.ValidationMessage("model[3].Response", "*This is a required field", new { @class = "text-danger" })
    </div>
    <br />

    @Html.Label("Estimated Attendees Per Day")
    @Html.Hidden("model[4].QuestionId", "165", new { @id = "model[4].QuestionId" })
    @Html.DropDownList("model[4].Response", new SelectList((List<SelectListItem>)ViewData["EventOrganiserQ165"], "Value", "Text"), "Select One", new { @class = "form-control", required = "required" })
    @Html.ValidationMessage("model[4].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Number of Stalls")
    @Html.Hidden("model[5].QuestionId", "166", new { @id = "model[5].QuestionId" })
    @Html.TextBox("model[5].Response", null, new { @class = "form-control", @id = "model[5].Response", required = "required", onclick = "javascript:validatefield();", @type = "number", min = "0" })
    @Html.ValidationMessage("model[5].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Is cover required for Stall Holders Liability?")
    @Html.Hidden("model[6].QuestionId", "167", new { @id = "model[6].QuestionId" })
    <br />
    Yes @Html.RadioButton("model[6].Response", "Yes", new { @id = "model[6].Response", required = "required" })
    No  @Html.RadioButton("model[6].Response", "No", new { @id = "model[6].Response", required = "required" })
    <br />
    @Html.ValidationMessage("model[6].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Do all third party service providers (i.e. Entertainers, Performers, Security etc) carry their own Liability Insurance?")
    @Html.Hidden("model[7].QuestionId", "168", new { @id = "model[7].QuestionId" })
    <br />
    Yes @Html.RadioButton("model[7].Response", "Yes", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId171(true);", required = "required" })
    No  @Html.RadioButton("model[7].Response", "No", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId171(false);", required = "required" })
    <br />
    @Html.ValidationMessage("model[7].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    <div id="childOfParentId168" style="display:none;">
        @Html.Label("If No, please provide additional details")
        @Html.Hidden("model[8].QuestionId", "171", new { @id = "model[8].QuestionId" })
        @Html.TextArea("model[8].Response", null, new { @class = "form-control", @id = "model[8].Response", required = "required", onclick = "javascript:validatefield();" })
        @Html.ValidationMessage("model[8].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
    </div>
    
    @Html.Label("Event Cancellation / Non-Appearance Cover")
    @Html.Hidden("model[9].QuestionId", "169", new { @id = "model[9].QuestionId" })
    @Html.DropDownList("model[9].Response", new SelectList((List<SelectListItem>)ViewData["EventOrganiserQ169"], "Value", "Text"), "Select One", new { @class = "form-control", required = "required" })
    @Html.ValidationMessage("model[9].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    
    @Html.Label("Will the event have any of the following?")
    @Html.Hidden("model[10].QuestionId", "170", new { @id = "model[10].QuestionId" })
    @Html.Hidden("model[10].Response", null, new { @class = "form-control", @id = "model[10].Response" })
    <br />
    <div id="Q170itemContainer">
    @foreach (SelectListItem item in (SelectList)ViewBag.EventOrganiserQ170)
    {
        @Html.CheckBox("EventOrganiserQ170" + item.Value, new { value = item.Value, text = item.Text, id = "EventOrganiserQ170", onclick = "javascript:EventOrganiserQ170Click();" }) <text>@item.Text</Text>
        <br />
    }
    </div>
    @Html.ValidationMessage("model[10].Response", "Please check atleast one item!", new { @class = "text-danger" })

    <br /><br />

    <p class="comment-style">Comments</p>
    @Html.Hidden("model[11].QuestionId", "163", new { @id = "model[11].QuestionId" })
    @Html.TextArea("model[11].Response", null, new { @class = "form-control", @id = "model[11].Response", required = "required", onclick = "javascript:validatefield();" })
    @Html.ValidationMessage("model[11].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

