﻿@model CoverBuilder.Entities.ViewModels.GenericInfoViewModels

@{
    int UserID = ViewBag.GenericUserID;
}

    @Html.Label("Please provide full details of all activities undertaken by the Insured")
    @Html.Hidden("model[1].UserInfoId", UserID, new { @id = "model[1].UserInfoId" })
    @Html.Hidden("model[1].QuestionId", "160", new { @id = "model[1].QuestionId" })
    @Html.TextArea("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required", onclick = "javascript:validatefield();" })
    @Html.ValidationMessage("model[1].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Please advise number of days cover is required for (including Bump-In and Bump-Out Days)")
    @Html.Hidden("model[2].UserInfoId", UserID, new { @id = "model[2].UserInfoId" })
    @Html.Hidden("model[2].QuestionId", "161", new { @id = "model[2].QuestionId" })
    @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required", onclick = "javascript:validatefield();", @type = "number", min = "0" })
    @Html.ValidationMessage("model[2].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Estimated Turnover")
    <div class="input-symbol-dollar">
        @Html.Hidden("model[3].UserInfoId", UserID, new { @id = "model[3].UserInfoId" })
        @Html.Hidden("model[3].QuestionId", "162", new { @id = "model[3].QuestionId" })
        @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required", onclick = "javascript:validatefield();", @type = "number", min = "0" })
        @Html.ValidationMessage("model[3].Response", "*This is a required field", new { @class = "text-danger" })
    </div>
    <br /><br />

    <p class="comment-style">Comments</p>
    @Html.Hidden("model[4].UserInfoId", UserID, new { @id = "model[4].UserInfoId" })
    @Html.Hidden("model[4].QuestionId", "163", new { @id = "model[4].QuestionId" })
    @Html.TextArea("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response", required = "required", onclick = "javascript:validatefield();" })
    @Html.ValidationMessage("model[4].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

