﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@
<table class="w-100">
    <tr>
        <td class="w-30" style="vertical-align: top;">
            <p style="color:white;">Market Address</p>
        </td>
        <td class="w-70">
            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Street Number")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].GroupId, new { @id = "model.LiabilityInsuranceListResult[10].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "229" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Street Name")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].GroupId, new { @id = "model.LiabilityInsuranceListResult[11].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "230" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[11].Response", required = "required" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Suburb")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].GroupId, new { @id = "model.LiabilityInsuranceListResult[12].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "231" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market State")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].GroupId, new { @id = "model.LiabilityInsuranceListResult[13].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "232" })
                        @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[13].Response, Model.StateList, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Post Code")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].GroupId, new { @id = "model.LiabilityInsuranceListResult[14].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "233" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control post-code", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required", placeholder = "1234" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />

@*Dropdown*@
@Html.Label("Cover Required")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "234" })
@Html.DropDownListFor(m => m.LiabilityInsuranceListResult[15].Response, Model.AccommodationCoverRequired, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger  " })
<br />

@Html.Label("Please provide full details of all activities to be insured under the event")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "21" })
@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Estimated number of attendees per day")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "269" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Event times")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "269" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Event Ticket Price")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "269" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Is the Event")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "234" })
@Html.DropDownListFor(m => m.LiabilityInsuranceListResult[15].Response, Model.AccommodationIndoorOutdoor, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger  " })
<br />

@Html.Label("Number of Food Stalls")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "269" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Number of Market Stalls")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "269" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Do all Stall Holders hold their own Insurance?")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "14" })
<br />
Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Annual Turnover")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "2" })
<div class="input-symbol-dollar">
    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
</div>
@Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Years in Business")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "269" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Number of Employees")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "1" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control NumberOfRooms", @type = "number", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Annual Wages")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "2" })
<div class="input-symbol-dollar">
    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
</div>
@Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
<br />


Please advise if your event will have any of the following:
@*CheckBox*@
@Html.Label("Please advise if your event will have any of the following:")
<br />
<div id="CheckboxAccommodationUsedContainer">
    @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
    {
        @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxAccommodationUsed" })
        @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxAccommodationUsed" })
        if (Model.CheckboxReferenceLookup[i].Text.TrimEnd() == "NONE OF THE ABOVE")
        {
            @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationUsed", onclick = "javascript:NoneOfTheAbove();" })
        }
        else
        {
            @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationUsed", onclick = "javascript:UncheckNoneOfTheAbove();" })
        }
        <span>@Model.CheckboxReferenceLookup[i].Text</span>
        <br />
    }
</div>
@Html.ValidationMessage("CheckboxAccommodationUsedValidation", "Please check atleast one item", new { @class = "text-danger" })
<br />

<br />
@*ParentChildD*@
@Html.Label("Will you be serving, selling or supplying alcohol at your event?")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "14" })
<br />
Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
<br />
<br />

<div id="ChildD" style="display:none;">
    @Html.Label("Who is selling the alcohol")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "20" })
    <div class="input-symbol-dollar">
        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control child-a", @type = "number", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
    </div>
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Do they have their own liability insurance?")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "21" })
    @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Do they have the appropriate liquor license?")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "274" })
    <br />
    Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
    No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    <br />
</div>


@*ParentChildA*@
@Html.Label("Are Sub-Contractors used?")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "14" })
<br />
    Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
    No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    <br />

    <div id="ChildA" style="display:none;">
        @Html.Label("Total Amount paid to Sub Contractors")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "20" })
        <div class="input-symbol-dollar">
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control child-a", @type = "number", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
        </div>
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
        <br />

        @Html.Label("Activities Performed by Sub Contractors")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "21" })
        @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        @Html.Label("Do Sub Contractors hold their own Insurance?")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "274" })
        <br />
        Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
        No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />
    </div>

@*ParentChildB*@
@Html.Label("Are Labour Hire Personnel used?")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "15" })
<br />
Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[6].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildB(true);", @class = "IsCheckedHirePersonnel" })
No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[6].Response, "No", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
<br />
<br />

<div id="ChildB" style="display:none;">
    @Html.Label("Total Amount paid to Labour Hire Personnel")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "22" })
    <div class="input-symbol-dollar">
        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control child-b", @type = "number", @id = "model.LiabilityInsuranceListResult[7].Response" })
    </div>
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Activities Performed by Labour Hire")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "23" })
    @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[8].Response" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    @Html.Label("Do Labour Hire hold their own Insurance?")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "275" })
    <br />
    Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[18].Response", @class = "child-b", required = "required" })
    No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "No", new { @id = "model.LiabilityInsuranceListResult[18].Response", @class = "child-b", required = "required" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    <br />
</div>


@*ParentChildC*@
@Html.Label("Are there any Contractual or Hold Harmless Agreements?")
@Html.Hidden("model.LiabilityInsuranceListResult[10].QuestionId", "17", new { @id = "model.LiabilityInsuranceListResult[10].QuestionId" })
<br />
Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", onclick = "javascript:DisplayChildC(true);", @class = "IsCheckedHoldHarmlessAgreements" })
No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", onclick = "javascript:DisplayChildC(false);", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
<br />
<br />

<div id="ChildC" style="display:none;">
    @Html.Label("If yes, please provide full details:")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "241" })
    @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[16].Response, new { @id = "model.LiabilityInsuranceListResult[16].Response", @class = "form-control child-c" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
</div>

<p class="comment-style">Comments</p>
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "8" })
@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control comment-box-validation", @id = "model.LiabilityInsuranceListResult[9].Response" })

