﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Budget Accommodation";
}

<br />
<h2 class="">Budget Accommodation</h2>

<br />
<div class="custom-content-desc">
    @*<p>Fill up the details as required so we can provide the perfect quotation just for you</p>*@
    <p>Please provide the following underwriting information: </p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "BudgetAccommodationForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-6">
    <div class="custom-form-box">
        @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id="hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

        @Html.Label("Number of Rooms")
        
        @Html.Hidden("model.LiabilityInsuranceListResult[0].QuestionId", "1", new { @id = "model.LiabilityInsuranceListResult[0].QuestionId" })
            @Html.TextBox("model.LiabilityInsuranceListResult[0].Response", null, new { @class = "form-control NumberOfRooms", @type = "number", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
        <br />

        @Html.Label("Annual Turnover")
        @Html.Hidden("model.LiabilityInsuranceListResult[1].QuestionId", "2", new { @id = "model.LiabilityInsuranceListResult[1].QuestionId" })
        <div class="input-symbol-dollar">
            @Html.TextBox("model.LiabilityInsuranceListResult[1].Response", null, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
        </div>
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
        <br />

        @Html.Label("Does the premises have a Licensed Bar?")
        @Html.Hidden("model.LiabilityInsuranceListResult[2].QuestionId", "3", new { @id = "model.LiabilityInsuranceListResult[2].QuestionId" })
        <br />
        Yes @Html.RadioButton("model.LiabilityInsuranceListResult[2].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[2].Response", @class="option-referral IsCheckedLicensedBar", required = "required" })
        No  @Html.RadioButton("model.LiabilityInsuranceListResult[2].Response", "No", new { @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("Is Property Owners Liability required?")
        @Html.Hidden("model.LiabilityInsuranceListResult[3].QuestionId", "4", new { @id = "model.LiabilityInsuranceListResult[3].QuestionId" })
        <br />
        Yes @Html.RadioButton("model.LiabilityInsuranceListResult[3].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
        No  @Html.RadioButton("model.LiabilityInsuranceListResult[3].Response", "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("Does the premises have hardwired smoke detectors?")
        @Html.Hidden("model.LiabilityInsuranceListResult[4].QuestionId", "5", new { @id = "model.LiabilityInsuranceListResult[4].QuestionId" })
        <br />
        Yes @Html.RadioButton("model.LiabilityInsuranceListResult[4].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
        No  @Html.RadioButton("model.LiabilityInsuranceListResult[4].Response", "No", new { @id = "model.LiabilityInsuranceListResult[4].Response", @class = "option-referral IsCheckedSmokeDetectors", required = "required" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />


        @Html.Label("Does the premises have any sporting facilities?")
        @Html.Hidden("model.LiabilityInsuranceListResult[5].QuestionId", "6", new { @id = "model.LiabilityInsuranceListResult[5].QuestionId" })
        <br />
        Yes @Html.RadioButton("model.LiabilityInsuranceListResult[5].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", @class = "option-referral IsCheckedSportingFacilities", onclick = "javascript:DisplayChildA(true);" })
        No  @Html.RadioButton("model.LiabilityInsuranceListResult[5].Response", "No", new { @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />
        
        <div id="ChildA" style="display:none;">
            @Html.Label("If Yes, please provide full details")
            @Html.Hidden("model.LiabilityInsuranceListResult[6].QuestionId", "9", new { @id = "model.LiabilityInsuranceListResult[6].QuestionId" })
            @Html.TextArea("model.LiabilityInsuranceListResult[6].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[6].Response" })
            <br />
        </div>


        @Html.Label("Does the premises provide Accommodation for occupants who have an intellectual or physical disabilty?")
        @Html.Hidden("model.LiabilityInsuranceListResult[7].QuestionId", "7", new { @id = "model.LiabilityInsuranceListResult[7].QuestionId" })
        <br />
        Yes @Html.RadioButton("model.LiabilityInsuranceListResult[7].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", @class = "option-referral IsCheckedAccommodationForDisabled", onclick = "javascript:DisplayChildB(true);" })
        No  @Html.RadioButton("model.LiabilityInsuranceListResult[7].Response", "No", new { @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />

        <div id="ChildB" style="display:none;">
            @Html.Label("If Yes, please provide full details")
            @Html.Hidden("model.LiabilityInsuranceListResult[8].QuestionId", "10", new { @id = "model.LiabilityInsuranceListResult[8].QuestionId" })
            @Html.TextArea("model.LiabilityInsuranceListResult[8].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[8].Response" })
            <br />
        </div>


        @Html.Label("Comments")
        @Html.Hidden("model.LiabilityInsuranceListResult[9].QuestionId", "8", new { @id = "model.LiabilityInsuranceListResult[9].QuestionId" })
            @Html.TextArea("model.LiabilityInsuranceListResult[9].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
        <br />

        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

    </div>
</div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-1');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {

        }
        
        $(document).ready(function () {

            //Process Form On Click
            $("#btnProceed").click(function (e) {
                e.preventDefault();

                //Check if there are still validations
                if ($('.invalid-error').length > 0) {
                    return alert("Please fill up the required fields before submitting the form")
                }
               
                //Set Referral Flags
                if ($('.option-referral:radio:checked').length > 0) {
                    $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
                }

                //Show loader on successful form submit
                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });

                //Call Trigger Writer Function
                $('#hdnHasReferral').val(CheckIfHasReferral());

                //Submit Form
                $("#BudgetAccommodationForm").attr("action", "@Url.Action(Cover.Quotation.BudgetAccommodation())").submit();
            });
        });

        //Popup Questions
        function DisplayChildA(bool) {
            if (bool == true) {
                $('#ChildA').css('display', 'block');
            }
            else {
                $('#ChildA').css('display', 'none');
            }
        }

        function DisplayChildB(bool) {
            if (bool == true) {
                $('#ChildB').css('display', 'block');
            }
            else {
                $('#ChildB').css('display', 'none');
            }
        }


        //Validations
        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });


        //List out Triggered Fields (Referral to Underwriter)
        function CheckIfHasReferral() {

            //Questions with Triggers
            var NumberOfRooms = $('.NumberOfRooms').val();
            var AnnualTurnover = $('.AnnualTurnover').val();
            var IsCheckedLicensedBar = $('.IsCheckedLicensedBar:checked').length;
            var IsCheckedSmokeDetectors = $('.IsCheckedSmokeDetectors:checked').length;
            var IsCheckedSportingFacilities = $('.IsCheckedSportingFacilities:checked').length;
            var IsCheckedAccommodationForDisabled = $('.IsCheckedAccommodationForDisabled:checked').length;
            
            //Function Variables
            var ctr = 0;
            var hasReferral = false;

            //Append Hidden Record for Triggers
            if (NumberOfRooms > 50) {
                $('<input id="model.LiabilityInsuranceListResult[0].IsTriggered" name="model.LiabilityInsuranceListResult[0].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (AnnualTurnover > 2500000) {
                $('<input id="model.LiabilityInsuranceListResult[1].IsTriggered" name="model.LiabilityInsuranceListResult[1].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedLicensedBar > 0) {

                $('<input id="model.LiabilityInsuranceListResult[2].IsTriggered" name="model.LiabilityInsuranceListResult[2].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSmokeDetectors > 0) {
                $('<input id="model.LiabilityInsuranceListResult[4].IsTriggered" name="model.LiabilityInsuranceListResult[4].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSportingFacilities > 0) {
                $('<input id="model.LiabilityInsuranceListResult[5].IsTriggered" name="model.LiabilityInsuranceListResult[5].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedAccommodationForDisabled > 0) {
                $('<input id="model.LiabilityInsuranceListResult[7].IsTriggered" name="model.LiabilityInsuranceListResult[7].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            return hasReferral;

        };


    </script>
}