﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Cleaners";
}

<br />
<h2 class="">Cleaners</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "CleanersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            @*CheckBox*@
            @Html.Label("Please select ALL activities performed")
            <br />

            <div id="CheckBoxGroupContainer">
            <p>Group 1</p>
                @foreach (SelectListItem item in (List<SelectListItem>)ViewBag.CheckBoxListGroup1)
                {
                    @Html.Hidden("model.CleanersModelCheckBoxGroup1[" + (Convert.ToInt32(item.Value) - 1) + "].Text", item.Text)
                    @Html.Hidden("model.CleanersModelCheckBoxGroup1[" + (Convert.ToInt32(item.Value) - 1) + "].Value", item.Value)
                    @Html.CheckBox("model.CleanersModelCheckBoxGroup1[" + (Convert.ToInt32(item.Value) - 1) + "].Selected", item.Selected, new { @id = "CheckBoxGroupResponse" })
                    <span>@item.Text</span>
                    <br />
                }
                <br /><p>Group 2</p>
                @foreach (SelectListItem item in (List<SelectListItem>)ViewBag.CheckBoxListGroup2)
                {
                    @Html.Hidden("model.CleanersModelCheckBoxGroup2[" + (Convert.ToInt32(item.Value) - 1) + "].Text", item.Text)
                    @Html.Hidden("model.CleanersModelCheckBoxGroup2[" + (Convert.ToInt32(item.Value) - 1) + "].Value", item.Value)
                    @Html.CheckBox("model.CleanersModelCheckBoxGroup2[" + (Convert.ToInt32(item.Value) - 1) + "].Selected", item.Selected, new { @id = "CheckBoxGroupResponse" })
                    <span>@item.Text</span>
                    <br />
                }
                <br /><p>Group 3</p>
                @foreach (SelectListItem item in (List<SelectListItem>)ViewBag.CheckBoxListGroup3)
                {
                    @Html.Hidden("model.CleanersModelCheckBoxGroup3[" + (Convert.ToInt32(item.Value) - 1) + "].Text", item.Text)
                    @Html.Hidden("model.CleanersModelCheckBoxGroup3[" + (Convert.ToInt32(item.Value) - 1) + "].Value", item.Value)
                    @Html.CheckBox("model.CleanersModelCheckBoxGroup3[" + (Convert.ToInt32(item.Value) - 1) + "].Selected", item.Selected, new { @id = "CheckBoxGroupResponse" })
                    <span>@item.Text</span>
                    <br />
                }
                <br /><p>Group 4</p>
                @foreach (SelectListItem item in (List<SelectListItem>)ViewBag.CheckBoxListGroup4)
                {
                    @Html.Hidden("model.CleanersModelCheckBoxGroup4[" + (Convert.ToInt32(item.Value) - 1) + "].Text", item.Text)
                    @Html.Hidden("model.CleanersModelCheckBoxGroup4[" + (Convert.ToInt32(item.Value) - 1) + "].Value", item.Value)
                    @Html.CheckBox("model.CleanersModelCheckBoxGroup4[" + (Convert.ToInt32(item.Value) - 1) + "].Selected", item.Selected, new { @id = "CheckBoxGroupResponse" })
                    <span>@item.Text</span>
                    <br />
                }    
            </div>
            @Html.ValidationMessage("CheckBoxGroupValidation", "Please check atleast one item!", new { @class = "text-danger" })

            <br />
            @Html.Label("Annual Turnover")
            @Html.Hidden("model.LiabilityInsuranceListResult[1].QuestionId", "12", new { @id = "model.LiabilityInsuranceListResult[1].QuestionId" })
            <div class="input-symbol-dollar">
                @Html.TextBox("model.LiabilityInsuranceListResult[1].Response", null, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
            </div>
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Years in business")
            @Html.Hidden("model.LiabilityInsuranceListResult[2].QuestionId", "13", new { @id = "model.LiabilityInsuranceListResult[2].QuestionId" })
                @Html.TextBox("model.LiabilityInsuranceListResult[2].Response", null, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @*ParentChildA*@
            @Html.Label("Are Sub-Contractors used?")
            @Html.Hidden("model.LiabilityInsuranceListResult[3].QuestionId", "14", new { @id = "model.LiabilityInsuranceListResult[3].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[3].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[3].Response", "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                @Html.Hidden("model.LiabilityInsuranceListResult[4].QuestionId", "20", new { @id = "model.LiabilityInsuranceListResult[4].QuestionId" })
                <div class="input-symbol-dollar">
                    @Html.TextBox("model.LiabilityInsuranceListResult[4].Response", null, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[4].Response" })
                </div>
                <br />

                @Html.Label("Activities Performed by Sub Contractors")
                @Html.Hidden("model.LiabilityInsuranceListResult[5].QuestionId", "21", new { @id = "model.LiabilityInsuranceListResult[5].QuestionId" })
                @Html.TextArea("model.LiabilityInsuranceListResult[5].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[5].Response" })
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Are Labour Hire Personnel used?")
            @Html.Hidden("model.LiabilityInsuranceListResult[6].QuestionId", "15", new { @id = "model.LiabilityInsuranceListResult[6].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[6].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildB(true);", @class = "IsCheckedHirePersonnel"})
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[6].Response", "No", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personal")
                @Html.Hidden("model.LiabilityInsuranceListResult[7].QuestionId", "22", new { @id = "model.LiabilityInsuranceListResult[7].QuestionId" })
                <div class="input-symbol-dollar">
                    @Html.TextBox("model.LiabilityInsuranceListResult[7].Response", null, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[7].Response" })
                </div>
                <br />

                @Html.Label("Activities Performed by Labour Hire")
                @Html.Hidden("model.LiabilityInsuranceListResult[8].QuestionId", "23", new { @id = "model.LiabilityInsuranceListResult[8].QuestionId" })
                @Html.TextArea("model.LiabilityInsuranceListResult[8].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[8].Response" })
                <br />
            </div>

            @*DropdownA*@
            @Html.Label("Loss of Keys Extension")
            @Html.Hidden("model.LiabilityInsuranceListResult[9].QuestionId", "16", new { @id = "model.LiabilityInsuranceListResult[9].QuestionId" })
            <div class="input-symbol-dollar">
                @Html.DropDownList("model.LiabilityInsuranceListResult[9].Response", new SelectList((List<SelectListItem>)ViewData["DropDownValue"], "Value", "Text"), new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
            </div>
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
            <br />


            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.Hidden("model.LiabilityInsuranceListResult[10].QuestionId", "17", new { @id = "model.LiabilityInsuranceListResult[10].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[10].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", @class = "IsCheckedHoldHarmlessAgreements" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[10].Response", "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @*CheckBox*@
            @Html.Label("Are any of the following activities or services to be included?")
            @*@Html.Hidden("model.LiabilityInsuranceListResult[11].UserInfoId", UserID, new { @id = "model.LiabilityInsuranceListResult[11].UserInfoId" })
            @Html.Hidden("model.LiabilityInsuranceListResult[11].QuestionId", "18", new { @id = "model.LiabilityInsuranceListResult[11].QuestionId" })
            @Html.Hidden("model.LiabilityInsuranceListResult[11].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[11].Response"})*@
            <br />
            <div id="CheckBoxIncludedActivitiesContainer">

                @foreach (SelectListItem item in (List<SelectListItem>)ViewBag.CheckBoxIncludedActivities)
                {
                    @Html.Hidden("model.CleanersModelCheckBoxIncludedActivities[" + (Convert.ToInt32(item.Value) - 1) + "].Text", item.Text)
                    @Html.Hidden("model.CleanersModelCheckBoxIncludedActivities[" + (Convert.ToInt32(item.Value) - 1) + "].Value", item.Value)
                    
                    if (item.Text == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBox("model.CleanersModelCheckBoxIncludedActivities[" + (Convert.ToInt32(item.Value) - 1) + "].Selected", item.Selected, new { @id = "CheckBoxIncludedActivitiesResponse", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    { 
                        @Html.CheckBox("model.CleanersModelCheckBoxIncludedActivities[" + (Convert.ToInt32(item.Value) - 1) + "].Selected", item.Selected, new { @id = "CheckBoxIncludedActivitiesResponse" })
                    }
                    
                    <span>@item.Text</span>
                    <br />
                }

            </div>
            @Html.ValidationMessage("CheckBoxIncludedActivitiesValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @Html.Label("Comments")
            @Html.Hidden("model.LiabilityInsuranceListResult[0].QuestionId", "19", new { @id = "model.LiabilityInsuranceListResult[0].QuestionId" })
            @Html.TextArea("model.LiabilityInsuranceListResult[0].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-2');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {

        }

        $(document).ready(function () {

            //Process Form On Click
            $("#btnProceed").click(function (e) {
                e.preventDefault();

                //Check if there are still validations
                if ($('.invalid-error').length > 0) {
                    return alert("Please fill up the required fields before submitting the form")
                }

                ////***************************** ACTIVITIES INCLUDED CHECKBOX *****************************
                ////Concatenate and Get Checkbox Data
                //var length = $('[type="checkbox"][name^="CheckBoxAResponse"]').length;
                //var strCon = "";
                //var strValid = "0";

                ////debugger
                //for (var ctr = 0; ctr < length; ctr++) {
                //    if ($('[type="checkbox"][name^="CheckBoxAResponse"]')[ctr].checked) {
                //        strCon = strCon + ctr.toString() + "=true;";
                //        strValid = "1";
                //    }
                //    else {
                //        strCon = strCon + ctr.toString() + "=false;";
                //    }
                //}
                
                ////Validate Checkbox Upon Submission
                //if (strValid == "0") {
                //    $('#CheckBoxAContainer').addClass('ValidateContainer');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').addClass('invalid-error');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').css('display', 'block');
                //    return;
                //}
                //else {
                //    $('#CheckBoxAContainer').removeClass('ValidateContainer');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').removeClass('invalid-error');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').css('display', 'none');
                //}

                ////Store Checkbox Data
                //document.getElementById("model.LiabilityInsuranceListResult[11].Response").value = strCon;
                ////***************************** END OF ACTIVITIES INCLUDED CHECKBOX *****************************

                ////***************************** ACTIVITIES PERFORMED CHECKBOX *****************************
                //length = $('[type="checkbox"][name^="CheckBoxGroupResponse"]').length;
                //strCon = "";
                //var strValidatePerform = "0";

                //for (var ctr = 0; ctr < length; ctr++) {
                //    if ($('[type="checkbox"][name^="CheckBoxGroupResponse"]')[ctr].checked) {
                //        strCon = strCon + ctr.toString() + "=true;";
                //        strValidatePerform = "1";
                //    }
                //    else {
                //        strCon = strCon + ctr.toString() + "=false;";
                //    }
                //}

                ////Validate Checkbox Upon Submission
                //if (strValidatePerform == "0") {
                //    $('#CheckBoxGroupContainer').addClass('ValidateContainer');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').addClass('invalid-error');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').css('display', 'block');
                //    return;
                //}
                //else {
                //    $('#CheckBoxGroupContainer').removeClass('ValidateContainer');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').removeClass('invalid-error');
                //    $('[data-valmsg-for="model.LiabilityInsuranceListResult[11].Response"]').css('display', 'none');
                //}

                ////Store Checkbox Data
                //document.getElementById("model.LiabilityInsuranceListResult[0].Response").value = strCon;
                ////***************************** END OF ACTIVITIES PERFORMED CHECKBOX *****************************


                //Validate the whole form ; Show Loader on success
                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });

                //Call Trigger Writer Function
                $('#hdnHasReferral').val(CheckIfHasReferral());

                //Submit Form
                $("#CleanersForm").attr("action", "@Url.Action(Cover.Quotation.Cleaners())").submit();
                
            });
        });


        //Popup Questions
        function DisplayChildA(bool) {
            if (bool == true) {
                $('#ChildA').css('display', 'block');
            }
            else {
                $('#ChildA').css('display', 'none');
            }
        }

        function DisplayChildB(bool) {
            if (bool == true) {
                $('#ChildB').css('display', 'block');
            }
            else {
                $('#ChildB').css('display', 'none');
            }
        }


        //Validate Checkbox Group
        $('[id="CheckBoxGroupResponse"]').change(function () {

            var length = $('[type="checkbox"][id="CheckBoxGroupResponse"]').length;
            for (var ctr = 0; ctr < length; ctr++) {

                if ($('[type="checkbox"][id="CheckBoxGroupResponse"]')[ctr].checked) {
                    $('#CheckBoxGroupContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="CheckBoxGroupValidation"]').removeClass('invalid-error');
                    $('[data-valmsg-for="CheckBoxGroupValidation"]').css('display', 'none');
                    return;
                }
            }
            $('#CheckBoxGroupContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="CheckBoxGroupValidation"]').addClass('invalid-error');
            $('[data-valmsg-for="CheckBoxGroupValidation"]').css('display', 'block');
        });


        //Validate Checkbox Included Activities
        $('[id="CheckBoxIncludedActivitiesResponse"]').change(function () {

            var length = $('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]').length;
            for (var ctr = 0; ctr < length; ctr++) {

                if ($('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]')[ctr].checked) {
                    $('#CheckBoxIncludedActivitiesContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').removeClass('invalid-error');
                    $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').css('display', 'none');
                    return;
                }
            }
            $('#CheckBoxIncludedActivitiesContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').addClass('invalid-error');
            $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').css('display', 'block');
        });


        //Clear Checkbox if checked none of the above
        function NoneOfTheAbove() {
            var length = $('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]')[ctr]).prop('checked', false)
            }
        }


        //Validations
        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });

        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });

        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }

        });


        //List out Triggered Fields (Referral to Underwriter)
        function CheckIfHasReferral() {

            //Questions with Triggers
            var AnnualTurnover = $('.AnnualTurnover').val();
            var IsCheckedSubContractors = $('.IsCheckedSubContractors:checked').length;
            var IsCheckedHirePersonnel = $('.IsCheckedHirePersonnel:checked').length;
            var IsCheckedHoldHarmlessAgreements = $('.IsCheckedHoldHarmlessAgreements:checked').length;
            //var IsCheckedIncludedActivities = $('#CheckBoxIncludedActivitiesResponse:checked').length

            //Function Variables
            var ctr = 0;
            var hasReferral = false;

            //Append Hidden Record for Triggers

            if (AnnualTurnover > 1000000) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.trigger[' + ctr + ']" type="hidden" value="12">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSubContractors > 0) {

                $('<input id="model.Trigger[' + ctr + ']" name="model.Trigger[' + ctr + ']" type="hidden" value="14">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedHirePersonnel > 0) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.Trigger[' + ctr + ']" type="hidden" value="15">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedHoldHarmlessAgreements > 0) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.Trigger[' + ctr + ']" type="hidden" value="17">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            //if (IsCheckedIncludedActivities > 0) {
            //    $('<input id="model.Trigger[' + ctr + ']" name="model.Trigger[' + ctr + ']" type="hidden" value="18">').insertBefore('.custom-form-box');
            //    ctr++;
            //    hasReferral = true;
            //}

            return hasReferral;

        };

    </script>
}