﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Motels and B&B's";
}

<br />
<h2 class="">Motels and B&B's</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "MotelsAndBBForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-6">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            @Html.Label("Number of Rooms")
            @Html.Hidden("model.LiabilityInsuranceListResult[0].QuestionId", "24", new { @id = "model.LiabilityInsuranceListResult[0].QuestionId" })
                @Html.TextBox("model.LiabilityInsuranceListResult[0].Response", null, new { @class = "form-control NumberOfRooms", @type = "number", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            @Html.Hidden("model.LiabilityInsuranceListResult[1].QuestionId", "25", new { @id = "model.LiabilityInsuranceListResult[1].QuestionId" })
            <div class="input-symbol-dollar">
                @Html.TextBox("model.LiabilityInsuranceListResult[1].Response", null, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
            </div>
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Years in business")
            @Html.Hidden("model.LiabilityInsuranceListResult[2].QuestionId", "26", new { @id = "model.LiabilityInsuranceListResult[2].QuestionId" })
                @Html.TextBox("model.LiabilityInsuranceListResult[2].Response", null, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Does the premises have a Licensed Restaurant?")
            @Html.Hidden("model.LiabilityInsuranceListResult[3].QuestionId", "27", new { @id = "model.LiabilityInsuranceListResult[3].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[3].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[3].Response", "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Is Property Owners Liability required?")
            @Html.Hidden("model.LiabilityInsuranceListResult[4].QuestionId", "28", new { @id = "model.LiabilityInsuranceListResult[4].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[4].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[4].Response", "No", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Does the premises have hardwired smoke detectors?")
            @Html.Hidden("model.LiabilityInsuranceListResult[5].QuestionId", "29", new { @id = "model.LiabilityInsuranceListResult[5].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[5].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[5].Response", "No", new { @id = "model.LiabilityInsuranceListResult[5].Response", @class = "option-referral IsCheckedSmokeDetectors", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @*ParentChildA*@
            @Html.Label("Does the premises have any sporting facilities?")
            @Html.Hidden("model.LiabilityInsuranceListResult[6].QuestionId", "30", new { @id = "model.LiabilityInsuranceListResult[6].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[6].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", @class = "option-referral IsCheckedSportingFacilities", onclick = "javascript:DisplayChildA(true);" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[6].Response", "No", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.Hidden("model.LiabilityInsuranceListResult[7].QuestionId", "34", new { @id = "model.LiabilityInsuranceListResult[7].QuestionId" })
                @Html.TextArea("model.LiabilityInsuranceListResult[7].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[7].Response" })
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Does the premises have a children’s playground?")
            @Html.Hidden("model.LiabilityInsuranceListResult[8].QuestionId", "156", new { @id = "model.LiabilityInsuranceListResult[8].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[8].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", onclick = "javascript:DisplayChildB(true);" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[8].Response", "No", new { @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.Hidden("model.LiabilityInsuranceListResult[9].QuestionId", "158", new { @id = "model.LiabilityInsuranceListResult[9].QuestionId" })
                @Html.TextArea("model.LiabilityInsuranceListResult[9].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[9].Response" })
                <br />
            </div>

            @*ParentChildC*@
            @Html.Label("Does the premises provide Accommodation for occupants who have an intellectual or physical disabilty?")
            @Html.Hidden("model.LiabilityInsuranceListResult[10].QuestionId", "32", new { @id = "model.LiabilityInsuranceListResult[10].QuestionId" })
            <br />
            Yes @Html.RadioButton("model.LiabilityInsuranceListResult[10].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", @class = "option-referral IsCheckedAccommodationForDisabled", onclick = "javascript:DisplayChildC(true);" })
            No  @Html.RadioButton("model.LiabilityInsuranceListResult[10].Response", "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", onclick = "javascript:DisplayChildC(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildC" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.Hidden("model.LiabilityInsuranceListResult[11].QuestionId", "35", new { @id = "model.LiabilityInsuranceListResult[11].QuestionId" })
                @Html.TextArea("model.LiabilityInsuranceListResult[11].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[11].Response" })
                <br />
            </div>


            @Html.Label("Comments")
            @Html.Hidden("model.LiabilityInsuranceListResult[12].QuestionId", "33", new { @id = "model.LiabilityInsuranceListResult[12].QuestionId" })
                @Html.TextArea("model.LiabilityInsuranceListResult[12].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-3');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            setTimeout(function () {
                var url = '@Url.Action("Thankyou","Home")';
                window.location.href = url;
            }, 1000);
        }

        $(document).ready(function () {

            //Process Form On Click
            $("#btnProceed").click(function (e) {
                e.preventDefault();

                //Check if there are still validations
                if ($('.invalid-error').length > 0) {
                    return alert("Please fill up the required fields before submitting the form")
                }

                //Set Referral Flags
                if ($('.option-referral:radio:checked').length > 0) {
                    $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
                }

                //Show loader on successful form submit
                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });


                //Call Trigger Writer Function
                $('#hdnHasReferral').val(CheckIfHasReferral());

                //Submit Form
                $("#MotelsAndBBForm").attr("action", "@Url.Action(Cover.Quotation.MotelsAndBB())").submit();
            });
        });


        //Popup Questions
        function DisplayChildA(bool) {
            if (bool == true) {
                $('#ChildA').css('display', 'block');
            }
            else {
                $('#ChildA').css('display', 'none');
            }
        }

        function DisplayChildB(bool) {
            if (bool == true) {
                $('#ChildB').css('display', 'block');
            }
            else {
                $('#ChildB').css('display', 'none');
            }
        }

        function DisplayChildC(bool) {
            if (bool == true) {
                $('#ChildC').css('display', 'block');
            }
            else {
                $('#ChildC').css('display', 'none');
            }
        }


        //Validations
        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }

        });

        //List out Triggered Fields (Referral to Underwriter)
        function CheckIfHasReferral() {

            //Questions with Triggers
            var NumberOfRooms = $('.NumberOfRooms').val();
            var AnnualTurnover = $('.AnnualTurnover').val();
            var IsCheckedSmokeDetectors = $('.IsCheckedSmokeDetectors:checked').length;
            var IsCheckedSportingFacilities = $('.IsCheckedSportingFacilities:checked').length;
            var IsCheckedAccommodationForDisabled = $('.IsCheckedAccommodationForDisabled:checked').length;

            //Function Variables
            var ctr = 0;
            var hasReferral = false;

            //Append Hidden Record for Triggers
            if (NumberOfRooms > 50) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.trigger[' + ctr + ']" type="hidden" value="24">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (AnnualTurnover > 2500000) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.trigger[' + ctr + ']" type="hidden" value="25">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSmokeDetectors > 0) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.Trigger[' + ctr + ']" type="hidden" value="29">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSportingFacilities > 0) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.Trigger[' + ctr + ']" type="hidden" value="30">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedAccommodationForDisabled > 0) {
                $('<input id="model.Trigger[' + ctr + ']" name="model.Trigger[' + ctr + ']" type="hidden" value="32">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            return hasReferral;

        };

    </script>
}