﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Restaurants";
}

    
<br />
<h2>Restaurants</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "RestaurantsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-8">
    <div class="custom-form-box">
        @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

        <div class="">
            @Html.Label("Years in Business")
            @Html.Hidden("model.LiabilityInsuranceListResult[0].QuestionId", "36", new { @id = "model.LiabilityInsuranceListResult[0].QuestionId" })
            @Html.TextBox("model.LiabilityInsuranceListResult[0].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "This Years in Business field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="col-lg-3">
            @Html.Label("Turnover Split")
        </div>
        <div class="col-lg-9">
            @Html.Label("Food")
            <div class="input-symbol-dollar">
                @Html.Hidden("model.LiabilityInsuranceListResult[1].QuestionId", "41", new { @id = "model.LiabilityInsuranceListResult[1].QuestionId" })
                @Html.TextBox("model.LiabilityInsuranceListResult[1].Response", null, new { @class = "form-control FoodTurnover", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "This Food field is required!", new { @class = "text-danger" })
            </div>
            @Html.Label("Bar/Alcohol Sales")
            <div class="input-symbol-dollar">
                @Html.Hidden("model.LiabilityInsuranceListResult[2].QuestionId", "42", new { @id = "model.LiabilityInsuranceListResult[2].QuestionId" })
                @Html.TextBox("model.LiabilityInsuranceListResult[2].Response", null, new { @class = "form-control BarTurnover", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "This Bar/Alcohol Sales field is required!", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="">
            @Html.Label("Trading Hours")
            @Html.Hidden("model.LiabilityInsuranceListResult[3].QuestionId", "38", new { @id = "model.LiabilityInsuranceListResult[3].QuestionId" })
            @Html.TextBox("model.LiabilityInsuranceListResult[3].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "This Trading Hours field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="">
            @Html.Label("Seating Capacity")
            @Html.Hidden("model.LiabilityInsuranceListResult[4].QuestionId", "39", new { @id = "model.LiabilityInsuranceListResult[4].QuestionId" })
            @Html.TextBox("model.LiabilityInsuranceListResult[4].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "This Seating Capacity field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="">
            @Html.Label("Comments")
            @Html.Hidden("model.LiabilityInsuranceListResult[5].QuestionId", "40", new { @id = "model.LiabilityInsuranceListResult[5].QuestionId" })
            @Html.TextArea("model.LiabilityInsuranceListResult[5].Response", null, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "This Comments field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

        </div>
</div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-4');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            //alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {

            $("#btnProceed").click(function (e) {
                e.preventDefault();                

                //Set Referral Flags
                if ($('.option-referral:radio:checked').length > 0) {
                    $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
                }

                //Show loader on successful form submit
                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });

                //Call Trigger Writer Function
                $('#hdnHasReferral').val(CheckIfHasReferral());

                //Submit Form
                $("#RestaurantsForm").attr("action", "@Url.Action(Cover.Quotation.Restaurants())").submit();

            });
        });

        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });


        //List out Triggered Fields (Referral to Underwriter)
        function CheckIfHasReferral() {

            //Questions with Triggers
            var FoodTurnover = $('.FoodTurnover').val();
            var BarTurnover = $('.BarTurnover').val();
            var TotalTurnover = parseInt(FoodTurnover) + parseInt(BarTurnover);

            //Function Variables
            var ctr = 0;
            var hasReferral = false;

            //Append Hidden Record for Triggers

            if (TotalTurnover > 5000000) {
                //If Total Turnover is greater than 5 Million
                $('<input id="model.Trigger[' + ctr + ']" name="model.trigger[' + ctr + ']" type="hidden" value="41">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (BarTurnover > FoodTurnover) {
                //If Bar Turnover exceeds 50% of Total Turnover
                $('<input id="model.Trigger[' + ctr + ']" name="model.trigger[' + ctr + ']" type="hidden" value="42">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            return hasReferral;

        };

    @*$("#btnProceed").click(function (e) {
        e.preventDefault();

        //Generate Link
        var url = '@Url.Action("Thankyou", "Home")';
        window.location.href = url;
    });*@

    </script>

}