﻿@model CoverBuilder.Entities.ViewModels.GenericInfoViewModels
@using reCAPTCHA.MVC
@{
    ViewBag.Title = "Welcome to Ryno Insurance Services";
}

<br />
<h2>Get started on your quote</h2>

<br />
<div class="custom-content-desc">
    @*<p>Tell us a bit about yourself so we can provide you with a preliminary quote</p>*@
    <p>Please provide the following information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "GenericInfoForm", @class = "form-horizontal" }))
{
    //Start Form
    @Html.AntiForgeryToken()

    <div class="col-lg-7">
        <div class="custom-form-box">

            <h3>Broker Details</h3>
            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Brokerage Name")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.mGenericInfo.BrokerageName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessage("mGenericInfo.BrokerageName", "*This is a required field", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td class="w-40">
                        @Html.Label("Your Name")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.mGenericInfo.FullName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessage("mGenericInfo.FullName", "*This is a required field", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td class="w-40">
                        @Html.Label("Your Email")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.mGenericInfo.Email, new { @class = "form-control email", required = "required" })
                        @Html.ValidationMessage("mGenericInfo.Email", "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td class="w-40">
                        @Html.Label("Your Phone")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.mGenericInfo.PhoneNo, new { @class = "form-control", required = "required", @type = "number" })
                        @Html.ValidationMessage("mGenericInfo.PhoneNo", "*This is a required field", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>

            <h3>Insured Details</h3>
            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Full Insured Name")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.mGenericInfo.InsuredFullName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessage("mGenericInfo.InsuredFullName", "*This is a required field", new { @class = "text-danger" })
                    </td>
                </tr>

            </table>

            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.TextBoxFor(m => m.mGenericInfo.SituationStreetNo, null, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessage("mGenericInfo.SituationStreetName", "This Comments field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.TextBoxFor(m => m.mGenericInfo.SituationStreetName, null, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessage("mGenericInfo.SituationStreetName", "This Comments field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.TextBoxFor(m => m.mGenericInfo.SituationSuburb, null, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessage("m.mGenericInfo.SituationSuburb", "This Comments field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.DropDownListFor(m => m.mGenericInfo.SituationState, new SelectList((List<CoverBuilder.Entities.Entities.StampTaxRateModel>)ViewData["StampDutyRates"], "Text", "Text"), new { @class = "form-control" })
                                    @Html.ValidationMessage("m.mGenericInfo.SituationState", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.TextBoxFor(m => m.mGenericInfo.SituationPostCode, null, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessage("m.mGenericInfo.SituationPostCode", "This Comments field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Period of Insurance")
                    </td>
                    <td class="w-30">
                        @Html.Label("From")
                        @Html.TextBoxFor(m => m.mGenericInfo.InsurancePeriodFrom, new { @class = "datepickerFrom form-control", required = "required" })
                        @Html.ValidationMessage("mGenericInfo.InsurancePeriodFrom", "*Required", new { @class = "text-danger" })
                    </td>
                    <td class="w-30">
                        @Html.Label("To")
                        @Html.TextBoxFor(m => m.mGenericInfo.InsurancePeriodTo, new { @class = "datepickerTo form-control", required = "required" })
                        @Html.ValidationMessage("mGenericInfo.InsurancePeriodTo", "*Required", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>

            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Limit of Liability")
                    </td>
                    <td class="w-60">
                        <div class="input-symbol-dollar">
                            @Html.DropDownListFor(m => m.mGenericInfo.LiabilityLimit, new SelectList((List<SelectListItem>)ViewData["DropdownValue"], "Text", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessage("mGenericInfo.LiabilityLimit", "*This is a required field", new { @class = "text-danger" })

                        </div>
                    </td>
                </tr>
            </table>

            <h3>Disclosure Information</h3>
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            @Html.Label("Has the insured had any Liability Claims in the last 5 years?")
            <br />
            Yes @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoClaim, "true", new { @class = "trg-referral", onclick = "javascript:DisplayDiscInfoClaimDetail(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoClaim, "false", new { @class = "", onclick = "javascript:DisplayDiscInfoClaimDetail(false);", required = "required" })
            @Html.ValidationMessage("mGenericInfo.DiscInfoClaim", "*This is a required field", new { @class = "text-danger" })

            <br /><br />
            <div id="DiscInfoClaimDetailPopup" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.mGenericInfo.DiscInfoClaimDetail, new { @class = "form-control" })
                <br />
            </div>


            @Html.Label("Has the Insured ever had insurance declined or special terms imposed in the last 5 years?")
            <br />
            Yes @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoDecline, "true", new { @class = "trg-referral", onclick = "javascript:DisplayDiscInfoDeclineDetail(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoDecline, "false", new { @class = "", onclick = "javascript:DisplayDiscInfoDeclineDetail(false);", required = "required" })
            @Html.ValidationMessage("mGenericInfo.DiscInfoDecline", "*This is a required field", new { @class = "text-danger" })

            <br /><br />
            <div id="DiscInfoDeclineDetailPopup" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.mGenericInfo.DiscInfoDeclineDetail, new { @class = "form-control" })
                <br />
            </div>


            @Html.Label("Had an insurer refuse or not invite renewal?")
            <br />
            Yes @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoRenewal, "true", new { @class = "", required = "required" })
            No  @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoRenewal, "false", new { @class = "", required = "required" })
            @Html.ValidationMessage("mGenericInfo.DiscInfoRenewal", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Had a special excess imposed on a policy insurance?")
            <br />
            Yes @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoExcess, "true", new { @class = "", required = "required" })
            No  @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoExcess, "false", new { @class = "", required = "required" })
            @Html.ValidationMessage("mGenericInfo.DiscInfoExcess", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Had a claim rejected under a policy of insurance?")
            <br />
            Yes @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoClaimRejected, "true", new { @class = "", required = "required" })
            No  @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoClaimRejected, "false", new { @class = "", required = "required" })
            @Html.ValidationMessage("mGenericInfo.DiscInfoClaimRejected", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Been declared bankrupt or put into receivership or liquidation?")
            <br />
            Yes @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoBankrupt, "true", new { @class = "", required = "required" })
            No  @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoBankrupt, "false", new { @class = "", required = "required" })
            @Html.ValidationMessage("mGenericInfo.DiscInfoBankrupt", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            @Html.Label("Been charged with or convicted of a criminal offence?")
            <br />
            Yes @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoConvicted, "true", new { @class = "", required = "required" })
            No  @Html.RadioButtonFor(m => m.mGenericInfo.DiscInfoConvicted, "false", new { @class = "", required = "required" })
            @Html.ValidationMessage("mGenericInfo.DiscInfoConvicted", "*This is a required field", new { @class = "text-danger" })
            <br /><br />


            <h3>Underwriting Information</h3>
            @Html.Label("Select Policy Class ")

            @Html.HiddenFor(m => m.InsuranceType) @* Model Placement for Insurance Type Names *@
            @Html.DropDownListFor(m => m.mGenericInfo.InsuranceId, new SelectList((List<SelectListItem>)ViewData["InsuranceTypeList"], "Value", "Text"), new { @class = "form-control" })
            <br />
            <br />
            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")
            <br />

            <div class="">
                <input type="submit" id="btnProceed" value="Continue" class="btn btn-primary" />
            </div>

        </div>
    </div>
    //End Form
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker")
    @*@Scripts.Render("~/bundles/CBPage")*@

    <script type="text/javascript">

        function onBegin(xhr) {
            //ajaxindicatorstart();
        }

        function onComplete(xhr, status) {
            //ajaxindicatorstop();
        }

        function onSuccess(data, status, xhr) {
            //alert('Thank you for sharing us your info!');

            @*successNotify('Simple Survey', xhr.statusText);
        setTimeout(function () {
            var url = '@Url.Action("Cleaners","Quotation")';
            window.location.href = url;
        }, 1000);*@
        }

        //********************************************* On Click/Submit Event [PROCEED] *********************************************
        $("#btnProceed").click(function (e) {
            e.preventDefault();

            //Check if there are still validations
            if ($('.invalid-error').length > 0) {
                return alert("Please fill up the required fields before submitting the form")
            }

            //CAPTCHA VALIDATION
            var validateCptcha = grecaptcha.getResponse();
            if (validateCptcha.length == 0) {
                return false;
            }


            //Validate Referral to Underwriter Triggers
            if ($(".trg-referral").length > 0)
                $(".hdnReferral").val(true);


            //Show Loader if Validation is True
            $("#myDiv").validate({
                success: function (e) {
                    showLoader();
                    //debugger
                },
            });

            //Get Insurance Type Name
            var selectedInsuranceText = $("#mGenericInfo_InsuranceId option:selected").text();
            $("#InsuranceType").val(selectedInsuranceText);

            //Get Data from Form
            $("#GenericInfoForm").attr("action", "@Url.Action(Cover.Home.GenericInfoToDB())").submit();
        });

        //********************************************* End of On Click/Submit Event [PROCEED] *********************************************

        //Modify the background for this page
        $('.custom-image-background').addClass('custom-image-background-0');


        //Datepicker From
        $(".datepickerFrom").datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true,
        }).on('changeDate', function (selectedDate) {
            $('#mGenericInfo_InsurancePeriodFrom').val(selectedDate.date.toLocaleDateString());
            $(".datepickerTo").datepicker('setStartDate', selectedDate.date);

            var toDate = Date.parse($('.datepickerTo').val());
            if (toDate < selectedDate.date) {
                $('.datepickerTo').datepicker('setDate', null);
            }
        });

        //Datepicker To
        $(".datepickerTo").datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true,
            //startDate: new Date(),
        }).on('changeDate', function (selectedDate) {
            $('#mGenericInfo_InsurancePeriodTo').val(selectedDate.date.toLocaleDateString());
            if (selectedDate.date < $('.datepickerFrom').val()) {
                $(this).datepicker('setDate', null);
            }
        });

        //Add Additional Situation Click Event
        $("#addSituation").on("click", function () {
            var situationDiv = $('.situationForm').clone().html();
            $(situationDiv).insertBefore('#addSituation');
        });


        //Display Popups
        function DisplayDiscInfoClaimDetail(bool) {
            if (bool == true) {
                $('#DiscInfoClaimDetailPopup').css('display', 'block');
                $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            }
            else {
                $('#DiscInfoClaimDetailPopup').css('display', 'none');
            }
        }

        function DisplayDiscInfoDeclineDetail(bool) {
            if (bool == true) {
                $('#DiscInfoDeclineDetailPopup').css('display', 'block');
                $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            }
            else {
                $('#DiscInfoDeclineDetailPopup').css('display', 'none');
            }
        }

        //Validations
        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }

        });

    </script>
}