﻿@{
    ViewBag.Title = "Thank you!";
}


<div class="custom-box-container-info">

        @*Catchy Intro Text/Para*@
        <div class="info-page-header">
            <span>Thank you for getting a quotation with Ryno!</span>
        </div>

        <br />
        @*Application Description*@
        <div class="info-page-description">
            <p>Please wait while we arrange an agent to assist you on your quote</p>
        </div>

        <br />
        @*Get Started Button*@
        <div class="info-page-button">
            <input type="button" id="close" value="Exit" class="btn btn-primary" />
        </div>

</div>

@section Scripts {

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-99');
        $('.navbar-inverse.navbar-fixed-top').addClass('custom-element-ninja-hide');
        $('.custom-footer-box').addClass('custom-element-ninja-hide');

        var win = this.self;
        $('#close').click(function () {
            location.href = "http://www.google.com";
            //location.href = "about: blank";
            //win.close();
        })

    </script>

}