﻿@model CoverBuilder.Entities.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Create User Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Create a new user profile</h2>
<br />
<div class="col-lg-7">
    <div class="custom-form-box">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-1 col-md-8 col-md-offset-3">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username or Email" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-8 col-md-offset-3">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-8 col-md-offset-3">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-5">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        }
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/datatables")
    @Styles.Render("~/Content/datatable-styles")

    <script type="text/javascript">

    </script>
}
