﻿@model CoverBuilder.Entities.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

<div id="ModalLogin">
    <div class="container">
        @*<div class="row col-md-4 col-md-offset-4" style="margin-top: 20px">
                <div class="panel panel-default" style="border:0;box-shadow:none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Admin Sign-In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Ajax.BeginForm("", "",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnBegin = "onBegin",
                        OnComplete = "onComplete",
                        OnSuccess = "onSuccess",
                        OnFailure = "onFailure"
                    },
                    new { @id = "AdminLoginForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="btnLogin" class="btn btn-block">Login</button>
                                    </div>
                        }
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top: 10%; margin-bottom: 10%; ">
                <div class="panel panel-default login-panel-box">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size: 16px;font-weight: bold">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        @using (Ajax.BeginForm("", "",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    OnBegin = "onBegin",
                                    OnComplete = "onComplete",
                                    OnSuccess = "onSuccess",
                                    OnFailure = "onFailure"
                                },
                                new { @id = "AdminLoginForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.ValidationSummary(true)
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBoxFor(model => model.UserId, new { @class = "form-control", @placeholder = "Username", @name = "email", @autofocus = "true" })
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @name = "Password", @type = "Password" })
                                </div>
                                <div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.RememberMe)Remember Me
                                        </label>

                                        @*<div class="pull-right">
                                                @Html.ActionLink("Sign Up", "SignUp")
                                            </div>*@
                                    </div>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                @*<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>*@
                                <input id="btnLogin" name="Login" value="Login" type="submit" class="btn btn-lg btn-success btn-block" />
                            </fieldset>
                        }
                    </div>
                </div>
                <br />
                @*<div class="back-to-main-site">
                    @Html.ActionLink("Go back to main quote application > ", "Index", new { area = "", controller = "Home"})
                </div>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');
        });
        

        $(function () {
            $('#btnLogin').click(function (e) {
                e.preventDefault();

                $("#AdminLoginForm").attr("action", "@Url.Action(Cover.Admin.Security.Login())").submit();
            });
        })

    </script>
}