﻿@model CoverBuilder.Entities.ViewModels.GenericInfoViewModels
@{
    ViewBag.Title = "Thank you!";
}
<div class="custom-box-container-info">

    @*Catchy Intro Text/Para*@
    <div class="user-response-page-header">
        <span>Your request to bind cover will be sent to an Underwriter to confirm via email. </span>
    </div>

    <br />
    @*Application Description*@
    <div class="user-response-page-description">
        <p>Please confirm the required Period of Insurance for the policy:</p>
    </div>

    <br />
    @using (Html.BeginForm("AcceptQuote", "Premium", FormMethod.Post))
    {
        <div class="user-response-page-insurance-period">
            <p></p>
            @*<p>@ViewBag.InsurancePeriodFrom to @ViewBag.InsurancePeriodTo</p>*@
            @Html.HiddenFor(m => m.GenericInfo.Id)
            @Html.HiddenFor(m => m.GenericInfo.LeadId)
            @Html.HiddenFor(m => m.GenericInfo.ReferenceNumber)
            <div class="period-form">
                <table>
                    <tr>
                        <td><p>From:   </p></td>
                        <td>
                            @Html.TextBoxFor(m => m.GenericInfo.InsurancePeriodFrom, new { @class = "datepickerFrom form-control", @Value = Model.GenericInfo.InsurancePeriodFrom == null ? String.Empty : Model.GenericInfo.InsurancePeriodFrom.Value.ToString("dd/MM/yyyy"), required = "required", @placeholder = "DD/MM/YYYY" })
                        </td>
                    </tr>
                    <tr>
                        <td><p>To:   </p></td>
                        <td>
                            @Html.TextBoxFor(m => m.GenericInfo.InsurancePeriodTo, new { @class = "datepickerTo form-control", @Value = Model.GenericInfo.InsurancePeriodTo == null ? String.Empty : Model.GenericInfo.InsurancePeriodTo.Value.ToString("dd/MM/yyyy"), required = "required", @placeholder = "DD/MM/YYYY"})
                            @*@Html.TextBoxFor(m => m.GenericInfo.InsurancePeriodTo, new { @class = "datepickerTo form-control", @Value = Model.GenericInfo.InsurancePeriodTo == null ? String.Empty : Model.GenericInfo.InsurancePeriodTo.Value.ToString("dd/MM/yyyy"), required = "required", @placeholder = "DD/MM/YYYY", @readonly = "readonly" })*@
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <br />
        @*Get Started Button*@
        <div class="info-page-button">
            <input type="submit" id="close" value="Submit" class="btn btn-primary" />
        </div>
        
        <br />
        <br />
        <div class="user-response-page-description-2">
            <p>Please note that no cover has been placed until you have received written confirmation from Ryno Insurance Services</p>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker")
    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');
        $('.navbar-inverse.navbar-fixed-top').addClass('custom-element-ninja-hide');
        $('.custom-footer-box').addClass('custom-element-ninja-hide');
        $('#myDiv').css('background-color', 'transparent');
        $('#myDiv.container.body-content').css('background', 'transparent');

        $('body').addClass('no-scroll');

        var win = this.self;
        $('#close').click(function () {
            location.href = "https://rynoinsurancebroker.com.au";
            //location.href = "about: blank";
            //win.close();
        })

        $().ready(function () {
            //Datepicker From
            $(".datepickerFrom").datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                startDate: new Date(),
                //endDate: new Date('09/29/2018') // <-- Specific Date as Threshold
                endDate: '+59D'
            }).on('changeDate', function (selectedDate) {
                //debugger
                //September 25,2017 [Lock Date-To to minimum 1 year using Date-From]
                var aYearFromNow = new Date(selectedDate.date);
                aYearFromNow.setFullYear(aYearFromNow.getFullYear() + 1);
                //End of update

                //Format Date
                var dd = aYearFromNow.getDate();
                var mm = aYearFromNow.getMonth() + 1;
                var yyyy = aYearFromNow.getFullYear();

                if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm }
                var endDate = dd + '/' + mm + '/' + yyyy;

                $(".datepickerTo").val(endDate);

                // UPDATE: To-Datepicker start and end date
                //debugger
                //var convertedFromDate = new Date(moment($('.datepickerFrom').val(), 'DD-MM-YYYY').format('MM/DD/YYYY'));
                var convertedFromDate = moment($('.datepickerFrom').val(), 'DD-MM-YYYY');
                var currentDate = moment(new Date());

                var dateDiff = convertedFromDate.diff(currentDate, 'days');

                $(".datepickerTo").datepicker('setStartDate', convertedFromDate._d);
                $(".datepickerTo").datepicker('setEndDate', '+' + (dateDiff + 547) + 'D');


                //Validate
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });

            //Datepicker To
            //var newDate = new Date(moment($('.datepickerFrom').val(), 'DD-MM-YYYY').format('MM/DD/YYYY'));

            $(".datepickerTo").datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                //startDate: new Date(),
                startDate: $('.datepickerFrom').val(),
                //endDate: '+' + (new Date(moment($('.datepickerFrom').val(), 'DD-MM-YYYY').format('MM/DD/YYYY')).getDate() + 547).toString() + 'D'
                endDate: '+547D',
            }).on('changeDate', function (selectedDate) {
                //debugger
                //$('#GenericInfo_InsurancePeriodTo').val(selectedDate.date.toLocaleDateString());
                if (selectedDate.date < $('.datepickerFrom').val()) {
                    $(this).datepicker('setDate', null);
                }
            });

        })

    </script>
}