﻿@model CoverBuilder.Entities.ViewModels.DeclinePageRemarksViewModels

@{
    ViewBag.Title = "Thank you!";
}

<div class="custom-box-container-info">

    @*Catchy Intro Text/Para*@
    <div class="user-response-page-header">
        <span>We are sorry to hear that you do not wish to proceed with the quotation.</span>
    </div>

    <br />
    @*Application Description*@
    <div class="user-response-page-description">
        <span>Your feedback on our terms is greatly appreciated</span>
        <br /><br />
        @*@Html.TextArea("DenyComment", null, new { @class = "comment-box", @id = "DenyComment", placeholder = "Enter your feedbacks here..." })*@

    </div>
    <div class="deny-comments-section">
        @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
        {
            @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "DenyComment" })
            @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "DenyComment" })
            if (Model.CheckboxReferenceLookup[i].Text.TrimEnd().ToUpper() == "OTHER")
            {
                @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "DenyComment", @class = "chk-others", onclick = "javascript:CBClickOther(checked);" })
                <text>
                    @Html.TextBoxFor(m => m.CheckboxReferenceLookup[i].Value, null, new { @class = "otherDenyComment", placeholder = "Other", onclick = "javascript:TextClickOther();", @Value = "" })

                </Text>
            }
            else
            {
                @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "DenyComment" })
                <span>@Model.CheckboxReferenceLookup[i].Text</span>
            }
            <br />
        }
        @Html.ValidationMessage("CheckboxValidation", "Please check atleast one item!", new { @class = "text-danger validationMessage" })
    </div>

    <br /><br />
    @*Submit and Close*@
    <div class="info-page-button">
        <input type="button" id="close" value="Submit" class="btn btn-primary" />
    </div>

</div>

@section Scripts {

    <script type="text/javascript">
        var referenceNumber = '@(ViewBag.ReferenceNumber)';
        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');
        $('.navbar-inverse.navbar-fixed-top').addClass('custom-element-ninja-hide');
        $('.custom-footer-box').addClass('custom-element-ninja-hide');
        $('#myDiv').css('background-color', 'transparent');
        $('#myDiv.container.body-content').css('background', 'transparent');

        $('body').addClass('no-scroll');

        var win = this.self;
        $('#close').click(function () {
            var validCheckbox = ValidateCheckbox();
            if (validCheckbox) {
                var validOtherField = ValidateOtherField();
                if (validOtherField) {
                    // Concatenate Checkbox Values
                    var concatCheckBoxValues = "";
                    var length = $('[type="checkbox"][name^="CheckboxReferenceLookup"]').length;

                    for (var ctr = 0; ctr < length; ctr++) {
                        if ($('[type="checkbox"][name^="CheckboxReferenceLookup"]')[ctr].checked) {
                            var item = $('[type="hidden"][name="CheckboxReferenceLookup[' + ctr + '].Text"]').val();
                            if (item != "Other")
                                concatCheckBoxValues = item + " | " + concatCheckBoxValues;
                        }
                    }

                    // Add Other Decline Reasons
                    var othersDenyComment = $('.otherDenyComment').val();
                    if (othersDenyComment != '')
                        concatCheckBoxValues = concatCheckBoxValues + othersDenyComment

                    //var remarksVal = $('#DenyComment').val();
                    var remarksVal = concatCheckBoxValues;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SaveRemarks", "Premium")",
                        data: { referenceId: referenceNumber, remarks: remarksVal },
                    dataType: 'json',
                    success: function (response) {
                        window.location.href = response.Url;
                    },
                    error: function () {
                    }
                });
                }
                
            }


            //location.href = "about: blank";
            //win.close();
        })
        $('[type="checkbox"]').on('change', function () {
            ValidateCheckbox();
        });
        $('.otherDenyComment').on('blur', function () {
            debugger
            ValidateOtherField();
        });
        function ValidateCheckbox() {
            var valid = true
            var ctr = 0
            $('.deny-comments-section').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).find('.validationMessage').css("display", "block");
                    $(this).find('.validationMessage').text("Please check atleast one item!");
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).find('.validationMessage').css("display", "none");

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };
        function ValidateOtherField() {
            debugger
            var valid = true;
            var ctr = 0;
            var otherChecked = $('.chk-others:checked').length;
            $('.otherDenyComment').each(function () {
                if ($(this).val() == '' && otherChecked !== 0 ) {
                    $('.validationMessage').css("display", "block");
                    $('.validationMessage').text("Please provide details!");
                    ctr++;
                } else {
                    $('.validationMessage').css("display", "none");
                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };
        function CBClickOther(value) {
            if (value) {
                $('.otherDenyComment').prop('required');
                $('#Q132CBValueTBoxwb11').focus();
            }
            else {
                $('.otherDenyComment').val('');
            }
        }
        function TextClickOther() {
            $($('[type="checkbox"].chk-others')).prop('checked', true);
        }

    </script>

}