﻿@{
    ViewBag.Title = "Quote Email Sent!";
}

<div class="custom-box-container-info">

    @*Catchy Intro Text/Para*@
    <div class="info-page-header">
        <span>Quote Email Requested!</span>
    </div>

    <br /><br /><br />
    @*Get Started Button*@
    <div class="info-page-button">
        <input type="button" id="close" value="Close" class="btn btn-primary" />
    </div>

</div>

@section Scripts {

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');
        $('.navbar-inverse.navbar-fixed-top').addClass('custom-element-ninja-hide');
        $('.custom-footer-box').addClass('custom-element-ninja-hide');
        $('#myDiv').css('background-color', 'transparent');
        $('#myDiv.container.body-content').css('background', 'transparent');

        $('body').addClass('no-scroll');

        var win = this.self;
        $('#close').click(function () {
            location.href = "http://www.google.com";
            //location.href = "about: blank";
            //win.close();
        })

    </script>

}