﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Budget Accommodation";
}

<br />
<h2 class="">Budget Accommodation</h2>

<br />
<div class="custom-content-desc">
    @*<p>Fill up the details as required so we can provide the perfect quotation just for you</p>*@
    <p>Please provide the following underwriting information: </p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "BudgetAccommodationForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@
            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].GroupId, new { @id = "model.LiabilityInsuranceListResult[10].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "229" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].GroupId, new { @id = "model.LiabilityInsuranceListResult[11].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "230" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[11].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].GroupId, new { @id = "model.LiabilityInsuranceListResult[12].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "231" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].GroupId, new { @id = "model.LiabilityInsuranceListResult[13].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "232" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[13].Response, Model.StateList, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].GroupId, new { @id = "model.LiabilityInsuranceListResult[14].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "233" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control post-code", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            @*Dropdown*@
            @Html.Label("Type of Accommodation")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "234" })
            @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[15].Response, Model.DropdownReferenceLookup, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger  " })
            <br /><br />

            @*CheckBox*@
            @Html.Label("Is the Accommodation Used for the following:")
            <br />
            <div id="CheckboxAccommodationUsedContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxAccommodationUsed" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxAccommodationUsed" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationUsed", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationUsed", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxAccommodationUsedValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Rooms")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "1" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control NumberOfRooms", @type = "number", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "2" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "269" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Does the premises have a Licensed Bar?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "3" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[2].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[2].Response", @class = "option-referral IsCheckedLicensedBar", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[2].Response, "No", new { @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Is Property Owners Liability required?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "4" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Does the premises have hardwired smoke detectors?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "5" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "No", new { @id = "model.LiabilityInsuranceListResult[4].Response", @class = "option-referral IsCheckedSmokeDetectors", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />


            @Html.Label("Does the premises have any sporting facilities?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "6" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[5].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[5].Response", onclick = "javascript:DisplayChildA(true);", @class = "option-referral IsCheckedSportingFacilities", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[5].Response, "No", new { @id = "model.LiabilityInsuranceListResult[5].Response", onclick = "javascript:DisplayChildA(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "9" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required" })
               @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger child-a" })
                <br />
            </div>

            @Html.Label("Does the premises provide Accommodation for occupants who have an intellectual or physical disability?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "7" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[7].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[7].Response", @class = "option-referral IsCheckedAccommodationForDisabled", onclick = "javascript:DisplayChildB(true);", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[7].Response, "No", new { @id = "model.LiabilityInsuranceListResult[7].Response", onclick = "javascript:DisplayChildB(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "10" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
            </div>

            <p class="comment-style">Additional Information/Comments</p>
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "8" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[9].Response" })
            <br />


            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-1');

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {

        }

        $(document).ready(function () {

            debugger
            var url = "@Url.Action(Cover.Quotation.GetQuestions(1))";
            var dom = [];
            $.ajax({
                async: false,
                url: url,
                success: function (data) {
                    debugger
                    $.each(data, function (i, field) {
                        //alert(field.Type);
                        if (field.Type == 'SingleNumberLine') {
                            dom.push({
                                DOM: '<div id=' + field.Code + '>\
                                \
                            </div>',
                                SeqNo: field.SequenceNumber
                            });
                        }
                    });
                }
            });

            var questionModel = {
                questions: ({ NoOfRooms: "James_Test_Question", Response: '', Id: 'question1' })
            };
            $(questionModel.questions).each(function () {
                $('.' + this.Id).children('.question').empty().val(this.Question);
            });

            $('[type="checkbox"]').on('change', function () {
                ValidateCheckbox();
            });
            //Process Form On Click
            @*$("#btnProceed").click(function (e) {
                e.preventDefault();

                //debugger
                //Validate Checkboxes
                //var checkboxValidate = $('[type="checkbox"]:checked').length;

                //if (checkboxValidate < 1) {
                //    $('.checkbox-validation').addClass('invalid-error');
                //    $('.checkbox-validation').css('display', 'block');
                //    $('.checkbox-validation').addClass('input-validation-error');
                //}
                //else {
                //    $('.checkbox-validation').removeClass('invalid-error');
                //    $('.checkbox-validation').css('display', 'none');
                //    $('.checkbox-validation').removeClass('input-validation-error');
                //}


                //Check if there are still validations
                if ($('.invalid-error').length > 0) {
                    return //alert("Please fill up the required fields before submitting the form")
                }

                //Set Referral Flags
                if ($('.option-referral:radio:checked').length > 0) {
                    $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
                }

                //Show loader on successful form submit
                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });

                //Call Trigger Writer Function
                $('#hdnHasReferral').val(CheckIfHasReferral());

                //Submit Form
                $("#BudgetAccommodationForm").attr("action", "@Url.Action(Cover.Quotation.BudgetAccommodation())").submit();
            });*@
        });
        $("#BudgetAccommodationForm").attr("action", "@Url.Action(Cover.Quotation.BudgetAccommodation())").submit(function () {
            debugger
            $('[type="text"]').each(function () {
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });

            $('[type="number"]').each(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });

            $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation')} ).each(function () {
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            //Set Referral Flags
            if ($('.option-referral:radio:checked').length > 0) {
                $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
            }

            var checkboxesValid = ValidateCheckbox();

            if (checkboxesValid) {
                if (!$(this).valid()) {
                    return false;
                }
                else {
                    $('#hdnHasReferral').val(CheckIfHasReferral());
                    $('[type="checkbox"]:checked').val(true);
                    showLoader();
                    return true;
                }
            } else {
                return false;
            }

        });
        //Popup Questions
        function DisplayChildA(bool) {
            var element = $('#ChildA')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function ValidateCheckbox() {
            var valid = true
            var ctr = 0
            $('#CheckboxAccommodationUsedContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };
        function DisplayChildB(bool) {
            var element = $('#ChildB')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }


        //Validations
        $('[type="text"]').filter(function () {
            return !$(this).parent('[style="display:none;"]')
        }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        //$('[type="number"]').blur(function () {
        //    debugger
        //    if ($(this).val() == '') {
        //        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
        //        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
        //        $(this).addClass('input-validation-error');
        //    }
        //    else {
        //        if ($(this).val() < 0) {
        //            $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
        //            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
        //            $(this).addClass('input-validation-error');
        //        }
        //        else{
        //            $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
        //            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
        //            $(this).removeClass('input-validation-error');
        //        }
        //    }
        //});

        //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");


        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        //Validate Checkbox Accommodation Used
        $('[id="CheckboxAccommodationUsed"]').change(function () {
        debugger
            var length = $('[type="checkbox"][id="CheckboxAccommodationUsed"]').length;
            for (var ctr = 0; ctr < length; ctr++) {

                if ($('[type="checkbox"][id="CheckboxAccommodationUsed"]')[ctr].checked) {
                    $('#CheckboxAccommodationUsedContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="CheckboxAccommodationUsedValidation"]').removeClass('invalid-error');
                    $('[data-valmsg-for="CheckboxAccommodationUsedValidation"]').css('display', 'none');
                    return;
                }
            }
            $('#CheckboxAccommodationUsedContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="CheckboxAccommodationUsedValidation"]').addClass('invalid-error');
            $('[data-valmsg-for="CheckboxAccommodationUsedValidation"]').css('display', 'block');
        });

        //Clear Checkbox if checked none of the above
        function NoneOfTheAbove() {
            debugger
            var length = $('[type="checkbox"][id="CheckboxAccommodationUsed"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="CheckboxAccommodationUsed"]')[ctr]).prop('checked', false)
            }
        }

        function UncheckNoneOfTheAbove() {
            //Get the last node in checkbox
            var length = $('[type="checkbox"][id="CheckboxAccommodationUsed"]').length - 1;

            //Uncheck the last node - which will always be the none of the above
            $($('[type="checkbox"][id="CheckboxAccommodationUsed"]')[length]).prop('checked', false)
        }


        //List out Triggered Fields (Referral to Underwriter)
        function CheckIfHasReferral() {

            //Questions with Triggers
            var NumberOfRooms = parseInt($('.NumberOfRooms').val());
            var AnnualTurnover = parseInt($('.AnnualTurnover').val());
            var IsCheckedLicensedBar = $('.IsCheckedLicensedBar:checked').length;
            var IsCheckedSmokeDetectors = $('.IsCheckedSmokeDetectors:checked').length;
            var IsCheckedSportingFacilities = $('.IsCheckedSportingFacilities:checked').length;
            var IsCheckedAccommodationForDisabled = $('.IsCheckedAccommodationForDisabled:checked').length;
            var IsCheckedAccommodationUsed = $('.IsCheckedAccommodationUsed:checked').length; 

            //Function Variables
            var ctr = 0;
            var hasReferral = false;

            //Append Hidden Record for Triggers
            if (NumberOfRooms > 50) {
              
                hasReferral = true;
            }

            if (AnnualTurnover > 2500000) {
                $('<input id="model.LiabilityInsuranceListResult[1].IsTriggered" name="model.LiabilityInsuranceListResult[1].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedLicensedBar > 0) {

                $('<input id="model.LiabilityInsuranceListResult[2].IsTriggered" name="model.LiabilityInsuranceListResult[2].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSmokeDetectors > 0) {
                $('<input id="model.LiabilityInsuranceListResult[4].IsTriggered" name="model.LiabilityInsuranceListResult[4].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSportingFacilities > 0) {
                $('<input id="model.LiabilityInsuranceListResult[5].IsTriggered" name="model.LiabilityInsuranceListResult[5].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedAccommodationForDisabled > 0) {
                $('<input id="model.LiabilityInsuranceListResult[7].IsTriggered" name="model.LiabilityInsuranceListResult[7].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            //IsCheckedAccommodationUsed
            //Referral triggers for checkboxes are done in the controller itself.

            return hasReferral;

        };


    </script>
}