﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Motels and B&B's";
}

<br />
<h2 class="">Motels and B&B's</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "MotelsAndBBForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].GroupId, new { @id = "model.LiabilityInsuranceListResult[13].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "242" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required",  autocomplete = "off" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].GroupId, new { @id = "model.LiabilityInsuranceListResult[14].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "243" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">

                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].GroupId, new { @id = "model.LiabilityInsuranceListResult[15].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "244" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].GroupId, new { @id = "model.LiabilityInsuranceListResult[16].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "245" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[16].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].GroupId, new { @id = "model.LiabilityInsuranceListResult[17].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "246" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[17].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            @Html.Label("Type Of Accommodation")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "273" })
            @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[18].Response, Model.DropdownReferenceLookup, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[18].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger  " })
            <br />

            @Html.Label("Number of Rooms")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "24" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control NumberOfRooms", @type = "number", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "25" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "26" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Does the premises have a Licensed Restaurant?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "27" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Does the Accommodation fall under any of the following categories?")
            <br />
            <div id="CheckboxAccommodationFallContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxAccommodationFall" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxAccommodationFall" })

                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationFall", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationFall", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxAccommodationFallValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @Html.Label("Is Property Owners Liability required?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "28" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "No", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Does the premises have hardwired smoke detectors?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "29" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[5].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[5].Response, "No", new { @id = "model.LiabilityInsuranceListResult[5].Response", @class = "option-referral IsCheckedSmokeDetectors", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @*ParentChildA*@
            @Html.Label("Does the premises have any sporting facilities?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "30" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[6].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", @class = "option-referral IsCheckedSportingFacilities", onclick = "javascript:DisplayChildA(true);" })
            No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[6].Response, "No", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "34" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[7].Response" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Does the premises have a children’s playground?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "156" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", onclick = "javascript:DisplayChildB(true);" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "No", new { @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "158" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[9].Response" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*ParentChildC*@
            @Html.Label("Does the premises provide Accommodation for occupants who have an intellectual or physical disability?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "32" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", @class = "option-referral IsCheckedAccommodationForDisabled", onclick = "javascript:DisplayChildC(true);" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", onclick = "javascript:DisplayChildC(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildC" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "35" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control child-c-validation", @id = "model.LiabilityInsuranceListResult[11].Response" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>




            <p class="comment-style">Additional Information/Comments</p>
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "33" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[12].Response" })
            <br />

            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

    //Modify the background for this quotation
    $('.custom-image-background').addClass('custom-image-background-3');

    //Mask Input Fields
    $('.post-code').mask('9999');

    function onBegin(xhr) {
    }

    function onComplete(xhr, status) {
    }

    function onSuccess(data, status, xhr) {
        setTimeout(function () {
            var url = '@Url.Action("Thankyou","Home")';
            window.location.href = url; s
        }, 1000);
    }

        $(document).ready(function () {
            downloadAF(initAF);
        $("#MotelsAndBBForm").attr("action", "@Url.Action(Cover.Quotation.MotelsAndBB())").submit(function () {
            debugger
            $('[type="text"]').filter(function () {
                return !$(this).parent('[style="display:none;"]')
            }).each(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('[type="number"]').each(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('[type="checkbox"]').on('change', function () {
                ValidateCheckbox();
            });

            //Omit Negative Values
            //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");


            $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            textareaCallback();
            var checkboxesValid = ValidateCheckbox();
            //Set Referral Flags
            if ($('.option-referral:radio:checked').length > 0) {
                $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
            }
            if (checkboxesValid) {
                if (!$(this).valid()) {
                    return false;
                }
                else {
                    $('#hdnHasReferral').val(CheckIfHasReferral());
                    showLoader();
                    $('[number="number"]').each(function () {
                        var element = $(this);
                        var numToFormat = $(element).val();
                        $(element).val(numeral(numToFormat).format('0.[00]'))

                    });
                    return true;
                }
            }
            else {
                return false
            }
        });
    });
    //Popup Questions
    function DisplayChildA(bool) {

        var element = $('#ChildA')
        if (bool == true) {
            $(element).css('display', 'block');
            $('.child-a').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                $(this).removeClass('input-validation-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
            });
        }
        else {
            $(element).css('display', 'none');
            $('.child-a').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                    .css('display', 'none');
                $(this).removeClass('input-validation-error');
            });

            ClearFields(element);
        }
    }
    function ClearFields(element) {
        $(element).find(':input').each(function () {
            switch (this.type) {
                case 'button':
                case 'text':
                case 'submit':
                case 'password':
                case 'file':
                case 'email':
                case 'date':
                case 'number':
                case 'textarea':
                    $(this).val('');
                    break;
                case 'checkbox':
                case 'radio':
                    this.checked = false;
                    break;
            }
        });
    };
    $('[type="checkbox"]').on('change', function () {
        ValidateCheckbox();
    });
    function DisplayChildB(bool) {
        var element = $('#ChildB')
        if (bool == true) {
            $(element).css('display', 'block');
            $('.child-b').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                $(this).removeClass('input-validation-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
            });
        }
        else {
            $(element).css('display', 'none');
            $('.child-b').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                    .css('display', 'none');
                $(this).removeClass('input-validation-error');
            });

            ClearFields(element);
        }
    }

    function DisplayChildC(bool) {
        var element = $('#ChildC')
        if (bool == true) {
            $(element).css('display', 'block');
            $('.child-c').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                $(this).removeClass('input-validation-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
            });
        }
        else {
            $(element).css('display', 'none');
            $('.child-c').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                    .css('display', 'none');
                $(this).removeClass('input-validation-error');
            });

            ClearFields(element);
        }
    }
    var textareaCallback = function () {
        $('.child-c-validation').each(function () {
            if ($(this).val() == '') {
                $(this).next('span:first').addClass('invalid-error');
                $(this).next('span:first').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });
    };
    function ValidateCheckbox() {
        var valid = true
        var ctr = 0
        $('#CheckboxAccommodationFallContainer').each(function () {
            var checked = $(this).find('input[type="checkbox"]:checked');
            if (checked.length === 0) {
                $(this).addClass('ValidateContainer');
                $(this).next('span:first').css("display", "block");
                ctr++;
            } else {
                $(this).removeClass('ValidateContainer');
                $(this).next('span:first').css("display", "none");

            }
        });
        if (ctr > 0) {
            valid = false;
        }
        return valid;
    };

    //Validations
    $('[type="text"]').filter(function () {
        return !$(this).parent('[style="display:none;"]')
    }).blur(function () {

        if ($(this).val() == '') {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
            $(this).addClass('input-validation-error');
        }
        else {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
            $(this).removeClass('input-validation-error');
        }
    });
    $('[type="number"]').blur(function () {

        if ($(this).val() == '') {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
            $(this).addClass('input-validation-error');
        }
        else {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
            $(this).removeClass('input-validation-error');
        }
    });
    $('[type="checkbox"]').on('change', function () {
        ValidateCheckbox();
    });

    //Omit Negative Values
    //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");


    $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).blur(function () {

        if ($(this).val() == '') {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
            $(this).addClass('input-validation-error');
        }
        else {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
            $(this).removeClass('input-validation-error');
        }
    });


    //Validate Checkbox Accommodation Fell into Special Category
    $('[id="CheckboxAccommodationFall"]').change(function () {

        var length = $('[type="checkbox"][id="CheckboxAccommodationFall"]').length;
        for (var ctr = 0; ctr < length; ctr++) {

            if ($('[type="checkbox"][id="CheckboxAccommodationFall"]')[ctr].checked) {
                $('#CheckboxAccommodationFallContainer').removeClass('ValidateContainer');
                $('[data-valmsg-for="CheckboxAccommodationFallValidation"]').removeClass('invalid-error');
                $('[data-valmsg-for="CheckboxAccommodationFallValidation"]').css('display', 'none');
                return;
            }
        }
        $('#CheckboxAccommodationFallContainer').addClass('ValidateContainer');
        $('[data-valmsg-for="CheckboxAccommodationFallValidation"]').addClass('invalid-error');
        $('[data-valmsg-for="CheckboxAccommodationFallValidation"]').css('display', 'block');
    });


    //Clear Checkbox if checked none of the above
    function NoneOfTheAbove() {
        var lengthCheckboxAccommodation = $('[type="checkbox"][id="CheckboxAccommodationFall"]').length - 1;

        //Uncheck Checkbox Accommodation Fall
        if (lengthCheckboxAccommodation > 0) {
            for (var ctr = 0; ctr < lengthCheckboxAccommodation; ctr++) {
                $($('[type="checkbox"][id="CheckboxAccommodationFall"]')[ctr]).prop('checked', false)
            }
        }
    }

    function UncheckNoneOfTheAbove() {
        //Get the last node in checkbox
        var length = $('[type="checkbox"][id="CheckboxAccommodationFall"]').length - 1;

        //Uncheck the last node - which will always be the none of the above
        $($('[type="checkbox"][id="CheckboxAccommodationFall"]')[length]).prop('checked', false)
    }



    //List out Triggered Fields (Referral to Underwriter)
    function CheckIfHasReferral() {

        //Questions with Triggers
        var NumberOfRooms = parseInt($('.NumberOfRooms').val());
        var AnnualTurnover = parseInt($('.AnnualTurnover').val());
        var IsCheckedSmokeDetectors = $('.IsCheckedSmokeDetectors:checked').length;
        var IsCheckedSportingFacilities = $('.IsCheckedSportingFacilities:checked').length;
        var IsCheckedAccommodationForDisabled = $('.IsCheckedAccommodationForDisabled:checked').length;

        //Function Variables
        var ctr = 0;
        var hasReferral = false;

        //Append Hidden Record for Triggers
        if (NumberOfRooms > 50) {
            $('<input id="model.LiabilityInsuranceListResult[0].IsTriggered" name="model.LiabilityInsuranceListResult[0].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            ctr++;
            hasReferral = true;
        }

        if (AnnualTurnover > 2500000) {
            $('<input id="model.LiabilityInsuranceListResult[1].IsTriggered" name="model.LiabilityInsuranceListResult[1].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            ctr++;
            hasReferral = true;
        }

        if (IsCheckedSmokeDetectors > 0) {
            $('<input id="model.LiabilityInsuranceListResult[5].IsTriggered" name="model.LiabilityInsuranceListResult[5].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            ctr++;
            hasReferral = true;
        }

        if (IsCheckedSportingFacilities > 0) {
            $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            ctr++;
            hasReferral = true;
        }

        if (IsCheckedAccommodationForDisabled > 0) {
            $('<input id="model.LiabilityInsuranceListResult[10].IsTriggered" name="model.LiabilityInsuranceListResult[10].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            ctr++;
            hasReferral = true;
        }

        return hasReferral;

    };

    </script>
}