﻿ @model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Restaurants";
}


<br />
<h2>Restaurants</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "RestaurantsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@
            
            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].GroupId, new { @id = "model.LiabilityInsuranceListResult[8].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "248" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].GroupId, new { @id = "model.LiabilityInsuranceListResult[9].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "249" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">

                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].GroupId, new { @id = "model.LiabilityInsuranceListResult[10].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "250" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].GroupId, new { @id = "model.LiabilityInsuranceListResult[11].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "251" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[11].Response, Model.StateList, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[11].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].GroupId, new { @id = "model.LiabilityInsuranceListResult[12].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "252" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control post-code", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            <div class="">
                @Html.Label("Years in Business")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "36" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            <div class="col-lg-3">
                @Html.Label("Turnover Split")
            </div>
            <div class="col-lg-9">
                @Html.Label("Food")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "41" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control FoodTurnover", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required", type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                @Html.Label("Bar/Alcohol Sales")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "42" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control BarTurnover", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required", type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="">
                @Html.Label("Trading Hours")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "38" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[3].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            <div class="">
                @Html.Label("Seating Capacity")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "39" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @*ParentChildA*@
            @Html.Label("Do Takeaway sales make up more than 50% of your Total Turnover?")
            @Html.Hidden("model.LiabilityInsuranceListResult[5].QuestionId", "253", new { @id = "model.LiabilityInsuranceListResult[5].QuestionId" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[5].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", @class = "option-referral IsCheckedOfferTakeaway", onclick = "javascript:DisplayChildA(true);" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[5].Response, "No", new { @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "254" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control class-a", @id = "model.LiabilityInsuranceListResult[6].Response", required ="required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            <div class="">
                <p class="comment-style">Additional Information/Comments</p>
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "40" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[7].Response" })
            </div>
            <br />
                     
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-4');

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            
        }

        $(document).ready(function () {

       
            $("#RestaurantsForm").attr("action", "@Url.Action(Cover.Quotation.Restaurants())").submit(function () {

                $('[type="text"]').filter(function () {
                    return !$(this).parent('[style="display:none;"]')
                }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });


                //Omit Negative Values
                //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");

                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[name*="LiabilityInsuranceListResult"]').each(function (index) {
                    var attrName = $(this).attr('id');
                    $(this).attr('name', attrName)
                })

                if (!$(this).valid()) {
                    return false;
                }
                else {
                    //Set Referral Flags
                    if ($('.option-referral:radio:checked').length > 0) {
                        $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
                    }
                    $('#hdnHasReferral').val(CheckIfHasReferral());
                    showLoader();
                    return true;
                }

            });
        });
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };
        function DisplayChildA(bool) {
            var element = $('#ChildA')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        $('[type="text"]').filter(function () {
            return !$(this).parent('[style="display:none;"]')
        }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });


        //Omit Negative Values
        //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");

        $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });


        //List out Triggered Fields (Referral to Underwriter)
        function CheckIfHasReferral() {
            debugger
            //Questions with Triggers
            var FoodTurnover = parseInt($('.FoodTurnover').val());
            var BarTurnover = parseInt($('.BarTurnover').val());
            var TotalTurnover = FoodTurnover + BarTurnover;
            var IsCheckedOfferTakeaway = $('.IsCheckedOfferTakeaway:checked').length;

            //Function Variables
            var ctr = 0;
            var hasReferral = false;

            //Append Hidden Record for Triggers

            if (TotalTurnover > 5000000) {
                //If Total Turnover is greater than 5 Million
                $('<input id="model.LiabilityInsuranceListResult[1].IsTriggered" name="model.LiabilityInsuranceListResult[1].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (BarTurnover > FoodTurnover) {
                //If Bar Turnover exceeds 50% of Total Turnover
                $('<input id="model.LiabilityInsuranceListResult[2].IsTriggered" name="model.LiabilityInsuranceListResult[2].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedOfferTakeaway > 0) {
                $('<input id="model.LiabilityInsuranceListResult[5].IsTriggered" name="model.LiabilityInsuranceListResult[5].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            return hasReferral;

        };

    @*$("#btnProceed").click(function (e) {
        e.preventDefault();

        //Generate Link
        var url = '@Url.Action("Thankyou", "Home")';
        window.location.href = url;
    });*@

    </script>

}