﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ryno Insurances</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/numeral")

    <script src="~/Scripts/mustache.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body class="custom-image-background">
    @*MENU AND HEADER AREA*@
    <div class="navbar navbar-inverse navbar-fixed-top header-strip">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Ryno Insurance", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <div id="top-left" class="logo">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img src="~/Images/ryno-logo.png" border="0" alt="logo" />
                    </a>
                </div>
                <div id="top-right">
                    <div class="call-us">
                        <img src="~/Images/phone_icon.png" border="0" alt="call us!" />
                        <span>1300 650 670</span>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="https://www.facebook.com/RynoInsurance/" target="_blank">              <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/ryno-insurance" target="_blank">      <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/ryno_insurance/" target="_blank">            <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://plus.google.com/103977590491121652701/posts" target="_blank">  <i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
                @*@Html.ActionLink("Ryno Insurance", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("Quotation", "BudgetAccommodation", "Quotation")</li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>*@
                    <li><a href="http://printbaisweb.bais.com.au/ibaisv6p/dbweb.asp?ac=rt&lgo=1">Home</a></li>
                    <li><a href="https://rynoinsurancebroker.com.au/contact-us/" target="_blank">Contact Us</a></li>

                </ul>
            </div>
        </div>
    </div>

    @*CONTENT AREA*@
    <div class="custom-content-container">
        <div class="container body-content" id="myDiv">
            @RenderBody()
        </div>
    </div>
    <div id="loader" style="display:none;"></div>

    @*FOOTER AREA*@
    <div class="custom-footer-box">
        <div class="container">
            <footer>
                <p class="footer-header">Website General Advice</p>
                <p>Ryno Insurance Services is a specialist division of East West Insurance Brokers ABN 83 010 630 092, Australian Financial Services Licence No. 230041. Ryno Insurance acts under a binding authority agreement on behalf of certain Underwriters at Lloyd’s. Refer to the Product Disclosure Statement or Policy Wording or call us on 1300 650 670.<p>
                <p>Copyright @DateTime.Now.Year Ryno Insurance. All Rights Reserved.</p>
                @*<p>&copy; @DateTime.Now.Year AS White Global .NET Team Philippines. All rights reserved. </p>*@

            </footer>
        </div>
    </div>


    @*@Scripts.Render("~/bundles/jqueryajax")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @*<script type="text/javascript">
            var loaderGIFpath = '@Url.Content("~/Images/ajax-loader.gif")';
        </script>*@

    <script type="text/javascript">

        //window.onload = function () {
        //    //document.body.className += "loaded";
        //    document.body.classList.add('loaded');
        //}

        $(document).ready(function () {
            //var myVar;
            //myVar = setTimeout(showPage, 1000);

            //Validate Number Field
            $('[type="number"]').attr('type', 'text').attr('number', 'number').val()
            $('[number="number"]').attr('onkeypress', 'return isNumber(event)')
            //$('[number="number"]').attr('onkeypress', 'return isNumber(event)').val()
            $('.wholeNumber').on('blur', function () {
                debugger
                var numberToFormat = $(this).val()
                if (numberToFormat === '') {
                    return
                }
                else {
                    $(this).val(numeral(numberToFormat).format('0,0'))
                }

            });
            $('[number="number"]').on('focus', function () {
                
                var numberToFormat = $(this).val()
                if (numberToFormat === '') {
                    return
                }
                else {
                    $(this).val(numeral(numberToFormat).format('0.[00]'))
                }

            });
            $('[number="number"]').filter(function (x) {
                return !$(this).is('.wholeNumber, .year');
            }).on('blur', function () {
                    
                    var numberToFormat = $(this).val()
                    if (numberToFormat === '') {
                        return
                    }
                    else {
                        $(this).val(numeral(numberToFormat).format('0,0.[00]'))
                    }

                });

            //$('[number="number"]').on('change', function () {
            //    debugger
            //    var numberToFormat = $(this).val()
            //    $(this).val(numeral(numberToFormat).format('0,0.[00]'))
            //});
            $('[type="radio"]:checked').click();
        });

        //Validate Number Field
        function isNumber(evt) {

            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;

            if (charCode == 46) {
                return true;
            }
            if ((charCode > 31 && (charCode < 48 || charCode > 57))) {

                return false;
            }
            return true;
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }
        function showLoader() {
            //Kill Transparency of the form
            $('.custom-content-container').addClass('loading-cover-box');
            $('#myDiv').addClass('blur');
            $('body').addClass('no-scroll');
            document.getElementById("loader").style.display = "block";
            //$("body > div:not('.header__profile-create-wrapper') ").addClass("blur");
        }

        function killLoader() {
            //Remove Classes
            $('.custom-content-container').removeClass('loading-cover-box');
            $('#myDiv').removeClass('blur');
            $('body').removeClass('no-scroll');
            document.getElementById("loader").style.display = "none";
        }

        //Mask Input Fields (Validation Message Will Not Prompt if you do this)
        //$('.post-code').mask('9999?9');

        //Prevent pasting on number types
        $('[type="number"]').bind("paste", function (e) {
            e.preventDefault();
        });


        //%%%%%%%%%%%%%%%%%%%% UPDATE FIELD/MODEL NAMES %%%%%%%%%%%%%%%%%%%%
        //General
        $('[name*="LiabilityInsuranceListResult"]').each(function () {

            var attrName = $(this).attr('id');
            $(this).attr('name', attrName)
        })

        //General - Trigger Model
        $('[id="hdnHasReferral"]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //Budget Accommodation
        $('[id=CheckboxAccommodationUsed]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //Handmade
        $('[id=CheckboxProducts]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //Cleaners
        $('[id=CheckBoxGroup1Response]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        $('[id=CheckBoxIncludedActivitiesResponse]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //Motels
        $('[id=CheckboxAccommodationFall]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //Transport and Logistics
        $('[id="TransportAndLogisticsCheckBox"]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //Scaffolders
        $('[id="CheckboxScaffolders"]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //Welders and Boilermakers
        $('[id="CheckboxWeldingActivities"]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })

        //General
        $('[id="CheckboxInsuredPerform"]').each(function () {
            var attrName = $(this).attr('name');
            $(this).attr('name', "model." + attrName)
        })


        //%%%%%%%%%%%%%%%%%%%%%%%%%%% END %%%%%%%%%%%%%%%%%%%%%%%%%%%

        var widget, initAF = function () {
            var inputElement = '';
            $('.address-line-af').each(function (x, element) {
                inputElement = element;
            })
            widget = new AddressFinder.Widget(
              inputElement,
              'NVA79XQHLFDYP3G68CKW',
              'AU',
              {
              }
            );

            widget.on('result:select', function (fullAddress, metaData) {
                var state = 'Queensland'
                debugger
                if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                    $('.street-number-af').val(metaData.address_line_1)
                }
                else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                    $('.street-number-af').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                }
                else if (metaData.street_number_2 == null) {
                    $('.street-number-af').val(metaData.street_number_1)
                }
                else {
                    $('.street-number-af').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                }
                $('.street-name-af').val(metaData.street_name + ' ' + metaData.street_type)
                var trimmedStreetNum = $('.street-number-af').val().replace($('.street-name-af').val(), '').trim()
                $('.street-number-af').val(trimmedStreetNum);
                $('.suburb-af').val(metaData.locality_name)
                switch (metaData.state_territory) {
                    case "NSW":
                        state = 'New South Wales';
                        break;
                    case "NT":
                        state = 'Northern Territory';
                        break;
                    case "QLD":
                        state = 'Queensland';
                        break;
                    case "SA":
                        state = 'South Australia';
                        break;
                    case "TAS":
                        state = 'Tasmania';
                        break;
                    case "VIC":
                        state = 'Victoria';
                        break;
                    case "WA":
                        state = 'Western Australia';
                        break;
                    case "ACT":
                        state = 'Australian Capital Territory';
                        break;
                    default:
                        state = 'Queensland';
                        break;
                }
                $('.state-af').val(state);
                $('.post-code-af').val(metaData.postcode);
            });
        };

        function downloadAF(f) {
            var script = document.createElement('script');
            script.src = 'https://api.addressfinder.io/assets/v3/widget.js';
            script.async = true;
            script.onload = f;
            document.body.appendChild(script);
        };










    </script>
</body>
</html>
