﻿@{
    ViewBag.Title = "Contact Us";
}

<div class="contact-us-page">

    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
    <h4>RYNO INSURANCE – BRISBANE BASED AND AUSTRALIA WIDE</h4>
    <br />

    <address>
        19 Rosedale Street | PO Box 239 Coopers Plains Qld 4108
        <br />
        <b>Phone</b> 1300 650 670
        <br />
        <b>Fax</b> 1300 797 768
       

    </address>
    <address>
        <b>General Enquiries</b> <a href="mailto:hello@rynoinsurance.com.au" class="contact-us-links">hello@rynoinsurance.com.au</a>
        <br />
        <b>Claim Enquiries</b> <a href="mailto:claims@rynoinsurance.com.au" class="contact-us-links">claims@rynoinsurance.com.au</a>
        <br />
        <b>Quote Enquiries</b> <a href="mailto:quotes@rynoinsurance.com.au" class="contact-us-links">quotes@rynoinsurance.com.au</a>
    </address>


    <h4>BUSINESS DETAILS</h4>

    Ryno Insurance is a subsidiary of <b>East West Insurance Brokers Pty Ltd</b>
    <br />
    <b>ABN</b> 83 010 630 092
    <br />
    <b>AFS Licence No</b> 230041.

    <br /><br /><br /><br />

    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

</div>

@section Scripts {

    <script type="text/javascript">
     
    //Modify the background for this page
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-0');

    </script>

    }






