﻿@model CoverBuilder.Entities.ViewModels.GenericInfoViewModels
@using reCAPTCHA.MVC
@{
    ViewBag.Title = "Welcome to Ryno Insurance Services";
}
<style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        cursor: default !important;
        background-color: #eeeeee;
    }
    .form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled]:focus .form-control {
        cursor: not-allowed !important;
        background-color: #eeeeee;
    }
</style>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<br />
<h2>Get started on your quote</h2>

<br />
<div class="custom-content-desc">
    @*<p>Tell us a bit about yourself so we can provide you with a preliminary quote</p>*@
    <p>Please provide the following information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "GenericInfoForm", @class = "form-horizontal" }))
{
    //Start Form
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    <div class="col-lg-7">
        <div class="custom-form-box">

            <h3>Broker Details</h3>
            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Brokerage Name")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.GenericInfo.BASubAgent)
                        @Html.TextBoxFor(m => m.GenericInfo.BrokerageName, new { @class = "form-control bais", required = "required" })
                        @Html.ValidationMessageFor(m => m.GenericInfo.BrokerageName, "", new { @class = "text-danger" })

                    </td>
                </tr>

                <tr>
                    <td class="w-40">
                        @Html.Label("Your Name")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.GenericInfo.FullName, new { @class = "form-control bais", required = "required" })
                        @Html.ValidationMessageFor(m => m.GenericInfo.FullName, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td class="w-40">
                        @Html.Label("Your Email")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.GenericInfo.Id)
                        @Html.HiddenFor(m => m.GenericInfo.ReferenceNumber)
                        @Html.HiddenFor(m => m.GenericInfo.LeadId)
                        @Html.HiddenFor(m => m.GenericInfo.Status)
                        @Html.HiddenFor(m => m.GenericInfo.HasTriggerReferral)
                        @Html.HiddenFor(m => m.GenericInfo.TriggerDescription)
                        @Html.HiddenFor(m => m.GenericInfo.UnderwriterEmail)
                        @Html.HiddenFor(m => m.GenericInfo.UnderwriterId)
                        @Html.HiddenFor(m => m.GenericInfo.QuoteSent)
                        @Html.HiddenFor(m => m.GenericInfo.CreateDate)
                        @Html.HiddenFor(m => m.GenericInfo.IsSynced)
                        @Html.HiddenFor(m => m.GenericInfo.ProductLiability)
                        @Html.HiddenFor(m => m.GenericInfo.GeneralLiability)
                        @Html.TextBoxFor(m => m.GenericInfo.Email, new { @class = "form-control bais", required = "required", @placeholder = "example@mail.com" })
                        @Html.ValidationMessageFor(m => m.GenericInfo.Email, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td class="w-40">
                        @Html.Label("Your Phone")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.GenericInfo.PhoneNo, new { @class = "form-control bais", required = "required", @placeholder = "(02) 1234 5678" })
                        @Html.ValidationMessageFor(m => m.GenericInfo.PhoneNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>

            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Postal Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Address")
                                </td>
                                <td class="w-60">
                                    @Html.TextBoxFor(m => m.GenericInfo.SituationStreetNo, null, new { @class = "form-control bais", required = "required" })
                                    @Html.ValidationMessageFor(m => m.GenericInfo.SituationStreetNo, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.TextBoxFor(m => m.GenericInfo.SituationSuburb, null, new { @class = "form-control bais", required = "required" })
                                    @Html.ValidationMessageFor(m => m.GenericInfo.SituationSuburb, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.DropDownListFor(m => m.GenericInfo.SituationState, Model.States, new { @class = "form-control bais" })
                                    @Html.ValidationMessageFor(m => m.GenericInfo.SituationState, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.TextBoxFor(m => m.GenericInfo.SituationPostCode, null, new { @class = "form-control post-code bais", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessageFor(m => m.GenericInfo.SituationPostCode, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <h3>Insured Details</h3>
            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Full Insured Name")
                    </td>
                    <td class="w-60">
                        @Html.TextBoxFor(m => m.GenericInfo.InsuredFullName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.GenericInfo.InsuredFullName, "", new { @class = "text-danger  " })
                    </td>
                </tr>

            </table>

            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Period of Insurance")
                    </td>
                    <td class="w-30">
                        @Html.Label("From")
                        @Html.TextBoxFor(m => m.GenericInfo.InsurancePeriodFrom, new { @class = "datepickerFrom form-control", @Value = Model.GenericInfo.InsurancePeriodFrom == null ? String.Empty : Model.GenericInfo.InsurancePeriodFrom.Value.ToString("dd/MM/yyyy"), required = "required", @placeholder = "DD/MM/YYYY", @readonly = "readonly" })
                    </td>
                    <td class="w-30">
                        @Html.Label("To")
                        @Html.TextBoxFor(m => m.GenericInfo.InsurancePeriodTo, new { @class = "datepickerTo form-control", @Value = Model.GenericInfo.InsurancePeriodTo == null ? String.Empty : Model.GenericInfo.InsurancePeriodTo.Value.ToString("dd/MM/yyyy"), required = "required", @placeholder = "DD/MM/YYYY", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(m => m.GenericInfo.InsurancePeriodFrom, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.GenericInfo.InsurancePeriodTo, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>

            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Limit of Liability")
                    </td>
                    <td class="w-60">
                        <div class="input-symbol-dollar">
                            @Html.DropDownListFor(m => m.GenericInfo.LiabilityLimit, Model.LiabilityLimit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GenericInfo.LiabilityLimit, "", new { @class = "text-danger" })

                        </div>
                    </td>
                </tr>
            </table>

            <h3>Disclosure Information</h3>
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnReferral" }) @* Model Placement for Referral to Underwriter Triggers  *@

            @Html.Label("Has the insured had any Liability Claims in the last 5 years?")
            <br />
            Yes @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoClaim, "true", new { @class = "trg-referral chkbox-true", onclick = "javascript:DisplayDisclaimerDetail1(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoClaim, "false", new { @class = "", onclick = "javascript:DisplayDisclaimerDetail1(false);", required = "required" })
            @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoClaim, "", new { @class = "text-danger" })

            <br /><br />
            <div id="DisclaimerPopup1" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.GenericInfo.DiscInfoClaimDetail, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoClaimDetail, "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>


            @Html.Label("Has the Insured ever had insurance declined or special terms imposed in the last 5 years?")
            <br />
            Yes @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoDecline, "true", new { @class = "trg-referral chkbox-true", onclick = "javascript:DisplayDisclaimerDetail2(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoDecline, "false", new { @class = "", onclick = "javascript:DisplayDisclaimerDetail2(false);", required = "required" })
            @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoDecline, "", new { @class = "text-danger" })

            <br /><br />
            <div id="DisclaimerPopup2" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.GenericInfo.DiscInfoDeclineDetail, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoDeclineDetail, "", new { @class = "text-danger" })
                <br />
            </div>


            @Html.Label("Had an insurer refuse or not invite renewal?")
            <br />
            Yes @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoRenewal, "true", new { @class = "trg-referral chkbox-true", onclick = "javascript:DisplayDisclaimerDetail3(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoRenewal, "false", new { @class = "", onclick = "javascript:DisplayDisclaimerDetail3(false);", required = "required" })
            @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoRenewal, "", new { @class = "text-danger" })
            <br /><br />
            <div id="DisclaimerPopup3" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.GenericInfo.DiscInfoRenewalDetail, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoRenewalDetail, "", new { @class = "text-danger" })
                <br />
            </div>


            @Html.Label("Had a special excess imposed on a policy insurance?")
            <br />
            Yes @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoExcess, "true", new { @class = "trg-referral chkbox-true", onclick = "javascript:DisplayDisclaimerDetail4(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoExcess, "false", new { @class = "", onclick = "javascript:DisplayDisclaimerDetail4(false);", required = "required" })
            @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoExcess, "", new { @class = "text-danger" })
            <br /><br />
            <div id="DisclaimerPopup4" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.GenericInfo.DiscInfoExcessDetail, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoExcessDetail, "", new { @class = "text-danger" })
                <br />
            </div>


            @Html.Label("Had a claim rejected under a policy of insurance?")
            <br />
            Yes @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoClaimRejected, "true", new { @class = "trg-referral chkbox-true", onclick = "javascript:DisplayDisclaimerDetail5(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoClaimRejected, "false", new { @class = "", onclick = "javascript:DisplayDisclaimerDetail5(false);", required = "required" })
            @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoClaimRejected, "", new { @class = "text-danger" })
            <br /><br />
            <div id="DisclaimerPopup5" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.GenericInfo.DiscInfoClaimRejectedDetail, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoClaimRejectedDetail, "", new { @class = "text-danger" })
                <br />
            </div>


            @Html.Label("Been declared bankrupt or put into receivership or liquidation?")
            <br />
            Yes @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoBankrupt, "true", new { @class = "trg-referral chkbox-true", onclick = "javascript:DisplayDisclaimerDetail6(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoBankrupt, "false", new { @class = "", onclick = "javascript:DisplayDisclaimerDetail6(false);", required = "required" })
            @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoBankrupt, "", new { @class = "text-danger" })
            <br /><br />
            <div id="DisclaimerPopup6" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.GenericInfo.DiscInfoBankruptDetail, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoBankruptDetail, "", new { @class = "text-danger" })
                <br />
            </div>


            @Html.Label("Been charged with or convicted of a criminal offence?")
            <br />
            Yes @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoConvicted, "true", new { @class = "trg-referral chkbox-true", onclick = "javascript:DisplayDisclaimerDetail7(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.GenericInfo.DiscInfoConvicted, "false", new { @class = "", onclick = "javascript:DisplayDisclaimerDetail7(false);", required = "required" })
            @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoConvicted, "", new { @class = "text-danger  " })
            <br /><br />
            <div id="DisclaimerPopup7" style="display:none;">
                @Html.Label("If Yes, please provide full details:")
                @Html.TextAreaFor(m => m.GenericInfo.DiscInfoConvictedDetail, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.GenericInfo.DiscInfoConvictedDetail, "", new { @class = "text-danger" })
                <br />
            </div>


            <h3>Underwriting Information</h3>
            @Html.Label("Select Policy Class ")
            @Html.HiddenFor(m => m.GenericInfo.InsuranceId, new { @id = "hdnInsuranceId" })
            @Html.HiddenFor(m => m.InsuranceType) @* Model Placement for Insurance Type Names *@
            @Html.DropDownListFor(m => m.GenericInfo.InsuranceId, Model.InsuranceTypes, new { @class = "form-control" })
            <br />
            <br />
            @*@Html.Recaptcha()
                @Html.ValidationMessage("ReCaptcha")*@
            <br />

            <div class="divSubmit">
                <input type="submit" id="btnProceed" value="Continue" class="btn btn-primary" />
            </div>

        </div>
    </div>
    //End Form
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/datepicker")
    @Styles.Render("~/Content/datepicker")
    @*@Scripts.Render("~/bundles/CBPage")*@

    <script type="text/javascript">
        //Date Validation
        $(document).ready(function () {
            $("#GenericInfo_InsuranceId option[value='20']").remove();

            $('.datepickerFrom').trigger('render')
            if ($('#GenericInfo_Status').val() === "Requote") {
                $('#GenericInfo_InsuranceId').prop("disabled", true);
            }
            var isBais = '@ViewBag.IsBais';
            $('.chkbox-true:checked').each(function () {
                $(this).trigger('onclick');
            });
            if (isBais == "1") {
                $('.bais').attr('readonly', 'readonly');
                //$('select.bais').attr("disabled", true)
            }
            $('.g-recaptcha').attr('data-callback', 'imNotARobot');
            $('.g-recaptcha').attr('data-theme', 'dark');
            //$('.divSubmit').hide();
            $(function () {
                $.validator.methods.date = function (value, element) {
                    return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
                }
            });

            //********************************************* On Click/Submit Event [PROCEED] *********************************************

            $("#btnProceed").click(function (e) {
                e.preventDefault();
                debugger
                //Check if there are still validations
                if ($('.invalid-error').length > 0) {
                    return //alert("Please fill up the required fields before submitting the form")
                }

                //Show Loader if Validation is True
                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                        //debugger
                    },
                });

                //Get Insurance Type Name
                var selectedInsuranceText = $("#GenericInfo_InsuranceId option:selected").text();
                var selectedInsuranceValue = $("#GenericInfo_InsuranceId option:selected").val();
                $("#InsuranceType").val(selectedInsuranceText);
                $("#hdnInsuranceId").val(selectedInsuranceValue);
                if ($('.trg-referral:checked').length > 0) {
                    $('#hdnReferral').val(true)
                }
                else {
                    $('#hdnReferral').val(false)
                }
                //Get Data from Form
                $("#GenericInfoForm").attr("action", "@Url.Action(Cover.Home.GenericInfoToDB())").submit();
            });

            //********************************************* End of On Click/Submit Event [PROCEED] *********************************************

            //Modify the background for this page
            $('.custom-image-background').addClass('custom-image-background-common custom-image-background-0');

            //Mask Input Fields
            $('#GenericInfo_PhoneNo').mask('(99) 9999 9999');
            $('.post-code').mask('9999');

            //Datepicker From
            $(".datepickerFrom").datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                startDate: new Date(),
                //endDate: new Date('09/29/2018') // <-- Specific Date as Threshold
                endDate: '+59D'
            }).on('changeDate', function (selectedDate) {

                debugger
                //September 25,2017 [Lock Date-To to minimum 1 year using Date-From]
                var aYearFromNow = new Date(selectedDate.date);
                aYearFromNow.setFullYear(aYearFromNow.getFullYear() + 1);
                //End of update

                $(".datepickerTo").datepicker('setDate', new Date(aYearFromNow));
                $(".datepickerTo").datepicker('setStartDate', new Date(selectedDate.date));
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            }).on('render', function () {
                debugger
                var selectedDate = new Date(moment($(this).val(), 'DD-MM-YYYY').format('MM/DD/YYYY'));
                $(".datepickerTo").datepicker('setStartDate', new Date(selectedDate));
            });


            //Datepicker To
            $(".datepickerTo").datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                //startDate: new Date(),
            }).on('changeDate', function (selectedDate) {
                debugger
                //$('#GenericInfo_InsurancePeriodTo').val(selectedDate.date.toLocaleDateString());
                if (selectedDate.date < $('.datepickerFrom').val()) {
                    $(this).datepicker('setDate', null);
                }
            });


            //Add Additional Situation Click Event
            $("#addSituation").on("click", function () {
                var situationDiv = $('.situationForm').clone().html();
                $(situationDiv).insertBefore('#addSituation');
            });

            checkBrokerageDetails();
           
        });

        function onBegin(xhr) {
            //ajaxindicatorstart();
        }
        
        function onComplete(xhr, status) {
            //ajaxindicatorstop();
        }
        var imNotARobot = function () {
            $('.divSubmit').show();
        };

        function checkBrokerageDetails() {
            if ($('#GenericInfo_BrokerageName').val().trim().toUpperCase() == 'BK-ARMA03'
                || $('#GenericInfo_BrokerageName').val().trim().toUpperCase() == 'ARMA INSURANCE BROKERS YOUNG PTY LTD (AR NAS)'
                || $('#GenericInfo_BrokerageName').val().trim().toUpperCase() == 'BK-INTE01'
                || $('#GenericInfo_BrokerageName').val().trim().toUpperCase() == 'INTEGRA INSURANCE BROKERS') {

                $("#GenericInfo_InsuranceId option[value='20']").remove();
                $("#GenericInfo_InsuranceId").append('<option value="20">Handmade</option>');

                $("#GenericInfo_InsuranceId").val(($('#hdnInsuranceId').val()));

            }
            else if ($('#GenericInfo_Email').val().trim().toLowerCase() == 'eleanorm@integraib.com.au'
                || $('#GenericInfo_Email').val().trim().toLowerCase() == 'mark.mellish@armainsurance.com.au') {

                $("#GenericInfo_InsuranceId option[value='20']").remove();
                $("#GenericInfo_InsuranceId").append('<option value="20">Handmade</option>');
                $("#GenericInfo_InsuranceId").val(($('#hdnInsuranceId').val()));

            }
            else {
                //$("#GenericInfo_InsuranceId").val($("#GenericInfo_InsuranceId option:first").val());
                $("#GenericInfo_InsuranceId option[value='20']").remove();
            }
        }

        //Display Popups
        function DisplayDisclaimerDetail1(bool) {

            $('.datepickerFrom').trigger('render')
            $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            if (bool == true) {
                $('#DisclaimerPopup1').css('display', 'block').attr("disabled", false);
            }
            else {
                var divElement = $('#DisclaimerPopup1');
                $(divElement).css('display', 'none');
                $(divElement).children('textarea').val('');
            }
        }

        function DisplayDisclaimerDetail2(bool) {
            $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            if (bool == true) {
                $('#DisclaimerPopup2').css('display', 'block').attr("disabled", false);
            }
            else {
                var divElement = $('#DisclaimerPopup2');
                $(divElement).css('display', 'none');
                $(divElement).children('textarea').val('');
            }
        }

        function DisplayDisclaimerDetail3(bool) {
            $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            if (bool == true) {
                $('#DisclaimerPopup3').css('display', 'block').attr("disabled", false);
            }
            else {
                var divElement = $('#DisclaimerPopup3');
                $(divElement).css('display', 'none');
                $(divElement).children('textarea').val('');
            }
        }

        function DisplayDisclaimerDetail4(bool) {
            $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            if (bool == true) {
                $('#DisclaimerPopup4').css('display', 'block').attr("disabled", false);
            }
            else {
                var divElement = $('#DisclaimerPopup4');
                $(divElement).css('display', 'none');
                $(divElement).children('textarea').val('');
            }
        }

        function DisplayDisclaimerDetail5(bool) {
            $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            if (bool == true) {
                $('#DisclaimerPopup5').css('display', 'block').attr("disabled", false);
            }
            else {
                var divElement = $('#DisclaimerPopup5');
                $(divElement).css('display', 'none');
                $(divElement).children('textarea').val('');
            }
        }

        function DisplayDisclaimerDetail6(bool) {
            $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            if (bool == true) {
                $('#DisclaimerPopup6').css('display', 'block').attr("disabled", false);
            }
            else {
                var divElement = $('#DisclaimerPopup6');
                $(divElement).css('display', 'none');
                $(divElement).children('textarea').val('');
            }
        }

        function DisplayDisclaimerDetail7(bool) {
            $('#hdnReferral').val(bool); //Triggers Underwriter Referral
            if (bool == true) {
                $('#DisclaimerPopup7').css('display', 'block').attr("disabled", false);
            }
            else {
                var divElement = $('#DisclaimerPopup7');
                $(divElement).css('display', 'none');
                $(divElement).children('textarea').val('');

            }
        }

        //Validations
        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        $('#GenericInfo_BrokerageName').blur(function () {
            checkBrokerageDetails();
        });

        $('#GenericInfo_Email').blur(function () {
            checkBrokerageDetails();
        });

    </script>
}
