﻿@{
    ViewBag.Title = "Thank you!";
}
<meta http-equiv="refresh" content="3;url=LiabilityPremiumReport" />

<div class="custom-box-container-info">

    @*Catchy Intro Text/Para*@
    <div class="info-page-header">
        <span>Thank you for getting a quotation with Ryno!</span>
    </div>

    <br />
    @*Application Description*@
    <div class="info-page-description">
        <p>An underwriter will be in contact via email with your quote</p>
    </div>

    <br />
    @*Get Started Button*@
    <div class="info-page-button">
        <input type="button" id="close" value="Exit" class="btn btn-primary" />
    </div>

</div>

@section Scripts {

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');
        $('.navbar-inverse.navbar-fixed-top').addClass('custom-element-ninja-hide');
        $('.custom-footer-box').addClass('custom-element-ninja-hide');
        $('#myDiv').css('background-color', 'transparent');
        $('#myDiv.container.body-content').css('background', 'transparent');

        $('body').addClass('no-scroll');

        var win = this.self;
        $('#close').click(function () {
            location.href = "@Url.Action("Index", "Home")";
            //location.href = "about: blank";
            //win.close();
        })

    </script>

}