﻿@{
    ViewBag.Title = "Thank you!";
}

<div class="custom-box-container-info">

    @*Catchy Intro Text/Para*@
    <div class="info-page-header">
        <span>@ViewBag.HeaderContent</span>
    </div>

    <br />
    @*Application Description*@
    <div class="info-page-description">
        <p>@ViewBag.DetailContent</p>
    </div>

    <br />
    @*Get Started Button*@
    @*<a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Take Me Home
        </a>
        <div class="info-page-button">
            <input type="button" id="close" value="Exit" class="btn btn-primary" />
        </div>*@
    <div class="period-form">
        <div class="error-actions">
            <a href="https://rynoinsurancebroker.com.au/" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-home"></span>
                Take Me Home
            </a>
            @*<a href="" class="btn btn-default btn-lg" id="close"> Close </a>*@
        </div>
    </div>

</div>


@section Scripts {

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-99');
        $('.navbar-inverse.navbar-fixed-top').addClass('custom-element-ninja-hide');
        $('.custom-footer-box').addClass('custom-element-ninja-hide');
        $('#myDiv').css('background-color', 'transparent !important');
        $('#myDiv.container.body-content').css('background', 'transparent');

        $('body').addClass('no-scroll');

        var win = this.self;
        $('#close').click(function () {
            location.href = "http://www.google.com";
            //location.href = "about: blank";
            //win.close();
        })

        //Inject New CSS
        $('.error-template').addClass('error-template-center-fixed');

    </script>

}