﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@
@Html.Hidden("model.SelectedEventType", "Market Organiser") @* Model Placement for Event Type Names *@
<table class="w-100">
    <tr>
        <td class="w-30" style="vertical-align: top;">
            <p style="color:white;">Market Address</p>
        </td>
        <td class="w-70">
            <table class="w-100">
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Street Number")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "534" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", autocomplete = "off" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Street Name")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "535" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Suburb")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "536" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market State")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "537" })
                        @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
                <tr>
                    <td class="w-40">
                        @Html.Label("Market Post Code")
                    </td>
                    <td class="w-60">
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "538" })
                        @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", placeholder = "1234" })
                        @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />

@*Dropdown*@
@Html.Label("Cover Required")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "539" })
@Html.DropDownListFor(m => m.LiabilityInsuranceListResult[5].Response, Model.AccommodationCoverRequired, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger  " })
<br />

@*@Html.Label("Please provide full details of all activities to be insured under the event")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "506" })
    @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
    <br />*@

@Html.Label("Frequency of markets")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "540" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control", @type = "", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Estimated number of attendees per market")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "541" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control wholeNumber  ", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Market operating times")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "542" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Is the Market")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "543" })
@Html.DropDownListFor(m => m.LiabilityInsuranceListResult[10].Response, Model.AccommodationIndoorOutdoor, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger  " })
<br />

@Html.Label("Number of Food Stalls")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "544" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[11].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Number of Market Stalls")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "545" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Do all Stall Holders hold their own Insurance?")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "546" })
<br />
Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[13].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", @class = "IsCheckedSubContractors" })
No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[13].Response, "No", new { @id = "model.LiabilityInsuranceListResult[13].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
<br /><br />

@Html.Label("Annual Turnover")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "547" })
<div class="input-symbol-dollar">
    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
</div>
<br />

@Html.Label("Years in Business")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "548" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required", @type = "number" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Number of Employees")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "549" })
@Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control NumberOfRooms wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
<br />

@Html.Label("Annual Wages")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "550" })
<div class="input-symbol-dollar">
    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[17].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[17].Response", required = "required" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })

</div>
<br />

@*CheckBox*@
@Html.Label("Please advise if your event will have any of the following:")
<br />
<div id="CheckboxEventHaveAnyContainer">
    @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
    {
        @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxEventHaveAny" })
        @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxEventHaveAny" })
        if (Model.CheckboxReferenceLookup[i].Text.TrimEnd() == "NONE OF THE ABOVE")
        {
            @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxEventHaveAny", onclick = "javascript:NoneOfTheAbove();" })
        }
        else
        {
            @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxEventHaveAny", onclick = "javascript:UncheckNoneOfTheAbove();" })
        }
        <span>@Model.CheckboxReferenceLookup[i].Text</span>
        <br />
    }
</div>
@Html.ValidationMessage("CheckboxEventHaveAnyValidation", "Please check atleast one item!", new { @class = "text-danger" })
<br />

@*ParentChildD*@
@Html.Label("Will you be serving, selling or supplying alcohol at your event?")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "552" })
<br />
Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[18].Response", required = "required", onclick = "javascript:DisplayChildD(true);", @class = "" })
No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "No", new { @id = "model.LiabilityInsuranceListResult[18].Response", required = "required", onclick = "javascript:DisplayChildD(false);" })
@Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
<br />
<br />

<div id="ChildD" style="display:none;">
    @Html.Label("Who is selling the alcohol")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[19].QuestionId, new { @id = "model.LiabilityInsuranceListResult[19].QuestionId", @Value = "553" })
    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[19].Response, new { @class = "form-control child-d", @id = "model.LiabilityInsuranceListResult[19].Response", required = "required" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[19].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Do they have their own liability insurance?")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[20].QuestionId, new { @id = "model.LiabilityInsuranceListResult[20].QuestionId", @Value = "554" })
    @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[20].Response, new { @class = "form-control child-d", @id = "model.LiabilityInsuranceListResult[20].Response", required = "required", maxlength = 255 })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[20].Response", "*This is a required field", new { @class = "text-danger" })
    <br />

    @Html.Label("Do they have the appropriate liquor license?")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[21].QuestionId, new { @id = "model.LiabilityInsuranceListResult[21].QuestionId", @Value = "555" })
    <br />
    Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[21].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[21].Response", required = "required", @class = "child-d" })
    No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[21].Response, "No", new { @id = "model.LiabilityInsuranceListResult[21].Response", required = "required", @class = "child-d" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[21].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    <br />
</div>

@*ParentChildA*@
@Html.Label("Are Sub-Contractors used?")
@Html.HiddenFor(m => m.LiabilityInsuranceListResult[22].QuestionId, new { @id = "model.LiabilityInsuranceListResult[22].QuestionId", @Value = "556" })
<br />
    Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[22].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
    No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "No", new { @id = "model.LiabilityInsuranceListResult[22].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[22].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    <br />

    <div id="ChildA" style="display:none;">
        @Html.Label("Total Amount paid to Sub Contractors")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[23].QuestionId, new { @id = "model.LiabilityInsuranceListResult[23].QuestionId", @Value = "557" })
        <div class="input-symbol-dollar">
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[23].Response, new { @class = "form-control child-a", @type = "number", @id = "model.LiabilityInsuranceListResult[23].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[23].Response", "*This is a required field", new { @class = "text-danger" })
        </div>
        <br />

        @Html.Label("Activities Performed by Sub Contractors")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[24].QuestionId, new { @id = "model.LiabilityInsuranceListResult[24].QuestionId", @Value = "558" })
        @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[24].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[24].Response", required = "required", maxlength = 255 })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[24].Response", "*This is a required field", new { @class = "text-danger" })
        <br />

        @Html.Label("Do Sub Contractors hold their own Insurance?")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[25].QuestionId, new { @id = "model.LiabilityInsuranceListResult[25].QuestionId", @Value = "559" })
        <br />
        Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[25].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[25].Response", required = "required", @class = "child-a" })
        No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[25].Response, "No", new { @id = "model.LiabilityInsuranceListResult[25].Response", required = "required", @class = "child-a" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[25].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />
    </div>

    @*ParentChildB*@
    @Html.Label("Are Labour Hire Personnel used?")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[26].QuestionId, new { @id = "model.LiabilityInsuranceListResult[26].QuestionId", @Value = "560" })
    <br />
    Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[26].Response", required = "required", onclick = "javascript:DisplayChildB(true);", @class = "IsCheckedHirePersonnel" })
    No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "No", new { @id = "model.LiabilityInsuranceListResult[26].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[26].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    <br />

    <div id="ChildB" style="display:none;">
        @Html.Label("Total Amount paid to Labour Hire Personnel")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[27].QuestionId, new { @id = "model.LiabilityInsuranceListResult[27].QuestionId", @Value = "561" })
        <div class="input-symbol-dollar">
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[27].Response, new { @class = "form-control child-b", @type = "number", @id = "model.LiabilityInsuranceListResult[27].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[27].Response", "*This is a required field", new { @class = "text-danger" })
        </div>
        <br />

        @Html.Label("Activities Performed by Labour Hire")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[28].QuestionId, new { @id = "model.LiabilityInsuranceListResult[28].QuestionId", @Value = "562" })
        @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[28].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[28].Response", required = "required", maxlength = 255 })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[28].Response", "*This is a required field", new { @class = "text-danger" })
        <br />

        @Html.Label("Do Labour Hire hold their own Insurance?")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[29].QuestionId, new { @id = "model.LiabilityInsuranceListResult[29].QuestionId", @Value = "563" })
        <br />
        Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[29].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[29].Response", @class = "child-b", required = "required" })
        No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[29].Response, "No", new { @id = "model.LiabilityInsuranceListResult[29].Response", @class = "child-b", required = "required" })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[29].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
        <br />
    </div>

    @*ParentChildC*@
    @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[30].QuestionId, new { @id = "model.LiabilityInsuranceListResult[30].QuestionId", @Value = "564" })
    <br />
    Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[30].Response", required = "required", onclick = "javascript:DisplayChildC(true);", @class = "IsCheckedHoldHarmlessAgreements" })
    No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "No", new { @id = "model.LiabilityInsuranceListResult[30].Response", onclick = "javascript:DisplayChildC(false);", required = "required" })
    @Html.ValidationMessage("model.LiabilityInsuranceListResult[30].Response", "*This is a required field", new { @class = "text-danger" })
    <br />
    <br />

    <div id="ChildC" style="display:none;">
        @Html.Label("If yes, please provide full details:")
        @Html.HiddenFor(m => m.LiabilityInsuranceListResult[31].QuestionId, new { @id = "model.LiabilityInsuranceListResult[31].QuestionId", @Value = "565" })
        @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[31].Response, new { @id = "model.LiabilityInsuranceListResult[31].Response", @class = "form-control child-c", required = "required", maxlength = 255 })
        @Html.ValidationMessage("model.LiabilityInsuranceListResult[31].Response", "*This is a required field", new { @class = "text-danger" })
        <br />
    </div>

    @*<p class="comment-style">Additional Information/Comments</p>*@
    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "566" })
    @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[6].Response" })*@


    @section Scripts{
        <script type="text/javascript">


        </script>
    }

