﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels
@{
    ViewBag.Title = "Accommodation";
}


<br />
<h2 class="header-orange">Accommodation</h2>

<br />
<div class="custom-content-desc">
    @*<p>Fill up the details as required so we can provide the perfect quotation just for you</p>*@
    <p>Please provide the following underwriting information: </p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "AccommodationForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@
            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">

                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "301" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", autocomplete = "off" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "302" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "303" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "304" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "305" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            @*Dropdown*@
            @Html.Label("Type of Accommodation")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "306" })
            @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[5].Response, Model.DropdownReferenceLookup, new { @class = "form-control accom-class", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger  " })
            <br /><br />

            @*CheckBox*@
            @Html.Label("Does the Accommodation fall under any of the following categories?")
            <br />
            <div id="CheckboxAccommodationUsedContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxAccommodationUsed" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxAccommodationUsed" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationUsed", onclick = "javascript:NoneOfTheAbove();", @class = "noneoftheabove" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxAccommodationUsed", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxAccommodationUsedValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @Html.Label("Is Property Owners Liability required?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "309" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Number of Rooms")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "307" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control NumberOfRooms wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "310" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control AnnualTurnover", @number = "number", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "311" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Does the premises have a Licensed Bar?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "312" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[9].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[9].Response", @class = "option-referral IsCheckedLicensedBar", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[9].Response, "No", new { @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Does the premises have a Licensed Restaurant?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "313" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[18].Response", @class = "option-referral IsCheckedLicensedBar", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "No", new { @id = "model.LiabilityInsuranceListResult[18].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />


            @Html.Label("Does the premises have smoke detectors?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "314" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[11].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "No", new { @id = "model.LiabilityInsuranceListResult[11].Response", @class = "option-referral IsCheckedSmokeDetectors", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />


            @Html.Label("Does the premises have any sporting facilities?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "315" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[12].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[12].Response", @class = "option-referral IsCheckedSportingFacilities display-child-true", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[12].Response, "No", new { @id = "model.LiabilityInsuranceListResult[12].Response", @class = "display-child-false", onclick = "javascript:MyModel.displayChild(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "318" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger child-a" })
                <br />
            </div>
            @Html.Label("Does the premises have a children's playground?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "316" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[16].Response", @class = "option-referral IsCheckedDisabled display-child-true",  required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "No", new { @id = "model.LiabilityInsuranceListResult[16].Response",  @class = "display-child-false", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />
            <div id="ChildB" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "319" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[17].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
            </div>
            @Html.Label("Does the premises provide Accommodation for occupants who have an intellectual or physical disability?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "317" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[14].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[14].Response", @class = "option-referral IsCheckedAccommodationForDisabled display-child-true", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[14].Response, "No", new { @id = "model.LiabilityInsuranceListResult[14].Response",  @class = "display-child-false", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />
            <div id="ChildC" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "320" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
            </div>

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[19].QuestionId, new { @id = "model.LiabilityInsuranceListResult[19].QuestionId", @Value = "321" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[19].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[19].Response" })*@
            <br />

            @*<input id="uploadFile" placeholder="Add files from My Computer" />
                <div class="fileUpload btn btn-primary">
                    <span>Browse</span>
                    <input id="uploadBtn" type="file" class="upload" multiple="multiple" name="browsefile" />
                </div>
                <div id="upload_prev"></div>*@


            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">


        var MyModel = (function () {

            // Constructor
            function MyModel() {
            }

            function validateForm() {
                $('[type="text"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                var checkboxesValid = ValidateCheckbox();
                if (checkboxesValid) {
                    if (!$('#AccommodationForm').valid()) {
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    return false;
                }

            }
            function ClearFields(element) {
                $(element).find(':input').each(function () {
                    switch (this.type) {
                        case 'button':
                        case 'text':
                        case 'submit':
                        case 'password':
                        case 'file':
                        case 'email':
                        case 'date':
                        case 'number':
                        case 'textarea':
                            $(this).val('');
                            break;
                        case 'checkbox':
                        case 'radio':
                            this.checked = false;
                            break;
                    }
                });
            };
            function ValidateCheckbox() {
                var valid = true
                var ctr = 0
                $('#CheckboxAccommodationUsedContainer').each(function () {
                    var checked = $(this).find('input[type="checkbox"]:checked');
                    if (checked.length === 0) {
                        $(this).addClass('ValidateContainer');
                        $(this).next('span:first').css("display", "block");
                        ctr++;
                    } else {
                        $(this).removeClass('ValidateContainer');
                        $(this).next('span:first').css("display", "none");

                    }
                });
                if (ctr > 0) {
                    valid = false;
                }
                return valid;
            }
            function checkTriggers() {
                var accomClass = $('.accom-class').val();
                var numOfRooms = $('.NumberOfRooms').val()
                var annualTurnover = $('.AnnualTurnover').val();
                var IsCheckedLicenseBar = $('.IsCheckedLicensedBar:checked').length;
                var IsCheckedSmokeDetectors = $('.IsCheckedSmokeDetectors:checked').length;
                var IsCheckedSportingFacilities = $('.IsCheckedSportingFacilities:checked').length;
                var IsCheckedDisabled = $('.IsCheckedDisabled:checked').length;
                var IsCheckedAccommodationForDisabled = $('.IsCheckedAccommodationForDisabled:checked').length;

                var triggered = false;
                if ((accomClass === 'Backpackers' && numOfRooms > 50)) {
                    $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if ((accomClass === 'Boarding Houses') && (numOfRooms > 50)) {
                    $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if ((accomClass === 'Student Accommodation') && (numOfRooms > 50)) {
                    $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if ((accomClass === 'Bed & Breakfast') && (numOfRooms > 15)) {
                    $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                if (annualTurnover > 3000000) {
                    $('<input id="model.LiabilityInsuranceListResult[7].IsTriggered" name="model.LiabilityInsuranceListResult[7].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if ((accomClass === 'Backpackers') && (IsCheckedLicenseBar > 0)) {
                    $('<input id="model.LiabilityInsuranceListResult[9].IsTriggered" name="model.LiabilityInsuranceListResult[9].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if (IsCheckedSmokeDetectors > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[11].IsTriggered" name="model.LiabilityInsuranceListResult[11].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if (IsCheckedSportingFacilities > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[12].IsTriggered" name="model.LiabilityInsuranceListResult[12].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if (IsCheckedDisabled > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[16].IsTriggered" name="model.LiabilityInsuranceListResult[16].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if (IsCheckedAccommodationForDisabled > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[14].IsTriggered" name="model.LiabilityInsuranceListResult[14].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                return triggered;
            }


            MyModel.prototype.render = function () {

                //None of the above
                $('.noneoftheabove').on('change', function () {
                    $(this).prevAll('[type="checkbox"]').prop('checked', false)
                })
                $('[type="checkbox"]').on('change', function () {
                    ValidateCheckbox();
                    if (!$(this).hasClass('noneoftheabove')) {
                        $('.noneoftheabove').prop('checked', false)
                    }
                })
                //Set Display child function
                $('.display-child-false').on('click', function () {
                    var element = $(this).nextAll('div').first()
                    $(element).css('display', 'none');
                    $('.child-a').each(function () {
                        $(this).next('span:first').removeClass('invalid-error');
                        $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                            .css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    });
                    ClearFields(element);
                });
               
                $('.display-child-true').on('click', function () {
                    debugger
                    var element = $(this).nextAll('div').first()

                    $(element).css('display', 'block');
                    $('[class*="child"]').each(function () {
                        $(this).next('span:first').removeClass('invalid-error');
                        $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                        $(this).removeClass('input-validation-error');
                        $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                    });


                });
                //Modify the background for this quotation
                $('.custom-image-background').addClass('custom-image-background-common custom-image-background-1');

                //Mask Input Fields
                $('.post-code').mask('9999');
                $('[type="text"]').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').blur(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('textarea').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="radio"][value="true"]').click();
            }
            MyModel.prototype.submit = function () {
                debugger
                var valid = validateForm();
                if (valid) {

                    $('[number="number"]').each(function () {

                        var element = $(this);
                        var numToFormat = $(element).val();
                        $(element).val(numeral(numToFormat).format('0.[00]'))

                    });
                    $('#hdnHasReferral').val(checkTriggers());
                    showLoader();



                    return true;
                }
                else {
                    return false;
                }
            }

            return MyModel;
        })();




        $(document).ready(function () {
            var model = new MyModel();
            model.render();
            downloadAF(initAF);
            $("#AccommodationForm").attr("action", "@Url.Action(Cover.Quotation.Accommodation())").submit(function () {
                return model.submit();
            })
        })

    </script>
}
