﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Cleaners";
}

<br />
<h2 class="header-orange">Cleaners</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />

@using (Ajax.BeginForm("Cleaners", "Quotation",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "CleanersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            @*September 26,2017 - Add Situation Address on Top*@
            <table class="w-60">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].GroupId, new { @id = "model.LiabilityInsuranceListResult[11].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "236" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[11].Response", required = "required", autocomplete = "off" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].GroupId, new { @id = "model.LiabilityInsuranceListResult[12].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "237" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].GroupId, new { @id = "model.LiabilityInsuranceListResult[13].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "238" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].GroupId, new { @id = "model.LiabilityInsuranceListResult[14].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "239" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[14].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].GroupId, new { @id = "model.LiabilityInsuranceListResult[15].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "240" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            @*CheckBox*@
            @Html.Label("Please select ALL activities performed")
            <br />

            <div id="CheckBoxGroupContainer" class="checkbox-validation CheckBoxContainer">

                @{var counter = 0;}
                @for (int i = 1; i < Model.CleanersModelCheckBoxGroup.Max(x => x.GroupId) + 1; i++)
                {
                    <p>@String.Format("Group {0}", i)</p>
                    for (int p = 0; p < Model.CleanersModelCheckBoxGroup.Where(x => x.GroupId == i).Count(); p++)
                    {
                        @Html.HiddenFor(m => m.CleanersModelCheckBoxGroup[counter].GroupId, new { @id = "CheckBoxGroup1Response" })
                        @Html.HiddenFor(m => m.CleanersModelCheckBoxGroup[counter].Text, new { @id = "CheckBoxGroup1Response" })
                        @Html.HiddenFor(m => m.CleanersModelCheckBoxGroup[counter].Value, new { @id = "CheckBoxGroup1Response" })
                    
                        if (Model.CleanersModelCheckBoxGroup[counter].Text.TrimEnd().ToUpper() == "OTHER" && i == 4)
                        {
                            @Html.CheckBoxFor(m => m.CleanersModelCheckBoxGroup[counter].Selected, new { @id = "CheckBoxGroup1Response", @class = "chk-others", onclick = "javascript:CBClickOther(checked);" })
                            
                            @Html.TextBoxFor(m => m.CleanersModelCheckBoxGroup[counter].Value,null, new {@class = "otherGroup4", placeholder = "Other", onclick = "javascript:TextClickOther();" })
                            @Html.ValidationMessage("model_CleanersModelCheckBoxGroup_" + counter + "__Value", "Please enter a description of the activity.", new { @class = "text-danger" })
                            @Html.Hidden("IndexGroup4Other", counter, new { @id = "indexGroup4Other" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.CleanersModelCheckBoxGroup[counter].Selected, new { @id = "CheckBoxGroup1Response" })
                            <span>@Model.CleanersModelCheckBoxGroup[counter].Text</span>
                        }
                        counter++;
                        <br />
                    }
                    <br />
                }
            </div>
            @Html.ValidationMessage("model.CleanersModelCheckBoxGroupText", "Please check atleast one item!", new { @class = "text-danger" })

            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "12" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "13" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @*ParentChildA*@
            @Html.Label("Are Sub-Contractors used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "14" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[3].Response, "No", new { @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "20" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control child-a", @type = "number", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "21" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "274" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "15" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[6].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildB(true);", @class = "IsCheckedHirePersonnel" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[6].Response, "No", new { @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "22" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control child-b", @type = "number", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "23" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Labour Hire hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "275" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[18].Response", @class = "child-b", required = "required" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "No", new { @id = "model.LiabilityInsuranceListResult[18].Response", @class = "child-b", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*DropdownA*@
            @Html.Label("Loss of Keys Extension")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "16" })
            <div class="input-symbol-dollar">
                @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[9].Response, Model.LossKeys, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @*ParentChildC*@
            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.Hidden("model.LiabilityInsuranceListResult[10].QuestionId", "17", new { @id = "model.LiabilityInsuranceListResult[10].QuestionId" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", onclick = "javascript:DisplayChildC(true);", @class = "IsCheckedHoldHarmlessAgreements" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", onclick = "javascript:DisplayChildC(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildC" style="display:none;">
                @Html.Label("If yes, please provide full details:")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "241" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[16].Response, new { @id = "model.LiabilityInsuranceListResult[16].Response", @class = "form-control child-c", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @Html.Label("Are any of the following activities or services to be included?")
            <br />
            <div id="CheckBoxIncludedActivitiesContainer" class="checkbox-validation CheckBoxContainer">
                @for (int i = 0; i < Model.CleanersModelCheckBoxIncludedActivities.Count; i++)
                {
                    @Html.HiddenFor(m => m.CleanersModelCheckBoxIncludedActivities[i].Text, new { @id = "CheckBoxIncludedActivitiesResponse" })
                    @Html.HiddenFor(m => m.CleanersModelCheckBoxIncludedActivities[i].Value, new { @id = "CheckBoxIncludedActivitiesResponse" })
                    if (Model.CleanersModelCheckBoxIncludedActivities[i].Text.TrimEnd() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CleanersModelCheckBoxIncludedActivities[i].Selected, new { @id = "CheckBoxIncludedActivitiesResponse", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CleanersModelCheckBoxIncludedActivities[i].Selected, new { @id = "CheckBoxIncludedActivitiesResponse", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CleanersModelCheckBoxIncludedActivities[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckBoxIncludedActivitiesValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "19" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[0].Response" })*@
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-2');

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {

        }

        $(document).ready(function () {
            downloadAF(initAF);
            if ('@ViewBag.Status' == "New" || '@ViewBag.OtherHasValue' == "0") {
                $('.otherGroup4').val('');
            }
            $('[type="checkbox"]').on('change', function () {
                ValidateCheckbox();
            });

            $('.otherGroup4').on('blur', function () {
                if ($('.chk-others:checked').length == 1 && $('.otherGroup4').val() == "") {
                    $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"]').css('display', 'block');
                }
                else if ($('.chk-others:checked').length == 1 && $('.otherGroup4').val() != "") {
                    $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"]').css('display', 'none');
                }
            });

            $("#CleanersForm").attr("action", "@Url.Action(Cover.Quotation.Cleaners())").submit(function () {
                $('[type="text"]').filter(function () {
                    return !$(this).hasClass('otherGroup4') || !$(this).parent('[style="display:none;"]')
                }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });


                //Omit Negative Values
                //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");

                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                debugger
                var checkboxesValid = true;
                ValidateCheckbox();
                if ($('.ValidateContainer').length > 0) {
                    checkboxesValid = false;
                }

                if (checkboxesValid) {
                    if (!$(this).valid()) {
                        return false;
                    }
                    else {
                        $('[number="number"]').each(function () {
                            var element = $(this);
                            var numToFormat = $(element).val();
                            $(element).val(numeral(numToFormat).format('0.[00]'))

                        });
                        $('#hdnHasReferral').val(CheckIfHasReferral());

                        showLoader();
                        return true;
                    }
                }
                else {
                    return false;
                }

            });
        });


        //Popup Questions
        function DisplayChildA(bool) {
            var element = $('#ChildA')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        function DisplayChildB(bool) {
            var element = $('#ChildB')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        function DisplayChildC(bool) {
            var element = $('#ChildC')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };

        ////Validate Checkbox Group
        //$('[id="CheckBoxGroupResponse"]').change(function () {

        //    var length = $('[type="checkbox"][id="CheckBoxGroupResponse"]').length;
        //    for (var ctr = 0; ctr < length; ctr++) {

        //        if ($('[type="checkbox"][id="CheckBoxGroupResponse"]')[ctr].checked) {
        //            $('#CheckBoxGroupContainer').removeClass('ValidateContainer');
        //            $('[data-valmsg-for="CheckBoxGroupValidation"]').removeClass('invalid-error');
        //            $('[data-valmsg-for="CheckBoxGroupValidation"]').css('display', 'none');
        //            return;
        //        }
        //    }
        //    $('#CheckBoxGroupContainer').addClass('ValidateContainer');
        //    $('[data-valmsg-for="CheckBoxGroupValidation"]').addClass('invalid-error');
        //    $('[data-valmsg-for="CheckBoxGroupValidation"]').css('display', 'block');
        //});


        ////Validate Checkbox Included Activities
        //$('[id="CheckBoxIncludedActivitiesResponse"]').change(function () {

        //    var length = $('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]').length;
        //    for (var ctr = 0; ctr < length; ctr++) {

        //        if ($('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]')[ctr].checked) {
        //            $('#CheckBoxIncludedActivitiesContainer').removeClass('ValidateContainer');
        //            $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').removeClass('invalid-error');
        //            $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').css('display', 'none');
        //            return;
        //        }
        //    }
        //    $('#CheckBoxIncludedActivitiesContainer').addClass('ValidateContainer');
        //    $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').addClass('invalid-error');
        //    $('[data-valmsg-for="CheckBoxIncludedActivitiesValidation"]').css('display', 'block');
        //});
        //Clear Checkbox if checked none of the above
        function NoneOfTheAbove() {
            var length = $('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]')[ctr]).prop('checked', false)
            }
        }

        function UncheckNoneOfTheAbove() {
            //Get the last node in checkbox
            var length = $('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]').length - 1;

            //Uncheck the last node - which will always be the none of the above
            $($('[type="checkbox"][id="CheckBoxIncludedActivitiesResponse"]')[length]).prop('checked', false)
        }


        //Validations
        $('[type="text"]').filter(function () {
            return !$(this).parent('[style="display:none;"]')
        }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });


        //Omit Negative Values
        //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");

        $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });
        function ValidateCheckbox() {
            var valid = true
            var ctr = 0
            $('.CheckBoxContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    //If "Others" Checkbox = true AND  "Others" Textbox = blank
                    if ($('.chk-others:checked').length == 1 && $('.otherGroup4').val() == "") {
                        $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"]').css('display', 'block');
                        ctr++;
                    }
                    else if ($('.chk-others:checked').length == 1 && $('.otherGroup4').val() != "") {
                        $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"]').css('display', 'none');
                    }

                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;

        };
        //List out Triggered Fields (Referral to Underwriter)
        function CheckIfHasReferral() {
            debugger
            //Questions with Triggers
            var AnnualTurnover = parseInt($('.AnnualTurnover').val());
            var IsCheckedSubContractors = $('.IsCheckedSubContractors:checked').length;
            var IsCheckedHirePersonnel = $('.IsCheckedHirePersonnel:checked').length;
            var IsCheckedHoldHarmlessAgreements = $('.IsCheckedHoldHarmlessAgreements:checked').length;
            //var IsCheckedIncludedActivities = $('#CheckBoxIncludedActivitiesResponse:checked').length;
            var otherCheckboxValue = $('.otherGroup4').val();

            //Function Variables
            var ctr = 0;
            var hasReferral = false;

            //Append Hidden Record for Triggers

            if (AnnualTurnover > 3000000) {
                $('<input id="model.LiabilityInsuranceListResult[1].IsTriggered" name="model.LiabilityInsuranceListResult[1].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedSubContractors > 0) {
                $('<input id="model.LiabilityInsuranceListResult[3].IsTriggered" name="model.LiabilityInsuranceListResult[3].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedHirePersonnel > 0) {
                $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            if (IsCheckedHoldHarmlessAgreements > 0) {
                $('<input id="model.LiabilityInsuranceListResult[10].IsTriggered" name="model.LiabilityInsuranceListResult[10].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }

            // GET: USER INPUT FROM OTHERS
            if ($.trim(otherCheckboxValue) != '') {
                $('<input id="model.LiabilityInsuranceListResult[19].QuestionId" name="model.LiabilityInsuranceListResult[19].QuestionId" type="hidden" value="11">').insertBefore('.custom-form-box');
                $('<input id="model.LiabilityInsuranceListResult[19].Response" name="model.LiabilityInsuranceListResult[19].Response" type="hidden" value="' + otherCheckboxValue + '">').insertBefore('.custom-form-box');
                $('<input id="model.LiabilityInsuranceListResult[19].ActivityGroup" name="model.LiabilityInsuranceListResult[19].ActivityGroup" type="hidden" value="4">').insertBefore('.custom-form-box');
            }

            //IsCheckedIncludedActivities
            //Referral triggers for checkboxes are done in the controller itself.

            return hasReferral;
        };

        function CBClickOther(value) {
            debugger
            if (value) {
                $('.otherGroup4').prop('required');
                $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"]').css('display', 'block');
            }
            else {
                $('.otherGroup4').val('');
                $('.otherGroup4').removeProp('required');
                $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"]').css('display', 'none');
            }
        }
        function TextClickOther() {
            debugger
            $($('[type="checkbox"].chk-others')).prop('checked', true);
            $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value').css('display', 'none');

            $('#CheckBoxGroupContainer').removeClass('ValidateContainer');
            $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"').removeClass('invalid-error');
            $('[data-valmsg-for="model_CleanersModelCheckBoxGroup_' + $('#indexGroup4Other').val() + '__Value"]').css('display', 'none');

            $('[data-valmsg-for="CheckboxValidation"]').css('display', 'none');
        }

    </script>
}