﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Events And Markets";
}

<br />
<h2 class="header-orange">Events And Markets</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "EventsAndMarketsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-9">
        <div class="custom-form-box">

            @Html.Label("Select Type ")
            @Html.DropDownListFor(m => m.SelectedEventType, Model.EventType, new { @class = "form-control dropdown", required = "required" })
            @Html.ValidationMessage("model.EventType", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div id="EAndMContainer"></div>
            <br /><br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/_EventOrganiserScript")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-13');

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
        }

        $(document).ready(function () {
           
            //$('#model.EventType').each(function () {
            //    var attrName = $(this).attr('name');
            //    $(this).attr('name', 'model' + attrName)
            //})
            //Load Requote Partial Data (Inital Load)
            selectedEventType = $('.dropdown').val();
            if (selectedEventType == "1") {
                showLoader()
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._EventOrganiser()))', callback);
               
            }
            else if (selectedEventType == "2") {
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._MarketOrganiser()))', callback);
            }
            else {
                $("#EAndMContainer").empty();
            }


            //Get Form Data
            $("#EventsAndMarketsForm").attr("action", "@Url.Action(Cover.Quotation.EventsAndMarkets())").submit(function () {
                debugger
                //Get Event Type
                //var selectedEventTypeText = $(".dropdown option:selected").text();
                //$("#hdnEventType").val(selectedEventTypeText);

                //Validate Fields
                $('[type="text"]').filter(function () {
                    return !$(this).parent('[style="display:none;"]')
                }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                
                $('[type="checkbox"]').on('change', function () {
                    ValidateCheckbox();
                });
                
                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                //textareaCallback();
                var checkboxesValid = ValidateCheckbox();
                //Set Referral Flags
                if ($('.option-referral:radio:checked').length > 0) {
                    $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
                }
                if (checkboxesValid) {
                    if (!$(this).valid()) {
                        return false;
                    }
                    else {
                      
                        showLoader();
                        $('[number="number"]').each(function () {
                            var element = $(this);
                            var numToFormat = $(element).val();
                            $(element).val(numeral(numToFormat).format('0.[00]'))

                        });
                        return true;
                    }
                }
                else {
                    return false
                }
            });
        });


        $('.dropdown').on('change', function () {
            showLoader();
            value = $(this).val();
            if (value == "1") {
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._EventOrganiser()))', callback);
            }
            else if (value == "2") {
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._MarketOrganiser()))', callback);
            }
            else {
                $("#EAndMContainer").empty();
            }

        })

        //Checkbox Validation
        function ValidateCheckbox() {
            debugger
            var valid = true
            var ctr = 0
            $('#CheckboxEventHaveAnyContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };


        //Validate Checkbox Event Has Any of the Following
        var callback = function callback() {
            $('.wholeNumber').on('blur', function () {
                debugger
                var numberToFormat = $(this).val()
                if (numberToFormat === '') {
                    return
                }
                else {
                    $(this).val(numeral(numberToFormat).format('0,0'))
                }

            });
            downloadAF(initAF);
            $('[type="number"]').attr('type', 'text').attr('number', 'number').val()
            $('[number="number"]').attr('onkeypress', 'return isNumber(event)')
            $('[number="number"]').on('focus', function () {
                debugger
                var numberToFormat = $(this).val()
                if (numberToFormat === '') {
                    return
                }
                else {
                    $(this).val(numeral(numberToFormat).format('0.[00]'))
                }

            });
            $('[number="number"]').on('blur', function () {
                debugger
                var numberToFormat = $(this).val()
                if (numberToFormat === '') {
                    return
                }
                else {
                    $(this).val(numeral(numberToFormat).format('0,0.[00]'))
                }

            });
            $('[type="number"]').attr('onkeypress', 'return isNumber(event)')
            $('[id="CheckboxEventHaveAny"]').change(function () {
                debugger
                var length = $('[type="checkbox"][id="CheckboxEventHaveAny"]').length;
                for (var ctr = 0; ctr < length; ctr++) {

                    if ($('[type="checkbox"][id="CheckboxEventHaveAny"]')[ctr].checked) {
                        $('#CheckboxEventHaveAnyContainer').removeClass('ValidateContainer');
                        $('[data-valmsg-for="CheckboxEventHaveAnyValidation"]').removeClass('invalid-error');
                        $('[data-valmsg-for="CheckboxEventHaveAnyValidation"]').css('display', 'none');
                        return;
                    }
                }
                $('#CheckboxEventHaveAnyContainer').addClass('ValidateContainer');
                $('[data-valmsg-for="CheckboxEventHaveAnyValidation"]').addClass('invalid-error');
                $('[data-valmsg-for="CheckboxEventHaveAnyValidation"]').css('display', 'block');

            });

            $('[id="CheckboxEventHaveAny"]').each(function () {
                var attrName = $(this).attr('name');
                $(this).attr('name', "model." + attrName)
            })

            //Re-bind blur validation
            validatefield();

            //Activate Radio?
            $('[type="radio"]:checked').click();

            //Add Fade In
            $("#EAndMContainer").addClass('fadein');

            //Mask Input Fields
            $('.post-code').mask('9999');
           
            //Remove Loader
            killLoader();
            $('[name*="LiabilityInsuranceListResult"]').each(function () {
                var attrName = $(this).attr('id');
                $(this).attr('name', attrName)
            })
        }


        //Clear Checkbox if checked none of the above
        function NoneOfTheAbove() {
            debugger
            var length = $('[type="checkbox"][id="CheckboxEventHaveAny"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="CheckboxEventHaveAny"]')[ctr]).prop('checked', false)
            }
        }

        function UncheckNoneOfTheAbove() {
            //Get the last node in checkbox
            var length = $('[type="checkbox"][id="CheckboxEventHaveAny"]').length - 1;

            //Uncheck the last node - which will always be the none of the above
            $($('[type="checkbox"][id="CheckboxEventHaveAny"]')[length]).prop('checked', false)
        }

        //Clear Element Contents
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };

        //Popup Questions
        // --> Parent Child A
        function DisplayChildA(bool) {
            var element = $('#ChildA')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', '');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                

                ClearFields(element);
            }
        }

        // --> Parent Child B
        function DisplayChildB(bool) {
            var element = $('#ChildB')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', '');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child C
        function DisplayChildC(bool) {
            var element = $('#ChildC')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', '');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child D
        function DisplayChildD(bool) {
            var element = $('#ChildD')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', '');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }


        //Normal Field Validations
        function validatefield() {
            $('[type="text"]').blur(function () {
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('textarea').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
        }

    </script>

}