﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="header-orange">General</h2>

<br />

<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "GeneralForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "600" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", autocomplete = "off" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "601" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "602" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "603" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "604" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />


            @Html.Label("Please provide a full description of business activities")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "605" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", maxlength = 255 })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "606" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "607" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Employees")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "608" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control NumberOfRooms wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Wages")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "609" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control AnnualTurnover", @type = "number", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @*ParentChildE*@
            @Html.Label("Do you Import any of your products?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "610" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[11].Response", required = "required", onclick = "javascript:DisplayChildE(true);", @class = "" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "No", new { @id = "model.LiabilityInsuranceListResult[11].Response", required = "required", onclick = "javascript:DisplayChildE(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildE" style="display:none;">

                @Html.Label("List Product/s")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "611" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control child-e", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("List Country/ies Imported From")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "617" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[18].Response, new { @class = "form-control child-f", @id = "model.LiabilityInsuranceListResult[18].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("Turnover derived from Importing")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[19].QuestionId, new { @id = "model.LiabilityInsuranceListResult[19].QuestionId", @Value = "618" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[19].Response, new { @class = "form-control child-f", @type = "number", @id = "model.LiabilityInsuranceListResult[19].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[19].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Please provide full details of all quality control procedures")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "614" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control child-e", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*ParentChildF*@
            @Html.Label("Do you Export any of your products?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "615" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", onclick = "javascript:DisplayChildF(true);", @class = "" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "No", new { @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", onclick = "javascript:DisplayChildF(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildF" style="display:none;">

                @Html.Label("List Product/s")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "616" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[17].Response, new { @class = "form-control child-f", @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("List Country/ies Exported to")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "612" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control child-e", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("Turnover derived from Exporting")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "613" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control child-e", @type = "number", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Please provide full details of all quality control procedures")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[20].QuestionId, new { @id = "model.LiabilityInsuranceListResult[20].QuestionId", @Value = "619" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[20].Response, new { @class = "form-control child-f", @id = "model.LiabilityInsuranceListResult[20].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[20].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*CheckBox*@
            @Html.Label("Does the Insured perform any work in connection with the following:")
            <br />
            <div id="CheckboxInsuredPerformContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxInsuredPerform" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxInsuredPerform" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd() == "NONE OF THE ABOVE")
                    {
                    @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxInsuredPerform", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    {
                    @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxInsuredPerform", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxInsuredPerformValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            <p class="comment-style">
                If yes to any of the above, please provide full details of activities and turnover derived from these activities
            </p>
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[21].QuestionId, new { @id = "model.LiabilityInsuranceListResult[21].QuestionId", @Value = "621" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[21].Response, new { @class = "form-control child-a conditional-textarea", @id = "model.LiabilityInsuranceListResult[21].Response", maxlength = 255  })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[21].Response", "*This is a required field", new { @class = "text-danger" })
            <br />


            @*ParentChildA*@
            @Html.Label("Are Sub-Contractors used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[22].QuestionId, new { @id = "model.LiabilityInsuranceListResult[22].QuestionId", @Value = "622" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[22].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "No", new { @id = "model.LiabilityInsuranceListResult[22].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[22].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[23].QuestionId, new { @id = "model.LiabilityInsuranceListResult[23].QuestionId", @Value = "623" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[23].Response, new { @class = "form-control child-a", @type = "number", @id = "model.LiabilityInsuranceListResult[23].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[23].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[24].QuestionId, new { @id = "model.LiabilityInsuranceListResult[24].QuestionId", @Value = "624" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[24].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[24].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[24].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[25].QuestionId, new { @id = "model.LiabilityInsuranceListResult[25].QuestionId", @Value = "625" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[25].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[25].Response", required = "required", @class = "child-a" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[25].Response, "No", new { @id = "model.LiabilityInsuranceListResult[25].Response", required = "required", @class = "child-a" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[25].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[26].QuestionId, new { @id = "model.LiabilityInsuranceListResult[26].QuestionId", @Value = "626" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[26].Response", required = "required", onclick = "javascript:DisplayChildB(true);", @class = "IsCheckedHirePersonnel" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "No", new { @id = "model.LiabilityInsuranceListResult[26].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[26].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[27].QuestionId, new { @id = "model.LiabilityInsuranceListResult[27].QuestionId", @Value = "627" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[27].Response, new { @class = "form-control child-b", @type = "number", @id = "model.LiabilityInsuranceListResult[27].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[27].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[28].QuestionId, new { @id = "model.LiabilityInsuranceListResult[28].QuestionId", @Value = "628" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[28].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[28].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[28].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Labour Hire hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[29].QuestionId, new { @id = "model.LiabilityInsuranceListResult[29].QuestionId", @Value = "629" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[29].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[29].Response", @class = "child-b", required = "required" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[29].Response, "No", new { @id = "model.LiabilityInsuranceListResult[29].Response", @class = "child-b", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[29].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>


            @*ParentChildC*@
            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[30].QuestionId, new { @id = "model.LiabilityInsuranceListResult[30].QuestionId", @Value = "630" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[30].Response", required = "required", onclick = "javascript:DisplayChildC(true);", @class = "IsCheckedHoldHarmlessAgreements" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "No", new { @id = "model.LiabilityInsuranceListResult[30].Response", onclick = "javascript:DisplayChildC(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[30].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildC" style="display:none;">
                @Html.Label("If yes, please provide full details:")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[31].QuestionId, new { @id = "model.LiabilityInsuranceListResult[31].QuestionId", @Value = "631" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[31].Response, new { @id = "model.LiabilityInsuranceListResult[31].Response", @class = "form-control child-c", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[31].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "632" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[10].Response" })*@
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-97');

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
        }

        $(document).ready(function () {

            downloadAF(initAF);
            //Get Form Data
            $("#GeneralForm").attr("action", "@Url.Action(Cover.Quotation.General())").submit(function () {
                debugger
                //Validate Fields
                $('[type="text"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="checkbox"]').on('change', function () {
                    ValidateCheckbox();
                });

                $('textarea').not('.comment-box-validation, .conditional-textarea').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                var checkboxesValid = ValidateCheckbox();

                if (checkboxesValid) {
                    if (!$(this).valid()) {
                        return false;
                    }
                    else {
                        $('[number="number"]').each(function () {
                            var element = $(this);
                            var numToFormat = $(element).val();
                            $(element).val(numeral(numToFormat).format('0.[00]'))

                        });
                        $('#hdnHasReferral').val(CheckIfHasReferral());
                        showLoader();
                        return true;
                    }
                }
                else {
                    return false
                }
            });
           
        });



        //Checkbox Validation
        function ValidateCheckbox() {
            debugger
            var valid = true
            var ctr = 0
            $('#CheckboxInsuredPerformContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };


        //Validate Checkbox Event Has Any of the Following
        $('[id="CheckboxInsuredPerform"]').change(function () {
            debugger
            var length = $('[type="checkbox"][id="CheckboxInsuredPerform"]').length;
            for (var ctr = 0; ctr < length; ctr++) {

                if ($('[type="checkbox"][id="CheckboxInsuredPerform"]')[ctr].checked) {
                    $('#CheckboxInsuredPerformContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').removeClass('invalid-error');
                    $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').css('display', 'none');
                    return;
                }
            }
            $('#CheckboxInsuredPerformContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').addClass('invalid-error');
            $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').css('display', 'block');
        });



        //Clear Checkbox if checked none of the above
        function NoneOfTheAbove() {
            debugger
            var length = $('[type="checkbox"][id="CheckboxInsuredPerform"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="CheckboxInsuredPerform"]')[ctr]).prop('checked', false)
            }
            $('.conditional-textarea').removeAttr('required').removeClass('input-validation-error').next('span').css('display', 'none');
        }

        function UncheckNoneOfTheAbove() {
            //Get the last node in checkbox
            var length = $('[type="checkbox"][id="CheckboxInsuredPerform"]').length - 1;

            //Uncheck the last node - which will always be the none of the above
            $($('[type="checkbox"][id="CheckboxInsuredPerform"]')[length]).prop('checked', false)

            $('.conditional-textarea').attr('required', 'required').next('span').css('display', '');
        }

        //Clear Element Contents
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };

        //Popup Questions
        // --> Parent Child A
        function DisplayChildA(bool) {
            var element = $('#ChildA')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child B
        function DisplayChildB(bool) {
            var element = $('#ChildB')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child C
        function DisplayChildC(bool) {
            var element = $('#ChildC')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child D
        function DisplayChildD(bool) {
            var element = $('#ChildD')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child E
        function DisplayChildE(bool) {
            var element = $('#ChildE')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-e').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-e').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child F
        function DisplayChildF(bool) {
            var element = $('#ChildF')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-f').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-f').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }


        //Normal Field Validations
        //function validatefield() {
        $('[type="text"]').blur(function () {
            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        //}

    </script>
}