﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels
@{
    ViewBag.Title = "Handmade";
}

<br />
<h2 class="header-orange">Handmade</h2>

<br />
<div class="custom-content-desc">
    @*<p>Fill up the details as required so we can provide the perfect quotation just for you</p>*@
    <p>Please provide the following underwriting information: </p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "HandmadeForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@
            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">

                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "784" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", autocomplete = "off" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "785" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "786" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "787" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "788" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            @*CheckBox*@
            @Html.Label("Select Products")
            <br />
            <div id="CheckboxProductsContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxProducts" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxProducts" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd().ToUpper() == "OTHER:")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxProducts", @class = "chk-others", onclick = "javascript:CBClickOther(checked);" })

                        @Html.TextBoxFor(m => m.CheckboxReferenceLookup[i].Value, null, new { @class = "other", placeholder = "Other", onclick = "javascript:TextClickOther();" })
                        @Html.ValidationMessage("model_CheckboxReferenceLookup_" + i + "__Value", "Please provide details.", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxProducts" })
                        <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    }
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxProductsValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "790" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control AnnualTurnover", @number = "number", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger  " })
            </div>

            <br />

            @Html.Label("Years In Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "791" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control YearsInBusiness wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })

            <br />

            @Html.Label("Number of Employees")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "792" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control NumberOfEmployees wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Wages")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "793" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control AnnualWages", @number = "number", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Website")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "794" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Are Your Products independently tested to meet Australian/New Zealand Standards Conditions?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "795" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", @class = "option-referral IsProductsNotTested" })
            <br />
            <br />
            @Html.Label("Do any of Your Products contain Bisphenol A (BPA)?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "796" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[11].Response", @class = "option-referral IsCheckedProductsContainBPA" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "No", new { @id = "model.LiabilityInsuranceListResult[11].Response" })
            <br />
            <br />

            @Html.Label("Do you Import any of your products?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "797" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[12].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[12].Response", @class = "option-referral IsCheckedImportProducts display-child-true", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[12].Response, "No", new { @id = "model.LiabilityInsuranceListResult[12].Response", @class = "display-child-false", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <div id="ChildA" style="display:none;">
                @Html.Label("List Product/s")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "806" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("List Country/ies Imported to")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "807" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Turnover derived from Importing")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "808" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control child-c", @number = "number", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Please provide full details of all quality control procedures")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "809" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>
            <br />

            @Html.Label("Do you Export any of your products?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "798" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", @class = "option-referral IsCheckedExportProducts display-child-true", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", @class = "display-child-false", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <div id="ChildB" style="display:none;">
                @Html.Label("List Product/s")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "802" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[18].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[18].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
                @Html.Label("List Country/ies Exported to")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[19].QuestionId, new { @id = "model.LiabilityInsuranceListResult[19].QuestionId", @Value = "803" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[19].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[19].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[19].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
                @Html.Label("Turnover derived from Exporting")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[20].QuestionId, new { @id = "model.LiabilityInsuranceListResult[20].QuestionId", @Value = "804" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[20].Response, new { @class = "form-control child-c", @number = "number", @id = "model.LiabilityInsuranceListResult[20].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[20].Response", "*This is a required field", new { @class = "text-danger child-b" })
                </div>
                <br />
                @Html.Label("Please provide full details of all quality control procedures")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[21].QuestionId, new { @id = "model.LiabilityInsuranceListResult[21].QuestionId", @Value = "805" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[21].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[21].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[21].Response", "*This is a required field", new { @class = "text-danger child-b" })
            </div>
            <br />

            @Html.Label("Are Sub-Contractors Used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[22].QuestionId, new { @id = "model.LiabilityInsuranceListResult[22].QuestionId", @Value = "799" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[22].Response", @class = "option-referral IsCheckedSubContractors display-child-true", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "No", new { @id = "model.LiabilityInsuranceListResult[22].Response", @class = "display-child-false", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[22].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <div id="ChildC" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[23].QuestionId, new { @id = "model.LiabilityInsuranceListResult[23].QuestionId", @Value = "900" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[23].Response, new { @class = "form-control child-c", @number = "number", @id = "model.LiabilityInsuranceListResult[23].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[23].Response", "*This is a required field", new { @class = "text-danger child-b" })
                </div>
                <br />
                @Html.Label("Activities performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[24].QuestionId, new { @id = "model.LiabilityInsuranceListResult[24].QuestionId", @Value = "901" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[24].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[24].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[24].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[25].QuestionId, new { @id = "model.LiabilityInsuranceListResult[25].QuestionId", @Value = "902" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[25].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[25].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[25].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
            </div>
            <br />

            @Html.Label("Are Labour Hire Personnel Used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[26].QuestionId, new { @id = "model.LiabilityInsuranceListResult[26].QuestionId", @Value = "800" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[26].Response", @class = "option-referral IsCheckedLaborHirePersonnel display-child-true", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "No", new { @id = "model.LiabilityInsuranceListResult[26].Response", @class = "display-child-false", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[26].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <div id="ChildD" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[27].QuestionId, new { @id = "model.LiabilityInsuranceListResult[27].QuestionId", @Value = "903" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[27].Response, new { @class = "form-control child-c", @number = "number", @id = "model.LiabilityInsuranceListResult[27].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[27].Response", "*This is a required field", new { @class = "text-danger child-b" })
                </div>
                <br />
                @Html.Label("Activities performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[28].QuestionId, new { @id = "model.LiabilityInsuranceListResult[28].QuestionId", @Value = "904" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[28].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[28].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[28].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
                @Html.Label("Do Labour Hire hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[29].QuestionId, new { @id = "model.LiabilityInsuranceListResult[29].QuestionId", @Value = "905" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[29].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[29].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[29].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
            </div>
            <br />

            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[30].QuestionId, new { @id = "model.LiabilityInsuranceListResult[30].QuestionId", @Value = "801" })
            <br />

            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[30].Response", @class = "option-referral IsCheckedAnyContractual display-child-true", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "No", new { @id = "model.LiabilityInsuranceListResult[30].Response", @class = "display-child-false", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[30].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <div id="ChildE" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[31].QuestionId, new { @id = "model.LiabilityInsuranceListResult[31].QuestionId", @Value = "906" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[31].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[31].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[31].Response", "*This is a required field", new { @class = "text-danger child-b" })
                <br />
            </div>
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-94');

        var MyModel = (function () {

            // Constructor
            function MyModel() {
            }

            function validateForm() {
                $('[type="text"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                var checkboxesValid = ValidateCheckbox();
                if (checkboxesValid) {
                    if (!$('#HandmadeForm').valid()) {
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    return false;
                }

            }
            function ClearFields(element) {
                $(element).find(':input').each(function () {
                    switch (this.type) {
                        case 'button':
                        case 'text':
                        case 'submit':
                        case 'password':
                        case 'file':
                        case 'email':
                        case 'date':
                        case 'number':
                        case 'textarea':
                            $(this).val('');
                            break;
                        case 'checkbox':
                        case 'radio':
                            this.checked = false;
                            break;
                    }
                });
            };
            function ValidateCheckbox() {
                var valid = true
                var ctr = 0
                $('#CheckboxProductsContainer').each(function () {
                    var checked = $(this).find('input[type="checkbox"]:checked');
                    if (checked.length === 0) {
                        $(this).addClass('ValidateContainer');
                        $(this).next('span:first').css("display", "block");
                        ctr++;
                    } else {
                        //If "Others" Checkbox = true AND  "Others" Textbox = blank
                        if ($('.chk-others:checked').length == 1 && $('.other').val() == "") {
                            $('[data-valmsg-for="model_CheckboxReferenceLookup_26__Value"]').css('display', 'block');
                            ctr++;
                        }
                        else if ($('.chk-others:checked').length == 1 && $('.other').val() != "") {
                            $('[data-valmsg-for="model_CheckboxReferenceLookup_26__Value"]').css('display', 'none');
                        }

                        $(this).removeClass('ValidateContainer');
                        $(this).next('span:first').css("display", "none");

                    }
                });
                if (ctr > 0) {
                    valid = false;
                }
                return valid;
            }
            function checkTriggers() {
                var numOfEmployees = $('.NumberOfEmployees').val()
                var annualTurnover = $('.AnnualTurnover').val();
                var yrsInBusiness = $('.YearsInBusiness').val()
                var IsCheckedExportProducts = $('.IsCheckedExportProducts:checked').length;
                var IsCheckedImportProducts = $('.IsCheckedImportProducts:checked').length;
                var IsCheckedLaborHirePersonnel = $('.IsCheckedLaborHirePersonnel:checked').length;
                var IsCheckedSubContractors = $('.IsCheckedSubContractors:checked').length;
                var IsCheckedAnyContractual = $('.IsCheckedAnyContractual:checked').length;

                var IsProductsNotTested = $('.IsProductsNotTested:checked').length;
                var IsCheckedProductsContainBPA = $('.IsCheckedProductsContainBPA:checked').length;

                var otherCheckboxValue = $('.other').val();

                var triggered = false;

                if (annualTurnover > 500000) {
                    $('<input id="model.LiabilityInsuranceListResult[5].IsTriggered" name="model.LiabilityInsuranceListResult[5].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                if (IsProductsNotTested > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[10].IsTriggered" name="model.LiabilityInsuranceListResult[10].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                if (IsCheckedProductsContainBPA > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[11].IsTriggered" name="model.LiabilityInsuranceListResult[11].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                if (IsCheckedExportProducts > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[17].IsTriggered" name="model.LiabilityInsuranceListResult[17].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                if (IsCheckedImportProducts > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[12].IsTriggered" name="model.LiabilityInsuranceListResult[12].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                if (IsCheckedLaborHirePersonnel > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[26].IsTriggered" name="model.LiabilityInsuranceListResult[26].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if (IsCheckedSubContractors > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[22].IsTriggered" name="model.LiabilityInsuranceListResult[22].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }
                if (IsCheckedAnyContractual > 0) {
                    $('<input id="model.LiabilityInsuranceListResult[30].IsTriggered" name="model.LiabilityInsuranceListResult[30].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                // GET: USER INPUT FROM OTHERS
                if ($.trim(otherCheckboxValue) != '') {
                    $('<input id="model.LiabilityInsuranceListResult[32].QuestionId" name="model.LiabilityInsuranceListResult[32].QuestionId" type="hidden" value="789">').insertBefore('.custom-form-box');
                    $('<input id="model.LiabilityInsuranceListResult[32].Response" name="model.LiabilityInsuranceListResult[32].Response" type="hidden" value="' + otherCheckboxValue + '">').insertBefore('.custom-form-box');
                    triggered = true;
                }

                return triggered;
            }

            MyModel.prototype.render = function () {

                $('.other').on('blur', function () {
                    if ($('.chk-others:checked').length == 1 && $('.other').val() == "") {
                        $('[data-valmsg-for="model_CheckboxReferenceLookup_26__Value"]').css('display', 'block');
                        ctr++;
                    }
                    else if ($('.chk-others:checked').length == 1 && $('.other').val() != "") {
                        $('[data-valmsg-for="model_CheckboxReferenceLookup_26__Value"]').css('display', 'none');
                    }
                });

                $('[type="checkbox"]').on('change', function () {
                    ValidateCheckbox();
                })
                //Set Display child function
                $('.display-child-false').on('click', function () {
                    var element = $(this).nextAll('div').first()
                    $(element).css('display', 'none');
                    $('.child-a').each(function () {
                        $(this).next('span:first').removeClass('invalid-error');
                        $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                            .css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    });
                    ClearFields(element);
                });

                $('.display-child-true').on('click', function () {
                    debugger
                    var element = $(this).nextAll('div').first()

                    $(element).css('display', 'block');
                    $('[class*="child"]').each(function () {
                        $(this).next('span:first').removeClass('invalid-error');
                        $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                        $(this).removeClass('input-validation-error');
                        $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                    });


                });
                //Modify the background for this quotation
                $('.custom-image-background').addClass('custom-image-background-common custom-image-background-98');

                //Mask Input Fields
                $('.post-code').mask('9999');
                $('[type="text"]').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').blur(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('textarea').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="radio"][value="true"]').click();
            }
            MyModel.prototype.submit = function () {
                debugger
                var valid = validateForm();
                if (valid) {

                    $('[number="number"]').each(function () {

                        var element = $(this);
                        var numToFormat = $(element).val();
                        $(element).val(numeral(numToFormat).format('0.[00]'))

                    });
                    $('#hdnHasReferral').val(checkTriggers());
                    showLoader();



                    return true;
                }
                else {
                    return false;
                }
            }

            return MyModel;
        })();

        $(document).ready(function () {
            var model = new MyModel();
            model.render();
            downloadAF(initAF);
            $("#HandmadeForm").attr("action", "@Url.Action(Cover.Quotation.Handmade())").submit(function () {
                $('[type="text"]').filter(function () {
                    return !$(this).hasClass('other') || !$(this).parent('[style="display:none;"]')
                }).each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                return model.submit();
            })
        })

        function CBClickOther(value) {
            //debugger
            if (value) {
                $('.other').prop('required');
                $('[data-valmsg-for="model_CheckboxReferenceLookup_26__Value"]').css('display', 'block');
            }
            else {
                $('.other').val('');
                $('.other').removeProp('required');
                $('[data-valmsg-for="model_CheckboxReferenceLookup_26__Value"]').css('display', 'none');
            }
        }

        function TextClickOther() {
            debugger
            $($('[type="checkbox"].chk-others')).prop('checked', true);

            $('#CheckboxProductsContainer').removeClass('ValidateContainer');
            $('[data-valmsg-for="model_CheckboxReferenceLookup_26__Value"').removeClass('invalid-error');

            $('[data-valmsg-for="CheckboxValidation"]').css('display', 'none');
        }

    </script>
}