﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="header-orange">Hotels/Pubs</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "HotelForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "700" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", autocomplete = "off" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "701" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "702" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "703" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "704" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            @Html.Label("Scope of Cover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "705" })
            @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[5].Response, Model.HLScope, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Turnover Split Bar")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "706" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Turnover Split Food")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "707" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Turnover Split Accommodation")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "708" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Turnover Split Bottle Shop")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "709" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Turnover Split Gaming")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "710" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Turnover Split Other")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[41].QuestionId, new { @id = "model.LiabilityInsuranceListResult[41].QuestionId", @Value = "742" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[41].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[41].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[41].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            <p class="comment-style">Business Website</p>
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "711" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control", @type = "", @id = "model.LiabilityInsuranceListResult[11].Response" })
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "712" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Employees")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "713" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control NumberOfRooms wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Trading Hours")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "714" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control", @type = "", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Licenced Capacity")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "715" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control NumberOfRooms wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @*CheckBox*@
            @Html.Label("Please advise of any Live Entertainment")
            <br />
            <div id="CheckboxInsuredPerformContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxInsuredPerform" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxInsuredPerform" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxInsuredPerform", onclick = "javascript:NoneOfTheAbove();" })
                     <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    }
                    else if (Model.CheckboxReferenceLookup[i].Text.TrimEnd().ToUpper() == "OTHER:")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxInsuredPerform", @class = "chk-others", onclick = "javascript:CBClickOther(checked);" })

                        @Html.TextBoxFor(m => m.CheckboxReferenceLookup[i].Value,null, new { @class = "otherWeldingAct", placeholder = "Other", onclick = "javascript:TextClickOther();" })
                        @Html.ValidationMessage("model_CheckboxReferenceLookup_" + i + "__Value", "Please provide details.", new { @class = "text-danger" })

                    }
                    else
                    {
                     @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxInsuredPerform", onclick = "javascript:UncheckNoneOfTheAbove();" })
                     <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    }
                   
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxInsuredPerformValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @*ParentChildG*@
            @Html.Label("Does the premises have a dancefloor?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "717" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[16].Response", onclick = "javascript:DisplayChildG(true);", @class = "IsCheckedDanceFloor", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "No", new { @id = "model.LiabilityInsuranceListResult[16].Response", onclick = "javascript:DisplayChildG(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildG" style="display:none;">
                @Html.Label("Dancefloor size (sqm)")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "718" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[17].Response, new { @class = "form-control child-g wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[17].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("How often is there Dancing?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "719" })
                @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[18].Response, Model.HLDanceFrequency, new { @class = "form-control child-g danceFrequency", @id = "model.LiabilityInsuranceListResult[18].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*ParentChildF*@
            @Html.Label("Are Sub-Contractors Used to conduct security services/crowd control?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[19].QuestionId, new { @id = "model.LiabilityInsuranceListResult[19].QuestionId", @Value = "720" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[19].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[19].Response", required = "required", onclick = "javascript:DisplayChildF(true);", @class = "IsCheckedSubContractorsCC" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[19].Response, "No", new { @id = "model.LiabilityInsuranceListResult[19].Response", required = "required", onclick = "javascript:DisplayChildF(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[19].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildF" style="display:none;">
                @Html.Label("Total Amount paid to Security Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[20].QuestionId, new { @id = "model.LiabilityInsuranceListResult[20].QuestionId", @Value = "721" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[20].Response, new { @class = "form-control child-f", @type = "number", @id = "model.LiabilityInsuranceListResult[20].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[20].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[21].QuestionId, new { @id = "model.LiabilityInsuranceListResult[21].QuestionId", @Value = "722" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[21].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[21].Response", required = "required", @class = "child-f" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[21].Response, "No", new { @id = "model.LiabilityInsuranceListResult[21].Response", required = "required", @class = "child-f" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[21].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @Html.Label("Do you employ staff to conduct security services/crowd control?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[22].QuestionId, new { @id = "model.LiabilityInsuranceListResult[22].QuestionId", @Value = "723" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[22].Response", required = "required", @class = "" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[22].Response, "No", new { @id = "model.LiabilityInsuranceListResult[22].Response", required = "required", @class = "" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[22].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />


            @Html.Label("Number of CCTV cameras on premises & how long is footage retained for?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[23].QuestionId, new { @id = "model.LiabilityInsuranceListResult[23].QuestionId", @Value = "724" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[23].Response, new { @class = "form-control", @type = "", @id = "model.LiabilityInsuranceListResult[23].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[23].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Accommodation Rooms")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[24].QuestionId, new { @id = "model.LiabilityInsuranceListResult[24].QuestionId", @Value = "725" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[24].Response, new { @class = "form-control NumberOfRooms wholeNumber", @type = "number", @id = "model.LiabilityInsuranceListResult[24].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[24].Response", "*This is a required field", new { @class = "text-danger" })
            <br />


            @Html.Label("Does the premises have smoke detectors?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[25].QuestionId, new { @id = "model.LiabilityInsuranceListResult[25].QuestionId", @Value = "726" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[25].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[25].Response", required = "required" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[25].Response, "No", new { @id = "model.LiabilityInsuranceListResult[25].Response", @class = "option-referral IsCheckedSmokeDetectors", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[25].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />


            @*ParentChildE*@
            @Html.Label("Does the premises have a children's playground, any amusement devices, jumping castles or inflatables?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[26].QuestionId, new { @id = "model.LiabilityInsuranceListResult[26].QuestionId", @Value = "727" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[26].Response", required = "required", onclick = "javascript:DisplayChildE(true);", @class = "option-referral IsCheckedDisabled" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[26].Response, "No", new { @id = "model.LiabilityInsuranceListResult[26].Response", required = "required", onclick = "javascript:DisplayChildE(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[26].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />
            <div id="ChildE" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[27].QuestionId, new { @id = "model.LiabilityInsuranceListResult[27].QuestionId", @Value = "728" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[27].Response, new { @class = "form-control child-e", @id = "model.LiabilityInsuranceListResult[27].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[27].Response", "*This is a required field", new { @class = "text-danger child-e" })
                <br />
            </div>

            @*ParentChildD*@
            @Html.Label("Does the premises have any sporting facilities?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[28].QuestionId, new { @id = "model.LiabilityInsuranceListResult[28].QuestionId", @Value = "729" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[28].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[28].Response", required = "required", onclick = "javascript:DisplayChildD(true);", @class = "option-referral IsCheckedSportingFacilities" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[28].Response, "No", new { @id = "model.LiabilityInsuranceListResult[28].Response", required = "required", onclick = "javascript:DisplayChildD(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[28].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildD" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[29].QuestionId, new { @id = "model.LiabilityInsuranceListResult[29].QuestionId", @Value = "730" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[29].Response, new { @class = "form-control child-d", @id = "model.LiabilityInsuranceListResult[29].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[29].Response", "*This is a required field", new { @class = "text-danger child-d" })
                <br />
            </div>

            @*ParentChildA*@
            @Html.Label("Are Sub-Contractors Used? (not relating to Security Services)")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[30].QuestionId, new { @id = "model.LiabilityInsuranceListResult[30].QuestionId", @Value = "731" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[30].Response", required = "required", onclick = "javascript:DisplayChildA(true);", @class = "IsCheckedSubContractors" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "No", new { @id = "model.LiabilityInsuranceListResult[30].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[30].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[31].QuestionId, new { @id = "model.LiabilityInsuranceListResult[31].QuestionId", @Value = "732" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[31].Response, new { @class = "form-control child-a", @type = "number", @id = "model.LiabilityInsuranceListResult[31].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[31].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[32].QuestionId, new { @id = "model.LiabilityInsuranceListResult[32].QuestionId", @Value = "733" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[32].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[32].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[32].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[33].QuestionId, new { @id = "model.LiabilityInsuranceListResult[33].QuestionId", @Value = "734" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[33].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[33].Response", required = "required", @class = "child-a" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[33].Response, "No", new { @id = "model.LiabilityInsuranceListResult[33].Response", required = "required", @class = "child-a" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[33].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[34].QuestionId, new { @id = "model.LiabilityInsuranceListResult[34].QuestionId", @Value = "735" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[34].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[34].Response", required = "required", onclick = "javascript:DisplayChildB(true);", @class = "IsCheckedHirePersonnel" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[34].Response, "No", new { @id = "model.LiabilityInsuranceListResult[34].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[34].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[35].QuestionId, new { @id = "model.LiabilityInsuranceListResult[35].QuestionId", @Value = "736" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[35].Response, new { @class = "form-control child-b", @type = "number", @id = "model.LiabilityInsuranceListResult[35].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[35].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[36].QuestionId, new { @id = "model.LiabilityInsuranceListResult[36].QuestionId", @Value = "737" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[36].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[36].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[36].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Labour Hire hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[37].QuestionId, new { @id = "model.LiabilityInsuranceListResult[37].QuestionId", @Value = "738" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[37].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[37].Response", @class = "child-b", required = "required" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[37].Response, "No", new { @id = "model.LiabilityInsuranceListResult[37].Response", @class = "child-b", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[37].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*ParentChildC*@
            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[38].QuestionId, new { @id = "model.LiabilityInsuranceListResult[38].QuestionId", @Value = "739" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[38].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[38].Response", required = "required", onclick = "javascript:DisplayChildC(true);", @class = "IsCheckedHoldHarmlessAgreements" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[38].Response, "No", new { @id = "model.LiabilityInsuranceListResult[38].Response", onclick = "javascript:DisplayChildC(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[38].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildC" style="display:none;">
                @Html.Label("If yes, please provide full details:")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[39].QuestionId, new { @id = "model.LiabilityInsuranceListResult[39].QuestionId", @Value = "740" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[39].Response, new { @id = "model.LiabilityInsuranceListResult[39].Response", @class = "form-control child-c", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[39].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[40].QuestionId, new { @id = "model.LiabilityInsuranceListResult[40].QuestionId", @Value = "741" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[40].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[40].Response" })*@
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-95');
        if ($('.state-af').val() == 'Queensland') {
            $('.state-af').val('New South Wales');
        }

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
        }

        $(document).ready(function () {

            setInterval(CheckIfStateVictoria, 100)
            if ('@ViewBag.Status' == "New" || '@ViewBag.OtherHasValue' == "0") {
                $('.otherWeldingAct').val('');
            }
            downloadAF(initAF);
            //Get Form Data
            $("#HotelForm").attr("action", "@Url.Action(Cover.Quotation.Hotels())").submit(function () {
                debugger
                //Validate Fields
                $('[type="text"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="checkbox"]').on('change', function () {
                    ValidateCheckbox();
                });

                $('textarea').not('.comment-box-validation, .conditional-textarea').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                var checkboxesValid = ValidateCheckbox();
                var stateValid = CheckIfStateVictoria();
                if (checkboxesValid && stateValid) {
                    if (!$(this).valid()) {
                        return false;
                    }
                    else {
                        //$('#hdnHasReferral').val(CheckIfHasReferral());
                        showLoader();
                        $('[number="number"]').each(function () {
                            var element = $(this);
                            var numToFormat = $(element).val();
                            $(element).val(numeral(numToFormat).format('0.[00]'))
                        });
                        return true;
                    }
                }
                else {
                    return false
                }
            });
        });
        function TextClickOther() {
            debugger
            $($('[type="checkbox"].chk-others')).prop('checked', true);
            $('.otherWeldingAct').next('span:first').css('display', 'none');

            $('#Q132itemContainer').removeClass('ValidateContainer');
            $('[data-valmsg-for="model_CheckboxReferenceLookup_6__Value"').removeClass('invalid-error');
            $('[data-valmsg-for="model_CheckboxReferenceLookup_6__Value"]').css('display', 'none');

            $('[data-valmsg-for="CheckboxValidation"]').css('display', 'none');

            UncheckNoneOfTheAbove();
        }
        //Checkbox Validation
        function ValidateCheckbox() {
            debugger
            var valid = true
            var ctr = 0
            $('#CheckboxInsuredPerformContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css({ "display": "block", "line-height": "24px" });
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css({ "display": "none" });

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };
        //Validate Checkbox Event Has Any of the Following
        $('[id="CheckboxInsuredPerform"]').change(function () {
            debugger
            var length = $('[type="checkbox"][id="CheckboxInsuredPerform"]').length;
            for (var ctr = 0; ctr < length; ctr++) {

                if ($('[type="checkbox"][id="CheckboxInsuredPerform"]')[ctr].checked) {
                    $('#CheckboxInsuredPerformContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').removeClass('invalid-error');
                    $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').css('display', 'none');
                    return;
                }
            }
            $('#CheckboxInsuredPerformContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').addClass('invalid-error');
            $('[data-valmsg-for="CheckboxInsuredPerformValidation"]').css('display', 'block');
        });



        //Clear Checkbox if checked none of the above
        function NoneOfTheAbove() {
            debugger
            var length = $('[type="checkbox"][id="CheckboxInsuredPerform"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="CheckboxInsuredPerform"]')[ctr]).prop('checked', false)
            }
            $('.conditional-textarea').removeAttr('required').removeClass('input-validation-error').next('span').css('display', 'none');
            $('[data-valmsg-for="model_CheckboxReferenceLookup_6__Value"').removeClass('invalid-error');
            $('[data-valmsg-for="model_CheckboxReferenceLookup_6__Value"]').css('display', 'none');
        }

        function UncheckNoneOfTheAbove() {
            //Get the last node in checkbox
            var length = $('[type="checkbox"][id="CheckboxInsuredPerform"]').length - 1;

            //Uncheck the last node - which will always be the none of the above
            $($('[type="checkbox"][id="CheckboxInsuredPerform"]')[length]).prop('checked', false)

            $('.conditional-textarea').attr('required', 'required').next('span').css('display', '');
        }

        //Clear Element Contents
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
            $(element).find('select').val('');
        };
        function CheckIfStateVictoria() {
            var valid = true
            var ctr = 0
            $('.state-af').each(function () {
                var state = $(this).val();
                if (state == 'Queensland') {
                    $(this).next('span:first').css({ "display": "block", 'line-height': '26px' }).text('Unfortunately we cannot cover risks located in Queensland');
                    ctr++;
                } else {
                    $(this).next('span:first').css("display", "none");
                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;

        };
        //Popup Questions
        // --> Parent Child A
        function DisplayChildA(bool) {
            var element = $('#ChildA')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child B
        function DisplayChildB(bool) {
            var element = $('#ChildB')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child C
        function DisplayChildC(bool) {
            var element = $('#ChildC')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child D
        function DisplayChildD(bool) {
            var element = $('#ChildD')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child E
        function DisplayChildE(bool) {
            var element = $('#ChildE')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-e').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-e').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child F
        function DisplayChildF(bool) {
            var element = $('#ChildF')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-f').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-f').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child G
        function DisplayChildG(bool) {
            var element = $('#ChildG')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-g').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-g').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }


        //Normal Field Validations
        //function validatefield() {
        $('[type="text"]').filter(function () {
            return !$(this).hasClass('otherWeldingAct') || !$(this).parent('[style="display:none;"]')
        }).blur(function () {
            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        function CBClickOther(value) {
            debugger
            if (value) {
                $('.otherWeldingAct').attr('required', 'required');
                $('.otherWeldingAct').next('span:first').css({'display': 'block',"margin-bottom": '-21px', 'margin-left': '20px'});
                $('#Q132CBValueTBoxwb11').focus();
                UncheckNoneOfTheAbove();
            }
            else {
                $('.otherWeldingAct').val('');
                $('.otherWeldingAct').removeProp('required');
                $('[data-valmsg-for="model_CheckboxReferenceLookup_6__Value"]').css('display', 'none');
            }
        }
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });
        //}

    </script>
}