﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels


@{
    ViewBag.Title = "Project Managers";
}

<br />
<h2 class="header-orange">Project Managers</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "ProjectManagersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" })

            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "206" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required",   autocomplete = "off"  })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "207" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "208" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "209" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "210" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @id = "model.LiabilityInsuranceListResult[4].Response", @class = "form-control post-code post-code-af", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />

            @Html.Label("Please provide a full description of business activities")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "55" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", maxlength = 255 })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            <div class="input-symbol-dollar">

                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "56" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control annualTurnover", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Number of Employees")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "57" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control numOfEmployees wholeNumber", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Wages")
            <div class="input-symbol-dollar">
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "58" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />
            @Html.Label("Does the Insured Conduct any of the following:")
            <div id="CheckboxProjectManagersContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxProjectManagers" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxProjectManagers" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd().ToUpper() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxProjectManagers", @class = "checkbox-value", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxProjectManagers", @class = "checkbox-value", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxProjectManagersValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />
            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "59" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
        

            @Html.Label("Are Sub-Contractors used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "61" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[10].Response", onclick = "javascript:DisplayChildId6566(true);", required = "required", @class = "isCheckedSub" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[10].Response, "No", new { @id = "model.LiabilityInsuranceListResult[10].Response", onclick = "javascript:DisplayChildId6566(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="childOfParentId61" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "65" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[11].Response", required = "required", @type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "66" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Sub Contractors hold their own insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "122" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[13].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", @class = "isChecked child-a" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[13].Response, "No", new { @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", @class = "child-a" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "62" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[14].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[14].Response", onclick = "javascript:DisplayChildId6768(true);", required = "required", @class = "isCheckedLabour" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[14].Response, "No", new { @id = "model.LiabilityInsuranceListResult[14].Response", onclick = "javascript:DisplayChildId6768(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="childOfParentId62" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "67" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required", type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "68" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Labour Hire hold their own insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[20].QuestionId, new { @id = "model.LiabilityInsuranceListResult[20].QuestionId", @Value = "277" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[20].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[20].Response", required = "required", @class = "isChecked child-c" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[20].Response, "No", new { @id = "model.LiabilityInsuranceListResult[20].Response", required = "required", @class = "child-c" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[20].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "63" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", onclick = "javascript:DisplayChildId1000(true);", required = "required", @class = "isCheckedHarm" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", onclick = "javascript:DisplayChildId1000(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />
            <div id="childOfParentId10" style="display:none;">
                @Html.Label("If yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "267" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[18].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[18].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                
            </div>
            <br />

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[19].QuestionId, new { @id = "model.LiabilityInsuranceListResult[19].QuestionId", @Value = "64" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[19].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[19].Response" })*@
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

    //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-6');

    //Mask Input Fields
    $('.post-code').mask('9999');

    function onBegin(xhr) {
    }

    function onComplete(xhr, status) {
    }

    function onSuccess(data, status, xhr) {
        //alert('tmt');
        @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
    }

        $(document).ready(function () {
            downloadAF(initAF);
        $('#CheckboxProjectManagersContainer').find('input').each(function () {
            var id = $(this).attr('name');
            $(this).attr('name', 'model.' + id);

        });
        $("#ProjectManagersForm").attr("action", "@Url.Action(Cover.Quotation.ProjectManagers())").submit(function () {
            $('<input id="trigger[0]" name="trigger[0]" type="hidden" value="test1">').insertBefore('.custom-form-box');
            $('<input id="trigger[1]" name="trigger[1]" type="hidden" value="test2">').insertBefore('.custom-form-box');

            $('[type="text"]').each(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('[type="number"]').each(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });

            var checkboxesValid = ValidateCheckbox();

            //Set Referral Flags
            if ($('.option-referral:radio:checked').length > 0) {
                $('#hdnHasReferral').val(true); //Triggers Underwriter Referral
            }
            if (checkboxesValid) {

                if (!$(this).valid()) {
                    return false;
                }
                else {
                    $('[number="number"]').each(function () {
                        var element = $(this);
                        var numToFormat = $(element).val();
                        $(element).val(numeral(numToFormat).format('0.[00]'))

                    });
                    $('#hdnHasReferral').val(CheckIfHasReferral());
                    showLoader();
                    return true;
                }
            }
            else {
                return false
            }
        });


    });
    function ClearFields(element) {
        $(element).find(':input').each(function () {
            switch (this.type) {
                case 'button':
                case 'text':
                case 'submit':
                case 'password':
                case 'file':
                case 'email':
                case 'date':
                case 'number':
                case 'textarea':
                    $(this).val('');
                    break;
                case 'checkbox':
                case 'radio':
                    this.checked = false;
                    break;
            }
        });
    };
    function ValidateCheckbox() {
        var valid = true
        var ctr = 0
        $('#CheckboxProjectManagersContainer').each(function () {
            var checked = $(this).find('input[type="checkbox"]:checked');
            if (checked.length === 0) {
                $(this).addClass('ValidateContainer');
                $(this).next('span:first').css("display", "block");
                ctr++;
            } else {
                $(this).removeClass('ValidateContainer');
                $(this).next('span:first').css("display", "none");

            }
        });
        if (ctr > 0) {
            valid = false;
        }
        return valid;
    };
    function DisplayChildId6566(bool) {

        var element = $('#childOfParentId61')
        if (bool == true) {
            $(element).css('display', 'block');
            $('.child-a').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                $(this).removeClass('input-validation-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
            });
        }
        else {
            $(element).css('display', 'none');
            $('.child-a').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                    .css('display', 'none');
                $(this).removeClass('input-validation-error');
            });

            ClearFields(element);
        }
    }
    function DisplayChildId6768(bool) {
        var element = $('#childOfParentId62')
        if (bool == true) {
            $(element).css('display', 'block');
            $('.child-b').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                $(this).removeClass('input-validation-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
            });
        }
        else {
            $(element).css('display', 'none');
            $('.child-b').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                    .css('display', 'none');
                $(this).removeClass('input-validation-error');
            });

            ClearFields(element);
        }
    }
    function DisplayChildId1000(bool) {
        var element = $('#childOfParentId10')
        if (bool == true) {
            $(element).css('display', 'block');
            $('.child-c').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                $(this).removeClass('input-validation-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
            });
        }
        else {
            $(element).css('display', 'none');
            $('.child-c').each(function () {
                $(this).next('span:first').removeClass('invalid-error');
                $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                    .css('display', 'none');
                $(this).removeClass('input-validation-error');
            });

            ClearFields(element);
        }
    }

    function NoneOfTheAbove() {
        var length = $('[type="checkbox"][id="CheckboxProjectManagers"]').length - 1;

        for (var ctr = 0; ctr < length; ctr++) {
            $($('[type="checkbox"][id="CheckboxProjectManagers"]')[ctr]).prop('checked', false)
        }
    }

    function UncheckNoneOfTheAbove() {
        //Get the last node in checkbox
        var length = $('[type="checkbox"][id="CheckboxProjectManagers"]').length - 1;

        //Uncheck the last node - which will always be the none of the above
        $($('[type="checkbox"][id="CheckboxProjectManagers"]')[length]).prop('checked', false)
    }
    function CheckIfHasReferral() {
        debugger
        var annualTurnover = $('.annualTurnover').val();
        var numberOfEmployees = $('.numOfEmployees').val();
        var isCheckedManual = $(".isCheckedManual:checked").length;
        var isCheckedSub = $(".isCheckedSub:checked").length;
        var isCheckedLabour = $(".isCheckedLabour:checked").length;
        var isCheckedHarm = $('.isCheckedHarm:checked').length;
        var ctr = 0;
        var hasReferral = false;
        if (annualTurnover > 1000000) {
            $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

            hasReferral = true;
        } if (numberOfEmployees > 5) {
            $('<input id="model.LiabilityInsuranceListResult[7].IsTriggered" name="model.LiabilityInsuranceListResult[7].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');


            hasReferral = true;
        } if (isCheckedManual > 0) {
            $('<input id="model.LiabilityInsuranceListResult[10].IsTriggered" name="model.LiabilityInsuranceListResult[10].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');


            hasReferral = true;
        } if (isCheckedSub > 0) {
            $('<input id="model.LiabilityInsuranceListResult[10].IsTriggered" name="model.LiabilityInsuranceListResult[10].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');


            hasReferral = true;
        } if (isCheckedLabour > 0) {
            $('<input id="model.LiabilityInsuranceListResult[14].IsTriggered" name="model.LiabilityInsuranceListResult[14].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');


            hasReferral = true;
        } if (isCheckedHarm > 0) {
            $('<input id="model.LiabilityInsuranceListResult[17].IsTriggered" name="model.LiabilityInsuranceListResult[17].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

            hasReferral = true;
        }
        return hasReferral;

    };
    $('[type="text"]').filter(function () {
        return !$(this).parent('[style="display:none;"]')
    }).blur(function () {

        if ($(this).val() == '') {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
            $(this).addClass('input-validation-error');
        }
        else {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
            $(this).removeClass('input-validation-error');
        }


    });
    $('[type="number"]').blur(function () {

        if ($(this).val() == '') {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
            $(this).addClass('input-validation-error');
        }
        else {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
            $(this).removeClass('input-validation-error');
        }
    });

    $('[type="checkbox"]').on('change', function () {
        ValidateCheckbox();
    });
    //Omit Negative Values
    //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");


    $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).blur(function () {

        if ($(this).val() == '') {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
            $(this).addClass('input-validation-error');
        }
        else {
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
            $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
            $(this).removeClass('input-validation-error');
        }


    });

    </script>

}