﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels


@{
    ViewBag.Title = "Property Owners";
}

<br />
<h2 class="header-orange">Property Owners</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "PropertyOwnersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <ul class="nav nav-tabs"></ul>
    <div class="col-lg-8">
        <div class="custom-form-box">
            <div class="tab-content">
                @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@
                @Html.HiddenFor(m => m.SituationNumber, new { @id = "DefaultSituationNumber" })
                @Html.HiddenFor(m => m.Status, new { @id = "hdnStatus" })
            </div>
            @*@Html.Label("Have any of the locations been unoccupied for more than 60 days? ")
                @Html.Hidden("model.LiabilityInsuranceListResult[0].QuestionId", "119", new { @id = "model.LiabilityInsuranceListResult[0].QuestionId" })
                <br />
                Yes @Html.RadioButton("model.LiabilityInsuranceListResult[0].Response", "Yes", new { @id = "model.LiabilityInsuranceListResult[0].Response" })
                No  @Html.RadioButton("model.LiabilityInsuranceListResult[0].Response", "No", new { @id = "model.LiabilityInsuranceListResult[0].Response" })
                <br />
                <br />*@

            @*@Html.Hidden("LiabilityInsuranceListResult[2].QuestionId", "70", new { @id = "model.LiabilityInsuranceListResult[2].QuestionId" })
                @Html.TextBox("LiabilityInsuranceListResult[2].Response", null, new { @class = "form-control", id = "model.LiabilityInsuranceListResult[2].Response", required = "required"})*@

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "121" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[0].Response" })*@
            <br />
            <div class="sampleArea">

            </div>

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="footer-panel">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
                <input type="button" id="btnAddSituation" value="Add Situation" class="btn btn-primary" />
                <input type="button" id="btnRemoveSituation" value="Remove Situation" class="btn btn-primary" />
            </div>


        </div>
    </div>

    <script id="situationTpl" type="text/template">
        {{#mySituations}}

        <div class="situation situation{{SituationNumber}} tab-pane fade in active">
            @Html.ValidationMessage("SituationAddress", "Situation address has a duplicate!", new { @class = "text-danger" })
            <div class="situation-address">
                @Html.Hidden("SituationNumber", string.Empty, new { @class = "VacantLand", data_propid = "SituationNumber", @Value = "{{SituationNumber}}" })
                <table class="w-100">
                    <tr>
                        <td class="w-20" style="vertical-align: top;">
                            <p style="color:white;">Situation</p>
                        </td>
                        <td class="w-80">
                            <table class="w-100">
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Street Number")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control PropOwnerSituation situation-validate  address-line-af-{{SituationNumber}} street-number-af-{{SituationNumber}}" data-propid="StreetNumber" autocomplete="off" value="{{StreetNumber}}" required="required">
                                        @Html.ValidationMessage("{{modelNum0}}.Response", "*This is a required field", new { @class = "text-danger PropOwnerValidation ", @data_propid = "StreetNumber" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Street Name")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control PropOwnerSituation situation-validate  street-name-af-{{SituationNumber}}" data-propid="StreetName" value="{{StreetName}}" required="required">
                                        @Html.ValidationMessage("{{modelNum1}}.Response", "*This is a required field", new { @class = "text-danger PropOwnerValidation", @data_propid = "StreetName" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Suburb")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control PropOwnerSituation situation-validate suburb-af-{{SituationNumber}}" data-propid="Suburb" value="{{Suburb}}" required="required">
                                        @Html.ValidationMessage("{{modelNum2}}.Response", "*This is a required field", new { @class = "text-danger PropOwnerValidation ", @data_propid = "Suburb" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("State")
                                    </td>
                                    <td class="w-60">
                                        @Html.DropDownList("StateResponse", Model.StateList, new { @class = "form-control PropOwnerSituation StateDropDown state-af-{{SituationNumber}}", @required = "required", @data_propid = "State", @data_stateval = "{{State}}" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Post Code")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control PropOwnerSituation post-code post-code-af-{{SituationNumber}}" data-propid="PostalCode" value="{{PostalCode}}" required="required" placeholder="1234">
                                        @Html.ValidationMessage("{{modelNum4}}.Response", "*This is a required field", new { @class = "text-danger PropOwnerValidation ", @data_propid = "PostalCode" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                @Html.Label("Building Value")
                <div class="input-symbol-dollar">
                    <input type="number" class="form-control PropOwnerSituation" data-propid="BuildingValue" value="{{BuildingValue}}" required="required">
                    @Html.ValidationMessage("{{modelNum5}}.Response", "*This is a required field", new { @class = "text-danger PropOwnerValidation" })
                </div>
                <br />
                @Html.Label("Tenants Occupation")
                <input type="text" class="form-control PropOwnerSituation" data-propid="TenantOccupation" value="{{TenantOccupation}}" required="required">
                @Html.ValidationMessage("{{modelNum9}}.Response", "*This is a required field", new { @class = "text-danger PropOwnerValidation", @data_propid = "TenantOccupation" })
                <br />
                @Html.Label("Are any of the following Activities or Services to Be Included?")
                <div class="CheckBoxIncludedActivitiesContainer">
                    {{#Activities}}
                    <input type="hidden" value="{{Text}}" data-propid="Activities[{{GroupId}}].Text" />
                    <input type="hidden" value="{{Value}}" data-propid="Activities[{{GroupId}}].Value" />
                    <input type="hidden" class="groupId" data-propid="Activities[{{GroupId}}].GroupId" />
                    <input type="checkbox" value="{{Selected}}" data-propid="Activities[{{GroupId}}].Selected" />
                    <span>{{Text}}</span>
                    <br />
                    {{/Activities}}
                </div>

                @Html.ValidationMessage("ActivitiesResponse", "Please check atleast one item!", new { @class = "text-danger" })
                <br />
                @Html.Label("Rental Income")
                <div class="input-symbol-dollar">
                    <input type="number" class="form-control PropOwnerSituation" data-propid="RentalIncome" value="{{RentalIncome}}" required="required">
                    @Html.ValidationMessage("{{modelNum7}}.Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Have any of the locations been unoccupied for more than 60 days? ")
                <br />
                <div style="display:inline;" class="unoccupied" data-value="{{Unoccupied}}">
                    Yes  @Html.RadioButton("rbtn2{{SituationNumber}}", "Yes", new { @id = "rbtnUnoccupied{{SituationNumber}}", @class = "PropOwnerSituation", @data_propid = "Unoccupied", @required = "required" })
                    No   @Html.RadioButton("rbtn2{{SituationNumber}}", "No", new { @id = "rbtnUnoccupied{{SituationNumber}}", @class = "PropOwnerSituation", @data_propid = "Unoccupied", @required = "required" })
                    @Html.ValidationMessage("Unoccupied{{SituationNumber}}", "*This is a required field", new { @class = "text-danger PropOwnerValidation", @data_propid = "Unoccupied" })
                </div>
                <br />
                <br />

            </div>
        </div>{{/mySituations}}


    </script>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-7');

        //Mask Input Fields
        $('.post-code').mask('9999');

        var SituationNumber = parseInt($('#DefaultSituationNumber').val());
        var initialRender = function (callback, jsonData) {
            debugger

            var template = $('#situationTpl').html();

            var data = {
                model: [],
                situationNumber: [],
                mySituations: []
            };
            var modelData = [];
            var situationNumber = [];
            for (var x = 1; x < jsonData.length + 1; x++) {
                $('.nav-tabs').append('<li class=""><a data-toggle="tab" href=".situation' + x + '">Situation ' + x + '</a></li>')
            }
            data.model = modelData;
            data.mySituations = jsonData
            var html = Mustache.to_html(template, data);
            $('.tab-content').append(html)
            //$('.situation:last').removeClass("active");
            if ($('.situation').length > 1) {
                $('#btnRemoveSituation').show();
            }
            else {
                $('#btnRemoveSituation').hide();
            }

            $(".nav-tabs li:last-child").children('a').first().click();
            $('[type="checkbox"][value="true"]').click();
            $('.StateDropDown').each(function () {
                var state = $(this).attr('data-stateval');
                $(this).val(state)
            });
            $('.unoccupied').each(function (x, data) {
                var attrValue = $(data).attr('data-value');
                $(data).children('[type="radio"][value="' + attrValue + '"]').click()
            })
            callback();
        };

        $(document).ready(function () {
            var callback = function () {
               
                $('[type="number"]').attr('type', 'text').attr('number', 'number').val()
                $('[number="number"]').attr('onkeypress', 'return isNumber(event)')
                $('[number="number"]').on('focus', function () {
                    debugger
                    var numberToFormat = $(this).val()
                    if (numberToFormat === '') {
                        return
                    }
                    else {
                        $(this).val(numeral(numberToFormat).format('0.[00]'))
                    }
                });
                $('[number="number"]').on('blur', function () {
                    debugger
                    var numberToFormat = $(this).val()
                    if (numberToFormat === '') {
                        return
                    }
                    else {
                        $(this).val(numeral(numberToFormat).format('0,0.[00]'))
                    }

                });
                if ($('.situation').length == 5) {
                    $('#btnAddSituation').addClass('disabled')
                }
                //$.validator.addMethod('required-checkbox', function (value, element) {
                //    var $module = $('.CheckBoxIncludedActivitiesContainer');
                //    var checked = $module.find('input[type="checkbox"]:checked');
                //    if (checked.length === 0) {
                //        $module.addClass('ValidateContainer');
                //        return false;
                //    } else {
                //        $module.addClass('ValidateContainer');
                //        return true;
                //    }
                //});
                $('[value="NONE OF THE ABOVE"]').nextAll('[type="checkbox"]').on('click', function () {
                    $(this).siblings().prop('checked', false);
                });
                $('[type="checkbox"]').filter(function () {
                    return $(this).prevAll('[value="NONE OF THE ABOVE"]').val() != 'NONE OF THE ABOVE';
                }).on('click', function () {
                    $(this).siblings('[value="NONE OF THE ABOVE"]:first').nextAll('[type="checkbox"]').prop('checked', false);
                });

                $.validator.addClassRules('required-checkbox', { 'required-checkbox': true });
                $('.required-checkbox').on('event', function () {
                    $(this).addClass('input-validation-error').trigger('classChange');
                });
                $('.post-code').mask('9999');
                // in another js file, far, far away
                $('.required-checkbox').on('classChange', function () {
                    $(this).removeClass('input-validation-error');
                });
                $('.required-checkbox').toggleClass('input-validation-error').siblings().removeClass('input-validation-error');

                $('[type="text"]').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="number"]').blur(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('textarea').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="checkbox"]').on('change', function () {
                    ValidateCheckbox();
                });
                $('.situation-validate').blur(function () {
                    debugger
                    var situationCount = $('.situation').length;
                    CheckDuplicateAddress(situationCount);
                });
                var widget1, widget2, widget3, widget4, widget5, initAF = function () {
                    var inputElement1 = '';
                    var inputElement2 = '';
                    var inputElement3 = '';
                    var inputElement4 = '';
                    var inputElement5 = '';
                    $('.address-line-af-1').each(function (x, element) {
                        inputElement1 = element;
                    })
                    $('.address-line-af-2').each(function (x, element) {
                        inputElement2 = element;
                    })
                    $('.address-line-af-3').each(function (x, element) {
                        inputElement3 = element;
                    })
                    $('.address-line-af-4').each(function (x, element) {
                        inputElement4 = element;
                    })
                    $('.address-line-af-5').each(function (x, element) {
                        inputElement5 = element;
                    })
                    widget1 = new AddressFinder.Widget(
                      inputElement1,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget2 = new AddressFinder.Widget(
                      inputElement2,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget3 = new AddressFinder.Widget(
                      inputElement3,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget4 = new AddressFinder.Widget(
                      inputElement4,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget5 = new AddressFinder.Widget(
                      inputElement5,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget1.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-1').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-1').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-1').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-1').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-1').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-1').val().replace($('.street-name-af-1').val(), '').trim()
                        $('.street-number-af-1').val(trimmedStreetNum);
                        $('.suburb-af-1').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-1').val(state);
                        $('.post-code-af-1').val(metaData.postcode);
                    });
                    widget2.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-2').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-2').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-2').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-2').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-2').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-2').val().replace($('.street-name-af-2').val(), '').trim()
                        $('.street-number-af-2').val(trimmedStreetNum);
                        $('.suburb-af-2').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-2').val(state);
                        $('.post-code-af-2').val(metaData.postcode);
                    });
                    widget3.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-3').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-3').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-3').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-3').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-3').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-3').val().replace($('.street-name-af-3').val(), '').trim()
                        $('.street-number-af-3').val(trimmedStreetNum);
                        $('.suburb-af-3').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-3').val(state);
                        $('.post-code-af-3').val(metaData.postcode);
                    });
                    widget4.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-4').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-4').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-4').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-4').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-4').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-4').val().replace($('.street-name-af-4').val(), '').trim()
                        $('.street-number-af-4').val(trimmedStreetNum);
                        $('.suburb-af-4').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-4').val(state);
                        $('.post-code-af-4').val(metaData.postcode);
                    });
                    widget5.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-5').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-5').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-5').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-5').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-5').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-5').val().replace($('.street-name-af-5').val(), '').trim()
                        $('.street-number-af-5').val(trimmedStreetNum);
                        $('.suburb-af-5').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-5').val(state);
                        $('.post-code-af-5').val(metaData.postcode);
                    });
                };
                downloadAF(initAF);
            };
            var data = JSON.parse((function () {
                var situations = null;
                $.ajax({
                    'async': false,
                    'global': false,
                    'url': "@Url.Action("LoadSituationData", "Quotation")",
                    'dataType': "json",
                    'success': function (situations) {
                        data = situations;
                    }
                });
                return data;
            })());
            //var newData = $(data).each(function (y, dataObj) {
            //    dataObj.NewActivities = [];
            //    $.each(dataObj.Activities, function (x, data) {
            //        dataObj.NewActivities.push({
            //            indx: x,
            //            activity: data
            //        })
            //    })

            //})
            initialRender(callback, data);
            var checkboxDOM = $('.CheckBoxIncludedActivitiesContainer').html();
            $('#btnAddSituation').on('click', function () {
                var $th = $(this);
                if ($th.hasClass('processing'))
                    return;
                $th.addClass('processing');
                debugger
                var numOfSituation = $('.situation').length;

                SituationNumber = numOfSituation + 1;
                var template = $('#situationTpl').html();
                $('li').removeClass('active');
                $('div.situation').removeClass('in').removeClass('active');
                $('.nav-tabs').append('<li><a data-toggle="tab" href=".situation' + SituationNumber + '">Situation ' + SituationNumber + '</a></li>');
                var data = {
                    mySituations: [{
                        SituationNumber: SituationNumber,
                        StreetName: '',
                        StreetNumber: '',
                        Suburb: '',
                        State: '',
                        PostalCode: '',
                        BuildingValue: '',
                        RentalIncome: '',
                        TenantOccupation: '',
                        Unoccupied: ''
                    }]
                };
                var html = Mustache.to_html(template, data);
                $('.tab-content').append(html);
                if (SituationNumber > 1) {
                    $('#btnRemoveSituation').show();
                }
                else {
                    $('#btnRemoveSituation').hide();
                }
                $(".nav-tabs li:last-child").children('a').first().click();
                $('.situation' + SituationNumber + ' .CheckBoxIncludedActivitiesContainer').html(checkboxDOM)
                callback();

                $th.removeClass('processing');
            });
            $('#btnRemoveSituation').on('click', function (callback) {
                var numOfSituation = $('.situation').length;
                $('.nav-tabs li.active').remove();
                $('.tab-content div.active').remove();
                $('.nav-tabs li a').each(function (i) {
                    var situationCount = parseInt(i) + 1;
                    var current = $(this);
                    current.text("Situation " + situationCount);
                })
                $('div.situation').each(function (x, data) {
                    var classes = $(data).attr('class').split(" ");
                    $.each(classes, function (index, classname) {
                        if (/situation.*/.test(classname)) {
                            $(data).removeClass(classname)
                        }
                    })
                    $(data).addClass('situation').addClass('situation' + (x + 1));
                });
                $('ul.nav-tabs').children('li').each(function (x, data) {
                    $(data).children('a').removeAttr('href').attr('href', '.situation' + (x + 1))
                });
                $('[href*="situation"]').first().click();
                SituationNumber--;
                if (SituationNumber == 1) {
                    $('#btnRemoveSituation').hide();

                }
                if ($('.situation').length < 5) {
                    $('#btnAddSituation').removeClass('disabled')
                }
            });
            $("#PropertyOwnersForm").attr("action", "@Url.Action(Cover.Quotation.PropertyOwners())").submit(function (e) {
                var situationCount = $('.situation').length;
                var counter = 0;
                for (var i = 0; i < situationCount; i++) {
                    $('.situation' + parseInt(i + 1) + ' .PropOwnerSituation').each(function (x, data) {
                        var attribute = $(data).attr("data-propid");
                        datVal = "model.PropertyOwnerSituation[" + [i] + "]." + attribute;
                        var datVal2 = "model.PropertyOwnerSituation[" + [i] + "]." + attribute;
                        $(data).attr("id", datVal);
                        $(data).attr("name", datVal2);
                        $(data).next('span:first').attr('data-valmsg-for', datVal2);
                    })
                    $('.situation' + parseInt(i + 1) + ' .CheckBoxIncludedActivitiesContainer').children().each(function (x, data) {
                        var idDom = "model.PropertyOwnerSituation[" + [i] + "].";
                        var attribute = $(data).attr("data-propid");
                        datVal = idDom + attribute;
                        var datVal2 = idDom + attribute;
                        $(data).attr("id", datVal);
                        $(data).attr("name", datVal2);
                    })
                    $('.situation' + parseInt(i + 1) + ' .groupId').val((i + 1));
                    //var stateVal = $('[id="model.PropertyOwnerSituation[' + i + '].State"]').attr("data-stateval");
                    //$('[id="model.PropertyOwnerSituation[' + i + '].State"]').val(stateVal);
                }
                $('[type="text"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('name') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="number"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('.unoccupied').on('change', function () {
                    debugger
                    ValidateRadionButton();
                });
                $('label.error').remove()
                var checkboxesValid = ValidateCheckbox();
                var radioValid = ValidateRadionButton();

                if (CheckDuplicateAddress(situationCount)) {
                    if (checkboxesValid) {
                        if (radioValid) {
                            if ($('.input-validation-error').length > 0) {
                                return false;
                            }
                            else {
                                $('[number="number"]').each(function () {
                                    var element = $(this);
                                    var numToFormat = $(element).val();
                                    $(element).val(numeral(numToFormat).format('0.[00]'))

                                });
                                $('[type="checkbox"]:checked').val(true)
                                $('#hdnHasReferral').val(CheckIfHasReferral());
                                showLoader();
                                return true;
                            }
                        }
                        else {
                            return false;
                        }
                    }
                    else {
                        return false;
                    }
                }
                else {
                    return false;
                }

            });
        });
        function ValidateRadionButton() {
            debugger
            var counter = 0
            $('.unoccupied').each(function () {
                var ctr = $(this).find('[data-propid="Unoccupied"]:checked').length
                if (ctr < 1) {
                    $(this).find('span').addClass('invalid-error').css('display', 'block')
                    ctr++
                }
                else {
                    $(this).find('span').removeClass('invalid-error').css('display', 'none')
                }

            })
            if (counter > 0) {
                return false;
            }
            else {
                return true;
            }
        }
        function ValidateCheckbox() {
            var valid = true
            var ctr = 0
            $('.CheckBoxIncludedActivitiesContainer').each(function () {
                debugger
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");
                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };
        function CheckDuplicateAddress(situationCount) {
            debugger
            var invalidctr = 0;
            var arrSituations = [];
            var arrInvalidSituations = [];
            for (var i = 0; i < situationCount; i++) {
                var streetNumber = $('.situation' + parseInt(i + 1) + ' [data-propid="StreetNumber"]').val();
                var streetName = $('.situation' + parseInt(i + 1) + ' [data-propid="StreetName"]').val();
                var suburb = $('.situation' + parseInt(i + 1) + ' [data-propid="Suburb"]').val()
                var situation = [{
                    description: (streetNumber + streetName + suburb).replace(/\s/g, ""),
                    situationNumber: '.situation' + parseInt(i + 1)
                }];
                arrSituations.push(situation);
            }

            for (var a = 0; a < situationCount; a++) {
                loopFor = situationCount - a;
                for (var x = 1; x < loopFor; x++) {
                    if (arrSituations[a].map(function (a) { return a.description }).toString() === arrSituations[a + x].map(function (a) { return a.description }).toString()) {
                        arrInvalidSituations.push(arrSituations[a].map(function (a) { return a.situationNumber }).toString());
                        arrInvalidSituations.push(arrSituations[a + x].map(function (a) { return a.situationNumber }).toString());

                        invalidctr++;
                    }
                    else {
                        $(arrSituations[a].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').removeClass('ValidateContainer');
                        $(arrSituations[a].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').prev('span:first').css("display", "none");
                        $(arrSituations[a + x].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').removeClass('ValidateContainer');
                        $(arrSituations[a + x].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').prev('span:first').css("display", "none");
                    }
                }
            }
            if (invalidctr === 0) {

                return true;
            }
            else {
                arrInvalidSituations.forEach(function (item) {
                    $(item).children('div.situation-address').addClass('ValidateContainer');
                    $(item).children('div.situation-address').prev('span:first').css("display", "block");
                    $(item).children('div.situation-address').addClass('ValidateContainer');
                    $(item).children('div.situation-address').prev('span:first').css("display", "block");
                });
                return false;
            }

        }
        function NoneOfTheAbove(e) {
            e = e || window.event;
            var target = e.className;
            if ($('input[class=' + target + ']').is(':checked')) {
                $('input[class=' + target + ']').siblings('input[type=checkbox]').not('.ScaffoldersOtherActivities2.ResetCheckboxes').each(function () {
                    $(this).prop('checked', false);
                })
            }
        }

        function CheckIfHasReferral() {
            var buildingValue = $('.buildingValue').filter(function () {
                cakc
                return $(this).val() > 20000000;
            });

            var hasReferral = false;
            $(buildingValue).each(function () {
                var ms = $(this).attr('id').replace(/.Response/g, "") + '.IsTriggered';
                $('<input id="' + ms + '" name="' + ms + '" type="hidden" value="true">').insertBefore('.custom-form-box');
                hasReferral = true;
            });

            return hasReferral;

        };

    </script>
}