﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Scaffolders";
}

<br />
<h2 class="header-orange">Scaffolders</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "ScaffoldersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "211" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", autocomplete = "off", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "212" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "213" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "214" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "215" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @id = "model.LiabilityInsuranceListResult[4].Response", @class = "form-control post-code-af post-code", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
            @Html.Label("Please provide a full description of business activities?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[23].QuestionId, new { @id = "model.LiabilityInsuranceListResult[23].QuestionId", @Value = "282" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[23].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[23].Response", required = "required", maxlength = 255 })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[23].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "76" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control annualTurnover", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "77" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Employees")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "78" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control numberOfEmployees wholeNumber", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Wages")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "79" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[8].Response, new { @class = "form-control", @type = "number", @id = "model.LiabilityInsuranceListResult[8].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />
            <div id="meter-container">
                @Html.Label("% of Work UNDER 10 Mtrs")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "80" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control under", onchange = "handleChange(this);", @id = "model.LiabilityInsuranceListResult[9].Response", max = "100", min = "0", required = "required", type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("% of Work OVER 10 Mtrs")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "81" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control over", onchange = "handleChange(this);", @id = "model.LiabilityInsuranceListResult[10].Response", min = "0", required = "required", type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>
            @Html.ValidationMessage("MeterValidation", "Total % of work must be 100%!", new { @class = "text-danger" })
            <br />

            <div id="work-container">
                @Html.Label("% of Residential Work")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[27].QuestionId, new { @id = "model.LiabilityInsuranceListResult[27].QuestionId", @Value = "286" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[27].Response, new { @class = "form-control residential", onchange = "handleChange(this);", @id = "model.LiabilityInsuranceListResult[27].Response", max = "100", min = "0", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[27].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("% of Commercial Work")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[28].QuestionId, new { @id = "model.LiabilityInsuranceListResult[28].QuestionId", @Value = "287" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[28].Response, new { @class = "form-control commercial", onchange = "handleChange(this);", @id = "model.LiabilityInsuranceListResult[28].Response", max = "100", min = "0", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[28].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>
            @Html.ValidationMessage("WorkValidation", "Total % of work must be 100%!", new { @class = "text-danger" })
            <br />

            @Html.Label("Does the Insured perform any work in connection with the following:")
            <div class="CheckboxScaffoldersContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxScaffolders" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxScaffolders" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd().ToUpper() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxScaffolders", @class = "checkbox-value", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxScaffolders", @class = "checkbox-value", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxScaffoldersValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            <p class="comment-style">If yes to any of the above, please provide full details of activities and turnover derived from these activities</p>
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "83" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control conditional-textarea", @id = "model.LiabilityInsuranceListResult[12].Response", maxlength = 255 })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
            <br />


            @*ParentChildD*@
            @Html.Label("Does the Insured provide Labour Hire Services?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[24].QuestionId, new { @id = "model.LiabilityInsuranceListResult[24].QuestionId", @Value = "283" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[24].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[24].Response", required = "required", onclick = "javascript:DisplayChildD(true);", @class = "IsCheckedProvideLabourHire" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[24].Response, "No", new { @id = "model.LiabilityInsuranceListResult[24].Response", required = "required", onclick = "javascript:DisplayChildD(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[24].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildD" style="display:none;">
                @Html.Label("Total Turnover generated from providing Labour Hire Services")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[25].QuestionId, new { @id = "model.LiabilityInsuranceListResult[25].QuestionId", @Value = "284" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[25].Response, new { @class = "form-control child-d", @type = "number", @id = "model.LiabilityInsuranceListResult[25].Response", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[25].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[26].QuestionId, new { @id = "model.LiabilityInsuranceListResult[26].QuestionId", @Value = "285" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[26].Response, new { @class = "form-control child-d", @id = "model.LiabilityInsuranceListResult[26].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[26].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @Html.Label("Does the Insured have documentation and procedures in place for regular inspection of equipment repairs, maintenance and safety inspections?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[29].QuestionId, new { @id = "model.LiabilityInsuranceListResult[29].QuestionId", @Value = "288" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[29].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[29].Response", required = "required", @class = "IsCheckedDocumentationAndProcedure" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[29].Response, "No", new { @id = "model.LiabilityInsuranceListResult[29].Response", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[29].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @*ParentChildE*@
            @Html.Label("Does the Insured manufacture scaffolding or sell any second hand equipment?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[30].QuestionId, new { @id = "model.LiabilityInsuranceListResult[30].QuestionId", @Value = "289" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[30].Response", required = "required", onclick = "javascript:DisplayChildE(true);", @class = "IsCheckedManufactureScaffolding" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[30].Response, "No", new { @id = "model.LiabilityInsuranceListResult[30].Response", required = "required", onclick = "javascript:DisplayChildE(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[30].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildE" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[31].QuestionId, new { @id = "model.LiabilityInsuranceListResult[31].QuestionId", @Value = "290" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[31].Response, new { @class = "form-control child-e", @id = "model.LiabilityInsuranceListResult[31].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[31].Response", "*This is a required field", new { @class = "text-danger" })
                <br />


                @Html.Label("Are the Insured products independently tested and/or are the products required to be compliant with any industry standards")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[32].QuestionId, new { @id = "model.LiabilityInsuranceListResult[32].QuestionId", @Value = "295" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[32].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[32].Response", required = "required", @class = "child-e" })
                No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[32].Response, "No", new { @id = "model.LiabilityInsuranceListResult[32].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[32].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>


            @*ParentChildF*@
            @*@Html.Label("Does the Insured sell any second hand equipment?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[32].QuestionId, new { @id = "model.LiabilityInsuranceListResult[32].QuestionId", @Value = "291" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[32].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[32].Response", required = "required", onclick = "javascript:DisplayChildF(true);", @class = "IsCheckedSecondHandEquipment" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[32].Response, "No", new { @id = "model.LiabilityInsuranceListResult[32].Response", required = "required", onclick = "javascript:DisplayChildF(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[32].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildF" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[33].QuestionId, new { @id = "model.LiabilityInsuranceListResult[33].QuestionId", @Value = "292" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[33].Response, new { @class = "form-control child-f", @id = "model.LiabilityInsuranceListResult[33].Response", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[33].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>*@

            @*ParentChildG*@
            @Html.Label("Does the Insured Hire out scaffolding for long term contracts (longer than 6 months)?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[33].QuestionId, new { @id = "model.LiabilityInsuranceListResult[33].QuestionId", @Value = "293" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[33].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[33].Response", required = "required", onclick = "javascript:DisplayChildG(true);", @class = "IsCheckedHireScaffolding" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[33].Response, "No", new { @id = "model.LiabilityInsuranceListResult[33].Response", required = "required", onclick = "javascript:DisplayChildG(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[33].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildG" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[34].QuestionId, new { @id = "model.LiabilityInsuranceListResult[34].QuestionId", @Value = "294" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[34].Response, new { @class = "form-control child-g", @id = "model.LiabilityInsuranceListResult[34].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[34].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*ParentChildA*@
            @Html.Label("Are Sub-Contractors used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "84" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[13].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", onclick = "javascript:DisplayChildId85to87(true);", @class = "isCheckedSub" })
            No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[13].Response, "No", new { @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", onclick = "javascript:DisplayChildId85to87(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            <div id="childOfParentId84" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "85" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control child-84 subcon-payment", @id = "model.LiabilityInsuranceListResult[14].Response", @type = "number", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "86" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control child-84", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "87" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[16].Response", @class = "child-84", required = "required" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[16].Response, "No", new { @id = "model.LiabilityInsuranceListResult[16].Response", @class = "child-84", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
                <br /><br />

            </div>

            @*ParentChildB*@
            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "88" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", onclick = "javascript:DisplayChildId89to91(true);", @class = "isCheckedHire" })
            No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", onclick = "javascript:DisplayChildId89to91(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            <div id="childOfParentId88" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "89" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[18].Response, new { @class = "form-control child-91", @id = "model.LiabilityInsuranceListResult[18].Response", @type = "number", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Labour Hire?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[19].QuestionId, new { @id = "model.LiabilityInsuranceListResult[19].QuestionId", @Value = "90" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[19].Response, new { @class = "form-control child-91", @id = "model.LiabilityInsuranceListResult[19].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[19].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("Do Labour Hire hold their own insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[20].QuestionId, new { @id = "model.LiabilityInsuranceListResult[20].QuestionId", @Value = "91" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[20].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[20].Response", @class = "child-91", required = "required" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[20].Response, "No", new { @id = "model.LiabilityInsuranceListResult[20].Response", @class = "child-91", required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[20].Response", "*This is a required field", new { @class = "text-danger" })
                <br /><br />

            </div>

            @*ParentChildC*@
            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[21].QuestionId, new { @id = "model.LiabilityInsuranceListResult[21].QuestionId", @Value = "279" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[21].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[21].Response", onclick = "javascript:DisplayChildId1000(true);", required = "required", @class = "isCheckedHarm" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[21].Response, "No", new { @id = "model.LiabilityInsuranceListResult[21].Response", onclick = "javascript:DisplayChildId1000(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[21].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />
            <div id="childOfParentId10" style="display:none;">
                @Html.Label("If yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[22].QuestionId, new { @id = "model.LiabilityInsuranceListResult[22].QuestionId", @Value = "281" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[22].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[22].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[22].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

            </div>
            <br />
            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "92" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[11].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[11].Response" })*@
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-8');

        //Mask Input Fields
        $('.post-code').mask('9999');
        //
        //$('.residential').mask('99?9');
        //$('.commercial').mask('99?9');

        //Render
        function Comma(Num) { //function to add commas to textboxes
            Num += '';
            Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
            Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
            x = Num.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1))
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            return x1 + x2;
        }

        $(document).ready(function () {
            downloadAF(initAF);
            $("#ScaffoldersForm").attr("action", "@Url.Action(Cover.Quotation.Scaffolders())").submit(function () {
                var isRequiredValid = true;
                debugger
                $('[type="text"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('textarea').not('.comment-box-validation, .conditional-textarea').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });


                var checkboxesValid = ValidateCheckbox();
                var meterValid = ValidateMeters();
                var workValid = ValidateWork();

                if (workValid) {
                    if (meterValid) {
                        if (checkboxesValid) {
                            if ($(this).valid()) {
                                $('[number="number"]').each(function () {
                                    var element = $(this);
                                    var numToFormat = $(element).val();
                                    $(element).val(numeral(numToFormat).format('0.[00]'))

                                });
                                $('#hdnHasReferral').val(CheckIfHasReferral());
                                showLoader();
                                return true;
                            }
                            else {
                                return false;
                            }

                        }
                        else {
                            return false
                        }
                    }
                    else {
                        return false;
                    }
                }
                else {
                    return false;
                }

            });
            // CHECK: Over and Under Meter Balance
            $('.under').on('keyup paste change', function () {

                var underVal = $(this).val();
                var remainingPrcnt = 100 - underVal;
                $('.over').attr({ "max": remainingPrcnt });
                $('.over').val(remainingPrcnt);
                ValidateMeters()
            });
            $('.under').on('blur', function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                ValidateMeters()
            })

            $('.over').on('keyup paste change', function () {
                debugger
                var underVal = $(this).val();
                var remainingPrcnt = 100 - underVal;
                $('.under').attr({ "max": remainingPrcnt });
                $('.under').val(numeral(remainingPrcnt).format('0,0.[00]'));
                ValidateMeters()
            });
            $('.over').on('blur', function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                ValidateMeters()
            })

            // CHECK: Residential and Commercial Work Balance
            $('.residential').on('paste change', function () {
                //debugger
                var residentialVal = Math.floor($(this).val());
                var remainingPrcnt = 100 - residentialVal;
                $('.commercial').attr({ "max": remainingPrcnt });
                $('.commercial').val(numeral(remainingPrcnt).format('0,0', Math.ceil));

                //$('residential').val() = residentialVal;
                ValidateWork()
            });
            $('.residential').on('blur', function () {   
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                ValidateWork()
            })

            $('.commercial').on('paste change', function () {
                //debugger
                var commercialVal = Math.floor($(this).val());
                var remainingPrcnt = 100 - commercialVal;
                $('.residential').attr({ "max": remainingPrcnt });
                $('.residential').val(numeral(remainingPrcnt).format('0,0', Math.ceil));
                ValidateWork()
            });
            $('.commercial').on('blur', function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                ValidateWork()
            })


            $('[type="checkbox"]').on('change', function () {
                ValidateCheckbox();
            });


            //Other Field Validations
            $('[type="text"]').filter(function () {
                return !$(this).parent('[style="display:none;"]')
            }).blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });


            //Omit Negative Values
            //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");

            $('textarea').not('.comment-box-validation, .conditional-textarea').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
        });

        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };
        //None of the above handler
        function NoneOfTheAbove() {
            var length = $('[type="checkbox"][id="CheckboxScaffolders"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="CheckboxScaffolders"]')[ctr]).prop('checked', false)
            }
            $('.conditional-textarea').removeAttr('required').removeClass('input-validation-error').next('span').css('display', 'none')
            //$('[data-valmsg-for="' + $('.conditional-textarea').attr('id') + '"]').removeClass('invalid-error');
            //$('[data-valmsg-for="' + $('.conditional-textarea').attr('id') + '"]').css('display', 'none');
        }
        function DisplayChildId1000(bool) {
            var element = $('#childOfParentId10')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function UncheckNoneOfTheAbove() {
            //Get the last node in checkbox
            var length = $('[type="checkbox"][id="CheckboxScaffolders"]').length - 1;

            //Uncheck the last node - which will always be the none of the above
            $($('[type="checkbox"][id="CheckboxScaffolders"]')[length]).prop('checked', false)

            $('.conditional-textarea').attr('required', 'required').next('span').css('display', '');
            //$('[data-valmsg-for="' + $('.conditional-textarea').attr('id') + '"]').addClass('invalid-error');
            //$('[data-valmsg-for="' + $('.conditional-textarea').attr('id') + '"]').css('display', 'block');
        }
        //END OF > None of the above handler

        function handleChange(input) {
            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;
        }
        function DisplayChildId85to87(bool) {
            var element = $('#childOfParentId84')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-84').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-84').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function DisplayChildId89to91(bool) {
            var element = $('#childOfParentId88')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-91').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-91').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }

        }

        // --> Parent Child D
        function DisplayChildD(bool) {
            var element = $('#ChildD')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-d').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child E
        function DisplayChildE(bool) {
            var element = $('#ChildE')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-e').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-e').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child F
        function DisplayChildF(bool) {
            var element = $('#ChildF')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-f').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-f').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child G
        function DisplayChildG(bool) {
            var element = $('#ChildG')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-g').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-g').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        // --> Parent Child H
        function DisplayChildH(bool) {
            var element = $('#ChildH')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-h').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-h').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', '');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        function ValidateMeters() {

            var valid = true;
            $('#meter-container').each(function () {
                var over = $(this).find('.over').val();
                var under = $(this).find('.under').val();

                if ((parseFloat(over) + parseFloat(under)) != 100) {
                    valid = false;
                    $(this).addClass('ValidateContainer')
                    $(this).next('span:first').css("display", "block");
                }
                else {
                    $(this).removeClass('ValidateContainer')
                    $(this).next('span:first').css("display", "none");
                }
            });
            return valid;
        }

        function ValidateWork() {
            var valid = true;
            debugger
            $('#work-container').each(function () {
                var $commercial = $(this).find('.commercial');
                var $residential = $(this).find('.residential');
                $commercial.val(numeral($commercial.val()).format('0,0', Math.floor))
                $residential.val(numeral($residential.val()).format('0,0', Math.floor))
                var numberToFormat = $(this).val()
                if ((parseFloat($commercial.val()) + parseFloat($residential.val())) != 100) {
                    valid = false;
                    $(this).addClass('ValidateContainer')
                    $(this).next('span:first').css("display", "block");
                }
                else {
                    $(this).removeClass('ValidateContainer')
                    $(this).next('span:first').css("display", "none");
                }
                
            });
            return valid;
        }

        function ValidateCheckbox() {
            var valid = true
            var ctr = 0
            $('.CheckboxScaffoldersContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };
        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        function CheckIfHasReferral() {
            debugger
            var annualTurnover = $('.annualTurnover').val();
            var workOver10Mtrs = $('.over').val();
            var itemChecked = $('.ScaffoldersOtherActivities:checked').length;
            var isSelectedHire = $('.isCheckedHire:checked').length;
            var isSelectedSub = $('.isCheckedSub:checked').length;
            var isSelectedHarm = $('.isCheckedHarm:checked').length;
            var isSelectedProvideHire = $('.IsCheckedProvideLabourHire:checked').length;
            var numberOfEmployees = $('.numberOfEmployees').val();
            var subconPayment = $('.subcon-payment').val();

            var IsCheckedManufactureScaffolding = $('.IsCheckedManufactureScaffolding:checked').length;
            var IsCheckedDocumentationAndProcedure = $('.IsCheckedDocumentationAndProcedure:checked').length;
            var IsCheckedSecondHandEquipment = $('.IsCheckedSecondHandEquipment:checked').length;
            var IsCheckedHireScaffolding = $('.IsCheckedHireScaffolding:checked').length;
            //var IsCheckedTestedAndCompliant = $('.IsCheckedTestedAndCompliant:checked').length;

            var ctr = 0;
            var hasReferral = false;
            if (annualTurnover > 2000000) {

                $('<input id="model.LiabilityInsuranceListResult[5].IsTriggered" name="model.LiabilityInsuranceListResult[5].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                //$('<input id="model.Trigger[' + ctr + '].Response" name="model.trigger[' + ctr + ']" type="hidden" value="76">').insertBefore('.custom-form-box');
                //$('<input id="model.Trigger[' + ctr + '].TriggerDesc" name="model.trigger[' + ctr + ']" type="hidden" value="76">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;

            }
            if (workOver10Mtrs > 60) {

                $('<input id="model.LiabilityInsuranceListResult[10].IsTriggered" name="model.LiabilityInsuranceListResult[10].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (itemChecked > 0) {
                $('<input id="model.LiabilityInsuranceListResult[11].IsTriggered" name="model.LiabilityInsuranceListResult[16].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            //if (isSelectedSub > 0) {
            //    $('<input id="model.LiabilityInsuranceListResult[13].IsTriggered" name="model.LiabilityInsuranceListResult[13].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            //    ctr++;
            //    hasReferral = true;
            //}
            if (isSelectedHire > 0) {
                $('<input id="model.LiabilityInsuranceListResult[17].IsTriggered" name="model.LiabilityInsuranceListResult[17].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (isSelectedHarm > 0) {
                $('<input id="model.LiabilityInsuranceListResult[21].IsTriggered" name="model.LiabilityInsuranceListResult[21].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (isSelectedProvideHire > 0) {
                $('<input id="model.LiabilityInsuranceListResult[24].IsTriggered" name="model.LiabilityInsuranceListResult[24].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            // UPDATE: New Question Trigger 8/13/2018
            if (IsCheckedDocumentationAndProcedure < 1) {
                $('<input id="model.LiabilityInsuranceListResult[29].IsTriggered" name="model.LiabilityInsuranceListResult[29].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (IsCheckedManufactureScaffolding > 0) {
                $('<input id="model.LiabilityInsuranceListResult[30].IsTriggered" name="model.LiabilityInsuranceListResult[30].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (IsCheckedSecondHandEquipment > 0) {
                $('<input id="model.LiabilityInsuranceListResult[32].IsTriggered" name="model.LiabilityInsuranceListResult[32].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (IsCheckedHireScaffolding > 0) {
                $('<input id="model.LiabilityInsuranceListResult[33].IsTriggered" name="model.LiabilityInsuranceListResult[33].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            //if (IsCheckedTestedAndCompliant < 1) {
            //    $('<input id="model.LiabilityInsuranceListResult[36].IsTriggered" name="model.LiabilityInsuranceListResult[36].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            //    ctr++;
            //    hasReferral = true;
            //}
            if (subconPayment > (annualTurnover * 0.2)) {
                $('<input id="model.LiabilityInsuranceListResult[14].IsTriggered" name="model.LiabilityInsuranceListResult[14].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

                hasReferral = true;
            }

            //if (numberOfEmployees > 5) {
            //    $('<input id="model.LiabilityInsuranceListResult[7].IsTriggered" name="model.LiabilityInsuranceListResult[7].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            //    ctr++;
            //    hasReferral = true;
            //}
            return hasReferral;

        };

    </script>
}