﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Shopping Centres";
}

<br />
<h2 class="header-orange">Shopping Centres</h2>

<br />
<div class="custom-content-desc-dark">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "ShoppingCentreForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].GroupId, new { @id = "model.LiabilityInsuranceListResult[13].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "221" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control address-line-af street-number-af", autocomplete = "off", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].GroupId, new { @id = "model.LiabilityInsuranceListResult[14].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "222" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].GroupId, new { @id = "model.LiabilityInsuranceListResult[15].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "223" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].GroupId, new { @id = "model.LiabilityInsuranceListResult[16].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "224" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[16].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].GroupId, new { @id = "model.LiabilityInsuranceListResult[17].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "225" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[17].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br />

            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            @Html.Label("Annual Turnover")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "136" })
            <div class="input-symbol-dollar">
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "137" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Anchor Tenants")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "138" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control anchorTenant wholeNumber", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Retail Tenants")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "139" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[3].Response, new { @class = "form-control retailTenant wholeNumber", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Are Sub-contractors used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "140" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", @class = "hasSubContractors", onclick = "javascript:DisplayChildId141to143(true);" })
            No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "No", new { @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", onclick = "javascript:DisplayChildId141to143(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            <div id="childOfParentId140" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "141" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", @type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "142" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "143" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[7].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", @class = "child-a" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[7].Response, "No", new { @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", @class = "child-a" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
                <br /><br />

            </div>

            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "144" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", @class = "hasLabourHires", onclick = "javascript:DisplayChildId145to147(true);" })
            No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "No", new { @id = "model.LiabilityInsuranceListResult[8].Response", required = "required", onclick = "javascript:DisplayChildId145to147(false);" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br /><br />

            <div id="childOfParentId144" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "145" })
                <div class="input-symbol-dollar">
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required", @type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />

                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "146" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
                <br />

                @Html.Label("Do Labour Hire hold their own Insurance? ")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "147" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[11].Response", required = "required", @class = "child-b" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "No", new { @id = "model.LiabilityInsuranceListResult[11].Response", required = "required", @class = "child-b" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
                <br /><br />

            </div>

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "148" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[12].Response" })*@
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-12');

        //Mask Input Fields
        $('.post-code').mask('9999');

        //Render
        $(document).ready(function () {
            downloadAF(initAF);
            $("#ShoppingCentreForm").attr("action", "@Url.Action(Cover.Quotation.ShoppingCentre())").submit(function () {
                $('[type="text"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }


                });
                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });


                //Omit Negative Values
                //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");


                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }


                });

                if (!$(this).valid()) {
                    return false;
                }
                else {
                    $('[number="number"]').each(function () {
                        var element = $(this);
                        var numToFormat = $(element).val();
                        $(element).val(numeral(numToFormat).format('0.[00]'))

                    });
                    $('#hdnHasReferral').val(CheckIfHasReferral());
                    showLoader();

                    return true;
                }
            });
            $('[type="text"]').filter(function () {
                return !$(this).parent('[style="display:none;"]')
            }).blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });


            //Omit Negative Values
            //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");


            $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });

        });
        function DisplayChildId141to143(bool) {

            var element = $('#childOfParentId140')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function DisplayChildId145to147(bool) {
            var element = $('#childOfParentId144')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };
        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        function CheckIfHasReferral() {
            debugger
            var totalNumberOfTenants = parseInt($('.anchorTenant').val()) + parseInt($('.retailTenant').val());
            var hasSubContractors = $('.hasSubContractors:checked').length;
            var hasLabourHires = $('.hasLabourHires:checked').length;
            var ctr = 0;
            var hasReferral = false;

            if (totalNumberOfTenants > 40) {
                $('<input id="model.LiabilityInsuranceListResult[2].IsTriggered" name="model.LiabilityInsuranceListResult[2].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (hasSubContractors > 0) {
                $('<input id="model.LiabilityInsuranceListResult[4].IsTriggered" name="model.LiabilityInsuranceListResult[4].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (hasLabourHires > 0) {
                $('<input id="model.LiabilityInsuranceListResult[8].IsTriggered" name="model.LiabilityInsuranceListResult[8].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            return hasReferral;

        };


    </script>
}