﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Transport and Logistics";
}

<br />
<h2 class="header-orange">Transport and Logistics</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "TransportAndLogisticsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].GroupId, new { @id = "model.LiabilityInsuranceListResult[0].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "201" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control address-line-af street-number-af", autocomplete = "off", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].GroupId, new { @id = "model.LiabilityInsuranceListResult[1].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "202" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].GroupId, new { @id = "model.LiabilityInsuranceListResult[2].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "203" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].GroupId, new { @id = "model.LiabilityInsuranceListResult[3].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "204" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[3].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].GroupId, new { @id = "model.LiabilityInsuranceListResult[4].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "205" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[4].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[4].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger  " })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" }) @* Model Placement for Referral to Underwriter Triggers *@

            @Html.Label("Please provide a full description of business activities and all types of goods carried")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "43" })
            @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[5].Response", required = "required", maxlength = 255 })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            <div class="input-symbol-dollar">
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "44" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control annual-turnover", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "45" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[7].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[7].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Are Sub-Contractors used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "46" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[8].Response", onclick = "javascript:DisplayChildId5152(true);", required = "required", @class = "check-sub-contractors" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "No", new { @id = "model.LiabilityInsuranceListResult[8].Response", onclick = "javascript:DisplayChildId5152(false);", required = "required" })
            <br />
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div id="childOfParentId46" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "51" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control child-a subcon-payment", @id = "model.LiabilityInsuranceListResult[9].Response", required = "required", type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "52" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control child-a", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "271" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", @class = "child-a" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "47" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[11].Response", onclick = "javascript:DisplayChildId5354(true);", required = "required", @class = "check-labour-hire" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "No", new { @id = "model.LiabilityInsuranceListResult[11].Response", onclick = "javascript:DisplayChildId5354(false);", required = "required" })
            <br />
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div id="childOfParentId47" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "53" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required", type = "number" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "54" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control child-b", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Labour Hire hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "272" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[18].Response", required = "required", @class = "child-b" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[18].Response, "No", new { @id = "model.LiabilityInsuranceListResult[18].Response", required = "required", @class = "child-b" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "48" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[14].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[14].Response", required = "required", @class = "check-contract", onclick = "javascript:DisplayChildId1000(true);" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[14].Response, "No", new { @id = "model.LiabilityInsuranceListResult[14].Response", required = "required", onclick = "javascript:DisplayChildId1000(false);" })
            <br />
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <div id="childOfParentId10" style="display:none;">
                @Html.Label("If yes, please provide full details")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "268" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[15].Response, new { @class = "form-control child-c", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @Html.Label("Are any of the following activities or services to be included?")
            <br />

            <div id="CheckBoxIncludedActivitiesContainer">
                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "TransportAndLogisticsCheckBox" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "TransportAndLogisticsCheckBox" })
                    if (Model.CheckboxReferenceLookup[i].Text.ToUpper() == "NONE OF THE ABOVE")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "TransportAndLogisticsCheckBox", @class = "required-checkbox", onclick = "javascript:NoneOfTheAbove();" })
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "TransportAndLogisticsCheckBox", @class = "checkbox-value required-checkbox", onclick = "javascript:UncheckNoneOfTheAbove();" })
                    }
                    <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxIncludedActivitiesValidation", "Please check atleast one item!", new { @class = "text-danger checkbox-validation" })

            <br /><br />

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "50" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[16].Response" })*@
            <br />
            
            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-5');

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            //alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {
            downloadAF(initAF);
            $("#TransportAndLogisticsForm").attr("action", "@Url.Action(Cover.Quotation.TransportAndLogistics())").submit(function () {

                $('[type="text"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="number"]').each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                var checkboxesValid = ValidateCheckbox();
                if (checkboxesValid) {
                    if (!$(this).valid()) {
                        return false;
                    }
                    else {
                        //Transport and Logistics
                        $('[number="number"]').each(function () {
                            var element = $(this);
                            var numToFormat = $(element).val();
                            $(element).val(numeral(numToFormat).format('0.[00]'))

                        });
                        $('#hdnHasReferral').val(CheckIfHasReferral());

                        showLoader();
                        return true;
                    }
                }
                else {
                    return false
                }
            });
        });
        $('[type="checkbox"]').on('change', function () {
            ValidateCheckbox();
        });
        function CheckIfHasReferral() {
            debugger
            var annualTurnover = $('.annual-turnover').val();
            var checkSubContractors = $('.check-sub-contractors:checked').length;
            var checkLabourHire = $('.check-labour-hire:checked').length;
            var checkContract = $('.check-contract:checked').length;
            var checkTransport = $('.checkbox-value:checked').length;
            var subconPayment = $('.subcon-payment').val();

            var hasReferral = false;
            if (annualTurnover > 3000000) {
                $('<input id="model.LiabilityInsuranceListResult[6].IsTriggered" name="model.LiabilityInsuranceListResult[6].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                hasReferral = true;
            }
            //if (checkSubContractors > 0) {
            //    $('<input id="model.LiabilityInsuranceListResult[8].IsTriggered" name="model.LiabilityInsuranceListResult[8].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

            //    hasReferral = true;
            //}
            if (checkLabourHire > 0) {
                $('<input id="model.LiabilityInsuranceListResult[11].IsTriggered" name="model.LiabilityInsuranceListResult[11].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

                hasReferral = true;
            }
            if (checkContract > 0) {
                $('<input id="model.LiabilityInsuranceListResult[14].IsTriggered" name="model.LiabilityInsuranceListResult[14].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

                hasReferral = true;
            }
            if (subconPayment > (annualTurnover * 0.2)) {
                $('<input id="model.LiabilityInsuranceListResult[9].IsTriggered" name="model.LiabilityInsuranceListResult[9].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

                hasReferral = true;
            }

            return hasReferral;

        };
        function DisplayChildId1000(bool) {
           
            var element = $('#childOfParentId10')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function DisplayChildId5152(bool) {
            var element = $('#childOfParentId46')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-a').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function DisplayChildId5354(bool) {
            var element = $('#childOfParentId47')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-b').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }


        //Validate Checkbox - Transport
        $('[id="CheckboxIncludedActivities"]').change(function () {
            var length = $('[type="checkbox"][id="CheckboxIncludedActivities"]').length;
            for (var ctr = 0; ctr < length; ctr++) {
                if ($('[type="checkbox"][id="CheckboxIncludedActivities"]')[ctr].checked) {
                    //$('[type="checkbox"][name^="Q49CBValue"]').removeClass('input-validation-error');
                    $('#CheckBoxIncludedActivitiesContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="CheckboxIncludedActivitiesValidation"]').removeClass('invalid-error');
                    $('[data-valmsg-for="CheckboxIncludedActivitiesValidation"]').css('display', 'none');
                    return;
                }
            }
            //$('[type="checkbox"][name="Q49CBValue"]').addClass('input-validation-error');
            $('#CheckBoxIncludedActivitiesContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="CheckboxIncludedActivitiesValidation"]').addClass('invalid-error');
            $('[data-valmsg-for="CheckboxIncludedActivitiesValidation"]').css('display', 'block');
        });


        //None of the above handler
        function NoneOfTheAbove() {
            var length = $('[type="checkbox"][id="TransportAndLogisticsCheckBox"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][id="TransportAndLogisticsCheckBox"]')[ctr]).prop('checked', false)
            }
        }

        function UncheckNoneOfTheAbove() {
            //Get the last node in checkbox
            var length = $('[type="checkbox"][id="TransportAndLogisticsCheckBox"]').length - 1;

            //Uncheck the last node - which will always be the none of the above
            $($('[type="checkbox"][id="TransportAndLogisticsCheckBox"]')[length]).prop('checked', false)
        }


        $('[type="text"]').filter(function () {
            return !$(this).parent('[style="display:none;"]')
        }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });


        //Omit Negative Values
        //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");

        function ValidateCheckbox() {
            var valid = true
            var ctr = 0
            $('#CheckBoxIncludedActivitiesContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");

                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };
        $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });

    </script>



}