﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Vacant Land";
}

<br />
<h2 class="header-orange">Vacant Land</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "VacantLandForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs"></ul>
    <div class="col-lg-8">
        <div class="custom-form-box">

            <div class="tab-content"></div>
            <br />
            @*<p class="comment-style">Additional Information/Comments</p>*@
            @Html.HiddenFor(m => m.SituationNumber, new { @id = "DefaultSituationNumber" })
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "116" })
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[0].Response" })*@
            <br />

            @Html.Hidden("jsonData", Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.VacantLandSituation)), new { @id = "VacantLandSituation" })

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="footer-panel">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
                <input type="button" id="btnAddSituation" value="Add Situation" class="btn btn-primary" />
                <input type="button" id="btnRemoveSituation" value="Remove Situation" class="btn btn-primary" />
            </div>

        </div>
    </div>
    <script id="situationTpl" type="text/template">
        {{#mySituations}}
        <div class="situation situation{{SituationNumber}} tab-pane fade in active">
            @Html.ValidationMessage("SituationAddress", "Situation address has a duplicate!", new { @class = "text-danger" })
            <div class="situation-address">
                <table class="w-100">
                    <tr>
                        <td class="w-20" style="vertical-align: top;">
                            <p style="color:white;">Situation</p>
                            @Html.Hidden("GroupId", "{{SituationNumber}}", new { @class = "VacantLand", @data_propid = "SituationNumber" })
                        </td>
                        <td class="w-80">
                            <table class="w-100">
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Street Number")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control VacantLand situation-validate  address-line-af-{{SituationNumber}} street-number-af-{{SituationNumber}}" autocomplete="off" data-propid="StreetNumber" value="{{StreetNumber}}" required="required">
                                        @Html.ValidationMessage("{{modelNum0}}.Response", "*This is a required field", new { @class = "text-danger VacantLandValidation", @data_propid = "StreetNumber" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Street Name")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control VacantLand situation-validate street-name-af-{{SituationNumber}}" data-propid="StreetName" value="{{StreetName}}" required="required">
                                        @Html.ValidationMessage("{{modelNum1}}.Response", "*This is a required field", new { @class = "text-danger VacantLandValidation ", @data_propid = "StreetName" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Suburb")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control VacantLand situation-validate suburb-af-{{SituationNumber}}" data-propid="Suburb" value="{{Suburb}}" required="required">
                                        @Html.ValidationMessage("{{modelNum2}}.Response", "*This is a required field", new { @class = "text-danger VacantLandValidation ", @data_propid = "Suburb" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("State")
                                    </td>
                                    <td class="w-60">
                                        @Html.DropDownList("StateResponse", Model.StateList, new { @class = "form-control VacantLand StateDropDown state-af-{{SituationNumber}}", required = "required", @data_propid = "State", @data_stateval = "{{State}}", @Value = "{{State}}" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-40">
                                        @Html.Label("Post Code")
                                    </td>
                                    <td class="w-60">
                                        <input type="text" class="form-control VacantLand post-code post-code-af-{{SituationNumber}}" data-propid="PostalCode" value="{{PostalCode}}" required="required" placeholder="1234">
                                        @Html.ValidationMessage("{{modelNum4}}.Response", "*This is a required field", new { @class = "text-danger VacantLandValidation", @data_propid = "PostalCode" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                @Html.Label("Land Size (Square Metres)")
                <input type="number" class="form-control VacantLand wholeNumber" data-propid="LandSize" value="{{LandSize}}" required="required">
                @Html.ValidationMessage("{{modelNum5}}.Response", "*This is a required field", new { @class = "text-danger VacantLandValidation", @data_propid = "LandSize" })
                <br />

                @Html.Label("Is any of the land used as a Hobby Farm?")
                <br />

                <div style="display:inline;" class="ishobbyfarm" data-value="{{IsHobbyFarm}}">
                    Yes  @Html.RadioButton("rbtn2{{SituationNumber}}", "Yes", new { @id = "rbtnIsHobbyFarm{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "IsHobbyFarm", required = "required" })
                    No   @Html.RadioButton("rbtn2{{SituationNumber}}", "No", new { @id = "rbtnIsHobbyFarm{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "IsHobbyFarm", required = "required" })
                    @Html.ValidationMessage("rbtn2{{SituationNumber}}", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br /><br />
                <div id="childOfParentId108_{{SituationNumber}}" class="item-detail" style="display:none;">
                    @Html.Label("If yes, please provide full details")
                    <textarea class="form-control VacantLand" data-propid="HobbyFarmDetail" value="{{HobbyFarmDetail}}" required="required">{{HobbyFarmDetail}}</textarea>
                    @Html.ValidationMessage("area1", "*This is a required field", new { @class = "text-danger" })
                    <br />
                </div>

                @Html.Label("Is any of the land used for agistment purposes?")
                <br />

                <div style="display:inline;" class="foragistment" data-value="{{IsForAgistment}}">
                    Yes  @Html.RadioButton("rbtn4{{SituationNumber}}", "Yes", new { @id = "rbtnForAgistment{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "IsForAgistment", required = "required" })
                    No   @Html.RadioButton("rbtn4{{SituationNumber}}", "No", new { @id = "rbtnForAgistment{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "IsForAgistment", required = "required" })
                    @Html.ValidationMessage("rbtn4{{SituationNumber}}", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br /><br />
                <div id="childOfParentId110_{{SituationNumber}}" class="item-detail" style="display:none;">
                    @Html.Label("If Yes, please provide type of animals and number of animals")
                    <textarea class="form-control VacantLand" data-propid="AgistmentDetail" value="{{AgistmentDetail}}" required="required">{{AgistmentDetail}}</textarea>
                    @Html.ValidationMessage("area2", "*This is a required field", new { @class = "text-danger" })
                    <br />
                </div>

                @Html.Label("Is any of the land used for Car Parking or Markets?")
                <br />
                <div style="display:inline;" class="forparkingormarket" data-value="{{IsForMarketOrParking}}">
                    Yes  @Html.RadioButton("rbtn6{{SituationNumber}}", "Yes", new { @id = "rbtnForParkingOrMarket{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "IsForMarketOrParking", required = "required" })
                    No   @Html.RadioButton("rbtn6{{SituationNumber}}", "No", new { @id = "rbtnForParkingOrMarket{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "IsForMarketOrParking", required = "required" })
                    @Html.ValidationMessage("rbtn6{{SituationNumber}}", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br /><br />
                <div id="childOfParentId112_{{SituationNumber}}" class="item-detail" style="display:none;">
                    @Html.Label("If yes, please provide full details")
                    <textarea class="form-control VacantLand" data-propid="MarketOrParkingDetail" value="{{MarketOrParkingDetail}}" required="required">{{MarketOrParkingDetail}}</textarea>
                    @Html.ValidationMessage("area3", "*This is a required field", new { @class = "text-danger" })
                    <br />
                </div>

                @Html.Label("Are there any Structures or Buildings in the Land?")
                <br />
                <div style="display:inline;" class="hasstructuresorbuildings" data-value="{{HasStructuresOrBuildings}}">
                    Yes  @Html.RadioButton("rbtn7{{SituationNumber}}", "Yes", new { @id = "rbtnHasStructures{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "HasStructuresOrBuildings", required = "required" })
                    No   @Html.RadioButton("rbtn7{{SituationNumber}}", "No", new { @id = "rbtnHasStructures{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "HasStructuresOrBuildings", required = "required" })
                    @Html.ValidationMessage("rbtn7{{SituationNumber}}", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br /><br />
                <div id="childOfParentId112_{{SituationNumber}}" class="item-detail" style="display:none;">
                    @Html.Label("If yes, please provide full details")
                    <textarea class="form-control VacantLand" data-propid="StructureOrBuildingDetail" value="{{StructureOrBuildingDetail}}" required="required">{{StructureOrBuildingDetail}}</textarea>
                    @Html.ValidationMessage("area4", "*This is a required field", new { @class = "text-danger" })
                    <br />
                </div>

                @Html.Label("Is the intention to build on or sell the land within the next 6 Months?")
                <br />
                <div style="display:inline;" class="buildsellland" data-value="{{BuildOrSellLand}}">
                    Yes  @Html.RadioButton("rbtn8{{SituationNumber}}", "Yes", new { @id = "rbtnBuildSellLand{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "BuildOrSellLand", required = "required" })
                    No   @Html.RadioButton("rbtn8{{SituationNumber}}", "No", new { @id = "rbtnBuildSellLand{{SituationNumber}}", @class = "VacantLand show-desc", @data_propid = "BuildOrSellLand", required = "required" })
                    @Html.ValidationMessage("rbtn8{{SituationNumber}}", "*This is a required field", new { @class = "text-danger" })
                    <br />
                </div>

            </div>
        </div>
        {{/mySituations}}

    </script>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-10');

        //Render
        var lastModelNum = 9;
        var SituationNumber = parseInt($('#DefaultSituationNumber').val());
        var initialRender = function (callback, jsonData) {
            debugger;
            var template = $('#situationTpl').html();
            var data = {
                mySituations: []
            };


            for (var x = 1; x < jsonData.length + 1; x++) {
                $('.nav-tabs').append('<li class=""><a data-toggle="tab" href=".situation' + x + '">Situation ' + x + '</a></li>')
            }

            data.mySituations = jsonData;
            var html = Mustache.to_html(template, data);
            $('.tab-content').append(html);

            if ($(".situation").length == 1) {
                $('#btnRemoveSituation').hide();
            }

            $(".nav-tabs li:last-child").children('a').first().click();
            $('.StateDropDown').each(function () {
                var state = $(this).attr('data-stateval');
                $(this).val(state)
            });
            $('.ishobbyfarm').each(function (x, data) {
                var attrValue = $(data).attr('data-value');
                $(data).children('[type="radio"][value="' + attrValue + '"]').click()
            })
            $('.foragistment').each(function (x, data) {
                var attrValue = $(data).attr('data-value');
                $(data).children('[type="radio"][value="' + attrValue + '"]').click()
            })
            $('.forparkingormarket').each(function (x, data) {
                var attrValue = $(data).attr('data-value');
                $(data).children('[type="radio"][value="' + attrValue + '"]').click()
            })
            $('.hasstructuresorbuildings').each(function (x, data) {
                var attrValue = $(data).attr('data-value');
                $(data).children('[type="radio"][value="' + attrValue + '"]').click()
            })
            $('.buildsellland').each(function (x, data) {
                var attrValue = $(data).attr('data-value');
                $(data).children('[type="radio"][value="' + attrValue + '"]').click()
            })
            callback();
        };
        $(document).ready(function () {
            var callback = function () {
                $('[type="number"]').attr('type', 'text').attr('number', 'number').val()
                $('[number="number"]').attr('onkeypress', 'return isNumber(event)')
                $('[number="number"]').on('focus', function () {
                    debugger
                    var numberToFormat = $(this).val()
                    if (numberToFormat === '') {
                        return
                    }
                    else {
                        $(this).val(numeral(numberToFormat).format('0.[00]'))
                    }

                });
                $('[number="number"]').on('blur', function () {
                    debugger
                    var numberToFormat = $(this).val()
                    if (numberToFormat === '') {
                        return
                    }
                    else {
                        $(this).val(numeral(numberToFormat).format('0,0.[00]'))
                    }

                });
                if ($('.situation').length == 5) {
                    $('#btnAddSituation').addClass('disabled')
                }
                $('.wholeNumber').on('blur', function () {
                    debugger
                    var numberToFormat = $(this).val()
                    if (numberToFormat === '') {
                        return
                    }
                    else {
                        $(this).val(numeral(numberToFormat).format('0,0'))
                    }

                });
                //Mask Input Fields
                $('.post-code').mask('9999');

                //Validate Number Field
                $('[type="number"]').attr('onkeypress', 'return isNumber(event)')
                $('[number="number"]').attr('onkeypress', 'return isNumber(event)')
                $('[type="text"]').blur(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }


                });

                $('[type="number"]').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('[type="number"]').bind("paste", function (e) {
                    e.preventDefault();
                });

                $('textarea').blur(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                $('.show-desc').on('click', function () {
                    debugger
                    var value = $(this).val();
                    $('[id="' + this.name + '"]').parent().nextAll('.item-detail').find('textarea').removeClass('input-validation-error');
                    $('[id="' + this.name + '"]').removeClass('input-validation-error');
                    $('[id="' + this.name + '"]').parent().find("span").removeClass("invalid-error").css('display', 'none')
                    if (value == 'Yes') {
                        $(this).parent().nextAll('div:first').css('display', 'block');
                        $(this).parent().nextAll('div:first').find('span').removeClass('invalid-error');
                        //$(this).parent().nextAll('div:first').find('span').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                        //$(this).removeClass('input-validation-error');
                        //$(this).parent().nextAll('div:first').find('span').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                    }
                    else {
                        $(this).parent().nextAll('div:first').css('display', 'none');
                        $(this).parent().nextAll('div:first').find('span').removeClass('invalid-error');
                        $(this).parent().nextAll('div:first').find('span').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                        //$(this).removeClass('input-validation-error');
                        //ClearFields(element);
                    }
                })
                $('.situation-validate').blur(function () {
                    var situationCount = $('.situation').length;
                    CheckDuplicateAddress(situationCount);
                });

                if ($('.situation').length == 5) {
                    $('#btnAddSituation').addClass('disabled')
                }
                var widget1, widget2, widget3, widget4, widget5, initAF = function () {
                    var inputElement1 = '';
                    var inputElement2 = '';
                    var inputElement3 = '';
                    var inputElement4 = '';
                    var inputElement5 = '';
                    $('.address-line-af-1').each(function (x, element) {
                        inputElement1 = element;
                    })
                    $('.address-line-af-2').each(function (x, element) {
                        inputElement2 = element;
                    })
                    $('.address-line-af-3').each(function (x, element) {
                        inputElement3 = element;
                    })
                    $('.address-line-af-4').each(function (x, element) {
                        inputElement4 = element;
                    })
                    $('.address-line-af-5').each(function (x, element) {
                        inputElement5 = element;
                    })
                    widget1 = new AddressFinder.Widget(
                      inputElement1,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget2 = new AddressFinder.Widget(
                      inputElement2,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget3 = new AddressFinder.Widget(
                      inputElement3,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget4 = new AddressFinder.Widget(
                      inputElement4,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget5 = new AddressFinder.Widget(
                      inputElement5,
                      'NVA79XQHLFDYP3G68CKW',
                      'AU',
                      {
                      }
                    );
                    widget1.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-1').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-1').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-1').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-1').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-1').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-1').val().replace($('.street-name-af-1').val(), '').trim()
                        $('.street-number-af-1').val(trimmedStreetNum);
                        $('.suburb-af-1').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-1').val(state);
                        $('.post-code-af-1').val(metaData.postcode);
                    });
                    widget2.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-2').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-2').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-2').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-2').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-2').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-2').val().replace($('.street-name-af-2').val(), '').trim()
                        $('.street-number-af-2').val(trimmedStreetNum);
                        $('.suburb-af-2').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-2').val(state);
                        $('.post-code-af-2').val(metaData.postcode);
                    });
                    widget3.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-3').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-3').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-3').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-3').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-3').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-3').val().replace($('.street-name-af-3').val(), '').trim()
                        $('.street-number-af-3').val(trimmedStreetNum);
                        $('.suburb-af-3').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-3').val(state);
                        $('.post-code-af-3').val(metaData.postcode);
                    });
                    widget4.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-4').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-4').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-4').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-4').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-4').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-4').val().replace($('.street-name-af-4').val(), '').trim()
                        $('.street-number-af-4').val(trimmedStreetNum);
                        $('.suburb-af-4').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-4').val(state);
                        $('.post-code-af-4').val(metaData.postcode);
                    });
                    widget5.on('result:select', function (fullAddress, metaData) {
                        var state = 'Queensland'
                        debugger
                        if (metaData.street_number_2 == null && metaData.street_number_1 == null) {
                            $('.street-number-af-5').val(metaData.address_line_1)
                        }
                        else if (metaData.street_number_1 != null && metaData.address_line_1 != null && metaData.address_line_2 != null) {
                            $('.street-number-af-5').val(metaData.address_line_1 + ', ' + metaData.street_number_1)
                        }
                        else if (metaData.street_number_2 == null) {
                            $('.street-number-af-5').val(metaData.street_number_1)
                        }
                        else {
                            $('.street-number-af-5').val(metaData.street_number_1 + ' - ' + metaData.street_number_2)
                        }

                        $('.street-name-af-5').val(metaData.street_name + ' ' + metaData.street_type)
                        var trimmedStreetNum = $('.street-number-af-5').val().replace($('.street-name-af-5').val(), '').trim()
                        $('.street-number-af-5').val(trimmedStreetNum);
                        $('.suburb-af-5').val(metaData.locality_name)
                        switch (metaData.state_territory) {
                            case "NSW":
                                state = 'New South Wales';
                                break;
                            case "NT":
                                state = 'Northern Territory';
                                break;
                            case "QLD":
                                state = 'Queensland';
                                break;
                            case "SA":
                                state = 'South Australia';
                                break;
                            case "TAS":
                                state = 'Tasmania';
                                break;
                            case "VIC":
                                state = 'Victoria';
                                break;
                            case "WA":
                                state = 'Western Australia';
                                break;
                            case "ACT":
                                state = 'Australian Capital Territory';
                                break;
                            default:
                                state = 'Queensland';
                                break;
                        }
                        $('.state-af-5').val(state);
                        $('.post-code-af-5').val(metaData.postcode);
                    });
                };
                downloadAF(initAF);
            };

            debugger;
            var data = $('#VacantLandSituation').val();

            initialRender(callback, JSON.parse(data));

            $('#btnAddSituation').on('click', function () {
                debugger
                var numOfSituation = $('.situation').length;
                SituationNumber = numOfSituation + 1;
                var template = $('#situationTpl').html();
                $('li').removeClass('active');
                $('div.situation').removeClass('in').removeClass('active');
                $('.nav-tabs').append('<li><a data-toggle="tab" href=".situation' + SituationNumber + '">Situation ' + SituationNumber + '</a></li>');
                var data = {
                    mySituations: [{
                        SituationNumber: SituationNumber,
                        StreetName: '',
                        StreetNumber: '',
                        Suburb: '',
                        State: '',
                        PostalCode: '',
                        LandSize: '',
                        IsHobbyFarm: '',
                        HobbyFarmDetail: '',
                        IsForAgistment: '',
                        AgistmentDetail: '',
                        IsForMarketOrParking: '',
                        MarketOrParkingDetail: '',
                        HasStructuresOrBuildings: '',
                        StructureOrBuildingDetail: '',
                        BuildOrSellLand: ''
                    }]
                };
                var html = Mustache.to_html(template, data);
                $('.tab-content').append(html);
                if (SituationNumber > 1) {
                    $('#btnRemoveSituation').show();
                }
                else {
                    $('#btnRemoveSituation').hide();
                }

                callback();
                $(".nav-tabs li:last-child").children('a').first().click();


            });

            $('#btnRemoveSituation').on('click', function (callback) {
                var situationToGo = $('[href*="situation"]').first();
                var numOfSituation = $('.situation').length;
                $('.nav-tabs li.active').remove();
                $('.tab-content div.active').remove();
                $('.nav-tabs li a').each(function (i) {
                    var situationCount = parseInt(i) + 1;
                    var current = $(this);
                    current.text("Situation " + situationCount);
                })
                $('div.situation').each(function (x, data) {
                    var classes = $(data).attr('class').split(" ");
                    $.each(classes, function (index, classname) {
                        if (/situation.*/.test(classname)) {
                            $(data).removeClass(classname)
                        }
                    })
                    $(data).addClass('situation').addClass('situation' + (x + 1));
                });
                $('ul.nav-tabs').children('li').each(function (x, data) {
                    $(data).children('a').removeAttr('href').attr('href', '.situation' + (x + 1))
                });
                $('[href*="situation"]').first().click();
                SituationNumber--;
                if (SituationNumber == 1) {
                    $('#btnRemoveSituation').hide();
                }
                if ($('.situation').length < 5) {
                    $('#btnAddSituation').removeClass('disabled')
                }
                $(situationToGo).click();
            });
            $("#VacantLandForm").attr("action", "@Url.Action(Cover.Quotation.VacantLand())").submit(function (e) {
                debugger
                var situationCount = $('.situation').length;
                var counter = 0;
                for (var i = 0; i < situationCount; i++) {
                    $('.situation' + parseInt(i + 1) + ' .VacantLand').each(function (x, data) {
                        var attribute = $(data).attr("data-propid");
                        datVal = "model.VacantLandSituation[" + [i] + "]." + attribute;
                        var datVal2 = "model.VacantLandSituation[" + [i] + "]." + attribute;
                        $(data).attr("id", datVal);
                        $(data).attr("name", datVal2);
                        $(data).next('span:first').attr('data-valmsg-for', datVal2);
                    })

                    $('.situation' + parseInt(i + 1) + ' .groupId').val((i + 1));
                    //var stateVal = $('[id="model.PropertyOwnerSituation[' + i + '].State"]').attr("data-stateval");
                    //$('[id="model.PropertyOwnerSituation[' + i + '].State"]').val(stateVal);
                }

                ValidateFields();

                $('label.error').remove()
                var radioValid = ValidateRadionButton();
                if (CheckDuplicateAddress(situationCount)) {
                    if (radioValid) {
                        if ($('.input-validation-error').length > 0) {
                            return false;
                        }
                        else {
                            $('[number="number"]').each(function () {
                                var element = $(this);
                                var numToFormat = $(element).val();
                                $(element).val(numeral(numToFormat).format('0.[00]'))

                            });
                            $('[type="checkbox"]:checked').val(true)
                            //$('#hdnHasReferral').val(CheckIfHasReferral());
                            showLoader();

                            return true;
                        }
                    }

                }
                else {
                    return false;
                }

            });
        });

        function ValidateRadionButton() {
            debugger
            var counter = 0
            $('.ishobbyfarm').each(function () {
                var ctr1 = $(this).find('[data-propid="IsHobbyFarm"]:checked').length
                if (ctr1 < 1) {
                    $(this).find('span').addClass('invalid-error').css('display', 'block');
                    $(this).addClass('input-validation-error');
                    ctr1++
                }
                else {
                    $(this).find('span').removeClass('invalid-error').css('display', 'none')
                    $(this).removeClass('input-validation-error');
                    ctr1--
                }

            });

            $('.foragistment').each(function () {
                var ctr2 = $(this).find('[data-propid="IsForAgistment"]:checked').length
                if (ctr2 < 1) {
                    $(this).find('span').addClass('invalid-error').css('display', 'block');
                    $(this).addClass('input-validation-error');
                    ctr2++
                }
                else {
                    $(this).find('span').removeClass('invalid-error').css('display', 'none')
                    $(this).removeClass('input-validation-error');
                    ctr2--
                }

            });

            $('.forparkingormarket').each(function () {
                var ctr3 = $(this).find('[data-propid="IsForMarketOrParking"]:checked').length
                if (ctr3 < 1) {
                    $(this).find('span').addClass('invalid-error').css('display', 'block')
                    $(this).addClass('input-validation-error');
                    ctr3++
                }
                else {
                    $(this).find('span').removeClass('invalid-error').css('display', 'none')
                    $(this).removeClass('input-validation-error');
                    ctr3--
                }

            });

            $('.hasstructuresorbuildings').each(function () {
                var ctr4 = $(this).find('[data-propid="HasStructuresOrBuildings"]:checked').length
                if (ctr4 < 1) {
                    $(this).find('span').addClass('invalid-error').css('display', 'block')
                    $(this).addClass('input-validation-error');
                    ctr4++
                }
                else {
                    $(this).find('span').removeClass('invalid-error').css('display', 'none')
                    $(this).removeClass('input-validation-error');
                    ctr4--
                }
            });

            $('.buildsellland').each(function () {
                var ctr5 = $(this).find('[data-propid="BuildOrSellLand"]:checked').length
                if (ctr5 < 1) {
                    $(this).find('span').addClass('invalid-error').css('display', 'block')
                    $(this).addClass('input-validation-error');
                    ctr5++
                }
                else {
                    $(this).find('span').removeClass('invalid-error').css('display', 'none')
                    $(this).removeClass('input-validation-error');
                    ctr5--
                }
            });

            if (counter > 0) {
                return false;
            }
            else {
                return true;
            }
        }
        @*$("#btnProceed").click(function (e) {
            e.preventDefault();
            debugger;
            var situationCount = $('.situation').length;
            var counter = 0;
            for (var i = 0; i < situationCount; i++) {

                $('.situation' + parseInt(i + 1) + ' .VacantLand').each(function (x, data) {
                    var attribute = $(data).attr("data-propid");
                    datVal = "model.VacantLandSituation[" + [i] + "]." + attribute;
                    var datVal2 = "model.VacantLandSituation[" + [i] + "]." + attribute;
                    $(data).attr("id", datVal);
                    $(data).attr("name", datVal2);
                })
                $('.situation' + parseInt(i + 1) + ' .groupId').val((i + 1));
                //var stateVal = $('[id="model.PropertyOwnerSituation[' + i + '].State"]').attr("data-stateval");
                //$('[id="model.PropertyOwnerSituation[' + i + '].State"]').val(stateVal);
            }

            if ($('.invalid-error').length > 0) {
                return;
            }
            $("#myDiv").validate({
                success: function (e) {
                    showLoader();
                },
            });

            CheckDuplicateAddress(situationCount);

            $("#VacantLandForm").attr("action", "@Url.Action(Cover.Quotation.VacantLand())").submit();
        });*@
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };
        function ValidateFields() {
            $('[type="text"]').each(function () {
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });

            $('[type="number"]').each(function () {
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });

            $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {
                var checkedValue = $(this).parent().prev().prev().prev().find('[type="radio"]:checked').val();
                if (checkedValue == 'Yes') {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
        }

        //function DisplayChildId109(bool) {
        //    if (bool == true) {
        //        $('#childOfParentId108').css('display', 'block');
        //    }
        //    else {
        //        $('#childOfParentId108').css('display', 'none');
        //    }
        //}

        //function DisplayChildId111(bool) {
        //    if (bool == true) {
        //        $('#childOfParentId110').css('display', 'block');
        //    }
        //    else {
        //        $('#childOfParentId110').css('display', 'none');
        //    }
        //}

        //function DisplayChildId113(bool) {
        //    if (bool == true) {
        //        $('#childOfParentId112').css('display', 'block');
        //    }
        //    else {
        //        $('#childOfParentId112').css('display', 'none');
        //    }
        //}

        //function DisplayChildId115(bool) {
        //    if (bool == true) {
        //        $('#childOfParentId114').css('display', 'block');
        //    }
        //    else {
        //        $('#childOfParentId114').css('display', 'none');
        //    }
        //}

        function onBegin(xhr) {
        }
        function CheckDuplicateAddress(situationCount) {
            debugger
            var invalidctr = 0;
            var arrSituations = [];
            var arrInvalidSituations = [];
            for (var i = 0; i < situationCount; i++) {
                var streetNumber = $('.situation' + parseInt(i + 1) + ' [data-propid="StreetNumber"]').val();
                var streetName = $('.situation' + parseInt(i + 1) + ' [data-propid="StreetName"]').val();
                var suburb = $('.situation' + parseInt(i + 1) + ' [data-propid="Suburb"]').val()
                var situation = [{
                    description: (streetNumber + streetName + suburb).replace(/\s/g, ""),
                    situationNumber: '.situation' + parseInt(i + 1)
                }];
                arrSituations.push(situation);
            }

            for (var a = 0; a < situationCount; a++) {
                loopFor = situationCount - a;
                for (var x = 1; x < loopFor; x++) {

                    if (arrSituations[a].map(function (a) { return a.description }).toString() === arrSituations[a + x].map(function (a) { return a.description }).toString()) {
                        arrInvalidSituations.push(arrSituations[a].map(function (a) { return a.situationNumber }).toString());
                        arrInvalidSituations.push(arrSituations[a + x].map(function (a) { return a.situationNumber }).toString());

                        invalidctr++;
                    }
                    else {

                        $(arrSituations[a].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').removeClass('ValidateContainer');
                        $(arrSituations[a].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').prev('span:first').css("display", "none");
                        $(arrSituations[a + x].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').removeClass('ValidateContainer');
                        $(arrSituations[a + x].map(function (a) { return a.situationNumber }).toString()).children('div.situation-address').prev('span:first').css("display", "none");

                    }
                }
            }
            if (invalidctr === 0) {

                return true;
            }
            else {
                arrInvalidSituations.forEach(function (item) {
                    $(item).children('div.situation-address').addClass('ValidateContainer');
                    $(item).children('div.situation-address').prev('span:first').css("display", "block");
                    $(item).children('div.situation-address').addClass('ValidateContainer');
                    $(item).children('div.situation-address').prev('span:first').css("display", "block");
                });
                return false;
            }

        }
        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

    </script>
}
