﻿@model CoverBuilder.Entities.ViewModels.LiabilityInsuranceResultViewModels

@{
    ViewBag.Title = "Welders and Boilermakers";
}

<br />
<h2 class="header-orange">Welders and Boilermakers</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("WeldersAndBoilermakers", "Quotation",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "WeldersAndBoildermakersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
            <table class="w-100">
                <tr>
                    <td class="w-30" style="vertical-align: top;">
                        <p style="color:white;">Situation Address</p>
                    </td>
                    <td class="w-70">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].GroupId, new { @id = "model.LiabilityInsuranceListResult[12].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[12].QuestionId, new { @id = "model.LiabilityInsuranceListResult[12].QuestionId", @Value = "216" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control address-line-af street-number-af", autocomplete = "off", @id = "model.LiabilityInsuranceListResult[12].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[12].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].GroupId, new { @id = "model.LiabilityInsuranceListResult[13].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[13].QuestionId, new { @id = "model.LiabilityInsuranceListResult[13].QuestionId", @Value = "217" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[13].Response, new { @class = "form-control street-name-af", @id = "model.LiabilityInsuranceListResult[13].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[13].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].GroupId, new { @id = "model.LiabilityInsuranceListResult[14].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[14].QuestionId, new { @id = "model.LiabilityInsuranceListResult[14].QuestionId", @Value = "218" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[14].Response, new { @class = "form-control suburb-af", @id = "model.LiabilityInsuranceListResult[14].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[14].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].GroupId, new { @id = "model.LiabilityInsuranceListResult[15].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[15].QuestionId, new { @id = "model.LiabilityInsuranceListResult[15].QuestionId", @Value = "219" })
                                    @Html.DropDownListFor(m => m.LiabilityInsuranceListResult[15].Response, Model.StateList, new { @class = "form-control state-af", @id = "model.LiabilityInsuranceListResult[15].Response", required = "required" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[15].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].GroupId, new { @id = "model.LiabilityInsuranceListResult[16].GroupId", @Value = "1" })
                                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[16].QuestionId, new { @id = "model.LiabilityInsuranceListResult[16].QuestionId", @Value = "220" })
                                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[16].Response, new { @class = "form-control post-code post-code-af", @id = "model.LiabilityInsuranceListResult[16].Response", required = "required", placeholder = "1234" })
                                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[16].Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br />

            @Html.HiddenFor(m => m.NeedsUnderwritingReferral, new { @id = "hdnHasReferral" })

            @Html.Label("Annual Turnover")
            <div class="input-symbol-dollar">
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[0].QuestionId, new { @id = "model.LiabilityInsuranceListResult[0].QuestionId", @Value = "128" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[0].Response, new { @class = "form-control annualTurnover", @id = "model.LiabilityInsuranceListResult[0].Response", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[0].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Years in Business")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[1].QuestionId, new { @id = "model.LiabilityInsuranceListResult[1].QuestionId", @Value = "129" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[1].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[1].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[1].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Employees")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[2].QuestionId, new { @id = "model.LiabilityInsuranceListResult[2].QuestionId", @Value = "130" })
            @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[2].Response, new { @class = "form-control wholeNumber", @id = "model.LiabilityInsuranceListResult[2].Response", required = "required", @type = "number" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Wages")
            <div class="input-symbol-dollar">
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[3].QuestionId, new { @id = "model.LiabilityInsuranceListResult[3].QuestionId", @Value = "131" })
                @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[3].Response, new { @class = "form-control", @id = "model.LiabilityInsuranceListResult[3].Response", required = "required", @type = "number" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[3].Response", "*This is a required field", new { @class = "text-danger" })
            </div>
            <br />

            @Html.Label("Welding Activities")
            <br />


            <div id="Q132itemContainer">
               

                @for (int i = 0; i < Model.CheckboxReferenceLookup.Count; i++)
                {
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Text, new { @id = "CheckboxWeldingActivities" })
                    @Html.HiddenFor(m => m.CheckboxReferenceLookup[i].Value, new { @id = "CheckboxWeldingActivities" })
                    if (Model.CheckboxReferenceLookup[i].Text.TrimEnd().ToUpper() == "OTHERS")
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxWeldingActivities", @class = "chk-others", onclick = "javascript:CBClickOther(checked);" })

                        @Html.TextBoxFor(m => m.CheckboxReferenceLookup[i].Value,null, new { @class = "otherWeldingAct", placeholder = "Other", onclick = "javascript:TextClickOther();" })
                        @Html.ValidationMessage("model_CheckboxReferenceLookup_" + i + "__Value", "Please provide details.", new { @class = "text-danger" })

                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.CheckboxReferenceLookup[i].Selected, new { @id = "CheckboxWeldingActivities" })
                        <span>@Model.CheckboxReferenceLookup[i].Text</span>
                    }
                    <br />
                }
            </div>
            @Html.ValidationMessage("CheckboxValidation", "Please check atleast one item!", new { @class = "text-danger" })
            <br />

            @*ParentChildA*@
            @Html.Label("Are Sub-Contractors used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[4].QuestionId, new { @id = "model.LiabilityInsuranceListResult[4].QuestionId", @Value = "133" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[4].Response", @class = "hasSubcontractors", onclick = "javascript:DisplayChildId149150(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[4].Response, "No", new { @id = "model.LiabilityInsuranceListResult[4].Response", onclick = "javascript:DisplayChildId149150(false);", required = "required" })
            <br />
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[4].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div id="childOfParentId133" style="display:none;">
                @Html.Label("Total Amount paid to Sub Contractors")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[5].QuestionId, new { @id = "model.LiabilityInsuranceListResult[5].QuestionId", @Value = "149" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[5].Response, new { @class = "form-control child-133 subcon-payment", @id = "model.LiabilityInsuranceListResult[5].Response", @type = "number", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[5].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Activities Performed by Sub Contractors")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[6].QuestionId, new { @id = "model.LiabilityInsuranceListResult[6].QuestionId", @Value = "150" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[6].Response, new { @class = "form-control child-133", @id = "model.LiabilityInsuranceListResult[6].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[6].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Sub Contractors hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[7].QuestionId, new { @id = "model.LiabilityInsuranceListResult[7].QuestionId", @Value = "270" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[7].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[7].Response", @class = "child-133", @required = "required" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[7].Response, "No", new { @id = "model.LiabilityInsuranceListResult[7].Response", @class = "child-133", @required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[7].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Are Labour Hire Personnel used?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[8].QuestionId, new { @id = "model.LiabilityInsuranceListResult[8].QuestionId", @Value = "134" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[8].Response", @class = "hasLabourHire", onclick = "javascript:DisplayChildId151152153(true);", required = "required" })
            No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[8].Response, "No", new { @id = "model.LiabilityInsuranceListResult[8].Response", onclick = "javascript:DisplayChildId151152153(false);", required = "required" })
            <br />
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div id="childOfParentId134" style="display:none;">
                @Html.Label("Total Amount paid to Labour Hire Personnel")
                <div class="input-symbol-dollar">
                    @Html.HiddenFor(m => m.LiabilityInsuranceListResult[9].QuestionId, new { @id = "model.LiabilityInsuranceListResult[9].QuestionId", @Value = "151" })
                    @Html.TextBoxFor(m => m.LiabilityInsuranceListResult[9].Response, new { @class = "form-control child-134", @id = "model.LiabilityInsuranceListResult[9].Response", @type = "number", required = "required" })
                    @Html.ValidationMessage("model.LiabilityInsuranceListResult[9].Response", "*This is a required field", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Activities Performed by Labour Hire")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[10].QuestionId, new { @id = "model.LiabilityInsuranceListResult[10].QuestionId", @Value = "152" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[10].Response, new { @class = "form-control child-134", @id = "model.LiabilityInsuranceListResult[10].Response", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[10].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                @Html.Label("Do Labour Hire hold their own Insurance?")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[11].QuestionId, new { @id = "model.LiabilityInsuranceListResult[11].QuestionId", @Value = "153" })
                <br />
                Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[11].Response", @class = "child-134", @required = "required" })
                No  @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[11].Response, "No", new { @id = "model.LiabilityInsuranceListResult[11].Response", @class = "child-134", @required = "required" })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[11].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
                <br />
            </div>

            @*ParentChildC*@
            @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
            @Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "297" })
            <br />
            Yes @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "Yes", new { @id = "model.LiabilityInsuranceListResult[17].Response", required = "required", onclick = "javascript:DisplayChildC(true);", @class = "IsCheckedHoldHarmlessAgreements" })
            No @Html.RadioButtonFor(m => m.LiabilityInsuranceListResult[17].Response, "No", new { @id = "model.LiabilityInsuranceListResult[17].Response", onclick = "javascript:DisplayChildC(false);", required = "required" })
            @Html.ValidationMessage("model.LiabilityInsuranceListResult[17].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildC" style="display:none;">
                @Html.Label("If yes, please provide full details:")
                @Html.HiddenFor(m => m.LiabilityInsuranceListResult[18].QuestionId, new { @id = "model.LiabilityInsuranceListResult[18].QuestionId", @Value = "298" })
                @Html.TextAreaFor(m => m.LiabilityInsuranceListResult[18].Response, new { @id = "model.LiabilityInsuranceListResult[18].Response", @class = "form-control child-c", required = "required", maxlength = 255 })
                @Html.ValidationMessage("model.LiabilityInsuranceListResult[18].Response", "*This is a required field", new { @class = "text-danger" })
                <br />
            </div>

            @*<p class="comment-style">Additional Information/Comments</p>*@
            @*@Html.HiddenFor(m => m.LiabilityInsuranceListResult[17].QuestionId, new { @id = "model.LiabilityInsuranceListResult[17].QuestionId", @Value = "135" })*@
            @*@Html.TextAreaFor(m => m.LiabilityInsuranceListResult[12].Response, new { @class = "form-control comment-box-validation comment-box-style", @rows = 4, @id = "model.LiabilityInsuranceListResult[12].Response" })*@
            <br />

            <p class="quote-call-us">If you would like to speak to an Underwriter about this risk please call us on 1300 650 670</p>
            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>

}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-common custom-image-background-11');

        //Mask Input Fields
        $('.post-code').mask('9999');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            //alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {

            //Process Form On Click
            downloadAF(initAF);
            if ('@ViewBag.Status' == "New" || '@ViewBag.OtherHasValue' == "0") {
                $('.otherWeldingAct').val('');
            }
            $('[type="checkbox"]').on('change', function () {
                ValidateCheckbox();
            });
            $("#WeldersAndBoildermakersForm").attr("action", "@Url.Action(Cover.Quotation.WeldersAndBoilermakers())").submit(function () {
                //debugger

                $('[type="text"]').filter(function () {
                    return !$(this).hasClass('otherWeldingAct') || !$(this).parent('[style="display:none;"]')
                }).each(function () {
                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('[type="number"]').each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });
                $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).each(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }
                });

                var checkboxesValid = ValidateCheckbox();
                if (checkboxesValid) {
                    if (!$(this).valid()) {
                        return false;
                    }
                    else {
                        $('[number="number"]').each(function () {
                            var element = $(this);
                            var numToFormat = $(element).val();
                            $(element).val(numeral(numToFormat).format('0.[00]'))

                        });
                        $('#hdnHasReferral').val(CheckIfHasReferral());

                        showLoader();
                        return true;
                    }
                }
                else {
                    return false
                }
            });

        });

        function ValidateCheckbox() {
            debugger
            var valid = true
            var ctr = 0
            $('#Q132itemContainer').each(function () {
                var checked = $(this).find('input[type="checkbox"]:checked');
                if (checked.length === 0) {
                    $(this).addClass('ValidateContainer');
                    $(this).next('span:first').css("display", "block");
                    ctr++;
                } else {
                    debugger
                    //If "Others" Checkbox = true AND  "Others" Textbox = blank
                    if ($('.chk-others:checked').length == 1 && $('.otherWeldingAct').val() == "") {
                        $('[data-valmsg-for="model_CheckboxReferenceLookup_14__Value"]').css('display', 'block');
                        ctr++;
                    }
                    $(this).removeClass('ValidateContainer');
                    $(this).next('span:first').css("display", "none");
                }
            });
            if (ctr > 0) {
                valid = false;
            }
            return valid;
        };

        function DisplayChildId149150(bool) {
            var element = $('#childOfParentId133')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-133').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-133').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }
        function DisplayChildId151152153(bool) {
            var element = $('#childOfParentId134')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-134').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-134').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        function DisplayChildC(bool) {
            var element = $('#ChildC')
            if (bool == true) {
                $(element).css('display', 'block');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' }).css('display', 'none');
                    $(this).removeClass('input-validation-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') === 'radio' }).addClass('field-validation-valid').removeClass('field-validation-error');
                });
            }
            else {
                $(element).css('display', 'none');
                $('.child-c').each(function () {
                    $(this).next('span:first').removeClass('invalid-error');
                    $(this).next('span:first').filter(function () { return $(this).prev().attr('type') != 'radio' })
                        .css('display', 'none');
                    $(this).removeClass('input-validation-error');
                });

                ClearFields(element);
            }
        }

        function CBClickOther(value) {
            debugger
            if (value) {
                $('.otherWeldingAct').prop('required');
                $('#Q132CBValueTBoxwb11').focus();
                $('[data-valmsg-for="model_CheckboxReferenceLookup_14__Value"]').css('display', 'block');
            }
            else {
                $('.otherWeldingAct').val('');
                $('.otherWeldingAct').removeProp('required');
                $('[data-valmsg-for="model_CheckboxReferenceLookup_14__Value"]').css('display', 'none');
            }
        }
        function TextClickOther() {
            debugger
            $($('[type="checkbox"].chk-others')).prop('checked', true);
            $('[data-valmsg-for="model_CheckboxReferenceLookup_14__Value').css('display', 'none');

            $('#Q132itemContainer').removeClass('ValidateContainer');
            $('[data-valmsg-for="model_CheckboxReferenceLookup_14__Value"').removeClass('invalid-error');
            $('[data-valmsg-for="model_CheckboxReferenceLookup_14__Value"]').css('display', 'none');

            $('[data-valmsg-for="CheckboxValidation"]').css('display', 'none');
        }
        function ClearFields(element) {
            $(element).find(':input').each(function () {
                switch (this.type) {
                    case 'button':
                    case 'text':
                    case 'submit':
                    case 'password':
                    case 'file':
                    case 'email':
                    case 'date':
                    case 'number':
                    case 'textarea':
                        $(this).val('');
                        break;
                    case 'checkbox':
                    case 'radio':
                        this.checked = false;
                        break;
                }
            });
        };
        $('[name^="model.CheckboxReferenceLookup"]').change(function () {
            var length = $('[type="checkbox"][name^="model.CheckboxReferenceLookup"]').length;
            for (var ctr = 0; ctr < length; ctr++) {
                if ($('[type="checkbox"][name^="model.CheckboxReferenceLookup"]')[ctr].checked) {
                    //$('[type="checkbox"][name^="Q49CBValue"]').removeClass('input-validation-error');
                    $('#Q132itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="CheckboxValidation"]').removeClass('invalid-error');
                    $('[data-valmsg-for="CheckboxValidation"]').css('display', 'none');
                    return;
                }
            }
            //$('[type="checkbox"][name="Q49CBValue"]').addClass('input-validation-error');
            $('#Q132itemContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="CheckboxValidation"]').addClass('invalid-error');
            $('[data-valmsg-for="CheckboxValidation"]').css('display', 'block');
        });

        $('[type="text"]').filter(function () {
            return !$(this).hasClass('otherWeldingAct') || !$(this).parent('[style="display:none;"]')
        }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });


        //Omit Negative Values
        //$('[type="number"]').attr("oninput", "this.value = Math.abs(this.value)");


        $('textarea').filter(function () { return !$(this).hasClass('comment-box-validation') }).blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

        function CheckIfHasReferral() {
            //debugger
            var annualTurnover = $('.annualTurnover').val();
            var otherWeldingAct = $('.otherWeldingAct').val();
            var hasSubcontractors = $('.hasSubcontractors:checked').length;
            var hasLabourHire = $('.hasLabourHire:checked').length;
            var IsCheckedHoldHarmlessAgreements = $('.IsCheckedHoldHarmlessAgreements:checked').length;
            var subconPayment = $('.subcon-payment').val();

            var ctr = 0;
            var hasReferral = false;
            if (parseInt(annualTurnover) > 3000000) {
                $('<input id="model.LiabilityInsuranceListResult[0].IsTriggered" name="model.LiabilityInsuranceListResult[0].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;

            }
            if ($.trim(otherWeldingAct) != '') {
                $('<input id="model.LiabilityInsuranceListResult[19].QuestionId" name="model.LiabilityInsuranceListResult[19].QuestionId" type="hidden" value="132">').insertBefore('.custom-form-box');
                $('<input id="model.LiabilityInsuranceListResult[19].Response" name="model.LiabilityInsuranceListResult[19].Response" type="hidden" value="' + otherWeldingAct + '">').insertBefore('.custom-form-box');
                $('<input id="model.LiabilityInsuranceListResult[19].IsTriggered" name="model.LiabilityInsuranceListResult[19].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            //if (hasSubcontractors > 0) {
            //    $('<input id="model.LiabilityInsuranceListResult[4].IsTriggered" name="model.LiabilityInsuranceListResult[4].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
            //    ctr++;
            //    hasReferral = true;
            //}
            if (hasLabourHire > 0) {
                $('<input id="model.LiabilityInsuranceListResult[8].IsTriggered" name="model.LiabilityInsuranceListResult[8].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (IsCheckedHoldHarmlessAgreements > 0) {
                $('<input id="model.LiabilityInsuranceListResult[17].IsTriggered" name="model.LiabilityInsuranceListResult[17].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');
                ctr++;
                hasReferral = true;
            }
            if (subconPayment > (annualTurnover * 0.2)) {
                $('<input id="model.LiabilityInsuranceListResult[5].IsTriggered" name="model.LiabilityInsuranceListResult[5].IsTriggered" type="hidden" value="true">').insertBefore('.custom-form-box');

                hasReferral = true;
            }

            return hasReferral;

        };

    </script>
}