﻿@model CoverBuilder.Entities.ViewModels.UnderwriterLiabilityViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div id="manage-liability">
    <div class="row">
        <div id="liability-list" class="">
            <table id="liability-table" class="table table-bordered table-hover dataTable"></table>
        </div>
    </div>
    @*@using (Ajax.BeginForm("", "", new AjaxOptions { HttpMethod = "POST" }, new { @id = "LiabilityUnderwriterForm", @class = "form-horizontal" }))
        {*@
    <div id="liability-details" class="row">
        <div class="row">
            <div class="row">
                <label class="col-sm-4">Liability Type:</label>
                @Html.HiddenFor(m => m.LiabilityInsuranceType.InsuranceId, new { @id = "hdnInsuranceID" })
                <input id="liability-type" readonly type="text" class="form-control col-sm-8" />
            </div>
            <div class="row">
                <label class="col-sm-4">Liability Code:</label>
                <input id="liability-code" readonly type="text" class="form-control col-sm-8" />
            </div>
            <div class="row">
                <label class="col-sm-4">Underwriter</label>
                @*<input id="underwriter" type="" class="form-control col-sm-8" />*@
                <select id="ddlUnderwriters" class="form-control col-sm-8"></select>
            </div>

        </div>
    </div>

    <div class="row">
        <button type="submit" id="save" class="btn btn-primary">Save</button>
    </div>
    @*}*@
</div>


@section Scripts{
    <script src="~/Areas/Admin/Scripts/ManageLiability.js"></script>
}
