﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Events And Markets";
    int UserID = ViewBag.GenericUserID;
}

<br />
<h2 class="">Events And Markets</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "EventsAndMarketsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-6">
    <div class="custom-form-box">


        @Html.Label("Select Cover Required")
        @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
        @Html.Hidden("model[0].UserInfoId", UserID, new { @id = "model[0].UserInfoId" })
        @Html.Hidden("model[0].QuestionId", "159", new { @id = "model[0].QuestionId" })
        @Html.DropDownList("model[0].Response", new SelectList((List<SelectListItem>)ViewData["EAndMValue"], "Value", "Text"), "Select One", new { @class = "form-control", onchange = "LoadEAndMInsurance(this.value)", required = "required" })
        @Html.ValidationMessage("model[0].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="EAndMContainer"></div>
        <br /><br />

        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

    </div>
</div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@
    @Scripts.Render("~/bundles/_EventOrganiserScript")

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-13');

    function onBegin(xhr) {
    }

    function onComplete(xhr, status) {
    }

    function onSuccess(data, status, xhr) {
        //alert('tmt');
        @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {
        });

        $("#btnProceed").click(function (e) {
            e.preventDefault();

            var Q170length = $('[type="checkbox"][name^="EventOrganiserQ170"]').length;
            if (Q170length != 0)
            { 
                var Q170strCon = "";
                var Q170strValid = "0";
                for (var ctr = 0; ctr < Q170length; ctr++) {
                    if ($('[type="checkbox"][name^="EventOrganiserQ170"]')[ctr].checked) {
                        Q170strCon = Q170strCon + ctr.toString() + "=true;";
                        Q170strValid = "1";
                    }
                    else {
                        Q170strCon = Q170strCon + ctr.toString() + "=false;";
                    }
                }

                if (Q170strValid == "0") {
                    $('#Q170itemContainer').addClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').addClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'block');
                    return;
                }
                else {
                    $('#Q170itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'none');
                }

                //if ($('.invalid-error').length > 0) {
                //    return alert("Please fill up the required fields before submitting the form")
                //}

                document.getElementById("model[10].Response").value = Q170strCon;
            }

            var Q170length = $('[type="checkbox"][name^="MarketOrganiserQ170"]').length;
            if (Q170length != 0) {
                var Q170strCon = "";
                var Q170strValid = "0";
                for (var ctr = 1; ctr < Q170length; ctr++) {
                    if ($('[type="checkbox"][name^="MarketOrganiserQ170"]')[ctr].checked) {
                        Q170strCon = Q170strCon + ctr.toString() + "=true;";
                        Q170strValid = "1";
                    }
                    else {
                        Q170strCon = Q170strCon + ctr.toString() + "=false;";
                    }
                }

                if (Q170strValid == "0") {
                    $('#Q170itemContainer').addClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').addClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'block');
                }
                else {
                    $('#Q170itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'none');
                }

                //if ($('.invalid-error').length > 0) {
                //    return alert("Please fill up the required fields before submitting the form")
                //}

                document.getElementById("model[10].Response").value = Q170strCon;
            }

            $("#myDiv").validate({
                success: function (e) {
                    showLoader();
                },
            });
            $("#EventsAndMarketsForm").attr("action", "@Url.Action(Cover.Quotation.EventsAndMarkets())").submit();
                //Generate Link
                @*var url = '@Url.Action("Thankyou", "Home")';
                window.location.href = url;*@
        });

        function LoadEAndMInsurance(value) {
            if (value == "1")
            {
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._IndividualOneOffEvent()))');
            }
            else if (value == "2")
            {
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._MarketStallHolder()))');
            }
            else if (value == "3")
            {
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._EventOrganiser()))');
            }
            else if (value == "4")
            {
                $("#EAndMContainer").load('@(Url.Action(Cover.Quotation._MarketOrganiser()))');
            }
            else {
                $("#EAndMContainer").empty();
            } 
        }

        function DisplayChildId171(bool) {
            if (bool == true) {
                $('#childOfParentId168').css('display', 'none');
            }
            else {
                $('#childOfParentId168').css('display', 'block');
            }
        }

        function EventOrganiserQ170Click() {
            var length = $('[type="checkbox"][name^="EventOrganiserQ170"]').length;
            for (var ctr = 0; ctr < length; ctr++) {
                if ($('[type="checkbox"][name^="EventOrganiserQ170"]')[ctr].checked) {
                    //$('[type="checkbox"][name^="Q49CBValue"]').removeClass('input-validation-error');
                    $('#Q170itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'none');
                    return;
                }
            }
            //$('[type="checkbox"][name="Q49CBValue"]').addClass('input-validation-error');
            $('#Q170itemContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="model[10].Response"]').addClass('invalid-error');
            $('[data-valmsg-for="model[10].Response"]').css('display', 'block');
        }

        function MarketOrganiserQ170Click() {
            var length = $('[type="checkbox"][name^="MarketOrganiserQ170"]').length;
            for (var ctr = 0; ctr < length; ctr++) {
                if ($('[type="checkbox"][name^="MarketOrganiserQ170"]')[ctr].checked) {
                    //$('[type="checkbox"][name^="Q49CBValue"]').removeClass('input-validation-error');
                    $('#Q170itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'none');
                    return;
                }
            }
            //$('[type="checkbox"][name="Q49CBValue"]').addClass('input-validation-error');
            $('#Q170itemContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="model[10].Response"]').addClass('invalid-error');
            $('[data-valmsg-for="model[10].Response"]').css('display', 'block');
        }

        function validatefield() {
            $('[type="text"]').blur(function () {
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }
            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('textarea').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
        }

</script>



}