﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Motels and B&B's";
    int UserID = ViewBag.GenericUserID;
}

<br />
<h2 class="">Motels and B&B's</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />

@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "MotelsAndBBForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-6">
        <div class="custom-form-box">


            @Html.Label("Number of Rooms")
            @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
            @Html.Hidden("model[0].UserInfoId", UserID, new { @id = "model[0].UserInfoId" })
            @Html.Hidden("model[0].QuestionId", "24", new { @id = "model[0].QuestionId" })
                @Html.TextBox("model[0].Response", null, new { @class = "form-control", @type = "number", @id = "model[0].Response", required = "required" })
            @Html.ValidationMessage("model[0].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Turnover")
            @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
            @Html.Hidden("model[1].UserInfoId", UserID, new { @id = "model[1].UserInfoId" })
            @Html.Hidden("model[1].QuestionId", "25", new { @id = "model[1].QuestionId" })
            <div class="input-symbol-dollar">
                @Html.TextBox("model[1].Response", null, new { @class = "form-control", @type = "number", @id = "model[1].Response", required = "required" })
            </div>
            @Html.ValidationMessage("model[1].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Years in business")
            @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
            @Html.Hidden("model[2].UserInfoId", UserID, new { @id = "model[2].UserInfoId" })
            @Html.Hidden("model[2].QuestionId", "26", new { @id = "model[2].QuestionId" })
                @Html.TextBox("model[2].Response", null, new { @class = "form-control", @type = "number", @id = "model[2].Response", required = "required" })
            @Html.ValidationMessage("model[2].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            @Html.Label("Does the premises have a Licensed Restaurant?")
            @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
            @Html.Hidden("model[3].UserInfoId", UserID, new { @id = "model[3].UserInfoId" })
            @Html.Hidden("model[3].QuestionId", "27", new { @id = "model[3].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[3].Response", "Yes", new { @id = "model[3].Response", required = "required" })
            No  @Html.RadioButton("model[3].Response", "No", new { @id = "model[3].Response", required = "required" })
            @Html.ValidationMessage("model[3].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Is Property Owners Liability required?")
            @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
            @Html.Hidden("model[4].UserInfoId", UserID, new { @id = "model[4].UserInfoId" })
            @Html.Hidden("model[4].QuestionId", "28", new { @id = "model[4].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[4].Response", "Yes", new { @id = "model[4].Response", required = "required" })
            No  @Html.RadioButton("model[4].Response", "No", new { @id = "model[4].Response", required = "required" })
            @Html.ValidationMessage("model[4].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @Html.Label("Does the premises have hardwired smoke detectors?")
            @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
            @Html.Hidden("model[5].UserInfoId", UserID, new { @id = "model[5].UserInfoId" })
            @Html.Hidden("model[5].QuestionId", "29", new { @id = "model[5].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[5].Response", "Yes", new { @id = "model[5].Response", required = "required" })
            No  @Html.RadioButton("model[5].Response", "No", new { @id = "model[5].Response", required = "required" })
            @Html.ValidationMessage("model[5].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            @*ParentChildA*@
            @Html.Label("Does the premises have any sporting facilities?")
            @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
            @Html.Hidden("model[6].UserInfoId", UserID, new { @id = "model[6].UserInfoId" })
            @Html.Hidden("model[6].QuestionId", "30", new { @id = "model[6].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[6].Response", "Yes", new { @id = "model[6].Response", required = "required", onclick = "javascript:DisplayChildA(true);" })
            No  @Html.RadioButton("model[6].Response", "No", new { @id = "model[6].Response", required = "required", onclick = "javascript:DisplayChildA(false);" })
            @Html.ValidationMessage("model[6].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildA" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
                @Html.Hidden("model[7].UserInfoId", UserID, new { @id = "model[7].UserInfoId" })
                @Html.Hidden("model[7].QuestionId", "34", new { @id = "model[7].QuestionId" })
                @Html.TextArea("model[7].Response", null, new { @class = "form-control", @id = "model[7].Response" })
                <br />
            </div>

            @*ParentChildB*@
            @Html.Label("Does the premises have a children’s playground?")
            @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
            @Html.Hidden("model[8].UserInfoId", UserID, new { @id = "model[8].UserInfoId" })
            @Html.Hidden("model[8].QuestionId", "156", new { @id = "model[8].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[8].Response", "Yes", new { @id = "model[8].Response", required = "required", onclick = "javascript:DisplayChildB(true);" })
            No  @Html.RadioButton("model[8].Response", "No", new { @id = "model[8].Response", required = "required", onclick = "javascript:DisplayChildB(false);" })
            @Html.ValidationMessage("model[8].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildB" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
                @Html.Hidden("model[9].UserInfoId", UserID, new { @id = "model[9].UserInfoId" })
                @Html.Hidden("model[9].QuestionId", "158", new { @id = "model[9].QuestionId" })
                @Html.TextArea("model[9].Response", null, new { @class = "form-control", @id = "model[9].Response" })
                <br />
            </div>

            @*ParentChildC*@
            @Html.Label("Does the premises provide Accommodation for occupants who have an intellectual or physical disabilty?")
            @Html.Hidden("model[10].ResultId", "0", new { @id = "model[10].ResultId" })
            @Html.Hidden("model[10].UserInfoId", UserID, new { @id = "model[10].UserInfoId" })
            @Html.Hidden("model[10].QuestionId", "32", new { @id = "model[10].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[10].Response", "Yes", new { @id = "model[10].Response", required = "required", onclick = "javascript:DisplayChildC(true);" })
            No  @Html.RadioButton("model[10].Response", "No", new { @id = "model[10].Response", required = "required", onclick = "javascript:DisplayChildC(false);" })
            @Html.ValidationMessage("model[10].Response", "*This is a required field", new { @class = "text-danger" })
            <br />
            <br />

            <div id="ChildC" style="display:none;">
                @Html.Label("If Yes, please provide full details")
                @Html.Hidden("model[11].ResultId", "0", new { @id = "model[11].ResultId" })
                @Html.Hidden("model[11].UserInfoId", UserID, new { @id = "model[11].UserInfoId" })
                @Html.Hidden("model[11].QuestionId", "35", new { @id = "model[11].QuestionId" })
                @Html.TextArea("model[11].Response", null, new { @class = "form-control", @id = "model[11].Response" })
                <br />
            </div>


            @Html.Label("Comments")
            @Html.Hidden("model[12].ResultId", "0", new { @id = "model[12].ResultId" })
            @Html.Hidden("model[12].UserInfoId", UserID, new { @id = "model[12].UserInfoId" })
            @Html.Hidden("model[12].QuestionId", "33", new { @id = "model[12].QuestionId" })
                @Html.TextArea("model[12].Response", null, new { @class = "form-control", @id = "model[12].Response", required = "required" })
            @Html.ValidationMessage("model[12].Response", "*This is a required field", new { @class = "text-danger" })
            <br />

            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-3');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            setTimeout(function () {
                var url = '@Url.Action("Thankyou","Home")';
                window.location.href = url;
            }, 1000);
        }

        $(document).ready(function () {

            //Process Form On Click
            $("#btnProceed").click(function (e) {
                e.preventDefault();

                //Check if there are still validations
                if ($('.invalid-error').length > 0) {
                    return alert("Please fill up the required fields before submitting the form")
                }

                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });
                //Submit Form
                $("#MotelsAndBBForm").attr("action", "@Url.Action(Cover.Quotation.MotelsAndBB())").submit();
                //$("#MotelsAndBBForm").attr("action", "/Quotation/MotelsAndBB").submit();
            });
        });


        //Popup Questions
        function DisplayChildA(bool) {
            if (bool == true) {
                $('#ChildA').css('display', 'block');
            }
            else {
                $('#ChildA').css('display', 'none');
            }
        }

        function DisplayChildB(bool) {
            if (bool == true) {
                $('#ChildB').css('display', 'block');
            }
            else {
                $('#ChildB').css('display', 'none');
            }
        }

        function DisplayChildC(bool) {
            if (bool == true) {
                $('#ChildC').css('display', 'block');
            }
            else {
                $('#ChildC').css('display', 'none');
            }
        }


        //Validations
        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }

        });

    </script>
}