﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Project Managers";
    int UserID = ViewBag.GenericUserID;
}

<br />
<h2 class="">Project Managers</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "ProjectManagersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-6">
    <div class="custom-form-box">


        @Html.Label("Please provide a full description of business activities")
        @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
        @Html.Hidden("model[0].UserInfoId", UserID, new { @id = "model[0].UserInfoId" })
        @Html.Hidden("model[0].QuestionId", "55", new { @id = "model[0].QuestionId" })
        @Html.TextArea("model[0].Response", null, new { @class = "form-control", @id = "model[0].Response", required = "required" })
        @Html.ValidationMessage("model[0].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Annual Turnover")
        <div class="input-symbol-dollar">
            @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
            @Html.Hidden("model[1].UserInfoId", UserID, new { @id = "model[1].UserInfoId" })
            @Html.Hidden("model[1].QuestionId", "56", new { @id = "model[1].QuestionId" })
            @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model[1].Response", "This field is required!", new { @class = "text-danger" })
        </div>
        <br />

        @Html.Label("Number of Employees")
        @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
        @Html.Hidden("model[2].UserInfoId", UserID, new { @id = "model[2].UserInfoId" })
        @Html.Hidden("model[2].QuestionId", "57", new { @id = "model[2].QuestionId" })
        @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required", type = "number" })
        @Html.ValidationMessage("model[2].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Annual Wages")
        <div class="input-symbol-dollar">
            @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
            @Html.Hidden("model[3].UserInfoId", UserID, new { @id = "model[3].UserInfoId" })
            @Html.Hidden("model[3].QuestionId", "58", new { @id = "model[3].QuestionId" })
            @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model[3].Response", "This field is required!", new { @class = "text-danger" })
        </div>
        <br />

        @Html.Label("Years in Business")
        @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
        @Html.Hidden("model[4].UserInfoId", UserID, new { @id = "model[4].UserInfoId" })
        @Html.Hidden("model[4].QuestionId", "59", new { @id = "model[4].QuestionId" })
        @Html.TextBox("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response", required = "required", type = "number" })
        @Html.ValidationMessage("model[4].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Does the Insured perform any manual work or construction activities?")
        @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
        @Html.Hidden("model[5].UserInfoId", UserID, new { @id = "model[5].UserInfoId" })
        @Html.Hidden("model[5].QuestionId", "60", new { @id = "model[5].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[5].Response", "Yes", new { @id = "model[5].Response", onclick = "javascript:DisplayChildId69(true);", required = "required" })
        No  @Html.RadioButton("model[5].Response", "No", new { @id = "model[5].Response", onclick = "javascript:DisplayChildId69(false);", required = "required" })
        <br />
        @Html.ValidationMessage("model[5].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="childOfParentId60" style="display:none;">
            @Html.Label("If yes, please provide full details")
            @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
            @Html.Hidden("model[6].UserInfoId", UserID, new { @id = "model[6].UserInfoId" })
            @Html.Hidden("model[6].QuestionId", "68", new { @id = "model[6].QuestionId" })
            @Html.TextArea("model[6].Response", null, new { @class = "form-control", @id = "model[6].Response", required = "required" })
            @Html.ValidationMessage("model[6].Response", "This field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Are Sub-Contractors used?")
        @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
        @Html.Hidden("model[7].UserInfoId", UserID, new { @id = "model[7].UserInfoId" })
        @Html.Hidden("model[7].QuestionId", "61", new { @id = "model[7].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[7].Response", "Yes", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId6566(true);", required = "required" })
        No  @Html.RadioButton("model[7].Response", "No", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId6566(false);", required = "required" })
        <br />
        @Html.ValidationMessage("model[7].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="childOfParentId61" style="display:none;">
            @Html.Label("Total Amount paid to Sub Contractors")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
                @Html.Hidden("model[8].UserInfoId", UserID, new { @id = "model[8].UserInfoId" })
                @Html.Hidden("model[8].QuestionId", "65", new { @id = "model[8].QuestionId" })
                @Html.TextBox("model[8].Response", null, new { @class = "form-control", @id = "model[8].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model[8].Response", "This field is required!", new { @class = "text-danger" })
            </div>
            <br />
            @Html.Label("Activities Performed by Sub Contractors")
            @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
            @Html.Hidden("model[9].UserInfoId", UserID, new { @id = "model[9].UserInfoId" })
            @Html.Hidden("model[9].QuestionId", "66", new { @id = "model[9].QuestionId" })
            @Html.TextArea("model[9].Response", null, new { @class = "form-control", @id = "model[9].Response", required = "required" })
            @Html.ValidationMessage("model[9].Response", "This field is required!", new { @class = "text-danger" })
            <br />
        </div>
        
        @Html.Label("Do Sub Contractors have their own Liability Insurance?")
        @Html.Hidden("model[15].ResultId", "0", new { @id = "model[15].ResultId" })
        @Html.Hidden("model[15].UserInfoId", UserID, new { @id = "model[15].UserInfoId" })
        @Html.Hidden("model[15].QuestionId", "122", new { @id = "model[15].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[15].Response", "Yes", new { @id = "model[15].Response", required = "required" })
        No  @Html.RadioButton("model[15].Response", "No", new { @id = "model[15].Response", required = "required" })
        <br />
        @Html.ValidationMessage("model[15].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Are Labour Hire Personnel used?")
        @Html.Hidden("model[10].ResultId", "0", new { @id = "model[10].ResultId" })
        @Html.Hidden("model[10].UserInfoId", UserID, new { @id = "model[10].UserInfoId" })
        @Html.Hidden("model[10].QuestionId", "62", new { @id = "model[10].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[10].Response", "Yes", new { @id = "model[10].Response", onclick = "javascript:DisplayChildId6768(true);", required = "required" })
        No  @Html.RadioButton("model[10].Response", "No", new { @id = "model[10].Response", onclick = "javascript:DisplayChildId6768(false);", required = "required" })
        <br />
        @Html.ValidationMessage("model[10].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="childOfParentId62" style="display:none;">
            @Html.Label("Total Amount paid to Labour Hire Personal")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[11].ResultId", "0", new { @id = "model[11].ResultId" })
                @Html.Hidden("model[11].UserInfoId", UserID, new { @id = "model[11].UserInfoId" })
                @Html.Hidden("model[11].QuestionId", "67", new { @id = "model[11].QuestionId" })
                @Html.TextBox("model[11].Response", null, new { @class = "form-control", @id = "model[11].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model[11].Response", "This field is required!", new { @class = "text-danger" })
            </div>
            <br />
            @Html.Label("Activities Performed by Labour Hire")
            @Html.Hidden("model[12].ResultId", "0", new { @id = "model[12].ResultId" })
            @Html.Hidden("model[12].UserInfoId", UserID, new { @id = "model[12].UserInfoId" })
            @Html.Hidden("model[12].QuestionId", "68", new { @id = "model[12].QuestionId" })
            @Html.TextArea("model[12].Response", null, new { @class = "form-control", @id = "model[12].Response", required = "required" })
            @Html.ValidationMessage("model[12].Response", "This field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
        @Html.Hidden("model[13].ResultId", "0", new { @id = "model[13].ResultId" })
        @Html.Hidden("model[13].UserInfoId", UserID, new { @id = "model[13].UserInfoId" })
        @Html.Hidden("model[13].QuestionId", "63", new { @id = "model[13].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[13].Response", "Yes", new { @id = "model[13].Response", required = "required" })
        No  @Html.RadioButton("model[13].Response", "No", new { @id = "model[13].Response", required = "required" })
        <br />
        @Html.ValidationMessage("model[13].Response", "This field is required!", new { @class = "text-danger" })
        <br />
        <br />

        @Html.Label("Comments")
        @Html.Hidden("model[14].ResultId", "0", new { @id = "model[14].ResultId" })
        @Html.Hidden("model[14].UserInfoId", UserID, new { @id = "model[14].UserInfoId" })
        @Html.Hidden("model[14].QuestionId", "64", new { @id = "model[14].QuestionId" })
        @Html.TextArea("model[14].Response", null, new { @class = "form-control", @id = "model[14].Response", required = "required" })
        @Html.ValidationMessage("model[14].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

    </div>
</div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-6');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            //alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {

            $("#btnProceed").click(function (e) {
                e.preventDefault();

                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });
                //$("#TransportAndLogisticsForm").attr("action", "/Quotation/PropertyOwners").submit();
                $("#ProjectManagersForm").attr("action", "@Url.Action(Cover.Quotation.ProjectManagers())").submit();
                //Generate Link
                @*var url = '@Url.Action("Thankyou", "Home")';
                window.location.href = url;*@
            });
        });

        function DisplayChildId6566(bool) {
            if (bool == true) {
                $('#childOfParentId61').css('display', 'block');
            }
            else {
                $('#childOfParentId61').css('display', 'none');
            }
        }
        function DisplayChildId6768(bool) {
            if (bool == true) {
                $('#childOfParentId62').css('display', 'block');
            }
            else {
                $('#childOfParentId62').css('display', 'none');
            }
        }
        function DisplayChildId69(bool) {
            if (bool == true) {
                $('#childOfParentId60').css('display', 'block');
            }
            else {
                $('#childOfParentId60').css('display', 'none');
            }
        }

        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });

</script>

}