﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Property Owners";
    int id = ViewBag.GenericUserID;
}

<br />
<h2 class="">Property Owners</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "PropertyOwnersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-6 ">
        <div class="custom-form-box">
            <div class="location location1">
                <div class="location1_0">
                    @Html.Label("Street Number")
                    @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
                    @Html.Hidden("model[0].UserInfoId", id, new { @id = "model[0].UserInfoId" })
                    @Html.Hidden("model[0].QuestionId", "70", new { @id = "model[0].QuestionId" })
                    @Html.TextBox("model[0].Response", null, new { @class = "form-control", @id = "model[0].Response", required = "required" })
                    @Html.ValidationMessage("model[0].Response", "This Street Number field is required!", new  { @class="text-danger" })
                    <br />
                </div>
                <div class="location1_1">
                    @Html.Label("Street Name")
                    @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
                    @Html.Hidden("model[1].UserInfoId", id, new { @id = "model[1].UserInfoId" })
                    @Html.Hidden("model[1].QuestionId", "71", new { @id = "model[1].QuestionId" })
                                        @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required" })
                    @Html.ValidationMessage("model[1].Response", "This Street Name field is required!", new { @class = "text-danger" })
                    <br />
                </div>
                <div class="location1_2">
                    @Html.Label("Suburb")
                    @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
                    @Html.Hidden("model[2].UserInfoId", id, new { @id = "model[2].UserInfoId" })
                    @Html.Hidden("model[2].QuestionId", "72", new { @id = "model[2].QuestionId" })
                                        @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required" })
                    @Html.ValidationMessage("model[2].Response", "This Suburb field is required!", new { @class = "text-danger" })
                    <br />
                </div>

                <div class="location1_3">
                    @Html.Label("State")
                    @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
                    @Html.Hidden("model[3].UserInfoId", id, new { @id = "model[3].UserInfoId" })
                    @Html.Hidden("model[3].QuestionId", "73", new { @id = "model[3].QuestionId" })
                                        @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required" })
                    @Html.ValidationMessage("model[3].Response", "This State field is required!", new { @class = "text-danger" })
                    <br />
                </div>
                <div class="location1_4">
                    @Html.Label("Postcode")
                    @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
                    @Html.Hidden("model[4].UserInfoId", id, new { @id = "model[4].UserInfoId" })
                    @Html.Hidden("model[4].QuestionId", "74", new { @id = "model[4].QuestionId" })
                                        @Html.TextBox("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response", required = "required" })
                    @Html.ValidationMessage("model[4].Response", "This Postcode field is required!", new { @class = "text-danger" })
                    <br />
                </div>
            </div>
            <div class="btnadLocation" style="margin-bottom: 12px;">
                <input type="button" id="btnAddLocation" value="Add Location" class="btn btn-primary" />
            </div>
             @Html.Label("Building Value")
            @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
            @Html.Hidden("model[5].UserInfoId", id, new { @id = "model[5].UserInfoId" })
            @Html.Hidden("model[5].QuestionId", "75", new { @id = "model[5].QuestionId" })
                        @Html.TextBox("model[5].Response", null, new { @class = "form-control", @id = "model[5].Response", required = "required" })
            @Html.ValidationMessage("model[5].Response", "This Building Value field is required!", new { @class = "text-danger" })
            <br />           
             @Html.Label("Tenants Occupation")
            @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
            @Html.Hidden("model[6].UserInfoId", id, new { @id = "model[6].UserInfoId" })
            @Html.Hidden("model[6].QuestionId", "117", new { @id = "model[6].QuestionId" })
                        @Html.TextBox("model[6].Response", null, new { @class = "form-control", @id = "model[6].Response", required = "required" })
            @Html.ValidationMessage("model[6].Response", "This Tenants Occupation field is required!", new { @class = "text-danger" })
            <br />      
                  @Html.Label("Rental Income")
            @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
            @Html.Hidden("model[7].UserInfoId", id, new { @id = "model[7].UserInfoId" })
            @Html.Hidden("model[7].QuestionId", "118", new { @id = "model[7].QuestionId" })
                        @Html.TextBox("model[7].Response", null, new { @class = "form-control", @id = "model[7].Response", required = "required" })
            @Html.ValidationMessage("model[7].Response", "This Rental Income field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Have any of the locations been unoccupied for more than 60 days? ")
            @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
            @Html.Hidden("model[8].UserInfoId", id, new { @id = "model[8].UserInfoId" })
            @Html.Hidden("model[8].QuestionId", "119", new { @id = "model[8].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[8].Response", "Yes", new { @id = "model[8].Response", onclick = "javascript:DisplayChildId120(true);" })
            No  @Html.RadioButton("model[8].Response", "No", new { @id = "model[8].Response", onclick = "javascript:DisplayChildId120(false);" })
            <br /><br />

            <div id="childOfParentId119" style="display:none;">
                @Html.Label("If yes, please provide full details?")
                @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
                @Html.Hidden("model[9].UserInfoId", id, new { @id = "model[9].UserInfoId" })
                @Html.Hidden("model[9].QuestionId", "74", new { @id = "model[9].QuestionId" })
                                @Html.TextArea("model[9].Response", null, new { @class = "form-control", @id = "model[9].Response", required = "required" })
                @Html.ValidationMessage("model[9].Response", "This details field is required!", new { @class = "text-danger" })
                <br />
                    <input type="submit" id="btnAddLocation" value="Add additional location" class="btn btn-primary" />
                    <br />
            </div>

            @Html.Label("Comments?")
            @Html.Hidden("model[10].ResultId", "0", new { @id = "model[10].ResultId" })
            @Html.Hidden("model[10].UserInfoId", id, new { @id = "model[10].UserInfo_ID" })
            @Html.Hidden("model[10].QuestionId", "121", new { @id = "model[10].QuestionId" })
                        @Html.TextArea("model[10].Response", null, new { @class = "form-control", @id = "model[10].Response", required = "required" })
            @Html.ValidationMessage("model[10].Response", "This Comments field is required!", new { @class = "text-danger" })
            <br />

            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>


        </div>
    </div>

}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-7');

        $(document).ready(function () {

            var lastModelNum = 10;

            $("#btnProceed").click(function (e) {
                e.preventDefault();

                if ($('.invalid-error').length > 0) {
                    return;
                }
                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });
                $("#PropertyOwnersForm").attr("action", "/Quotation/PropertyOwners").submit();
                //Generate Link
                @*var url = '@Url.Action("Thankyou", "Home")';
            window.location.href = url;*@
            });
            $("#btnAddLocation").click(function (e) {
                var numOfLocation = $('.location').length;
                var nextloc = numOfLocation + 1;
                
           
                e.preventDefault();


                var location1_0 = $('.location1_0').html();
                var location1_1 = $('.location1_1').html();
                var location1_2 = $('.location1_2').html();
                var location1_3 = $('.location1_3').html();
                var location1_4 = $('.location1_4').html();
                    
                location1_0 = location1_0.replace(/[0]/g, lastModelNum + 1);
                lastModelNum = lastModelNum + 1;
                location1_1 = location1_1.replace(/[1]/g, lastModelNum + 1);
                lastModelNum = lastModelNum + 1;
                location1_2 = location1_2.replace(/[2]/g, lastModelNum + 1);
                lastModelNum = lastModelNum + 1;
                location1_3 = location1_3.replace(/[3]/g, lastModelNum + 1);
                lastModelNum = lastModelNum + 1;
                location1_4 = location1_4.replace(/[4]/g, lastModelNum + 1);
                lastModelNum = lastModelNum + 1;

                

                location1_0 = '<div class="location' + nextloc + '_0">' + location1_0 + '</div>'
                location1_1 = '<div class="location' + nextloc + '_1">' + location1_1 + '</div>'
                location1_2 = '<div class="location' + nextloc + '_2">' + location1_2 + '</div>'
                location1_3 = '<div class="location' + nextloc + '_3">' + location1_3 + '</div>'
                location1_4 = '<div class="location' + nextloc + '_4">' + location1_4 + '</div>'

                
                var clone = '<div class="location' + nextloc + ' location" >' + location1_0 + location1_1 + location1_2 + location1_3 + location1_4 + '</div>'
                $(clone).insertBefore(".btnadLocation");
                $(this).css('display', 'none');
            });

            $('[type="text"]').blur(function () {

                if($(this).val()=='')
                {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else
                {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('textarea').blur(function () {

                
                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });

        });

        function DisplayChildId120(bool) {
            if (bool == true) {
                $('#childOfParentId119').css('display', 'block');
            }
            else {
                $('#childOfParentId119').css('display', 'none');
            }
        }

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }



    </script>
}