﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Restaurants";
    int UserID = ViewBag.GenericUserID;
}

    
<br />
<h2>Restaurants</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "RestaurantsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-8">
    <div class="custom-form-box">

        <div class="">
            @Html.Label("Years in Business")
            @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
            @Html.Hidden("model[0].UserInfoId", UserID, new { @id = "model[0].UserInfoId" })
            @Html.Hidden("model[0].QuestionId", "36", new { @id = "model[0].QuestionId" })
            @Html.TextBox("model[0].Response", null, new { @class = "form-control", @id = "model[0].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model[0].Response", "This Years in Business field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="col-lg-3">
            @Html.Label("Turnover Split")
        </div>
        <div class="col-lg-9">
            @Html.Label("Food")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
                @Html.Hidden("model[1].UserInfoId", UserID, new { @id = "model[1].UserInfoId" })
                @Html.Hidden("model[1].QuestionId", "41", new { @id = "model[1].QuestionId" })
                @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model[1].Response", "This Food field is required!", new { @class = "text-danger" })
            </div>
            @Html.Label("Bar/Alcohol Sales")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
                @Html.Hidden("model[2].UserInfoId", UserID, new { @id = "model[2].UserInfoId" })
                @Html.Hidden("model[2].QuestionId", "42", new { @id = "model[2].QuestionId" })
                @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model[2].Response", "This Bar/Alcohol Sales field is required!", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="">
            @Html.Label("Trading Hours")
            @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
            @Html.Hidden("model[3].UserInfoId", UserID, new { @id = "model[3].UserInfoId" })
            @Html.Hidden("model[3].QuestionId", "38", new { @id = "model[3].QuestionId" })
            @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model[3].Response", "This Trading Hours field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="">
            @Html.Label("Seating Capacity")
            @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
            @Html.Hidden("model[4].UserInfoId", UserID, new { @id = "model[4].UserInfoId" })
            @Html.Hidden("model[4].QuestionId", "39", new { @id = "model[4].QuestionId" })
            @Html.TextBox("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model[4].Response", "This Seating Capacity field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="">
            @Html.Label("Comments")
            @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
            @Html.Hidden("model[5].UserInfoId", UserID, new { @id = "model[5].UserInfoId" })
            @Html.Hidden("model[5].QuestionId", "40", new { @id = "model[5].QuestionId" })
            @Html.TextArea("model[5].Response", null, new { @class = "form-control", @id = "model[5].Response", required = "required" })
            @Html.ValidationMessage("model[5].Response", "This Comments field is required!", new { @class = "text-danger" })
        </div>
        <br />

        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

        </div>
</div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-4');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            //alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {

            $("#btnProceed").click(function (e) {
                e.preventDefault();                

                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });

                //$("#RestaurantsForm").attr("action", "/Quotation/Restaurants").submit();
                $("#RestaurantsForm").attr("action", "@Url.Action(Cover.Quotation.Restaurants())").submit();
                //Generate Link
                @*var url = '@Url.Action("Thankyou", "Home")';
                window.location.href = url;*@
            });
        });

        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }
        });

    @*$("#btnProceed").click(function (e) {
        e.preventDefault();

        //Generate Link
        var url = '@Url.Action("Thankyou", "Home")';
        window.location.href = url;
    });*@

    </script>

}