﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Scaffolders";
    int id = ViewBag.GenericUserID;
}

<br />
<h2 class="">Scaffolders</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "PropertyOwnersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

<div class="col-lg-6">
    <div class="custom-form-box">


        @Html.Label("Annual Turnover")
        @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
        @Html.Hidden("model[0].UserInfoId", id, new { @id = "model[0].UserInfoId" })
        @Html.Hidden("model[0].QuestionId", "76", new { @id = "model[0].QuestionId" })
                @Html.TextBox("model[0].Response", null, new { @class = "form-control", @type = "number", @id = "model[0].Response", required = "required" })
        @Html.ValidationMessage("model[0].Response", "This Annual Turnover field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Years in Business")
        @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
        @Html.Hidden("model[1].UserInfoId", id, new { @id = "model[1].UserInfoId" })
        @Html.Hidden("model[1].QuestionId", "77", new { @id = "model[1].QuestionId" })
                @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required" })
        @Html.ValidationMessage("model[1].Response", "This Years in Business field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Number of Employees")
        @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
        @Html.Hidden("model[2].UserInfoId", id, new { @id = "model[2].UserInfoId" })
        @Html.Hidden("model[2].QuestionId", "78", new { @id = "model[2].QuestionId" })
                @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required" })
        @Html.ValidationMessage("model[2].Response", "This Number of Employees field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Annual Wages")
        @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
        @Html.Hidden("model[3].UserInfoId", id, new { @id = "model[3].UserInfoId" })
        @Html.Hidden("model[3].QuestionId", "79", new { @id = "model[3].QuestionId" })
                @Html.TextBox("model[3].Response", null, new { @class = "form-control", @type = "number", @id = "model[3].Response", required = "required" })
        @Html.ValidationMessage("model[3].Response", "This Annual Wages field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("% of Work UNDER 10 Mtrs")
        @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
        @Html.Hidden("model[4].UserInfoId", id, new { @id = "model[4].UserInfoId" })
        @Html.Hidden("model[4].QuestionId", "80", new { @id = "model[4].QuestionId" })
                @Html.TextBox("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response", required = "required" })
        @Html.ValidationMessage("model[4].Response", "This % of Work UNDER 10 Mtrs field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("% of Work OVER 10 Mtrs")
        @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
        @Html.Hidden("model[5].UserInfoId", id, new { @id = "model[5].UserInfoId" })
        @Html.Hidden("model[5].QuestionId", "81", new { @id = "model[5].QuestionId" })
                @Html.TextBox("model[5].Response", null, new { @class = "form-control", @id = "model[5].Response", required = "required" })
        @Html.ValidationMessage("model[5].Response", "This % of Work OVER 0 Mtrs field is required!", new { @class = "text-danger" })
        <br />


        @Html.Label("Are any of the following Activities or Services to Be Included?")
        @Html.Hidden("model[16].ResultId", "0", new { @id = "model[16].ResultId" })
        @Html.Hidden("model[16].UserInfoId", id, new { @id = "model[16].UserInfoId" })
        @Html.Hidden("model[16].QuestionId", "82", new { @id = "model[16].QuestionId" })
        @Html.Hidden("model[16].Response", null, new { @class = "form-control", @id = "model[16].Response" })


        <div id="itemContainer">
            <div class="item0">@Html.CheckBox("itemOfId82", false, new { @id = "item0" })<span>Underground Mines</span><br /></div>
            <div class="item1">@Html.CheckBox("itemOfId82", new { @id = "item1" })<span>Drag Line Excavators</span><br /></div>
            <div class="item2">@Html.CheckBox("itemOfId82", new { @id = "item2" })<span>Refinery of Gas producing or bulk fuel storage</span><br /></div>
            <div class="item3">@Html.CheckBox("itemOfId82", new { @id = "item3" })<span>High Voltage power supply</span><br /></div>
            <div class="item4">@Html.CheckBox("itemOfId82", new { @id = "item4" })<span>Airports</span><br /></div>
            <div class="item5">@Html.CheckBox("itemOfId82", new { @id = "item5" })<span>Railways</span><br /></div>
            <div class="item6">@Html.CheckBox("itemOfId82", new { @id = "item6" })<span>Temporary Seating</span><br /></div>
            <div class="item7">@Html.CheckBox("itemOfId82", new { @id = "item7" })<span>Stages</span><br /></div>
            <div class="item8">@Html.CheckBox("itemOfId82", new { @id = "item8" })<span>Lighting Towers</span><br /></div>
            <div class="item9">@Html.CheckBox("itemOfId82", new { @id = "item9" })<span>Camera Towers</span><br /></div>
            <div class="item10">@Html.CheckBox("itemOfId82", new { @id = "item10" })<span>Concerts</span><br /></div>
            <div class="item11">@Html.CheckBox("itemOfId82", new { @id = "item11" })<span>Sporting Events</span><br /></div>
            <div class="item12">@Html.CheckBox("itemOfId82", new { @id = "item12" })<span>Work outside of Australia</span><br /></div>
            <div class="item13">@Html.CheckBox("itemOfId82", new { @id = "item13", onclick = "javascript:NoneOfTheAbove();" })<span>NONE OF THE ABOVE</span><br /></div>
        </div>
        @Html.ValidationMessage("model[16].Response", "Please check atleast one item!", new { @class = "text-danger" })

        <br />

        @Html.Label("If yes to any of the above, please provide full details of activities and turnover derived from these activities")
        @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
        @Html.Hidden("model[6].UserInfoId", id, new { @id = "model[6].UserInfoId" })
        @Html.Hidden("model[6].QuestionId", "83", new { @id = "model[6].QuestionId" })
                @Html.TextArea("model[6].Response", null, new { @class = "form-control", @id = "model[6].Response", required = "required" })
        @Html.ValidationMessage("model[6].Response", "This details field is required!", new { @class = "text-danger" })
        <br />


        @Html.Label("Are Sub-Contractors used?")
        @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
        @Html.Hidden("model[7].UserInfoId", id, new { @id = "model[7].UserInfoId" })
        @Html.Hidden("model[7].QuestionId", "84", new { @id = "model[7].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[7].Response", "Yes", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId85to87(true);" })
        No  @Html.RadioButton("model[7].Response", "No", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId85to87(false);" })
        <br /><br />

        <div id="childOfParentId84" style="display:none;">
            @Html.Label("Payments to Sub Contractors")
            @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
            @Html.Hidden("model[8].UserInfoId", id, new { @id = "model[8].UserInfoId" })
            @Html.Hidden("model[8].QuestionId", "85", new { @id = "model[8].QuestionId" })
                        @Html.TextBox("model[8].Response", null, new { @class = "form-control", @type = "number", @id = "model[8].Response", required = "required" })
            @Html.ValidationMessage("model[8].Response", "This payments to Sub Contractors field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Activities Performed by Sub Contractors")
            @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
            @Html.Hidden("model[9].UserInfoId", id, new { @id = "model[9].UserInfoId" })
            @Html.Hidden("model[9].QuestionId", "86", new { @id = "model[9].QuestionId" })
                        @Html.TextArea("model[9].Response", null, new { @class = "form-control", @id = "model[9].Response", required = "required" })
            @Html.ValidationMessage("model[9].Response", "This Activities Performed by Sub Contractors field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Do Sub Contractors have their own Liability Insurance?")
            @Html.Hidden("model[10].ResultId", "0", new { @id = "model[101].ResultId" })
            @Html.Hidden("model[10].UserInfoId", id, new { @id = "model[10].UserInfoId" })
            @Html.Hidden("model[10].QuestionId", "87", new { @id = "model[10].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[10].Response", "Yes", new { @id = "model[10].Response" })
            No  @Html.RadioButton("model[10].Response", "No", new { @id = "model[10].Response" })
            <br /><br />

        </div>

        @Html.Label("Are Labour Hire Personnel used?")
        @Html.Hidden("model[11].ResultId", "0", new { @id = "model[11].ResultId" })
        @Html.Hidden("model[11].UserInfoId", id, new { @id = "model[11].UserInfoId" })
        @Html.Hidden("model[11].QuestionId", "88", new { @id = "model[11].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[11].Response", "Yes", new { @id = "model[11].Response", onclick = "javascript:DisplayChildId89to91(true);" })
        No  @Html.RadioButton("model[11].Response", "No", new { @id = "model[11].Response", onclick = "javascript:DisplayChildId89to91(false);" })
        <br /><br />

        <div id="childOfParentId88" style="display:none;">
            @Html.Label("Payments to Labour Hire Personnel?")
            @Html.Hidden("model[12].ResultId", "0", new { @id = "model[12].ResultId" })
            @Html.Hidden("model[12].UserInfoId", id, new { @id = "model[12].UserInfoId" })
            @Html.Hidden("model[12].QuestionId", "89", new { @id = "model[12].QuestionId" })
                        @Html.TextBox("model[12].Response", null, new { @class = "form-control", @type = "number", @id = "model[12].Response", required = "required" })
            @Html.ValidationMessage("model[12].Response", "This Parments to Labour Hire Personnel field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Activities Performed by Labour Hire?")
            @Html.Hidden("model[13].ResultId", "0", new { @id = "model[13].ResultId" })
            @Html.Hidden("model[13].UserInfoId", id, new { @id = "model[13].UserInfoId" })
            @Html.Hidden("model[13].QuestionId", "90", new { @id = "model[13].QuestionId" })
                        @Html.TextArea("model[13].Response", null, new { @class = "form-control", @id = "model[13].Response", required = "required" })
            @Html.ValidationMessage("model[13].Response", "This Activities Performed by labour Hire field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Do Labour Hire Personnel have their own Liability Insurance?")
            @Html.Hidden("model[14].ResultId", "0", new { @id = "model[14].ResultId" })
            @Html.Hidden("model[14].UserInfoId", id, new { @id = "model[14].UserInfoId" })
            @Html.Hidden("model[14].QuestionId", "91", new { @id = "model[14].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[14].Response", "Yes", new { @id = "model[14].Response" })
            No  @Html.RadioButton("model[14].Response", "No", new { @id = "model[14].Response" })
            <br /><br />

        </div>

        @Html.Label("Comments")
        @Html.Hidden("model[15].ResultId", "0", new { @id = "model[15].ResultId" })
        @Html.Hidden("model[15].UserInfoId", id, new { @id = "model[15].UserInfoId" })
        @Html.Hidden("model[15].QuestionId", "92", new { @id = "model[15].QuestionId" })
                @Html.TextArea("model[15].Response", null, new { @class = "form-control", @id = "model[15].Response", required = "required" })
        @Html.ValidationMessage("model[15].Response", "This Comments field is required!", new { @class = "text-danger" })
        <br />


        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

    </div>
</div>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @* @Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-8');

        $(document).ready(function () {

    $("#btnProceed").click(function (e) {
        e.preventDefault();

        if ($('.invalid-error').length > 0) {
            return;
        }
        var length = $('[type="checkbox"][name="itemOfId82"]').length;
        var strCon = "";
        for (var ctr = 0; ctr < length; ctr++)
        {
            if ($('[type="checkbox"][name="itemOfId82"]')[ctr].checked)
            {
                strCon = strCon+ ctr.toString()+"=true;";
            }
            else
            {
                strCon = strCon + ctr.toString() + "=false;";
            }
        }
        document.getElementById("model[16].Response").value = strCon;

        $("#myDiv").validate({
            success: function (e) {
                showLoader();
            },
        });
        $("#PropertyOwnersForm").attr("action", "/Quotation/Scaffolders").submit();
        @*//Generate Link
        var url = '@Url.Action("Thankyou", "Home")';
        window.location.href = url;*@
    });


            $('[name="itemOfId82"]').change(function () {
                
                var length = $('[type="checkbox"][name="itemOfId82"]').length;
                for(var ctr = 0; ctr< length;ctr++)
                {
                    if($('[type="checkbox"][name="itemOfId82"]')[ctr].checked)
                    {
                        //$('[type="checkbox"][name="itemOfId82"]').removeClass('input-validation-error');
                        $('#itemContainer').removeClass('ValidateContainer');
                        $('[data-valmsg-for="model[16].Response"]').removeClass('invalid-error');
                        $('[data-valmsg-for="model[16].Response"]').css('display', 'none');
                        return;
                    }
                }
                //$('[type="checkbox"][name="itemOfId82"]').addClass('input-validation-error');
                $('#itemContainer').addClass('ValidateContainer');
                $('[data-valmsg-for="model[16].Response"]').addClass('invalid-error');
                $('[data-valmsg-for="model[16].Response"]').css('display', 'block');
            });


            $('[type="text"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('textarea').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
        });
        
        function DisplayChildId85to87(bool) {
            if (bool == true) {
                $('#childOfParentId84').css('display', 'block');
            }
            else {
                $('#childOfParentId84').css('display', 'none');
            }
        }

        function DisplayChildId89to91(bool) {
            if (bool == true) {
                $('#childOfParentId88').css('display', 'block');
            }
            else {
                $('#childOfParentId88').css('display', 'none');
            }
        }

        function NoneOfTheAbove() {
            var length = $('[type="checkbox"][name="itemOfId82"]').length - 1;

            for (var ctr = 0; ctr < length;ctr++)
            {
                $($('[type="checkbox"][name="itemOfId82"]')[ctr]).prop('checked', false)
            }
        }

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
            }


    </script>

}