﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Shopping Centre";
    int id = ViewBag.GenericUserID;
}

<br />
<h2 class="">Shopping Centre</h2>

<br />
<div class="custom-content-desc-dark">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "ShoppingCentreForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

<div class="col-lg-10">
    <div class="custom-form-box">

        @Html.Label("Annual Turnover")
        @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
        @Html.Hidden("model[0].UserInfoId", id, new { @id = "model[0].UserInfoId" })
        @Html.Hidden("model[0].QuestionId", "136", new { @id = "model[0].QuestionId" })
                @Html.TextBox("model[0].Response", null, new { @class = "form-control", @type = "number", @id = "model[0].Response", required = "required" })
        @Html.ValidationMessage("model[0].Response", "This Annual Turnover field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Years in Business")
        @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
        @Html.Hidden("model[1].UserInfoId", id, new { @id = "model[1].UserInfoId" })
        @Html.Hidden("model[1].QuestionId", "137", new { @id = "model[1].QuestionId" })
                @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required" })
        @Html.ValidationMessage("model[1].Response", "This Years in Business field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("","Number of Anchor Tenants (Large Scale Tenants i.e. Myer / David Jones / Coles / Woolworths)")
        @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
        @Html.Hidden("model[2].UserInfoId", id, new { @id = "model[2].UserInfoId" })
        @Html.Hidden("model[2].QuestionId", "138", new { @id = "model[2].QuestionId" })
                @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required" })
        @Html.ValidationMessage("model[2].Response", "This Number of Anchor Tenants field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Number of Retail Tenants (All other Tenants)")
        @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
        @Html.Hidden("model[3].UserInfoId", id, new { @id = "model[3].UserInfoId" })
        @Html.Hidden("model[3].QuestionId", "139", new { @id = "model[3].QuestionId" })
                @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required" })
        @Html.ValidationMessage("model[3].Response", "This Number of Retail Tenants field is required!", new { @class = "text-danger" })
        <br />

    

        @Html.Label("Are Sub-contractors used?")
        @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
        @Html.Hidden("model[4].UserInfoId", id, new { @id = "model[4].UserInfoId" })
        @Html.Hidden("model[4].QuestionId", "140", new { @id = "model[4].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[4].Response", "Yes", new { @id = "model[4].Response", onclick = "javascript:DisplayChildId141to143(true);" })
        No  @Html.RadioButton("model[4].Response", "No", new { @id = "model[4].Response", onclick = "javascript:DisplayChildId141to143(false);" })
        <br /><br />

        <div id="childOfParentId140" style="display:none;">
            @Html.Label("Payments to Sub Contractors")
            @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
            @Html.Hidden("model[5].UserInfoId", id, new { @id = "model[5].UserInfoId" })
            @Html.Hidden("model[5].QuestionId", "141", new { @id = "model[5].QuestionId" })
                        @Html.TextBox("model[5].Response", null, new { @class = "form-control", @type = "number", @id = "model[5].Response", required = "required" })
            @Html.ValidationMessage("model[5].Response", "This Parments to Sub Contractors field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Activities Performed by Sub Contractors")
            @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
            @Html.Hidden("model[6].UserInfoId", id, new { @id = "model[6].UserInfoId" })
            @Html.Hidden("model[6].QuestionId", "142", new { @id = "model[6].QuestionId" })
                        @Html.TextArea("model[6].Response", null, new { @class = "form-control", @id = "model[6].Response", required = "required" })
            @Html.ValidationMessage("model[6].Response", "This Activities Performed by Sub Contractors field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Do Sub Contractors have their own Liability Insurance?")
            @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
            @Html.Hidden("model[7].UserInfoId", id, new { @id = "model[7].UserInfoId" })
            @Html.Hidden("model[7].QuestionId", "143", new { @id = "model[7].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[7].Response", "Yes", new { @id = "model[7].Response" })
            No  @Html.RadioButton("model[7].Response", "No", new { @id = "model[7].Response" })
            <br /><br />

        </div>

        @Html.Label("Are Labour Hire Personnel used?")
        @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
        @Html.Hidden("model[8].UserInfoId", id, new { @id = "model[8].UserInfoId" })
        @Html.Hidden("model[8].QuestionId", "144", new { @id = "model[8].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[8].Response", "Yes", new { @id = "model[8].Response", onclick = "javascript:DisplayChildId145to147(true);" })
        No  @Html.RadioButton("model[8].Response", "No", new { @id = "model[8].Response", onclick = "javascript:DisplayChildId145to147(false);" })
        <br /><br />

        <div id="childOfParentId144" style="display:none;">
            @Html.Label("Payments to Labour Hire Personnel")
            @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
            @Html.Hidden("model[9].UserInfoId", id, new { @id = "model[9].UserInfoId" })
            @Html.Hidden("model[9].QuestionId", "145", new { @id = "model[9].QuestionId" })
                        @Html.TextBox("model[9].Response", null, new { @class = "form-control", @type = "number", @id = "model[9].Response", required = "required" })
            @Html.ValidationMessage("model[9].Response", "This Parments to Labour Hire Personnel field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Activities Performed by Labour Hire")
            @Html.Hidden("model[10].ResultId", "0", new { @id = "model[10].ResultId" })
            @Html.Hidden("model[10].UserInfoId", id, new { @id = "model[10].UserInfoId" })
            @Html.Hidden("model[10].QuestionId", "146", new { @id = "model[10].QuestionId" })
                        @Html.TextArea("model[10].Response", null, new { @class = "form-control", @id = "model[10].Response", required = "required" })
            @Html.ValidationMessage("model[10].Response", "This Activities Performed by Labour Hire field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Do Labour Hire Personnel have their own Liability Insurance?")
            @Html.Hidden("model[11].ResultId", "0", new { @id = "model[11].ResultId" })
            @Html.Hidden("model[11].UserInfoId", id, new { @id = "model[11].UserInfoId" })
            @Html.Hidden("model[11].QuestionId", "147", new { @id = "model[11].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[11].Response", "Yes", new { @id = "model[11].Response" })
            No  @Html.RadioButton("model[11].Response", "No", new { @id = "model[11].Response" })
            <br /><br />

        </div>

        @Html.Label("Comments")
        @Html.Hidden("model[12].ResultId", "0", new { @id = "model[12].ResultId" })
        @Html.Hidden("model[12].UserInfoId", id, new { @id = "model[12].UserInfoId" })
        @Html.Hidden("model[12].QuestionId", "148", new { @id = "model[12].QuestionId" })
                @Html.TextArea("model[12].Response", null, new { @class = "form-control", @id = "model[12].Response", required = "required" })
        @Html.ValidationMessage("model[12].Response", "This Comments field is required!", new { @class = "text-danger" })
        <br />










        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

    </div>
</div>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @* @Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-12');

        $(document).ready(function () {

    $("#btnProceed").click(function (e) {
        e.preventDefault();

        if ($('.invalid-error').length > 0) {
            return;
        }
        $("#myDiv").validate({
            success: function (e) {
                showLoader();
            },
        });
        $("#ShoppingCentreForm").attr("action", "@Url.Action(Cover.Quotation.ShoppingCentre())").submit();
        @*//Generate Link
        var url = '@Url.Action("Thankyou", "Home")';
        window.location.href = url;*@
    });

            $('[type="text"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('textarea').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });

        });
        function DisplayChildId141to143(bool) {
            if (bool == true) {
                $('#childOfParentId140').css('display', 'block');
            }
            else {
                $('#childOfParentId140').css('display', 'none');
            }
        }
        function DisplayChildId145to147(bool) {
            if (bool == true) {
                $('#childOfParentId144').css('display', 'block');
            }
            else {
                $('#childOfParentId144').css('display', 'none');
            }
        }

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
            }


    </script>

}