﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Supermarkets";
    int id = 4;
}

<br />
<h2 class="">Supermarkets</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "SupermarketsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-8">
        <div class="custom-form-box">
           <ul class="nav nav-tabs">

           </ul>
            <div class="tab-content">

            </div>
            <div class="footer-panel">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
                <input type="button" id="btnAddSituation" value="Add Situation" class="btn btn-primary" />
                <input type="button" id="btnRemoveSituation" value="Remove Situation" class="btn btn-primary" />
            </div>


        </div>
    </div>


    <script id="situationTpl" type="text/template">
        <div class="situation situation{{situationNumber}} tab-pane">
            <table class="w-100">
                <tr>
                    <td class="w-20" style="vertical-align: top;">
                        <p style="color:white;">Situation</p>
                    </td>
                    <td class="w-80">
                        <table class="w-100">
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Number")
                                </td>
                                <td class="w-60">
                                    @Html.Hidden("{{modelNum0}}.UserInfoId", id, new { @id = "{{modelNum0}}.UserInfoId" })
                                    @Html.Hidden("{{modelNum0}}.QuestionId", "172", new { @id = "{{modelNum0}}.QuestionId" })
                                    @Html.Hidden("{{modelNum0}}.Response", "", new { @id = "{{modelNum0}}.Response" })
                                    @Html.Hidden("{{modelNum0}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum0}}.GroupId" })
                                    @Html.TextBox("{{modelNum0}}.Response", null, new { @class = "form-control", id = "{{modelNum0}}.Response", required = "required" })
                                    @Html.ValidationMessage("{{modelNum0}}.Response", "This field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Street Name")
                                </td>
                                <td class="w-60">
                                    @Html.Hidden("{{modelNum1}}.UserInfoId", id, new { @id = "{{modelNum1}}.UserInfoId" })
                                    @Html.Hidden("{{modelNum1}}.QuestionId", "174", new { @id = "{{modelNum1}}.QuestionId" })
                                    @Html.Hidden("{{modelNum1}}.Response", "", new { @id = "{{modelNum1}}.Response" })
                                    @Html.Hidden("{{modelNum1}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum1}}.GroupId" })
                                    @Html.TextBox("{{modelNum1}}.Response", null, new { @class = "form-control", id = "{{modelNum1}}.Response", required = "required" })
                                    @Html.ValidationMessage("{{modelNum1}}.Response", "This field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Suburb")
                                </td>
                                <td class="w-60">
                                    @Html.Hidden("{{modelNum2}}.UserInfoId", id, new { @id = "{{modelNum2}}.UserInfoId" })
                                    @Html.Hidden("{{modelNum2}}.QuestionId", "175", new { @id = "{{modelNum2}}.QuestionId" })
                                    @Html.Hidden("{{modelNum2}}.Response", "", new { @id = "{{modelNum2}}.Response" })
                                    @Html.Hidden("{{modelNum2}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum2}}.GroupId" })
                                    @Html.TextBox("{{modemodelNum2lNum}}.Response", null, new { @class = "form-control", id = "{{modelNum2}}.Response", required = "required" })
                                    @Html.ValidationMessage("{{modelNum2}}.Response", "This field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("State")
                                </td>
                                <td class="w-60">
                                    @Html.Hidden("{{modelNum3}.UserInfoId", id, new { @id = "{{modelNum3}}.UserInfoId" })
                                    @Html.Hidden("{{modelNum3}}.QuestionId", "178", new { @id = "{{modelNum3}}.QuestionId" })
                                    @Html.Hidden("{{modelNum3}}.Response", "", new { @id = "{{modelNum3}}.Response" })
                                    @Html.Hidden("{{modelNum3}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum3}}.GroupId" })
                                    @Html.DropDownList("{{modelNum3}}.Response", new SelectList((List<CoverBuilder.Entities.Entities.StampTaxRateModel>)ViewData["StampDutyRates"], "Text", "Text"), new { @class = "form-control", id = "{{modelNum3}}.Response", required = "required" })
                                    @Html.ValidationMessage("{{modelNum3}}.Response", "*This is a required field", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td class="w-40">
                                    @Html.Label("Post Code")
                                </td>
                                <td class="w-60">
                                    @Html.Hidden("{{modelNum4}}.UserInfoId", id, new { @id = "{{modelNum4}}.UserInfoId" })
                                    @Html.Hidden("{{modelNum4}}.QuestionId", "179", new { @id = "{{modelNum4}}.QuestionId" })
                                    @Html.Hidden("{{modelNum4}}.Response", "", new { @id = "{{modelNum4}}.Response" })
                                    @Html.Hidden("{{modelNum4}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum4}}.GroupId" })
                                    @Html.TextBox("{{modelNum4}}.Response", null, new { @class = "form-control", id = "{{modelNum4}}.Response", required = "required" })
                                    @Html.ValidationMessage("{{modelNum4}}.Response", "This field is required!", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            @Html.Label("Annual Turnover")
            @Html.Hidden("{{modelNum5}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum5}}.GroupId" })
            @Html.Hidden("{{modelNum5}}.UserInfoId", id, new { @id = "{{modelNum5}}.UserInfoId" })
            @Html.Hidden("{{modelNum5}}.QuestionId", "93", new { @id = "{{modelNum5}}.QuestionId" })
            @Html.TextBox("{{modelNum5}}.Response", null, new { @class = "form-control", @type = "number", @id = "{{modelNum5}}.Response", required = "required" })
            @Html.ValidationMessage("{{modelNum5}}.Response", "This Annual Turnover Per Situation field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Years in Business")
            @Html.Hidden("{{modelNum6}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum6}}.GroupId" })
            @Html.Hidden("{{modelNum6}}.UserInfoId", id, new { @id = "{{modelNum6}}.UserInfoId" })
            @Html.Hidden("{{modelNum6}}.QuestionId", "94", new { @id = "{{modelNum6}}].QuestionId" })
            @Html.TextBox("{{modelNum6}}.Response", null, new { @class = "form-control", @id = "{{modelNum6}}.Response", required = "required" })
            @Html.ValidationMessage("{{modelNum6}}.Response", "This Years in Business field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Employees")
            @Html.Hidden("{{modelNum7}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum7}}.GroupId" })
            @Html.Hidden("{{modelNum7}}.UserInfoId", id, new { @id = "{{modelNum7}}.UserInfoId" })
            @Html.Hidden("{{modelNum7}}.QuestionId", "95", new { @id = "{{modelNum7}}.QuestionId" })
            @Html.TextBox("{{modelNum7}}.Response", null, new { @class = "form-control", @id = "{{modelNum7}}.Response", required = "required" })
            @Html.ValidationMessage("{{modelNum7}}.Response", "This number of Employees field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Annual Wages")
            @Html.Hidden("{{modelNum8}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum8}}.GroupId" })
            @Html.Hidden("{{modelNum8}}.UserInfoId", id, new { @id = "{{modelNum8}}.UserInfoId" })
            @Html.Hidden("{{modelNum8}}.QuestionId", "96", new { @id = "{{modelNum8}}.QuestionId" })
            @Html.TextBox("{{modelNum8}}.Response", null, new { @class = "form-control", @type = "number", @id = "{{modelNum8}}.Response", required = "required" })
            @Html.ValidationMessage("{{modelNum8}}.Response", "This Annual Wages field is required!", new { @class = "text-danger" })
            <br />

            @Html.Label("Number of Checkouts")
            @Html.Hidden("{{modelNum9}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum9}}.GroupId" })
            @Html.Hidden("{{modelNum9}}.UserInfoId", id, new { @id = "{{modelNum9}}.UserInfoId" })
            @Html.Hidden("{{modelNum9}}.QuestionId", "97", new { @id = "{{modelNum9}}.QuestionId" })
            @Html.TextBox("{{modelNum9}}.Response", null, new { @class = "form-control", @id = "{{modelNum9}}.Response", required = "required" })
            @Html.ValidationMessage("{{modelNum9}}.Response", "This Number of Checkouts field is required!", new { @class = "text-danger" })
            <br />


            @Html.Label("Are Sub-Contractors used?")
            @Html.Hidden("{{modelNum10}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum10}}.GroupId" })
            @Html.Hidden("{{modelNum10}}.UserInfoId", id, new { @id = "{{modelNum10}}.UserInfoId" })
            @Html.Hidden("{{modelNum10}}.QuestionId", "98", new { @id = "{{modelNum10}}.QuestionId" })
            <br />
            Yes @Html.RadioButton("{{modelNum10}}.Response", "Yes", new { @id = "{{modelNum10}}.Response", onclick = "javascript:DisplayChildId99to101(true);" })
            No  @Html.RadioButton("{{modelNum10}}.Response", "No", new { @id = "{{modelNum10}}.Response", onclick = "javascript:DisplayChildId99to101(false);" })
            <br /><br />

            <div id="childOfParentId98" style="display:none;">
                @Html.Label("Payments to Sub Contractors?")
                @Html.Hidden("{{modelNum11}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum11}}.GroupId" })
                @Html.Hidden("{{modelNum11}}.UserInfoId", id, new { @id = "{{modelNum11}}.UserInfoId" })
                @Html.Hidden("{{modelNum11}}.QuestionId", "99", new { @id = "{{modelNum11}}.QuestionId" })
                @Html.TextBox("{{modelNum11}}.Response", null, new { @class = "form-control", @type = "number", @id = "{{modelNum11}}.Response", required = "required" })
                @Html.ValidationMessage("{{modelNum11}}.Response", "This Payments to Sub Contractors field is required!", new { @class = "text-danger" })
                <br />

                @Html.Label("Activities Performed by Sub Contractors?")
                @Html.Hidden("{{modelNum12}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum12}}.GroupId" })
                @Html.Hidden("{{modelNum12}}.UserInfoId", id, new { @id = "{{modelNum12}}.UserInfoId" })
                @Html.Hidden("{{modelNum12}}.QuestionId", "100", new { @id = "{{modelNum12}}.QuestionId" })
                @Html.TextArea("{{modelNum12}}.Response", null, new { @class = "form-control", @id = "{{modelNum12}}.Response", required = "required" })
                @Html.ValidationMessage("{{modelNum12}}.Response", "This Activities Performed by Sub Contractors field is required!", new { @class = "text-danger" })
                <br />

                @Html.Label("Do Sub Contractors have their own Liability Insurance?")
                @Html.Hidden("{{modelNum13}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum13}}.GroupId" })
                @Html.Hidden("{{modelNum13}}.UserInfoId", id, new { @id = "{{modelNum13}}.UserInfoId" })
                @Html.Hidden("{{modelNum13}}.QuestionId", "101", new { @id = "{{modelNum13}}.QuestionId" })
                <br />
                Yes @Html.RadioButton("{{modelNum13}}.Response", "Yes", new { @id = "{{modelNum13}}.Response" })
                No  @Html.RadioButton("{{modelNum13}}.Response", "No", new { @id = "{{modelNum13}}.Response" })
                <br /><br />

            </div>


            @Html.Label("Are Labour Hire Personnel used?")
            @Html.Hidden("{{modelNum14}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum14}}.GroupId" })
            @Html.Hidden("{{modelNum14}}.UserInfoId", id, new { @id = "{{modelNum14}}.UserInfoId" })
            @Html.Hidden("{{modelNum14}}.QuestionId", "102", new { @id = "{{modelNum14}}].QuestionId" })
            <br />
            Yes @Html.RadioButton("{{modelNum14}}.Response", "Yes", new { @id = "{{modelNum14}}.Response", onclick = "javascript:DisplayChildId103to105(true);" })
            No  @Html.RadioButton("{{modelNum14}}.Response", "No", new { @id = "{{modelNum14}}.Response", onclick = "javascript:DisplayChildId103to105(false);" })
            <br /><br />

            <div id="childOfParentId102" style="display:none;">
                @Html.Label("Payments to Labour Hire Personnel?")
                @Html.Hidden("{{modelNum15}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum15}}.GroupId" })
                @Html.Hidden("{{modelNum15}}.UserInfoId", id, new { @id = "{{modelNum15}}.UserInfoId" })
                @Html.Hidden("{{modelNum15}}.QuestionId", "103", new { @id = "{{modelNum15}}.QuestionId" })
                @Html.TextBox("{{modelNum15}}.Response", null, new { @class = "form-control", @type = "number", @id = "{{modelNum15}}.Response", required = "required" })
                @Html.ValidationMessage("{{modelNum15}}.Response", "This Payments to Labour Hire Personnel field is required!", new { @class = "text-danger" })
                <br />

                @Html.Label("Activities Performed by Labour Hire?")
                @Html.Hidden("{{modelNum16}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum16}}.GroupId" })
                @Html.Hidden("{{modelNum16}}.UserInfoId", id, new { @id = "{{modelNum16}}.UserInfoId" })
                @Html.Hidden("{{modelNum16}}.QuestionId", "104", new { @id = "{{modelNum16}}.QuestionId" })
                @Html.TextArea("{{modelNum16}}.Response", null, new { @class = "form-control", @id = "{{modelNum16}}.Response", required = "required" })
                @Html.ValidationMessage("{{modelNum16}}.Response", "This Activities Performed by Labour Hire field is required!", new { @class = "text-danger" })
                <br />

                @Html.Label("Do Labour Hire Personnel have their own Liability Insurance?")
                @Html.Hidden("{{modelNum17}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum17}}.GroupId" })
                @Html.Hidden("{{modelNum17}}.UserInfoId", id, new { @id = "{{modelNum17}}.UserInfoId" })
                @Html.Hidden("{{modelNum17}}.QuestionId", "105", new { @id = "{{modelNum17}}.QuestionId" })
                <br />
                Yes @Html.RadioButton("{{modelNum17}}.Response", "Yes", new { @id = "{{modelNum17}}.Response" })
                No  @Html.RadioButton("{{modelNum17}}.Response", "No", new { @id = "{{modelNum17}}.Response" })
                <br /><br />

            </div>


            @Html.Label("Comments?")
            @Html.Hidden("{{modelNum18}}.GroupId", "{{groupNumber}}", new { @id = "{{modelNum18}}.GroupId" })
            @Html.Hidden("{{modelNum18}}.UserInfoId", id, new { @id = "{{modelNum18}}.UserInfoId" })
            @Html.Hidden("{{modelNum18}}.QuestionId", "106", new { @id = "{{modelNum18}}.QuestionId" })
            @Html.TextArea("{{modelNum18}}.Response", null, new { @class = "form-control", @id = "{{modelNum18}}.Response", required = "required" })
            @Html.ValidationMessage("{{modelNum18}}.Response", "This Comments field is required!", new { @class = "text-danger" })
            <br />

            <br />
        </div>
    </script>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @* @Scripts.Render("~/bundles/jquery-pnotify")
        @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-9');
        var lastModelNum = 0;
        var SituationNumber = 1;
        var initialRender = function (callback) {
            var data = {
                situationNumber: SituationNumber,
                groupNumber: SituationNumber,
                modelNum0: 'model[' + lastModelNum + ']',
                modelNum1: 'model[' + (lastModelNum + 1) * SituationNumber + ']',
                modelNum2: 'model[' + (lastModelNum + 2) * SituationNumber + ']',
                modelNum3: 'model[' + (lastModelNum + 3) * SituationNumber + ']',
                modelNum4: 'model[' + (lastModelNum + 4) * SituationNumber + ']',
                modelNum5: 'model[' + (lastModelNum + 5) * SituationNumber + ']',
                modelNum6: 'model[' + (lastModelNum + 6) * SituationNumber + ']',
                modelNum7: 'model[' + (lastModelNum + 7) * SituationNumber + ']',
                modelNum8: 'model[' + (lastModelNum + 8) * SituationNumber + ']',
                modelNum9: 'model[' + (lastModelNum + 9) * SituationNumber + ']',
                modelNum10: 'model[' + (lastModelNum + 10) * SituationNumber + ']',
                modelNum11: 'model[' + (lastModelNum + 11) * SituationNumber + ']',
                modelNum12: 'model[' + (lastModelNum + 12) * SituationNumber + ']',
                modelNum13: 'model[' + (lastModelNum + 13) * SituationNumber + ']',
                modelNum14: 'model[' + (lastModelNum + 14) * SituationNumber + ']',
                modelNum15: 'model[' + (lastModelNum + 15) * SituationNumber + ']',
                modelNum16: 'model[' + (lastModelNum + 16) * SituationNumber + ']',
                modelNum17: 'model[' + (lastModelNum + 17) * SituationNumber + ']',
                modelNum18: 'model[' + (lastModelNum + 18) * SituationNumber + ']'
            };

            var template = $('#situationTpl').html();
            var html = Mustache.to_html(template, data);
            $('.tab-content').append(html);

            $('.situation' + SituationNumber + '').addClass('in').addClass('active');
            $('.nav-tabs').append('<li class="active"><a data-toggle="tab" href=".situation' + SituationNumber + '">Situation ' + SituationNumber + '</a></li>');
            $('#btnRemoveSituation').hide();
            callback();
        };


        $(document).ready(function () {
            var callback = function () {
                $('.tabButtons').off('click').on('click', function () {
                    var situation = $(this).attr('class').split(' ')[1];
                    $('.situation').css('width',-110).css('height', -110);
                    $('div.' + situation).removeAttr('style');
                });
                $('[type="text"]').blur(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }


                });
                $('[type="number"]').blur(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }


                });
                $('textarea').blur(function () {

                    if ($(this).val() == '') {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                        $(this).addClass('input-validation-error');
                    }
                    else {
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                        $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                        $(this).removeClass('input-validation-error');
                    }


                });
            };
           
            initialRender(callback);
            $('#btnAddSituation').on('click', function () {
                var numOfSituation = $('.situation').length;
                SituationNumber = numOfSituation + 1;
                lastModelNum = lastModelNum + 19;
                var template = $('#situationTpl').html();
                $('.nav-tabs').append('<li><a data-toggle="tab" href=".situation' + SituationNumber + '">Situation ' + SituationNumber + '</a></li>');
                var data = {
                    situationNumber: SituationNumber,
                    groupNumber: SituationNumber,
                    modelNum0: 'model[' + (lastModelNum + 0) + ']',
                    modelNum1: 'model[' + (lastModelNum + 1) + ']',
                    modelNum2: 'model[' + (lastModelNum + 2) + ']',
                    modelNum3: 'model[' + (lastModelNum + 3) + ']',
                    modelNum4: 'model[' + (lastModelNum + 4) + ']',
                    modelNum5: 'model[' + (lastModelNum + 5) + ']',
                    modelNum6: 'model[' + (lastModelNum + 6) + ']',
                    modelNum7: 'model[' + (lastModelNum + 7) + ']',
                    modelNum8: 'model[' + (lastModelNum + 8) + ']',
                    modelNum9: 'model[' + (lastModelNum + 9) + ']',
                    modelNum10: 'model[' + (lastModelNum + 10) + ']',
                    modelNum11: 'model[' + (lastModelNum + 11) + ']',
                    modelNum12: 'model[' + (lastModelNum + 12) + ']',
                    modelNum13: 'model[' + (lastModelNum + 13) + ']',
                    modelNum14: 'model[' + (lastModelNum + 14) + ']',
                    modelNum15: 'model[' + (lastModelNum + 15) + ']',
                    modelNum16: 'model[' + (lastModelNum + 16) + ']',
                    modelNum17: 'model[' + (lastModelNum + 17) + ']',
                    modelNum18: 'model[' + (lastModelNum + 18) + ']'
                };
                var html = Mustache.to_html(template, data);

                $('.tab-content').append(html);
                
                callback();
            });
            
            $('#btnRemoveSituation').on('click', function (callback) {
                debugger
                var activeTab = $('active-tab');
                var numOfSituation = $('.situation').length;
                if (numOfSituation > 1) {
                    var situation = '.situation' + numOfSituation;
                    lastModelNum = (lastModelNum - 19);
                    $(situation).remove();
                    numOfSituation--;
                   
                }
                if (numOfSituation == 1) {
                    $(this).hide();
                    $('.situation').removeAttr('style').css('position', 'absolute').css('margin-left', -9999);
                    $('div.situation' + (numOfSituation)).removeAttr('style').css('display', 'block');
                    
                }
                else {
                    $('.situation').removeAttr('style').css('position', 'absolute').css('margin-left', -9999);
                    $('div.situation' + (numOfSituation)).removeAttr('style').css('display', 'block');
                }


            });

            $("#btnProceed").click(function (e) {
                e.preventDefault();
                var numOfSituation = $('.situation').length;
                for (var i = 1, modelNumber = 14; i <= numOfSituation; i++, modelNumber++) {
                    var situation = '.situation' + i;
                    var concatenatedSituation = $('#txtStreetNumber' + i).val() + '|' + $('#txtStreetName' + i).val() + '|' + $('#txtSuburb' + i).val() + '|' + $('#txtState' + i).val() + '|' + $('#txtPostCode' + i).val();
                    var elementId = 'model[' + modelNumber + '].Response';
                    document.getElementById(elementId).value = concatenatedSituation;
                }
                if ($('.invalid-error').length > 0) {
                    return;
                }

                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    }
                });
                $("#SupermarketsForm").attr("action", "/Quotation/Supermarkets").submit();
                @*//Generate Link
        var url = '@Url.Action("Thankyou", "Home")';
        window.location.href = url;*@
            });
           
        });

        function DisplayChildId99to101(bool) {
            if (bool == true) {
                $('#childOfParentId98').css('display', 'block');
            }
            else {
                $('#childOfParentId98').css('display', 'none');
            }
        }

        function DisplayChildId103to105(bool) {
            if (bool == true) {
                $('#childOfParentId102').css('display', 'block');
            }
            else {
                $('#childOfParentId102').css('display', 'none');
            }
        }

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }
      
 


    </script>
}
