﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Transport and Logistics";
    int UserID = ViewBag.GenericUserID;
}

<br />
<h2 class="">Transport and Logistics</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "TransportAndLogisticsForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-6">
    <div class="custom-form-box">


        @Html.Label("Please provide a full description of business activities and all types of goods carried")
        @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
        @Html.Hidden("model[0].UserInfoId", UserID, new { @id = "model[0].UserInfoId" })
        @Html.Hidden("model[0].QuestionId", "43", new { @id = "model[0].QuestionId" })
        @Html.TextArea("model[0].Response", null, new { @class = "form-control", @id = "model[0].Response", required = "required" })
        @Html.ValidationMessage("model[0].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Annual Turnover")
        <div class="input-symbol-dollar">
            @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
            @Html.Hidden("model[1].UserInfoId", UserID, new { @id = "model[1].UserInfoId" })
            @Html.Hidden("model[1].QuestionId", "44", new { @id = "model[1].QuestionId" })
            @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required", type = "number" })
            @Html.ValidationMessage("model[1].Response", "This Annual Turnover field is required!", new { @class = "text-danger" })
        </div>
        <br />

        @Html.Label("Years in Business")
        @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
        @Html.Hidden("model[2].UserInfoId", UserID, new { @id = "model[2].UserInfoId" })
        @Html.Hidden("model[2].QuestionId", "45", new { @id = "model[2].QuestionId" })
        @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required", type = "number" })
        @Html.ValidationMessage("model[2].Response", "This Years in Business field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Are Sub-Contractors used?")
        @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
        @Html.Hidden("model[3].UserInfoId", UserID, new { @id = "model[3].UserInfoId" })
        @Html.Hidden("model[3].QuestionId", "46", new { @id = "model[3].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[3].Response", "Yes", new { @id = "model[3].Response", onclick = "javascript:DisplayChildId5152(true);", required = "required" })
        No  @Html.RadioButton("model[3].Response", "No", new { @id = "model[3].Response", onclick = "javascript:DisplayChildId5152(false);", required = "required" })
        <br />
        @Html.ValidationMessage("model[3].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="childOfParentId46" style="display:none;">
            @Html.Label("Total Amount paid to Sub Contractors")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
                @Html.Hidden("model[4].UserInfoId", UserID, new { @id = "model[4].UserInfoId" })
                @Html.Hidden("model[4].QuestionId", "51", new { @id = "model[4].QuestionId" })
                @Html.TextBox("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model[4].Response", "This field is required!", new { @class = "text-danger" })
            </div>
            <br />
            @Html.Label("Activities Performed by Sub Contractors")
            @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
            @Html.Hidden("model[5].UserInfoId", UserID, new { @id = "model[5].UserInfoId" })
            @Html.Hidden("model[5].QuestionId", "52", new { @id = "model[5].QuestionId" })
            @Html.TextArea("model[5].Response", null, new { @class = "form-control", @id = "model[5].Response", required = "required" })
            @Html.ValidationMessage("model[5].Response", "This field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Are Labour Hire Personnel used?")
        @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
        @Html.Hidden("model[6].UserInfoId", UserID, new { @id = "model[6].UserInfoId" })
        @Html.Hidden("model[6].QuestionId", "47", new { @id = "model[6].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[6].Response", "Yes", new { @id = "model[6].Response", onclick = "javascript:DisplayChildId5354(true);", required = "required" })
        No  @Html.RadioButton("model[6].Response", "No", new { @id = "model[6].Response", onclick = "javascript:DisplayChildId5354(false);", required = "required" })
        <br />
        @Html.ValidationMessage("model[6].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="childOfParentId47" style="display:none;">
            @Html.Label("Total Amount paid to Labour Hire Personal")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
                @Html.Hidden("model[7].UserInfoId", UserID, new { @id = "model[7].UserInfoId" })
                @Html.Hidden("model[7].QuestionId", "53", new { @id = "model[7].QuestionId" })
                @Html.TextBox("model[7].Response", null, new { @class = "form-control", @id = "model[7].Response", required = "required", type = "number" })
                @Html.ValidationMessage("model[7].Response", "This field is required!", new { @class = "text-danger" })
            </div>
            <br />
            @Html.Label("Activities Performed by Labour Hire")
            @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
            @Html.Hidden("model[8].UserInfoId", UserID, new { @id = "model[8].UserInfoId" })
            @Html.Hidden("model[8].QuestionId", "54", new { @id = "model[8].QuestionId" })
            @Html.TextArea("model[8].Response", null, new { @class = "form-control", @id = "model[8].Response", required = "required" })
            @Html.ValidationMessage("model[8].Response", "This field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Are there any Contractual or Hold Harmless Agreements?")
        @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
        @Html.Hidden("model[9].UserInfoId", UserID, new { @id = "model[9].UserInfoId" })
        @Html.Hidden("model[9].QuestionId", "48", new { @id = "model[9].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[9].Response", "Yes", new { @id = "model[9].Response", required = "required" })
        No  @Html.RadioButton("model[9].Response", "No", new { @id = "model[9].Response", required = "required" })
        <br />
        @Html.ValidationMessage("model[9].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Are any of the following activities or services to be included?")
        @Html.Hidden("model[10].ResultId", "0", new { @id = "model[10].ResultId" })
        @Html.Hidden("model[10].UserInfoId", UserID, new { @id = "model[10].UserInfoId" })
        @Html.Hidden("model[10].QuestionId", "49", new { @id = "model[10].QuestionId" })
        @Html.Hidden("model[10].Response", null, new { @class = "form-control", @id = "model[10].Response" })
        <br />
        @*@Html.CheckBox("model[10].Response", new { value = "Livestock", @checked = false }) Livestock
        <br />
        @Html.CheckBox("model[10].Response", new { value = "Hazardous Goods", @checked = false }) Hazardous Goods
        <br />
        @Html.CheckBox("model[10].Response", new { value = "None of the above", @checked = false }) None of the above
        <br />*@

        <div id="Q49itemContainer">
            @foreach (SelectListItem item in (SelectList)ViewBag.Q49CBValue)
            {
                if (@item.Text == "None of the above")
                {
                    @Html.CheckBox("Q49CBValue" + item.Value, new { value = item.Value, text = item.Text, @id = "Q49CBValue", onclick = "javascript:NoneOfTheAbove();" }) <text>@item.Text</Text>
                }
                else
                {
                    @Html.CheckBox("Q49CBValue" + item.Value, new { value = item.Value, text = item.Text, @id = "Q49CBValue" }) <text>@item.Text</Text>
                }
                <br />
            }
        </div>
            @Html.ValidationMessage("model[10].Response", "Please check atleast one item!", new { @class = "text-danger" })


            <br /><br />

            @Html.Label("Comments")
            @Html.Hidden("model[11].ResultId", "0", new { @id = "model[11].ResultId" })
            @Html.Hidden("model[11].UserInfoId", UserID, new { @id = "model[11].UserInfoId" })
            @Html.Hidden("model[11].QuestionId", "50", new { @id = "model[11].QuestionId" })
            @Html.TextArea("model[11].Response", null, new { @class = "form-control", @id = "model[11].Response", required = "required" })
            @Html.ValidationMessage("model[11].Response", "This field is required!", new { @class = "text-danger" })
            <br />

            <div class="">
                <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
            </div>

        </div>
</div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-5');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            //alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {

            $("#btnProceed").click(function (e) {
                e.preventDefault();

                var length = $('[type="checkbox"][name^="Q49CBValue"]').length;
                var strCon = "";
                var strValid = "0";
                for (var ctr = 0; ctr < length; ctr++) {
                    if ($('[type="checkbox"][name^="Q49CBValue"]')[ctr].checked) {
                        strCon = strCon + ctr.toString() + "=true;";
                        strValid = "1";
                    }
                    else {
                        strCon = strCon + ctr.toString() + "=false;";
                    }
                }

                if (strValid == "0") {
                    $('#Q49itemContainer').addClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').addClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'block');
                    return;
                }
                else {
                    $('#Q49itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'none');
                }

                //if ($('.invalid-error').length > 0) {
                //    return alert("Please fill up the required fields before submitting the form")
                //}

                document.getElementById("model[10].Response").value = strCon;

                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });
                //$("#TransportAndLogisticsForm").attr("action", "/Quotation/PropertyOwners").submit();
                $("#TransportAndLogisticsForm").attr("action", "@Url.Action(Cover.Quotation.TransportAndLogistics())").submit();
                //Generate Link
                @*var url = '@Url.Action("Thankyou", "Home")';
                window.location.href = url;*@
            });
        });

        function DisplayChildId5152(bool) {
            if (bool == true) {
                $('#childOfParentId46').css('display', 'block');
            }
            else {
                $('#childOfParentId46').css('display', 'none');
            }
        }
        function DisplayChildId5354(bool) {
            if (bool == true) {
                $('#childOfParentId47').css('display', 'block');
            }
            else {
                $('#childOfParentId47').css('display', 'none');
            }
        }

        function NoneOfTheAbove() {
            var length = $('[type="checkbox"][name^="Q49CBValue"]').length - 1;

            for (var ctr = 0; ctr < length; ctr++) {
                $($('[type="checkbox"][name^="Q49CBValue"]')[ctr]).prop('checked', false);
            }
        }

        $('[name^="Q49CBValue"]').change(function () {
            var length = $('[type="checkbox"][name^="Q49CBValue"]').length;
            for (var ctr = 0; ctr < length; ctr++) {
                if ($('[type="checkbox"][name^="Q49CBValue"]')[ctr].checked) {
                    //$('[type="checkbox"][name^="Q49CBValue"]').removeClass('input-validation-error');
                    $('#Q49itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[10].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[10].Response"]').css('display', 'none');
                    return;
                }
            }
            //$('[type="checkbox"][name="Q49CBValue"]').addClass('input-validation-error');
            $('#Q49itemContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="model[10].Response"]').addClass('invalid-error');
            $('[data-valmsg-for="model[10].Response"]').css('display', 'block');
        });

        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });

</script>



}