﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Vacant Land";
    int id = ViewBag.GenericUserID;
}

<br />
<h2 class="">Vacant Land</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "VacantLandForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

<div class="col-lg-6">
    <div class="custom-form-box">

        <div class="location1">

            <div class="location1_0">
                @Html.Label("Street Number")
                @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
                @Html.Hidden("model[0].UserInfoId", id, new { @id = "model[0].UserInfoId" })
                @Html.Hidden("model[0].QuestionId", "123", new { @id = "model[0].QuestionId" })
                                @Html.TextBox("model[0].Response", null, new { @class = "form-control", @id = "model[0].Response", required = "required" })
                @Html.ValidationMessage("model[0].Response", "This Street Number field is required!", new { @class = "text-danger" })
                <br />
                </div>

            <div class="location1_1">
                @Html.Label("Street Name")
                @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
                @Html.Hidden("model[1].UserInfoId", id, new { @id = "model[1].UserInfoId" })
                @Html.Hidden("model[1].QuestionId", "124", new { @id = "model[1].QuestionId" })
                @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required" })
                @Html.ValidationMessage("model[1].Response", "This Street Name field is required!", new { @class = "text-danger" })
                <br />

            </div>
            <div class="location1_2">
                @Html.Label("Suburb")
                @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
                @Html.Hidden("model[2].UserInfoId", id, new { @id = "model[2].UserInfoId" })
                @Html.Hidden("model[2].QuestionId", "125", new { @id = "model[2].QuestionId" })
                @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required" })
                @Html.ValidationMessage("model[2].Response", "This Suburb field is required!", new { @class = "text-danger" })
                <br />
            </div>
            <div class="location1_3">
                @Html.Label("State")
                @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
                @Html.Hidden("model[3].UserInfoId", id, new { @id = "model[3].UserInfoId" })
                @Html.Hidden("model[3].QuestionId", "126", new { @id = "model[3].QuestionId" })
                @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required" })
                @Html.ValidationMessage("model[3].Response", "This State field is required!", new { @class = "text-danger" })
                <br />

            </div>
            <div class="location1_4">
                @Html.Label("Postcode")
                @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
                @Html.Hidden("model[4].UserInfoId", id, new { @id = "model[4].UserInfoId" })
                @Html.Hidden("model[4].QuestionId", "127", new { @id = "model[4].QuestionId" })
                @Html.TextBox("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response", required = "required" })
                @Html.ValidationMessage("model[4].Response", "This Postcode field is required!", new { @class = "text-danger" })
                <br />
            </div>
            </div>
        @Html.Label("Land Size (SQM)")
        @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
        @Html.Hidden("model[5].UserInfoId", id, new { @id = "model[5].UserInfoId" })
        @Html.Hidden("model[5].QuestionId", "107", new { @id = "model[5].QuestionId" })
        @Html.TextBox("model[5].Response", null, new { @class = "form-control", @id = "model[5].Response", required = "required" })
        @Html.ValidationMessage("model[5].Response", "This land Size (SQM) field is required!", new { @class = "text-danger" })
        <br />



        @Html.Label("Is any of the land used as a Hobby Farm?")
        @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
        @Html.Hidden("model[6].UserInfoId", id, new { @id = "model[6].UserInfoId" })
        @Html.Hidden("model[6].QuestionId", "108", new { @id = "model[6].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[6].Response", "Yes", new { @id = "model[6].Response", onclick = "javascript:DisplayChildId109(true);" })
        No  @Html.RadioButton("model[6].Response", "No", new { @id = "model[6].Response", onclick = "javascript:DisplayChildId109(false);" })
        <br /><br />

        <div id="childOfParentId108" style="display:none;">
            @Html.Label("If yes, please provide full details")
            @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
            @Html.Hidden("model[7].UserInfoId", id, new { @id = "model[7].UserInfoId" })
            @Html.Hidden("model[7].QuestionId", "109", new { @id = "model[7].QuestionId" })
            @Html.TextArea("model[7].Response", null, new { @class = "form-control", @id = "model[7].Response", required = "required" })
            @Html.ValidationMessage("model[7].Response", "This details field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Is any of the land used for agistment purposes?")
        @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
        @Html.Hidden("model[8].UserInfoId", id, new { @id = "model[8].UserInfoId" })
        @Html.Hidden("model[8].QuestionId", "110", new { @id = "model[8].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[8].Response", "Yes", new { @id = "model[8].Response", onclick = "javascript:DisplayChildId111(true);" })
        No  @Html.RadioButton("model[8].Response", "No", new { @id = "model[8].Response", onclick = "javascript:DisplayChildId111(false);" })
        <br /><br />

        <div id="childOfParentId110" style="display:none;">
            @Html.Label("If Yes, please type of animals and number of animals:")
            @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
            @Html.Hidden("model[9].UserInfoId", id, new { @id = "model[9].UserInfoId" })
            @Html.Hidden("model[9].QuestionId", "111", new { @id = "model[9].QuestionId" })
            @Html.TextArea("model[9].Response", null, new { @class = "form-control", @id = "model[9].Response", required = "required" })
            @Html.ValidationMessage("model[9].Response", "This animals field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Is any of the land used for Car Parking or Markets?")
        @Html.Hidden("model[10].ResultId", "0", new { @id = "model[10].ResultId" })
        @Html.Hidden("model[10].UserInfoId", id, new { @id = "model[10].UserInfoId" })
        @Html.Hidden("model[10].QuestionId", "112", new { @id = "model[10].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[10].Response", "Yes", new { @id = "model[10].Response", onclick = "javascript:DisplayChildId113(true);" })
        No  @Html.RadioButton("model[10].Response", "No", new { @id = "model[10].Response", onclick = "javascript:DisplayChildId113(false);" })
        <br /><br />

        <div id="childOfParentId112" style="display:none;">
            @Html.Label("If yes, please provide full details")
            @Html.Hidden("model[11].ResultId", "0", new { @id = "model[11].ResultId" })
            @Html.Hidden("model[11].UserInfoId", id, new { @id = "model[11].UserInfoId" })
            @Html.Hidden("model[11].QuestionId", "113", new { @id = "model[11].QuestionId" })
            @Html.TextArea("model[11].Response", null, new { @class = "form-control", @id = "model[11].Response", required = "required" })
            @Html.ValidationMessage("model[11].Response", "This details field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Is the land fenced?")
        @Html.Hidden("model[12].ResultId", "0", new { @id = "model[12].ResultId" })
        @Html.Hidden("model[12].UserInfoId", id, new { @id = "model[12].UserInfoId" })
        @Html.Hidden("model[12].QuestionId", "114", new { @id = "model[12].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[12].Response", "Yes", new { @id = "model[12].Response", onclick = "javascript:DisplayChildId115(true);" })
        No  @Html.RadioButton("model[12].Response", "No", new { @id = "model[12].Response", onclick = "javascript:DisplayChildId115(false);" })
        <br /><br />

        <div id="childOfParentId114" style="display:none;">
            @Html.Label("If yes, please provide full details")
            @Html.Hidden("model[13].ResultId", "0", new { @id = "model[13].ResultId" })
            @Html.Hidden("model[13].UserInfoId", id, new { @id = "model[13].UserInfoId" })
            @Html.Hidden("model[13].QuestionId", "115", new { @id = "model[13].QuestionId" })
            @Html.TextArea("model[13].Response", null, new { @class = "form-control", @id = "model[13].Response", required = "required" })
            @Html.ValidationMessage("model[13].Response", "This details field is required!", new { @class = "text-danger" })
            <br />
            <input type="submit" id="btnAddLocation" value="Add additional situation" class="btn btn-primary" />
            <br />
        </div>
        @Html.Label("Comments")
        @Html.Hidden("model[14].ResultId", "0", new { @id = "model[14].ResultId" })
        @Html.Hidden("model[14].UserInfoId", id, new { @id = "model[14].UserInfoId" })
        @Html.Hidden("model[14].QuestionId", "116", new { @id = "model[14].QuestionId" })
        @Html.TextArea("model[14].Response", null, new { @class = "form-control", @id = "model[14].Response", required = "required" })
        @Html.ValidationMessage("model[14].Response", "This Comments field is required!", new { @class = "text-danger" })
        <br />



        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

    </div>
</div>

}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @* @Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-10');

        $(document).ready(function () {

    $("#btnProceed").click(function (e) {
        e.preventDefault();

        if ($('.invalid-error').length > 0) {
            return;
        }
        $("#myDiv").validate({
            success: function (e) {
                showLoader();
            },
        });
        $("#VacantLandForm").attr("action", "@Url.Action(Cover.Quotation.VacantLand())").submit();
        @*//Generate Link
        var url = '@Url.Action("Thankyou", "Home")';
        window.location.href = url;*@
    });

            $("#btnAddLocation").click(function (e) {
                e.preventDefault();

                var location1_0 = $('.location1_0').html();
                var location1_1 = $('.location1_1').html();
                var location1_2 = $('.location1_2').html();
                var location1_3 = $('.location1_3').html();
                var location1_4 = $('.location1_4').html();

                location1_0 = location1_0.replace(/[0]/g, '15');
                location1_1 = location1_1.replace(/[1]/g, '16');
                location1_2 = location1_2.replace(/[2]/g, '17');
                location1_3 = location1_3.replace(/[3]/g, '18');
                location1_4 = location1_4.replace(/[4]/g, '19');



                location1_0 = '<div class="location2_0">' + location1_0 + '</div>'
                location1_1 = '<div class="location2_1">' + location1_1 + '</div>'
                location1_2 = '<div class="location2_2">' + location1_2 + '</div>'
                location1_3 = '<div class="location2_3">' + location1_3 + '</div>'
                location1_4 = '<div class="location2_4">' + location1_4 + '</div>'


                var clone = '<div class="location2">' + location1_0 + location1_1 + location1_2 + location1_3 + location1_4 + '</div>'

                $(clone).insertBefore("#btnAddLocation");
                $(this).css('display', 'none');
            });
            $('[type="text"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('[type="number"]').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });
            $('textarea').blur(function () {

                if ($(this).val() == '') {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                    $(this).addClass('input-validation-error');
                }
                else {
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                    $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                    $(this).removeClass('input-validation-error');
                }


            });


        });

        function DisplayChildId109(bool) {
            if (bool == true) {
                $('#childOfParentId108').css('display', 'block');
            }
            else {
                $('#childOfParentId108').css('display', 'none');
            }
        }

        function DisplayChildId111(bool) {
            if (bool == true) {
                $('#childOfParentId110').css('display', 'block');
            }
            else {
                $('#childOfParentId110').css('display', 'none');
            }
        }

        function DisplayChildId113(bool) {
            if (bool == true) {
                $('#childOfParentId112').css('display', 'block');
            }
            else {
                $('#childOfParentId112').css('display', 'none');
            }
        }

        function DisplayChildId115(bool) {
            if (bool == true) {
                $('#childOfParentId114').css('display', 'block');
            }
            else {
                $('#childOfParentId114').css('display', 'none');
            }
        }

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
            }


    </script>

}