﻿@model List<CoverBuilder.Entities.Entities.LiabilityInsuranceResult>

@{
    ViewBag.Title = "Welders and Boilermakers";
    int UserID = ViewBag.GenericUserID;
}

<br />
<h2 class="">Welders and Boilermakers</h2>

<br />
<div class="custom-content-desc">
    <p>Please provide the following underwriting information:</p>
</div>

<br />
@using (Ajax.BeginForm("", "",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "onBegin",
        OnComplete = "onComplete",
        OnSuccess = "onSuccess",
        OnFailure = "onFailure"
    },
    new { @id = "WeldersAndBoildermakersForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
<div class="col-lg-8">
    <div class="custom-form-box">


        @Html.Label("Annual Turnover")
        <div class="input-symbol-dollar">
            @Html.Hidden("model[0].ResultId", "0", new { @id = "model[0].ResultId" })
            @Html.Hidden("model[0].UserInfoId", UserID, new { @id = "model[0].UserInfoId" })
            @Html.Hidden("model[0].QuestionId", "128", new { @id = "model[0].QuestionId" })
            @Html.TextBox("model[0].Response", null, new { @class = "form-control", @id = "model[0].Response", required = "required" })
            @Html.ValidationMessage("model[0].Response", "This field is required!", new { @class = "text-danger" })
        </div>
        <br />

        @Html.Label("Years in Business")
        @Html.Hidden("model[1].ResultId", "0", new { @id = "model[1].ResultId" })
        @Html.Hidden("model[1].UserInfoId", UserID, new { @id = "model[1].UserInfoId" })
        @Html.Hidden("model[1].QuestionId", "129", new { @id = "model[1].QuestionId" })
        @Html.TextBox("model[1].Response", null, new { @class = "form-control", @id = "model[1].Response", required = "required" })
        @Html.ValidationMessage("model[1].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Number of Employees")
        @Html.Hidden("model[2].ResultId", "0", new { @id = "model[2].ResultId" })
        @Html.Hidden("model[2].UserInfoId", UserID, new { @id = "model[2].UserInfoId" })
        @Html.Hidden("model[2].QuestionId", "130", new { @id = "model[2].QuestionId" })
        @Html.TextBox("model[2].Response", null, new { @class = "form-control", @id = "model[2].Response", required = "required" })
        @Html.ValidationMessage("model[2].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        @Html.Label("Annual Wages")
        <div class="input-symbol-dollar">
            @Html.Hidden("model[3].ResultId", "0", new { @id = "model[3].ResultId" })
            @Html.Hidden("model[3].UserInfoId", UserID, new { @id = "model[3].UserInfoId" })
            @Html.Hidden("model[3].QuestionId", "131", new { @id = "model[3].QuestionId" })
            @Html.TextBox("model[3].Response", null, new { @class = "form-control", @id = "model[3].Response", required = "required" })
            @Html.ValidationMessage("model[3].Response", "This field is required!", new { @class = "text-danger" })
        </div>
        <br />

        @Html.Label("Welding Activities")
        @Html.Hidden("model[4].ResultId", "0", new { @id = "model[4].ResultId" })
        @Html.Hidden("model[4].UserInfoId", UserID, new { @id = "model[4].UserInfoId" })
        @Html.Hidden("model[4].QuestionId", "132", new { @id = "model[4].QuestionId" })
        @Html.Hidden("model[4].Response", null, new { @class = "form-control", @id = "model[4].Response" })
        <br />


        <div id="Q132itemContainer">
            @foreach (SelectListItem item in (SelectList)ViewBag.Q132CBValue)
            {
                if (@item.Text == "Other")
                {
                    @Html.CheckBox("Q132CBValue" + item.Value, new { value = item.Value, text = item.Text, @id = "Q132CBValue", onclick = "javascript:CBClickOther(checked);" })
                    <text>
                        @Html.TextBox("Q132CBValue" + "TBox" + item.Value, null, new { placeholder = "Other", onclick = "javascript:TextClickOther();" })
                        @Html.ValidationMessage("Q132CBValue" + "TBox" + item.Value, "This Other field is required!", new { @class = "text-danger" })
                    </Text>
                }
                else
                {
                    @Html.CheckBox("Q132CBValue" + item.Value, new { value = item.Value, text = item.Text, @id = "Q132CBValue" })
                    <text>@item.Text</Text>
                }
                <br />
            }
        </div>
        @Html.ValidationMessage("model[4].Response", "Please check atleast one item!", new { @class = "text-danger" })
        <br />

        @Html.Label("Are Sub-Contractors used?")
        @Html.Hidden("model[5].ResultId", "0", new { @id = "model[5].ResultId" })
        @Html.Hidden("model[5].UserInfoId", UserID, new { @id = "model[5].UserInfoId" })
        @Html.Hidden("model[5].QuestionId", "133", new { @id = "model[5].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[5].Response", "Yes", new { @id = "model[5].Response", onclick = "javascript:DisplayChildId149150(true);", required = "required" })
        No  @Html.RadioButton("model[5].Response", "No", new { @id = "model[5].Response", onclick = "javascript:DisplayChildId149150(false);", required = "required" })
        <br />
        @Html.ValidationMessage("model[5].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="childOfParentId133" style="display:none;">
            @Html.Label("Total Amount paid to Sub Contractors")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
                @Html.Hidden("model[6].UserInfoId", UserID, new { @id = "model[6].UserInfoId" })
                @Html.Hidden("model[6].QuestionId", "149", new { @id = "model[6].QuestionId" })
                @Html.TextBox("model[6].Response", null, new { @class = "form-control", @id = "model[6].Response", required = "required" })
                @Html.ValidationMessage("model[6].Response", "This field is required!", new { @class = "text-danger" })
            </div>
            <br />
            @Html.Label("Activities Performed by Sub Contractors")
            @Html.Hidden("model[6].ResultId", "0", new { @id = "model[6].ResultId" })
            @Html.Hidden("model[6].UserInfoId", UserID, new { @id = "model[6].UserInfoId" })
            @Html.Hidden("model[6].QuestionId", "150", new { @id = "model[6].QuestionId" })
            @Html.TextArea("model[6].Response", null, new { @class = "form-control", @id = "model[6].Response", required = "required" })
            @Html.ValidationMessage("model[6].Response", "This field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Are Labour Hire Personnel used?")
        @Html.Hidden("model[7].ResultId", "0", new { @id = "model[7].ResultId" })
        @Html.Hidden("model[7].UserInfoId", UserID, new { @id = "model[7].UserInfoId" })
        @Html.Hidden("model[7].QuestionId", "134", new { @id = "model[7].QuestionId" })
        <br />
        Yes @Html.RadioButton("model[7].Response", "Yes", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId151152153(true);", required = "required" })
        No  @Html.RadioButton("model[7].Response", "No", new { @id = "model[7].Response", onclick = "javascript:DisplayChildId151152153(false);", required = "required" })
        <br />
        @Html.ValidationMessage("model[7].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div id="childOfParentId134" style="display:none;">
            @Html.Label("Total Amount paid to Labour Hire Personal")
            <div class="input-symbol-dollar">
                @Html.Hidden("model[8].ResultId", "0", new { @id = "model[8].ResultId" })
                @Html.Hidden("model[8].UserInfoId", UserID, new { @id = "model[8].UserInfoId" })
                @Html.Hidden("model[8].QuestionId", "151", new { @id = "model[8].QuestionId" })
                @Html.TextBox("model[8].Response", null, new { @class = "form-control", @id = "model[8].Response", required = "required" })
                @Html.ValidationMessage("model[8].Response", "This field is required!", new { @class = "text-danger" })
            </div>
            <br />
            @Html.Label("Activities Performed by Labour Hire")
            @Html.Hidden("model[9].ResultId", "0", new { @id = "model[9].ResultId" })
            @Html.Hidden("model[9].UserInfoId", UserID, new { @id = "model[9].UserInfoId" })
            @Html.Hidden("model[9].QuestionId", "152", new { @id = "model[9].QuestionId" })
            @Html.TextArea("model[9].Response", null, new { @class = "form-control", @id = "model[9].Response", required = "required" })
            @Html.ValidationMessage("model[9].Response", "This field is required!", new { @class = "text-danger" })
            <br />
            @Html.Label("Do Labour Hire Personnel have their own Liability Insurance? *")
            @Html.Hidden("model[10].ResultId", "0", new { @id = "model[10].ResultId" })
            @Html.Hidden("model[10].UserInfoId", UserID, new { @id = "model[10].UserInfoId" })
            @Html.Hidden("model[10].QuestionId", "153", new { @id = "model[10].QuestionId" })
            <br />
            Yes @Html.RadioButton("model[10].Response", "Yes", new { @id = "model[10].Response", required = "required" })
            No  @Html.RadioButton("model[10].Response", "No", new { @id = "model[10].Response", required = "required" })
            <br />
            @Html.ValidationMessage("model[10].Response", "This field is required!", new { @class = "text-danger" })
            <br />
        </div>

        @Html.Label("Comments")
        @Html.Hidden("model[11].ResultId", "0", new { @id = "model[11].ResultId" })
        @Html.Hidden("model[11].UserInfoId", UserID, new { @id = "model[11].UserInfoId" })
        @Html.Hidden("model[11].QuestionId", "50", new { @id = "model[11].QuestionId" })
        @Html.TextArea("model[11].Response", null, new { @class = "form-control", @id = "model[11].Response", required = "required" })
        @Html.ValidationMessage("model[11].Response", "This field is required!", new { @class = "text-danger" })
        <br />

        <div class="">
            <input type="submit" id="btnProceed" value="Get Quotation" class="btn btn-primary" />
        </div>

    </div>
</div>
    
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jquery-pnotify")
    @Styles.Render("~/Content/jquery-pnotify")*@

    <script type="text/javascript">

        //Modify the background for this quotation
        $('.custom-image-background').addClass('custom-image-background-11');

        function onBegin(xhr) {
        }

        function onComplete(xhr, status) {
        }

        function onSuccess(data, status, xhr) {
            //alert('tmt');
            @*toastr["success"](xhr.statusText, "Simple Survey");

            setTimeout(function () {
                var url = '@Url.Action(Survey.Manage.Surveys())';
                window.location.replace(url);
            }, 1000);*@
        }

        $(document).ready(function () {

            //Process Form On Click
            $("#btnProceed").click(function (e) {
                e.preventDefault();

                var length = $('[type="checkbox"][name^="Q132CBValue"]').length;
                var strCon = "";
                var strValid = "0";
                for (var ctr = 0; ctr < length; ctr++) {
                    if ($('[type="checkbox"][name^="Q132CBValue"]')[ctr].checked) {
                        if (ctr == length - 1) {
                            strCon = strCon + ctr.toString() + "=" + $('[name^="Q132CBValueTBox"]').val();
                        }
                        else {
                            strCon = strCon + ctr.toString() + "=true;";
                        }
                        
                        strValid = "1";
                    }
                    else {
                        strCon = strCon + ctr.toString() + "=false;";
                    }
                }

                if (strValid == "0") {
                    $('#Q132itemContainer').addClass('ValidateContainer');
                    $('[data-valmsg-for="model[4].Response"]').addClass('invalid-error');
                    $('[data-valmsg-for="model[4].Response"]').css('display', 'block');
                    return;
                }
                else {
                    $('#Q132itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[4].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[4].Response"]').css('display', 'none');
                }


                document.getElementById("model[4].Response").value = strCon;

                $("#myDiv").validate({
                    success: function (e) {
                        showLoader();
                    },
                });
                //$("#TransportAndLogisticsForm").attr("action", "/Quotation/PropertyOwners").submit();
                $("#WeldersAndBoildermakersForm").attr("action", "@Url.Action(Cover.Quotation.WeldersAndBoilermakers())").submit();
                //Generate Link
                @*var url = '@Url.Action("Thankyou", "Home")';
                window.location.href = url;*@
            });
        });

        function DisplayChildId149150(bool) {
            if (bool == true) {
                $('#childOfParentId133').css('display', 'block');
            }
            else {
                $('#childOfParentId133').css('display', 'none');
            }
        }
        function DisplayChildId151152153(bool) {
            if (bool == true) {
                $('#childOfParentId134').css('display', 'block');
            }
            else {
                $('#childOfParentId134').css('display', 'none');
            }
        }

        function CBClickOther(value) {
            if (value) {
                $('[name^="Q132CBValueTBox"]').prop('required');
                $('#Q132CBValueTBox10').focus();
                $('[data-valmsg-for="Q132CBValueTBox10"]').css('display', 'none');
            }
            else {
                $('[name^="Q132CBValueTBox"]').val('');
                $('[name^="Q132CBValueTBox"]').removeProp('required');
                $('[data-valmsg-for="Q132CBValueTBox10"]').css('display', 'none');
            }
        }
        function TextClickOther() {
            $($('[type="checkbox"][name="Q132CBValue10"]')).prop('checked', true);
            $('[data-valmsg-for="Q132CBValueTBox10"]').css('display', 'none');

            $('#Q132itemContainer').removeClass('ValidateContainer');
            $('[data-valmsg-for="model[4].Response"]').removeClass('invalid-error');
            $('[data-valmsg-for="model[4].Response"]').css('display', 'none');
        }

        $('[name^="Q132CBValue"]').change(function () {
            var length = $('[type="checkbox"][name^="Q132CBValue"]').length;
            for (var ctr = 0; ctr < length; ctr++) {
                if ($('[type="checkbox"][name^="Q132CBValue"]')[ctr].checked) {
                    //$('[type="checkbox"][name^="Q49CBValue"]').removeClass('input-validation-error');
                    $('#Q132itemContainer').removeClass('ValidateContainer');
                    $('[data-valmsg-for="model[4].Response"]').removeClass('invalid-error');
                    $('[data-valmsg-for="model[4].Response"]').css('display', 'none');
                    return;
                }
            }
            //$('[type="checkbox"][name="Q49CBValue"]').addClass('input-validation-error');
            $('#Q132itemContainer').addClass('ValidateContainer');
            $('[data-valmsg-for="model[4].Response"]').addClass('invalid-error');
            $('[data-valmsg-for="model[4].Response"]').css('display', 'block');
        });

        $('[type="text"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('[type="number"]').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });
        $('textarea').blur(function () {

            if ($(this).val() == '') {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').addClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'block');
                $(this).addClass('input-validation-error');
            }
            else {
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').removeClass('invalid-error');
                $('[data-valmsg-for="' + $(this).attr('id') + '"]').css('display', 'none');
                $(this).removeClass('input-validation-error');
            }


        });

</script>

}