﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ryno Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="custom-image-background">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo_wrapper">
                    <a href="@Url.Action("Index", "Manage", null)">
                        <img src="~/Images/ryno-logo.png" border="0" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Quote App ", "Index", new { area = "", controller = "Home" })</li>*@
                    @*<li>@Html.ActionLink("Hangfire", "Index", new { area = "", controller = "Hangfire" })</li>*@
                    <li>@Html.ActionLink("Emails", "EmailTransactions", new { area = "Admin", controller = "Manage" })</li>
                    <li>@Html.ActionLink("Update Mails", "UpdateMailAddress", new { area = "Admin", controller = "Manage" })</li>
                    <li>@Html.ActionLink("Underwriters", "Underwriters", new { area = "Admin", controller = "Manage" })</li>
                    @*<li>@Html.ActionLink("Rates", "ConfigFormula", new { area = "Admin", controller = "Manage" })</li>*@
                    @*<li>@Html.ActionLink("Create User", "AddUser", new { area = "Admin", controller = "Security" })</li>*@
                    <li>@Html.ActionLink("Manage Liability", "Index", new { area = "Admin", controller = "ManageLiability" })</li>
                    
                </ul>

                <ul class="nav navbar-nav navbar-right logout-box">
                    <li><p class="logged-user">Hi Admin!</p> </li>
                    <li>@Html.ActionLink("Logout?", "Logoff", new { area = "Admin", controller = "Security" })</li>
                </ul>
            </div>
        </div>
    </div>

    @*CONTENT AREA*@
    <div class="custom-content-container">
        <div class="container body-content" id="myDiv">
            @RenderBody()
        </div>
    </div>
    <div id="loader" style="display:none;"></div>
    @*FOOTER AREA*@
    <div class="custom-footer-box">
        <div class="container">
            <footer>
                <p class="footer-header">Website General Advice</p>
                <p>Ryno Insurance Services is a specialist division of East West Insurance Brokers ABN 83 010 630 092, Australian Financial Services Licence No. 230041. Ryno Insurance acts under a binding authority agreement on behalf of certain Underwriters at Lloyd’s. Refer to the Product Disclosure Statement or Policy Wording or call us on 1300 650 670.<p>
                <p>Copyright @DateTime.Now.Year Ryno Insurance. All Rights Reserved.</p>
                <br />
                <p>&copy; @DateTime.Now.Year AS White Global .NET Team Philippines. All rights reserved. </p>
            </footer>
        </div>
    </div>

    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <div class="custom-footer-box">
                <div class="container">
                    <footer>
                        <p>&copy; @DateTime.Now.Year AS White Global .NET Team Philippines. All rights reserved. </p>

                    </footer>
                </div>
            </div>
        </div>*@

   





</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/datatables")
@Styles.Render("~/Content/datatable-styles")
<script>
    var root = '@Url.Content("~")';
    if (root == "/") {
        @{ string urlTemp = Url.RequestContext.HttpContext.Request.Url.Scheme + "://" + Url.RequestContext.HttpContext.Request.Url.Authority + Url.RequestContext.HttpContext.Request.ApplicationPath.TrimEnd('/') + "/"; }
        root = '@urlTemp';
    }
    function showLoader() {
        //Kill Transparency of the form
        $('.custom-content-container').addClass('loading-cover-box');
        $('#myDiv').addClass('blur');
        $('body').addClass('no-scroll');
        document.getElementById("loader").style.display = "block";
        //$("body > div:not('.header__profile-create-wrapper') ").addClass("blur");
    }

    function killLoader() {
        //Remove Classes
        $('.custom-content-container').removeClass('loading-cover-box');
        $('#myDiv').removeClass('blur');
        $('body').removeClass('no-scroll');
        document.getElementById("loader").style.display = "none";
    }   
</script>