﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ryno Insurance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="custom-image-background no-scroll" >
    <div class="navbar navbar-inverse navbar-fixed-top" style="visibility:hidden;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo_wrapper">
                    <a href="@Url.Action("Login", "Security", new { area = "admin" })">
                        <img src="~/Images/ryno-logo.png" border="0" alt="logo" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    @*CONTENT AREA*@
    <div class="custom-content-container login-style">
        <div class="" id="">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
